<svg class="background-lines" width="865" height="560" viewBox="0 0 865 560" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
        <g>
            <path d="M1427.75 216.953C1400.75 235.292 1370.26 247.937 1338.18 254.099C1306.1 260.262 1273.11 259.81 1241.27 252.771C1209.42 245.733 1179.41 232.259 1153.1 213.189C1126.79 194.119 1104.75 169.862 1088.34 141.928C1049.31 75.3427 1040.68 -13.0372 977.91 -58.3021C938.012 -87.0511 884.681 -90.6671 835.762 -83.5769C786.843 -76.4866 739.727 -59.8869 690.929 -51.9214C620.08 -40.3711 547.505 -47.3129 476.864 -59.3476C387.668 -74.5986 292.466 -102.885 240.692 -176.469" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1415.64 222.38C1388.64 240.72 1358.15 253.364 1326.07 259.527C1293.98 265.689 1260.99 265.237 1229.15 258.199C1197.31 251.16 1167.3 237.687 1140.99 218.617C1114.68 199.547 1092.63 175.289 1076.22 147.355C1037.2 80.7701 1028.56 -7.60987 965.797 -52.8748C925.903 -81.608 872.572 -85.224 823.653 -78.1338C774.734 -71.0436 727.597 -54.4555 678.816 -46.4942C607.95 -34.9398 535.391 -41.8856 464.735 -53.9163C375.467 -69.1826 280.257 -97.5 228.531 -170.963" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1403.58 227.944C1376.58 246.284 1346.09 258.928 1314 265.09C1281.92 271.251 1248.93 270.798 1217.08 263.758C1185.24 256.718 1155.23 243.243 1128.92 224.171C1102.61 205.099 1080.57 180.839 1064.16 152.904C1025.14 86.3341 1016.5 -2.04579 953.736 -47.3107C913.822 -76.0556 860.491 -79.6716 811.572 -72.5814C762.653 -65.4912 715.536 -48.8915 666.751 -40.9459C595.89 -29.3757 523.315 -36.3174 452.67 -48.3679C363.474 -63.619 268.272 -91.9049 216.498 -165.49" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1391.49 233.431C1364.5 251.773 1334.01 264.42 1301.92 270.585C1269.84 276.749 1236.84 276.298 1205 269.26C1173.16 262.221 1143.15 248.747 1116.83 229.676C1090.52 210.605 1068.47 186.346 1052.06 158.41C1013.04 91.825 1004.4 3.44507 941.639 -41.8199C901.744 -70.5531 848.414 -74.1691 799.495 -67.0789C750.576 -59.9887 703.439 -43.4006 654.658 -35.4392C583.808 -23.8889 511.233 -30.8306 440.577 -42.8613C351.38 -58.1123 256.174 -86.4811 204.417 -160.003" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1379.4 238.937C1352.4 257.276 1321.91 269.921 1289.83 276.083C1257.75 282.246 1224.76 281.794 1192.91 274.755C1161.07 267.717 1131.06 254.243 1104.75 235.173C1078.44 216.103 1056.39 191.846 1039.99 163.912C1000.96 97.3424 992.329 8.9625 929.564 -36.3025C889.649 -65.0474 836.335 -68.6674 787.4 -61.5732C738.465 -54.4789 691.364 -37.8832 642.579 -29.9376C571.649 -18.3669 499.095 -25.2299 428.374 -37.3785C339.178 -52.6295 243.956 -80.9942 192.202 -154.5" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1367.32 244.423C1340.32 262.765 1309.83 275.412 1277.75 281.576C1245.66 287.74 1212.67 287.289 1180.82 280.251C1148.98 273.213 1118.97 259.739 1092.66 240.668C1066.34 221.597 1044.3 197.337 1027.89 169.402C988.861 102.816 980.228 14.4364 917.462 -30.8285C877.568 -59.5617 824.233 -63.1935 775.318 -56.0875C726.403 -48.9815 679.278 -32.4132 630.481 -24.4478C559.631 -12.8975 487.056 -19.8392 416.4 -31.8699C327.124 -47.1677 231.921 -75.5207 180.164 -149.042" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1355.22 249.913C1328.23 268.253 1297.74 280.897 1265.65 287.06C1233.57 293.222 1200.58 292.77 1168.74 285.731C1136.89 278.693 1106.88 265.219 1080.57 246.149C1054.26 227.079 1032.22 202.822 1015.81 174.888C976.781 108.303 968.151 19.9386 905.382 -25.3421C865.471 -54.0712 812.157 -57.6913 763.238 -50.6011C714.319 -43.5109 667.186 -26.907 618.401 -18.9614C547.535 -7.40702 474.964 -14.3331 404.32 -26.3836C315.123 -41.6346 219.901 -69.9993 168.164 -143.509" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1343.14 255.415C1316.15 273.754 1285.66 286.399 1253.57 292.561C1221.49 298.724 1188.5 298.272 1156.66 291.233C1124.82 284.195 1094.81 270.721 1068.5 251.651C1042.19 232.581 1020.14 208.324 1003.73 180.39C964.703 113.805 956.07 25.4247 893.304 -19.8403C853.41 -48.5735 800.075 -52.2052 751.16 -45.0993C702.245 -37.9933 655.12 -21.4251 606.323 -13.4596C535.473 -1.90929 462.898 -8.85103 392.242 -20.8817C303.057 -36.1526 207.839 -64.5015 156.082 -138.023" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1331.05 260.904C1304.05 279.244 1273.56 291.889 1241.48 298.051C1209.39 304.213 1176.4 303.761 1144.56 296.723C1112.72 289.684 1082.71 276.211 1056.4 257.141C1030.09 238.071 1008.04 213.813 991.632 185.879C952.606 119.294 943.972 30.9142 881.206 -14.3508C841.312 -43.084 787.982 -46.6999 739.063 -39.6097C690.143 -32.5195 643.011 -15.9157 594.225 -7.97007C523.36 3.58434 450.801 -3.36152 380.144 -15.3922C290.948 -30.6432 195.746 -58.9291 143.984 -132.534" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1319 266.398C1292 284.738 1261.51 297.383 1229.43 303.545C1197.35 309.707 1164.36 309.255 1132.51 302.217C1100.67 295.178 1070.66 281.705 1044.35 262.635C1018.04 243.565 995.995 219.307 979.586 191.373C940.559 124.788 931.926 36.4082 869.08 -8.83642C829.186 -37.5696 775.852 -41.2014 726.933 -34.1112C678.013 -27.021 630.897 -10.4212 582.099 -2.45574C511.25 9.0946 438.675 2.15282 368.034 -9.88193C278.838 -25.133 183.636 -53.4189 131.862 -127.004" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1306.87 271.979C1279.87 290.316 1249.38 302.956 1217.29 309.113C1185.2 315.27 1152.21 314.81 1120.37 307.764C1088.52 300.718 1058.51 287.235 1032.21 268.157C1005.9 249.078 983.858 224.813 967.456 196.871C928.43 130.286 919.796 41.9062 857.03 -3.35872C817.136 -32.0919 763.806 -35.7079 714.886 -28.6177C665.967 -21.5275 618.835 -4.92363 570.049 3.02197C499.184 14.5764 426.625 7.63054 355.968 -4.40013C266.772 -19.6512 171.586 -47.9412 119.808 -121.542" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1294.71 277.419C1267.71 295.739 1237.23 308.365 1205.15 314.512C1173.07 320.659 1140.09 320.195 1108.26 313.149C1076.43 306.102 1046.43 292.625 1020.13 273.554C993.833 254.484 971.797 230.23 955.395 202.303C916.368 135.717 907.735 47.3375 844.969 2.07254C805.055 -26.6724 751.74 -30.2924 702.805 -23.1981C653.87 -16.1039 606.769 0.491875 557.988 8.45324C487.122 20.0076 414.547 13.0659 343.907 1.03114C254.71 -14.2199 159.508 -42.5058 107.735 -116.091" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1282.71 282.884C1255.71 301.229 1225.22 313.879 1193.14 320.045C1161.05 326.211 1128.06 325.761 1096.21 318.723C1064.36 311.685 1034.35 298.21 1008.04 279.138C981.724 260.066 959.675 235.805 943.266 207.868C904.239 141.282 895.606 52.9024 832.84 7.63745C792.946 -21.0958 739.615 -24.7117 690.696 -17.6215C641.777 -10.5313 594.656 6.05272 545.859 14.0181C475.009 25.5685 402.434 18.6267 331.778 6.59605C242.522 -8.69008 147.284 -37.0507 95.558 -110.581" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1270.62 288.39C1243.62 306.744 1213.12 319.4 1181.03 325.57C1148.94 331.74 1115.94 331.292 1084.09 324.254C1052.23 317.216 1022.21 303.738 995.897 284.66C969.58 265.583 947.53 241.315 931.121 213.37C892.098 146.8 883.465 58.4205 820.699 13.1555C780.785 -15.5894 727.47 -19.2094 678.551 -12.1192C629.632 -5.029 582.499 11.5749 533.714 19.5205C462.852 31.0906 390.277 24.1489 319.633 12.0984C230.456 -3.20807 135.139 -31.5484 83.4807 -105.079" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1258.54 293.876C1231.54 312.215 1201.05 324.86 1168.97 331.022C1136.88 337.185 1103.89 336.733 1072.05 329.694C1040.21 322.656 1010.2 309.182 983.889 290.112C957.578 271.042 935.532 246.785 919.123 218.851C880.017 152.286 871.463 63.8858 808.617 18.6411C768.723 -10.0921 715.393 -13.7081 666.474 -6.61786C617.554 0.472343 570.434 17.0564 521.636 25.0218C450.787 36.5721 378.212 29.6304 307.555 17.5997C218.311 2.29377 123.141 -26.0673 71.3832 -99.5891" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1246.44 299.366C1219.44 317.706 1188.95 330.35 1156.87 336.513C1124.79 342.675 1091.8 342.223 1059.95 335.185C1028.11 328.146 998.101 314.672 971.791 295.603C945.48 276.533 923.434 252.275 907.025 224.341C868.002 157.772 859.368 69.3919 796.599 24.1112C756.625 -4.60175 703.31 -8.22182 654.443 -1.12805C605.576 5.96573 558.391 22.566 509.606 30.5116C438.74 42.066 366.185 35.1359 295.525 23.0895C206.328 7.83847 111.106 -20.5262 59.3689 -94.0362" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1234.36 304.868C1207.36 323.207 1176.88 335.852 1144.79 342.014C1112.71 348.177 1079.72 347.725 1047.88 340.686C1016.03 333.648 986.024 320.174 959.713 301.104C933.403 282.034 911.356 257.777 894.947 229.843C855.921 163.258 847.287 74.8776 784.521 29.6126C744.627 0.879406 691.293 -2.75234 642.378 4.35362C593.462 11.4596 546.338 28.0278 497.54 35.9933C426.691 47.5436 354.116 40.6018 283.475 28.5671C194.275 13.3003 99.0569 -15.0487 47.2995 -88.5704" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1222.27 310.374C1195.27 328.714 1164.78 341.358 1132.7 347.521C1100.61 353.683 1067.62 353.231 1035.78 346.193C1003.94 339.154 973.93 325.68 947.62 306.611C921.31 287.541 899.263 263.283 882.854 235.349C843.827 168.764 835.198 80.3998 772.428 35.1191C732.466 6.38637 679.152 2.76631 630.153 9.87683C581.154 16.9873 534.101 33.571 485.316 41.5166C414.45 53.071 341.891 46.1251 271.235 34.0945C182.038 18.8434 86.8364 -9.44251 35.0747 -83.0471" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1210.19 315.86C1183.19 334.2 1152.7 346.844 1120.62 353.007C1088.53 359.169 1055.54 358.717 1023.7 351.679C991.859 344.64 961.849 331.166 935.538 312.096C909.228 293.027 887.181 268.769 870.772 240.835C831.745 174.25 823.112 85.87 760.346 40.6051C720.436 11.8759 667.006 8.26848 618.123 15.3663C569.24 22.4642 522.083 39.0406 473.302 47.0019C402.436 58.5563 329.861 51.6145 259.221 39.5798C170.02 24.313 74.8223 -3.95714 23.0447 -77.5576" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
        <g>
            <path d="M1198.1 321.346C1171.11 339.688 1140.62 352.335 1108.53 358.499C1076.45 364.663 1043.45 364.212 1011.61 357.174C979.767 350.136 949.755 336.662 923.443 317.591C897.131 298.52 875.083 274.261 858.674 246.325C819.647 179.74 811.014 91.3599 748.248 46.095C708.29 17.378 654.98 13.8408 606.041 20.8522C557.101 27.8637 509.989 44.5463 461.204 52.4919C390.354 64.0422 317.779 57.1005 247.122 45.0698C157.926 29.8188 62.7399 1.52877 10.9623 -72.0717" stroke="#D4DEE1" stroke-miterlimit="10"/>
        </g>
    </g>
</svg>