<svg width="9" height="331" viewBox="0 0 9 331" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
        <path d="M8.00849 326.959C8.00849 324.727 6.21573 322.918 4.00424 322.918C1.79276 322.918 -2.74182e-07 324.727 -1.76631e-07 326.959C-7.90794e-08 329.191 1.79276 331 4.00424 331C6.21573 331 8.00849 329.191 8.00849 326.959Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 294.658C8.00849 292.426 6.21573 290.617 4.00424 290.617C1.79276 290.617 -2.74185e-07 292.426 -1.76633e-07 294.658C-7.90803e-08 296.889 1.79276 298.699 4.00424 298.699C6.21573 298.699 8.00849 296.889 8.00849 294.658Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M4.08044 258.34C4.8724 258.34 5.64658 258.577 6.30508 259.021C6.96358 259.465 7.47682 260.096 7.7799 260.834C8.08297 261.573 8.16227 262.385 8.00776 263.169C7.85326 263.953 7.47187 264.673 6.91187 265.238C6.35186 265.803 5.63838 266.188 4.86163 266.344C4.08488 266.5 3.27976 266.42 2.54808 266.114C1.8164 265.808 1.19101 265.29 0.751019 264.626C0.311025 263.961 0.0761717 263.18 0.0761717 262.381C0.0761717 261.309 0.49806 260.281 1.249 259.523C1.99995 258.765 3.01844 258.34 4.08044 258.34Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 230.078C8.00849 227.846 6.21573 226.037 4.00424 226.037C1.79276 226.037 -2.74188e-07 227.846 -1.76635e-07 230.078C-7.90812e-08 232.31 1.79276 234.119 4.00424 234.119C6.21573 234.119 8.00849 232.31 8.00849 230.078Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 197.802C8.00849 195.57 6.21573 193.761 4.00424 193.761C1.79276 193.761 -2.74191e-07 195.57 -1.76637e-07 197.802C-7.90821e-08 200.034 1.79276 201.843 4.00424 201.843C6.21573 201.843 8.00849 200.034 8.00849 197.802Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 165.5C8.00849 163.268 6.21573 161.459 4.00424 161.459C1.79276 161.459 -2.74185e-07 163.268 -1.76633e-07 165.5C-7.90803e-08 167.731 1.79276 169.54 4.00424 169.54C6.21573 169.54 8.00849 167.731 8.00849 165.5Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 133.224C8.00849 130.992 6.21573 129.183 4.00424 129.183C1.79276 129.183 -2.74191e-07 130.992 -1.76637e-07 133.224C-7.90821e-08 135.456 1.79276 137.265 4.00424 137.265C6.21573 137.265 8.00849 135.456 8.00849 133.224Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M4.08052 96.906C4.87357 96.906 5.64875 97.1436 6.30778 97.5888C6.96682 98.0339 7.48003 98.6666 7.78235 99.4065C8.08466 100.146 8.16246 100.96 8.00589 101.745C7.84931 102.529 7.46544 103.249 6.90289 103.813C6.34035 104.378 5.62449 104.76 4.84607 104.913C4.06766 105.066 3.26174 104.983 2.53051 104.673C1.79928 104.363 1.17568 103.841 0.738745 103.173C0.301813 102.505 0.0712327 101.722 0.0762519 100.921C0.0762413 100.392 0.179998 99.8676 0.38154 99.3788C0.583083 98.89 0.878429 98.4462 1.25059 98.073C1.62276 97.6998 2.0644 97.4045 2.55008 97.2042C3.03575 97.0039 3.55587 96.9026 4.08052 96.906Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 68.6196C8.00849 66.3878 6.21573 64.5786 4.00424 64.5786C1.79276 64.5786 -2.74191e-07 66.3878 -1.76636e-07 68.6196C-7.90819e-08 70.8513 1.79276 72.6605 4.00424 72.6605C6.21573 72.6605 8.00849 70.8513 8.00849 68.6196Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 36.3426C8.00849 34.1108 6.21573 32.3015 4.00424 32.3015C1.79276 32.3015 -2.74188e-07 34.1108 -1.76635e-07 36.3426C-7.90812e-08 38.5743 1.79276 40.3835 4.00424 40.3835C6.21573 40.3835 8.00849 38.5743 8.00849 36.3426Z" fill="#D4DEE1"/>
    </g>
    <g>
        <path d="M8.00849 4.04112C8.00849 1.80934 6.21573 0.000158038 4.00424 0.000158135C1.79276 0.000158232 -2.74191e-07 1.80934 -1.76636e-07 4.04113C-7.90819e-08 6.27291 1.79276 8.08209 4.00424 8.08209C6.21573 8.08209 8.00849 6.27291 8.00849 4.04112Z" fill="#D4DEE1"/>
    </g>
</svg>