<svg class="background-rectangles" viewBox="0 0 220 220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H144.936V74.7997H220V220H75.0637V145.2H0V0ZM137.697 81.9728C137.697 57.1049 137.749 32.1307 137.749 7.20023H7.18655V138.001C32.2202 138.001 57.3374 137.9 82.2503 137.9V138.001H82.2974C82.2974 162.883 82.2503 187.862 82.2503 212.8H212.813V82H169.966V81.9728H137.697Z" fill="#D4DEE1"/>
</svg>