<svg width="190" height="173" viewBox="0 0 190 173" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 42.3896C3.55834 42.3896 4.58469 41.3666 4.58469 40.1046C4.58469 38.8427 3.55834 37.8196 2.29232 37.8196C1.0263 37.8196 0 38.8427 0 40.1046C0 41.3666 1.0263 42.3896 2.29232 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 42.3896C22.0998 42.3896 23.1261 41.3666 23.1261 40.1046C23.1261 38.8427 22.0998 37.8196 20.8337 37.8196C19.5677 37.8196 18.5414 38.8427 18.5414 40.1046C18.5414 41.3666 19.5677 42.3896 20.8337 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 40.1478C41.6677 40.5997 41.5332 41.0415 41.2813 41.4173C41.0294 41.793 40.6714 42.0859 40.2525 42.2588C39.8337 42.4318 39.3727 42.477 38.9281 42.3889C38.4834 42.3007 38.0749 42.0831 37.7543 41.7635C37.4337 41.4439 37.2154 41.0368 37.1269 40.5936C37.0385 40.1503 37.0839 39.6909 37.2574 39.2733C37.4309 38.8558 37.7247 38.4989 38.1017 38.2479C38.4787 37.9968 38.9219 37.8628 39.3753 37.8628C39.9833 37.8628 40.5663 38.1035 40.9962 38.532C41.4262 38.9606 41.6677 39.5418 41.6677 40.1478Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 42.3896C59.1829 42.3896 60.2093 41.3666 60.2093 40.1046C60.2093 38.8427 59.1829 37.8196 57.9168 37.8196C56.6508 37.8196 55.6245 38.8427 55.6245 40.1046C55.6245 41.3666 56.6508 42.3896 57.9168 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 42.3896C77.7244 42.3896 78.7508 41.3666 78.7508 40.1046C78.7508 38.8427 77.7244 37.8196 76.4584 37.8196C75.1923 37.8196 74.166 38.8427 74.166 40.1046C74.166 41.3666 75.1923 42.3896 76.4584 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 42.3896C96.2659 42.3896 97.2922 41.3666 97.2922 40.1046C97.2922 38.8427 96.2659 37.8196 94.9998 37.8196C93.7338 37.8196 92.7075 38.8427 92.7075 40.1046C92.7075 41.3666 93.7338 42.3896 94.9998 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 42.3896C114.807 42.3896 115.834 41.3666 115.834 40.1046C115.834 38.8427 114.807 37.8196 113.541 37.8196C112.275 37.8196 111.249 38.8427 111.249 40.1046C111.249 41.3666 112.275 42.3896 113.541 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 40.1478C134.375 40.6004 134.241 41.0427 133.988 41.4188C133.736 41.7949 133.377 42.0877 132.957 42.2602C132.537 42.4328 132.075 42.4772 131.63 42.3878C131.185 42.2985 130.777 42.0794 130.457 41.7584C130.137 41.4374 129.92 41.0289 129.833 40.5847C129.746 40.1405 129.794 39.6806 129.969 39.2633C130.145 38.846 130.441 38.4902 130.82 38.2409C131.199 37.9915 131.643 37.8599 132.098 37.8628C132.398 37.8628 132.695 37.922 132.973 38.037C133.25 38.152 133.502 38.3206 133.713 38.5329C133.925 38.7453 134.093 38.9973 134.206 39.2745C134.32 39.5516 134.377 39.8484 134.375 40.1478Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 42.3896C151.891 42.3896 152.917 41.3666 152.917 40.1046C152.917 38.8427 151.891 37.8196 150.625 37.8196C149.359 37.8196 148.332 38.8427 148.332 40.1046C148.332 41.3666 149.359 42.3896 150.625 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 42.3896C170.432 42.3896 171.459 41.3666 171.459 40.1046C171.459 38.8427 170.432 37.8196 169.166 37.8196C167.9 37.8196 166.874 38.8427 166.874 40.1046C166.874 41.3666 167.9 42.3896 169.166 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 42.3896C188.974 42.3896 190 41.3666 190 40.1046C190 38.8427 188.974 37.8196 187.708 37.8196C186.442 37.8196 185.415 38.8427 185.415 40.1046C185.415 41.3666 186.442 42.3896 187.708 42.3896Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 23.5176C3.55834 23.5176 4.58469 22.4946 4.58469 21.2326C4.58469 19.9707 3.55834 18.9476 2.29232 18.9476C1.0263 18.9476 0 19.9707 0 21.2326C0 22.4946 1.0263 23.5176 2.29232 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 23.5176C22.0998 23.5176 23.1261 22.4946 23.1261 21.2326C23.1261 19.9707 22.0998 18.9476 20.8337 18.9476C19.5677 18.9476 18.5414 19.9707 18.5414 21.2326C18.5414 22.4946 19.5677 23.5176 20.8337 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 21.2758C41.6677 21.7277 41.5332 22.1695 41.2813 22.5452C41.0294 22.921 40.6714 23.2139 40.2525 23.3868C39.8337 23.5598 39.3727 23.605 38.9281 23.5169C38.4834 23.4287 38.0749 23.2111 37.7543 22.8915C37.4337 22.5719 37.2154 22.1648 37.1269 21.7215C37.0385 21.2783 37.0839 20.8189 37.2574 20.4013C37.4309 19.9838 37.7247 19.6269 38.1017 19.3759C38.4787 19.1248 38.9219 18.9908 39.3753 18.9908C39.9833 18.9908 40.5663 19.2315 40.9962 19.66C41.4262 20.0885 41.6677 20.6697 41.6677 21.2758Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 23.5176C59.1829 23.5176 60.2093 22.4946 60.2093 21.2326C60.2093 19.9707 59.1829 18.9476 57.9168 18.9476C56.6508 18.9476 55.6245 19.9707 55.6245 21.2326C55.6245 22.4946 56.6508 23.5176 57.9168 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 23.5176C77.7244 23.5176 78.7508 22.4946 78.7508 21.2326C78.7508 19.9707 77.7244 18.9476 76.4584 18.9476C75.1923 18.9476 74.166 19.9707 74.166 21.2326C74.166 22.4946 75.1923 23.5176 76.4584 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 23.5176C96.2659 23.5176 97.2922 22.4946 97.2922 21.2326C97.2922 19.9707 96.2659 18.9476 94.9998 18.9476C93.7338 18.9476 92.7075 19.9707 92.7075 21.2326C92.7075 22.4946 93.7338 23.5176 94.9998 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 23.5176C114.807 23.5176 115.834 22.4946 115.834 21.2326C115.834 19.9707 114.807 18.9476 113.541 18.9476C112.275 18.9476 111.249 19.9707 111.249 21.2326C111.249 22.4946 112.275 23.5176 113.541 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 21.2758C134.375 21.7284 134.241 22.1707 133.988 22.5468C133.736 22.9229 133.377 23.2157 132.957 23.3882C132.537 23.5608 132.075 23.6051 131.63 23.5158C131.185 23.4265 130.777 23.2074 130.457 22.8864C130.137 22.5654 129.92 22.1569 129.833 21.7127C129.746 21.2685 129.794 20.8086 129.969 20.3913C130.145 19.974 130.441 19.6182 130.82 19.3688C131.199 19.1195 131.643 18.9879 132.098 18.9908C132.398 18.9908 132.695 19.05 132.973 19.165C133.25 19.28 133.502 19.4486 133.713 19.6609C133.925 19.8733 134.093 20.1253 134.206 20.4025C134.32 20.6796 134.377 20.9764 134.375 21.2758Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 23.5176C151.891 23.5176 152.917 22.4946 152.917 21.2326C152.917 19.9707 151.891 18.9476 150.625 18.9476C149.359 18.9476 148.332 19.9707 148.332 21.2326C148.332 22.4946 149.359 23.5176 150.625 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 23.5176C170.432 23.5176 171.459 22.4946 171.459 21.2326C171.459 19.9707 170.432 18.9476 169.166 18.9476C167.9 18.9476 166.874 19.9707 166.874 21.2326C166.874 22.4946 167.9 23.5176 169.166 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 23.5176C188.974 23.5176 190 22.4946 190 21.2326C190 19.9707 188.974 18.9476 187.708 18.9476C186.442 18.9476 185.415 19.9707 185.415 21.2326C185.415 22.4946 186.442 23.5176 187.708 23.5176Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 4.57C3.55834 4.57 4.58469 3.54697 4.58469 2.285C4.58469 1.02303 3.55834 0 2.29232 0C1.0263 0 0 1.02303 0 2.285C0 3.54697 1.0263 4.57 2.29232 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 4.57C22.0998 4.57 23.1261 3.54697 23.1261 2.285C23.1261 1.02303 22.0998 0 20.8337 0C19.5677 0 18.5414 1.02303 18.5414 2.285C18.5414 3.54697 19.5677 4.57 20.8337 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 2.32813C41.6677 2.78006 41.5332 3.22184 41.2813 3.59761C41.0294 3.97338 40.6714 4.26626 40.2525 4.4392C39.8337 4.61215 39.3727 4.6574 38.9281 4.56924C38.4834 4.48107 38.0749 4.26343 37.7543 3.94387C37.4337 3.62431 37.2154 3.21716 37.1269 2.77391C37.0385 2.33067 37.0839 1.87123 37.2574 1.4537C37.4309 1.03617 37.7247 0.679299 38.1017 0.428219C38.4787 0.177139 38.9219 0.0431213 39.3753 0.0431213C39.9833 0.0431213 40.5663 0.28387 40.9962 0.712391C41.4262 1.14091 41.6677 1.72211 41.6677 2.32813Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 4.57C59.1829 4.57 60.2093 3.54697 60.2093 2.285C60.2093 1.02303 59.1829 0 57.9168 0C56.6508 0 55.6245 1.02303 55.6245 2.285C55.6245 3.54697 56.6508 4.57 57.9168 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 4.57C77.7244 4.57 78.7508 3.54697 78.7508 2.285C78.7508 1.02303 77.7244 0 76.4584 0C75.1923 0 74.166 1.02303 74.166 2.285C74.166 3.54697 75.1923 4.57 76.4584 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 4.57C96.2659 4.57 97.2922 3.54697 97.2922 2.285C97.2922 1.02303 96.2659 0 94.9998 0C93.7338 0 92.7075 1.02303 92.7075 2.285C92.7075 3.54697 93.7338 4.57 94.9998 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 4.57C114.807 4.57 115.834 3.54697 115.834 2.285C115.834 1.02303 114.807 0 113.541 0C112.275 0 111.249 1.02303 111.249 2.285C111.249 3.54697 112.275 4.57 113.541 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 2.32818C134.375 2.78073 134.241 3.22308 133.988 3.59915C133.736 3.97523 133.377 4.26809 132.957 4.4406C132.537 4.61312 132.075 4.65751 131.63 4.56816C131.185 4.47882 130.777 4.25976 130.457 3.93875C130.137 3.61773 129.92 3.20923 129.833 2.76504C129.746 2.32084 129.794 1.86095 129.969 1.44367C130.145 1.0264 130.441 0.670547 130.82 0.421215C131.199 0.171882 131.643 0.0403029 132.098 0.0431671C132.398 0.043161 132.695 0.102369 132.973 0.217378C133.25 0.332387 133.502 0.500925 133.713 0.713299C133.925 0.925673 134.093 1.17769 134.206 1.45484C134.32 1.73199 134.377 2.02879 134.375 2.32818Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 4.57C151.891 4.57 152.917 3.54697 152.917 2.285C152.917 1.02303 151.891 0 150.625 0C149.359 0 148.332 1.02303 148.332 2.285C148.332 3.54697 149.359 4.57 150.625 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 4.57C170.432 4.57 171.459 3.54697 171.459 2.285C171.459 1.02303 170.432 0 169.166 0C167.9 0 166.874 1.02303 166.874 2.285C166.874 3.54697 167.9 4.57 169.166 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 4.57C188.974 4.57 190 3.54697 190 2.285C190 1.02303 188.974 0 187.708 0C186.442 0 185.415 1.02303 185.415 2.285C185.415 3.54697 186.442 4.57 187.708 4.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 61.0421C3.55834 61.0421 4.58469 60.0191 4.58469 58.7571C4.58469 57.4951 3.55834 56.4721 2.29232 56.4721C1.0263 56.4721 0 57.4951 0 58.7571C0 60.0191 1.0263 61.0421 2.29232 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 61.0421C22.0998 61.0421 23.1261 60.0191 23.1261 58.7571C23.1261 57.4951 22.0998 56.4721 20.8337 56.4721C19.5677 56.4721 18.5414 57.4951 18.5414 58.7571C18.5414 60.0191 19.5677 61.0421 20.8337 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 58.8002C41.6677 59.2522 41.5332 59.694 41.2813 60.0697C41.0294 60.4455 40.6714 60.7384 40.2525 60.9113C39.8337 61.0843 39.3727 61.1295 38.9281 61.0413C38.4834 60.9532 38.0749 60.7355 37.7543 60.416C37.4337 60.0964 37.2154 59.6893 37.1269 59.246C37.0385 58.8028 37.0839 58.3433 37.2574 57.9258C37.4309 57.5083 37.7247 57.1514 38.1017 56.9003C38.4787 56.6492 38.9219 56.5152 39.3753 56.5152C39.9833 56.5152 40.5663 56.756 40.9962 57.1845C41.4262 57.613 41.6677 58.1942 41.6677 58.8002Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 61.0421C59.1829 61.0421 60.2093 60.0191 60.2093 58.7571C60.2093 57.4951 59.1829 56.4721 57.9168 56.4721C56.6508 56.4721 55.6245 57.4951 55.6245 58.7571C55.6245 60.0191 56.6508 61.0421 57.9168 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 61.0421C77.7244 61.0421 78.7508 60.0191 78.7508 58.7571C78.7508 57.4951 77.7244 56.4721 76.4584 56.4721C75.1923 56.4721 74.166 57.4951 74.166 58.7571C74.166 60.0191 75.1923 61.0421 76.4584 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 61.0421C96.2659 61.0421 97.2922 60.0191 97.2922 58.7571C97.2922 57.4951 96.2659 56.4721 94.9998 56.4721C93.7338 56.4721 92.7075 57.4951 92.7075 58.7571C92.7075 60.0191 93.7338 61.0421 94.9998 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 61.0421C114.807 61.0421 115.834 60.0191 115.834 58.7571C115.834 57.4951 114.807 56.4721 113.541 56.4721C112.275 56.4721 111.249 57.4951 111.249 58.7571C111.249 60.0191 112.275 61.0421 113.541 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 61.0421C151.891 61.0421 152.917 60.0191 152.917 58.7571C152.917 57.4951 151.891 56.4721 150.625 56.4721C149.359 56.4721 148.332 57.4951 148.332 58.7571C148.332 60.0191 149.359 61.0421 150.625 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 61.0421C170.432 61.0421 171.459 60.0191 171.459 58.7571C171.459 57.4951 170.432 56.4721 169.166 56.4721C167.9 56.4721 166.874 57.4951 166.874 58.7571C166.874 60.0191 167.9 61.0421 169.166 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 61.0421C188.974 61.0421 190 60.0191 190 58.7571C190 57.4951 188.974 56.4721 187.708 56.4721C186.442 56.4721 185.415 57.4951 185.415 58.7571C185.415 60.0191 186.442 61.0421 187.708 61.0421Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 79.6946C3.55834 79.6946 4.58469 78.6715 4.58469 77.4096C4.58469 76.1476 3.55834 75.1246 2.29232 75.1246C1.0263 75.1246 0 76.1476 0 77.4096C0 78.6715 1.0263 79.6946 2.29232 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 79.6946C22.0998 79.6946 23.1261 78.6715 23.1261 77.4096C23.1261 76.1476 22.0998 75.1246 20.8337 75.1246C19.5677 75.1246 18.5414 76.1476 18.5414 77.4096C18.5414 78.6715 19.5677 79.6946 20.8337 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 77.4527C41.6677 77.9046 41.5332 78.3464 41.2813 78.7222C41.0294 79.098 40.6714 79.3908 40.2525 79.5638C39.8337 79.7367 39.3727 79.782 38.9281 79.6938C38.4834 79.6056 38.0749 79.388 37.7543 79.0684C37.4337 78.7489 37.2154 78.3417 37.1269 77.8985C37.0385 77.4552 37.0839 76.9958 37.2574 76.5783C37.4309 76.1607 37.7247 75.8039 38.1017 75.5528C38.4787 75.3017 38.9219 75.1677 39.3753 75.1677C39.9833 75.1677 40.5663 75.4084 40.9962 75.837C41.4262 76.2655 41.6677 76.8467 41.6677 77.4527Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 79.6946C59.1829 79.6946 60.2093 78.6715 60.2093 77.4096C60.2093 76.1476 59.1829 75.1246 57.9168 75.1246C56.6508 75.1246 55.6245 76.1476 55.6245 77.4096C55.6245 78.6715 56.6508 79.6946 57.9168 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 79.6946C77.7244 79.6946 78.7508 78.6715 78.7508 77.4096C78.7508 76.1476 77.7244 75.1246 76.4584 75.1246C75.1923 75.1246 74.166 76.1476 74.166 77.4096C74.166 78.6715 75.1923 79.6946 76.4584 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 79.6946C96.2659 79.6946 97.2922 78.6715 97.2922 77.4096C97.2922 76.1476 96.2659 75.1246 94.9998 75.1246C93.7338 75.1246 92.7075 76.1476 92.7075 77.4096C92.7075 78.6715 93.7338 79.6946 94.9998 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 79.6946C114.807 79.6946 115.834 78.6715 115.834 77.4096C115.834 76.1476 114.807 75.1246 113.541 75.1246C112.275 75.1246 111.249 76.1476 111.249 77.4096C111.249 78.6715 112.275 79.6946 113.541 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 77.4528C134.375 77.9053 134.241 78.3476 133.988 78.7237C133.736 79.0998 133.377 79.3927 132.957 79.5652C132.537 79.7377 132.075 79.7821 131.63 79.6927C131.185 79.6034 130.777 79.3843 130.457 79.0633C130.137 78.7423 129.92 78.3338 129.833 77.8896C129.746 77.4454 129.794 76.9855 129.969 76.5682C130.145 76.151 130.441 75.7951 130.82 75.5458C131.199 75.2965 131.643 75.1649 132.098 75.1677C132.398 75.1677 132.695 75.2269 132.973 75.342C133.25 75.457 133.502 75.6255 133.713 75.8379C133.925 76.0502 134.093 76.3023 134.206 76.5794C134.32 76.8566 134.377 77.1534 134.375 77.4528Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 79.6946C151.891 79.6946 152.917 78.6715 152.917 77.4096C152.917 76.1476 151.891 75.1246 150.625 75.1246C149.359 75.1246 148.332 76.1476 148.332 77.4096C148.332 78.6715 149.359 79.6946 150.625 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 79.6946C170.432 79.6946 171.459 78.6715 171.459 77.4096C171.459 76.1476 170.432 75.1246 169.166 75.1246C167.9 75.1246 166.874 76.1476 166.874 77.4096C166.874 78.6715 167.9 79.6946 169.166 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 79.6946C188.974 79.6946 190 78.6715 190 77.4096C190 76.1476 188.974 75.1246 187.708 75.1246C186.442 75.1246 185.415 76.1476 185.415 77.4096C185.415 78.6715 186.442 79.6946 187.708 79.6946Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 98.3471C3.55834 98.3471 4.58469 97.324 4.58469 96.0621C4.58469 94.8001 3.55834 93.7771 2.29232 93.7771C1.0263 93.7771 0 94.8001 0 96.0621C0 97.324 1.0263 98.3471 2.29232 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 98.3471C22.0998 98.3471 23.1261 97.324 23.1261 96.0621C23.1261 94.8001 22.0998 93.7771 20.8337 93.7771C19.5677 93.7771 18.5414 94.8001 18.5414 96.0621C18.5414 97.324 19.5677 98.3471 20.8337 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 96.1052C41.6677 96.5571 41.5332 96.9989 41.2813 97.3746C41.0294 97.7504 40.6714 98.0433 40.2525 98.2162C39.8337 98.3892 39.3727 98.4344 38.9281 98.3463C38.4834 98.2581 38.0749 98.0405 37.7543 97.7209C37.4337 97.4013 37.2154 96.9942 37.1269 96.551C37.0385 96.1077 37.0839 95.6483 37.2574 95.2307C37.4309 94.8132 37.7247 94.4563 38.1017 94.2053C38.4787 93.9542 38.9219 93.8202 39.3753 93.8202C39.9833 93.8202 40.5663 94.0609 40.9962 94.4894C41.4262 94.918 41.6677 95.4991 41.6677 96.1052Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 98.3471C59.1829 98.3471 60.2093 97.324 60.2093 96.0621C60.2093 94.8001 59.1829 93.7771 57.9168 93.7771C56.6508 93.7771 55.6245 94.8001 55.6245 96.0621C55.6245 97.324 56.6508 98.3471 57.9168 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 98.3471C77.7244 98.3471 78.7508 97.324 78.7508 96.0621C78.7508 94.8001 77.7244 93.7771 76.4584 93.7771C75.1923 93.7771 74.166 94.8001 74.166 96.0621C74.166 97.324 75.1923 98.3471 76.4584 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 98.3471C96.2659 98.3471 97.2922 97.324 97.2922 96.0621C97.2922 94.8001 96.2659 93.7771 94.9998 93.7771C93.7338 93.7771 92.7075 94.8001 92.7075 96.0621C92.7075 97.324 93.7338 98.3471 94.9998 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 98.3471C114.807 98.3471 115.834 97.324 115.834 96.0621C115.834 94.8001 114.807 93.7771 113.541 93.7771C112.275 93.7771 111.249 94.8001 111.249 96.0621C111.249 97.324 112.275 98.3471 113.541 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 96.1052C134.375 96.5578 134.241 97.0001 133.988 97.3762C133.736 97.7523 133.377 98.0451 132.957 98.2176C132.537 98.3902 132.075 98.4345 131.63 98.3452C131.185 98.2559 130.777 98.0368 130.457 97.7158C130.137 97.3948 129.92 96.9863 129.833 96.5421C129.746 96.0979 129.794 95.638 129.969 95.2207C130.145 94.8034 130.441 94.4476 130.82 94.1983C131.199 93.9489 131.643 93.8173 132.098 93.8202C132.398 93.8202 132.695 93.8794 132.973 93.9944C133.25 94.1094 133.502 94.278 133.713 94.4903C133.925 94.7027 134.093 94.9547 134.206 95.2319C134.32 95.509 134.377 95.8058 134.375 96.1052Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 98.3471C151.891 98.3471 152.917 97.324 152.917 96.0621C152.917 94.8001 151.891 93.7771 150.625 93.7771C149.359 93.7771 148.332 94.8001 148.332 96.0621C148.332 97.324 149.359 98.3471 150.625 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 98.3471C170.432 98.3471 171.459 97.324 171.459 96.0621C171.459 94.8001 170.432 93.7771 169.166 93.7771C167.9 93.7771 166.874 94.8001 166.874 96.0621C166.874 97.324 167.9 98.3471 169.166 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 98.3471C188.974 98.3471 190 97.324 190 96.0621C190 94.8001 188.974 93.7771 187.708 93.7771C186.442 93.7771 185.415 94.8001 185.415 96.0621C185.415 97.324 186.442 98.3471 187.708 98.3471Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 116.999C3.55834 116.999 4.58469 115.976 4.58469 114.714C4.58469 113.452 3.55834 112.429 2.29232 112.429C1.0263 112.429 0 113.452 0 114.714C0 115.976 1.0263 116.999 2.29232 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 116.999C22.0998 116.999 23.1261 115.976 23.1261 114.714C23.1261 113.452 22.0998 112.429 20.8337 112.429C19.5677 112.429 18.5414 113.452 18.5414 114.714C18.5414 115.976 19.5677 116.999 20.8337 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 114.758C41.6677 115.21 41.5332 115.651 41.2813 116.027C41.0294 116.403 40.6714 116.696 40.2525 116.869C39.8337 117.042 39.3727 117.087 38.9281 116.999C38.4834 116.911 38.0749 116.693 37.7543 116.373C37.4337 116.054 37.2154 115.647 37.1269 115.203C37.0385 114.76 37.0839 114.301 37.2574 113.883C37.4309 113.466 37.7247 113.109 38.1017 112.858C38.4787 112.607 38.9219 112.473 39.3753 112.473C39.9833 112.473 40.5663 112.713 40.9962 113.142C41.4262 113.57 41.6677 114.152 41.6677 114.758Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 116.999C59.1829 116.999 60.2093 115.976 60.2093 114.714C60.2093 113.452 59.1829 112.429 57.9168 112.429C56.6508 112.429 55.6245 113.452 55.6245 114.714C55.6245 115.976 56.6508 116.999 57.9168 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 116.999C77.7244 116.999 78.7508 115.976 78.7508 114.714C78.7508 113.452 77.7244 112.429 76.4584 112.429C75.1923 112.429 74.166 113.452 74.166 114.714C74.166 115.976 75.1923 116.999 76.4584 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 116.999C96.2659 116.999 97.2922 115.976 97.2922 114.714C97.2922 113.452 96.2659 112.429 94.9998 112.429C93.7338 112.429 92.7075 113.452 92.7075 114.714C92.7075 115.976 93.7338 116.999 94.9998 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 116.999C114.807 116.999 115.834 115.976 115.834 114.714C115.834 113.452 114.807 112.429 113.541 112.429C112.275 112.429 111.249 113.452 111.249 114.714C111.249 115.976 112.275 116.999 113.541 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 114.758C134.375 115.21 134.241 115.653 133.988 116.029C133.736 116.405 133.377 116.698 132.957 116.87C132.537 117.043 132.075 117.087 131.63 116.998C131.185 116.908 130.777 116.689 130.457 116.368C130.137 116.047 129.92 115.639 129.833 115.194C129.746 114.75 129.794 114.29 129.969 113.873C130.145 113.456 130.441 113.1 130.82 112.851C131.199 112.601 131.643 112.47 132.098 112.473C132.398 112.473 132.695 112.532 132.973 112.647C133.25 112.762 133.502 112.93 133.713 113.143C133.925 113.355 134.093 113.607 134.206 113.884C134.32 114.161 134.377 114.458 134.375 114.758Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 116.999C151.891 116.999 152.917 115.976 152.917 114.714C152.917 113.452 151.891 112.429 150.625 112.429C149.359 112.429 148.332 113.452 148.332 114.714C148.332 115.976 149.359 116.999 150.625 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.292 135.57C151.558 135.57 152.585 134.547 152.585 133.285C152.585 132.023 151.558 131 150.292 131C149.026 131 148 132.023 148 133.285C148 134.547 149.026 135.57 150.292 135.57Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 116.999C170.432 116.999 171.459 115.976 171.459 114.714C171.459 113.452 170.432 112.429 169.166 112.429C167.9 112.429 166.874 113.452 166.874 114.714C166.874 115.976 167.9 116.999 169.166 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 116.999C188.974 116.999 190 115.976 190 114.714C190 113.452 188.974 112.429 187.708 112.429C186.442 112.429 185.415 113.452 185.415 114.714C185.415 115.976 186.442 116.999 187.708 116.999Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 135.652C3.55834 135.652 4.58469 134.629 4.58469 133.367C4.58469 132.105 3.55834 131.082 2.29232 131.082C1.0263 131.082 0 132.105 0 133.367C0 134.629 1.0263 135.652 2.29232 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 135.652C22.0998 135.652 23.1261 134.629 23.1261 133.367C23.1261 132.105 22.0998 131.082 20.8337 131.082C19.5677 131.082 18.5414 132.105 18.5414 133.367C18.5414 134.629 19.5677 135.652 20.8337 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 133.41C41.6677 133.862 41.5332 134.304 41.2813 134.68C41.0294 135.055 40.6714 135.348 40.2525 135.521C39.8337 135.694 39.3727 135.739 38.9281 135.651C38.4834 135.563 38.0749 135.345 37.7543 135.026C37.4337 134.706 37.2154 134.299 37.1269 133.856C37.0385 133.413 37.0839 132.953 37.2574 132.536C37.4309 132.118 37.7247 131.761 38.1017 131.51C38.4787 131.259 38.9219 131.125 39.3753 131.125C39.9833 131.125 40.5663 131.366 40.9962 131.794C41.4262 132.223 41.6677 132.804 41.6677 133.41Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 135.652C59.1829 135.652 60.2093 134.629 60.2093 133.367C60.2093 132.105 59.1829 131.082 57.9168 131.082C56.6508 131.082 55.6245 132.105 55.6245 133.367C55.6245 134.629 56.6508 135.652 57.9168 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 135.652C77.7244 135.652 78.7508 134.629 78.7508 133.367C78.7508 132.105 77.7244 131.082 76.4584 131.082C75.1923 131.082 74.166 132.105 74.166 133.367C74.166 134.629 75.1923 135.652 76.4584 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 135.652C96.2659 135.652 97.2922 134.629 97.2922 133.367C97.2922 132.105 96.2659 131.082 94.9998 131.082C93.7338 131.082 92.7075 132.105 92.7075 133.367C92.7075 134.629 93.7338 135.652 94.9998 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 135.652C114.807 135.652 115.834 134.629 115.834 133.367C115.834 132.105 114.807 131.082 113.541 131.082C112.275 131.082 111.249 132.105 111.249 133.367C111.249 134.629 112.275 135.652 113.541 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 133.41C134.375 133.863 134.241 134.305 133.988 134.681C133.736 135.057 133.377 135.35 132.957 135.523C132.537 135.695 132.075 135.739 131.63 135.65C131.185 135.561 130.777 135.342 130.457 135.021C130.137 134.7 129.92 134.291 129.833 133.847C129.746 133.403 129.794 132.943 129.969 132.526C130.145 132.108 130.441 131.752 130.82 131.503C131.199 131.254 131.643 131.122 132.098 131.125C132.398 131.125 132.695 131.184 132.973 131.299C133.25 131.414 133.502 131.583 133.713 131.795C133.925 132.008 134.093 132.26 134.206 132.537C134.32 132.814 134.377 133.111 134.375 133.41Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 135.652C170.432 135.652 171.459 134.629 171.459 133.367C171.459 132.105 170.432 131.082 169.166 131.082C167.9 131.082 166.874 132.105 166.874 133.367C166.874 134.629 167.9 135.652 169.166 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 135.652C188.974 135.652 190 134.629 190 133.367C190 132.105 188.974 131.082 187.708 131.082C186.442 131.082 185.415 132.105 185.415 133.367C185.415 134.629 186.442 135.652 187.708 135.652Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 154.304C3.55834 154.304 4.58469 153.281 4.58469 152.019C4.58469 150.758 3.55834 149.734 2.29232 149.734C1.0263 149.734 0 150.758 0 152.019C0 153.281 1.0263 154.304 2.29232 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 154.304C22.0998 154.304 23.1261 153.281 23.1261 152.019C23.1261 150.758 22.0998 149.734 20.8337 149.734C19.5677 149.734 18.5414 150.758 18.5414 152.019C18.5414 153.281 19.5677 154.304 20.8337 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 152.063C41.6677 152.515 41.5332 152.956 41.2813 153.332C41.0294 153.708 40.6714 154.001 40.2525 154.174C39.8337 154.347 39.3727 154.392 38.9281 154.304C38.4834 154.216 38.0749 153.998 37.7543 153.678C37.4337 153.359 37.2154 152.952 37.1269 152.508C37.0385 152.065 37.0839 151.606 37.2574 151.188C37.4309 150.771 37.7247 150.414 38.1017 150.163C38.4787 149.912 38.9219 149.778 39.3753 149.778C39.9833 149.778 40.5663 150.018 40.9962 150.447C41.4262 150.875 41.6677 151.457 41.6677 152.063Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 154.304C59.1829 154.304 60.2093 153.281 60.2093 152.019C60.2093 150.758 59.1829 149.734 57.9168 149.734C56.6508 149.734 55.6245 150.758 55.6245 152.019C55.6245 153.281 56.6508 154.304 57.9168 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 154.304C77.7244 154.304 78.7508 153.281 78.7508 152.019C78.7508 150.758 77.7244 149.734 76.4584 149.734C75.1923 149.734 74.166 150.758 74.166 152.019C74.166 153.281 75.1923 154.304 76.4584 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 154.304C96.2659 154.304 97.2922 153.281 97.2922 152.019C97.2922 150.758 96.2659 149.734 94.9998 149.734C93.7338 149.734 92.7075 150.758 92.7075 152.019C92.7075 153.281 93.7338 154.304 94.9998 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 154.304C114.807 154.304 115.834 153.281 115.834 152.019C115.834 150.758 114.807 149.734 113.541 149.734C112.275 149.734 111.249 150.758 111.249 152.019C111.249 153.281 112.275 154.304 113.541 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 152.063C134.375 152.515 134.241 152.958 133.988 153.334C133.736 153.71 133.377 154.003 132.957 154.175C132.537 154.348 132.075 154.392 131.63 154.303C131.185 154.213 130.777 153.994 130.457 153.673C130.137 153.352 129.92 152.944 129.833 152.5C129.746 152.055 129.794 151.595 129.969 151.178C130.145 150.761 130.441 150.405 130.82 150.156C131.199 149.906 131.643 149.775 132.098 149.778C132.398 149.778 132.695 149.837 132.973 149.952C133.25 150.067 133.502 150.235 133.713 150.448C133.925 150.66 134.093 150.912 134.206 151.189C134.32 151.466 134.377 151.763 134.375 152.063Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 154.304C151.891 154.304 152.917 153.281 152.917 152.019C152.917 150.758 151.891 149.734 150.625 149.734C149.359 149.734 148.332 150.758 148.332 152.019C148.332 153.281 149.359 154.304 150.625 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 154.304C170.432 154.304 171.459 153.281 171.459 152.019C171.459 150.758 170.432 149.734 169.166 149.734C167.9 149.734 166.874 150.758 166.874 152.019C166.874 153.281 167.9 154.304 169.166 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 154.304C188.974 154.304 190 153.281 190 152.019C190 150.758 188.974 149.734 187.708 149.734C186.442 149.734 185.415 150.758 185.415 152.019C185.415 153.281 186.442 154.304 187.708 154.304Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M2.29232 172.957C3.55834 172.957 4.58469 171.934 4.58469 170.672C4.58469 169.41 3.55834 168.387 2.29232 168.387C1.0263 168.387 0 169.41 0 170.672C0 171.934 1.0263 172.957 2.29232 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M20.8337 172.957C22.0998 172.957 23.1261 171.934 23.1261 170.672C23.1261 169.41 22.0998 168.387 20.8337 168.387C19.5677 168.387 18.5414 169.41 18.5414 170.672C18.5414 171.934 19.5677 172.957 20.8337 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M41.6677 170.715C41.6677 171.167 41.5332 171.609 41.2813 171.984C41.0294 172.36 40.6714 172.653 40.2525 172.826C39.8337 172.999 39.3727 173.044 38.9281 172.956C38.4834 172.868 38.0749 172.65 37.7543 172.331C37.4337 172.011 37.2154 171.604 37.1269 171.161C37.0385 170.718 37.0839 170.258 37.2574 169.841C37.4309 169.423 37.7247 169.066 38.1017 168.815C38.4787 168.564 38.9219 168.43 39.3753 168.43C39.9833 168.43 40.5663 168.671 40.9962 169.099C41.4262 169.528 41.6677 170.109 41.6677 170.715Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M57.9168 172.957C59.1829 172.957 60.2093 171.934 60.2093 170.672C60.2093 169.41 59.1829 168.387 57.9168 168.387C56.6508 168.387 55.6245 169.41 55.6245 170.672C55.6245 171.934 56.6508 172.957 57.9168 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M76.4584 172.957C77.7244 172.957 78.7508 171.934 78.7508 170.672C78.7508 169.41 77.7244 168.387 76.4584 168.387C75.1923 168.387 74.166 169.41 74.166 170.672C74.166 171.934 75.1923 172.957 76.4584 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M94.9998 172.957C96.2659 172.957 97.2922 171.934 97.2922 170.672C97.2922 169.41 96.2659 168.387 94.9998 168.387C93.7338 168.387 92.7075 169.41 92.7075 170.672C92.7075 171.934 93.7338 172.957 94.9998 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M113.541 172.957C114.807 172.957 115.834 171.934 115.834 170.672C115.834 169.41 114.807 168.387 113.541 168.387C112.275 168.387 111.249 169.41 111.249 170.672C111.249 171.934 112.275 172.957 113.541 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M134.375 170.715C134.375 171.168 134.241 171.61 133.988 171.986C133.736 172.362 133.377 172.655 132.957 172.827C132.537 173 132.075 173.044 131.63 172.955C131.185 172.866 130.777 172.647 130.457 172.326C130.137 172.005 129.92 171.596 129.833 171.152C129.746 170.708 129.794 170.248 129.969 169.831C130.145 169.413 130.441 169.057 130.82 168.808C131.199 168.559 131.643 168.427 132.098 168.43C132.398 168.43 132.695 168.489 132.973 168.604C133.25 168.719 133.502 168.888 133.713 169.1C133.925 169.313 134.093 169.565 134.206 169.842C134.32 170.119 134.377 170.416 134.375 170.715Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M150.625 172.957C151.891 172.957 152.917 171.934 152.917 170.672C152.917 169.41 151.891 168.387 150.625 168.387C149.359 168.387 148.332 169.41 148.332 170.672C148.332 171.934 149.359 172.957 150.625 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M169.166 172.957C170.432 172.957 171.459 171.934 171.459 170.672C171.459 169.41 170.432 168.387 169.166 168.387C167.9 168.387 166.874 169.41 166.874 170.672C166.874 171.934 167.9 172.957 169.166 172.957Z" fill="#D4DEE1"></path>
    </g>
    <g style="mix-blend-mode:overlay">
        <path d="M187.708 172.957C188.974 172.957 190 171.934 190 170.672C190 169.41 188.974 168.387 187.708 168.387C186.442 168.387 185.415 169.41 185.415 170.672C185.415 171.934 186.442 172.957 187.708 172.957Z" fill="#D4DEE1"></path>
    </g>
</svg>