+mq(tablet)

  .blog-items
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding-top: 35px

+mq(desktop)

  .blog-items
    display: block
    padding-top: 60px
    width: 872px
