<div class="blog-items">
    {{#firstItems}}
        {{>blog-item}}
    {{/firstItems}}
    {{#banner}}
        {{>blog-credit}}
    {{/banner}}
    {{#secondItems}}
        {{>blog-item}}
    {{/secondItems}}
</div>