.container
  padding: 0 $container-offset-mobile
  margin: 0 auto
  width: 100%
  max-width: $wp1

.print-container
  width: 100%
  max-width: 1223px
  margin: 0 auto

+mq(tablet)
  .container
    padding: 0 $container-offset-tablet
    max-width: $wp2

+mq(desktop)
  .container
    padding: 0 $container-offset-desktop
    max-width: $wp3

+mq(wide-screen)
  .container
    padding: 0 $container-offset-wide-screen
    max-width: $wp4