.project-layout-tabs
  display: block
  letter-spacing: 0.03em

.project-layout-tabs__row
  display: flex
  margin-bottom: 30px

  &:last-child
    margin-bottom: 0

  &_one-item
    .project-layout-tab
      border-radius: 6px
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)

.project-layout-tab
  width: 50%
  border-radius: 6px 0px 0px 6px
  padding: 23px 16px 24px
  color: $main-color
  border: 1px solid $gray20
  min-height: 190px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
  z-index: 0
  position: relative

  &.sections-filter-tabs-item_active
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
    border-color: $yellow8
    background: $yellow8
    color: $white

    .project-layout-tab-name__number
      color: $white

.project-layout-tab-content
  text-align: center

.project-layout-tab-name
  font-weight: 800
  line-height: 28px

.project-layout-tab-name__text
  font-size: 22px
  margin-bottom: 8px

.project-layout-tab-name__number
  font-size: 64px
  line-height: 64px
  margin-bottom: 8px
  color: $gray20

.project-layout-tab__completion-date
  font-weight: 600
  font-size: 14px
  line-height: 25px

+mq(tablet, max)
  .project-layout-tab
    &:nth-child(even)
      border-radius: 0px 6px 6px 0
      border-left: none

  .project-layout-tab__completion-date-label
    display: none

+mq(tablet)
  .project-layout-tabs
    box-shadow: none

  .project-layout-tab
    border-radius: 6px
    padding: 24px 38px
    width: calc(50% - 8px)
    min-height: 240px
    border: 1px solid $gray20

    &_img-on-top
      .project-layout-tab-name
        margin-bottom: 16px
        margin-left: 3px
        align-self: flex-start

    &:nth-child(odd)
      margin-right: 16px
    &:last-child
      border: 1px solid $gray20

  .project-layout-tab-content
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%

  .project-layout-tab-name
    display: flex
    align-items: center
    margin-bottom: 48px

  .project-layout-tab-name__text,
  .project-layout-tab-name__number
    margin-bottom: 0

  .project-layout-tab-name__number
    margin-left: 14px
    transition: $default-transition


+mq(desktop, max)
  .project-layout-tab__picture
    display: none

+mq(desktop)
  .project-layout-tab
    display: flex
    justify-content: space-between
    min-height: 252px
    padding: 31px 59px 29px
    transition: $default-transition
    width: calc(50% - 12px)

    &:nth-child(odd)
      margin-right: 24px
    &:hover
      background: $yellow8
      color: $main-color
      .project-layout-tab-name__number
        color: inherit

      .project-layout-tab-name__text
        opacity: 0.9

    &.sections-filter-tabs-item_active
      color: $main-color

      .project-layout-tab-name__number
        color: $main-color
        opacity: 0.9

      .project-layout-tab-name__text
        opacity: 0.9

  .project-layout-tab__picture
    right: 60px
    width: 326px
    height: 186px
    svg
      max-width: 100%
      max-height: 100%

  .project-layout-tab-content
    display: block
    text-align: left

  .project-layout-tab-name
    display: block
    margin-bottom: 10px

  .project-layout-tab-name__text
    margin-bottom: 19px

  .project-layout-tab-name__number
    font-size: 96px
    line-height: 96px

  .project-layout-tab__completion-date-value
    display: block

+mq(desktop)
  .project-layout-tab
    min-height: 270px