{{#isNotEmpty}}
    <div class="project-layout-tabs sections-filter-tabs">
        {{#values}}
            <div class="project-layout-tabs__row{{#hasOneItem}} project-layout-tabs__row_one-item{{/hasOneItem}}">
                {{#objects.values}}
                    <div class="project-layout-tab sections-filter-tabs-item{{#active}} sections-filter-tabs-item_active{{/active}}"
                         data-id="liter-{{id}}">
                        <div class="project-layout-tab-content">
                            <div class="project-layout-tab-name">
                                <div class="project-layout-tab-name__text">{{{shortName}}}</div>
                                <div class="project-layout-tab-name__number">{{letter}}</div>
                            </div>
                            <div class="project-layout-tab__completion-date">
                                <span class="project-layout-tab__completion-date-label">Срок сдачи:</span>
                                <span class="project-layout-tab__completion-date-value">{{{ deadline }}}</span>
                            </div>
                        </div>
                        <div class="project-layout-tab__picture">{{{ icon.inline }}}</div>
                        <a href="#" class="project-layout-tabs-item__button link-as-card"
                            {{# strMainId }} id="{{ . }}"{{/ strMainId }}></a>
                    </div>
                {{/objects.values}}
            </div>
        {{/values}}
    </div>
{{/isNotEmpty}}
