@import '../contact/contact'

.print-header
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 71px

.print-header-contacts
  .contact
    align-items: flex-start

  .contact-text
    display: flex
    flex-direction: column

  .contact__icon
    margin-top: 4px
    margin-right: 16px

  .contact-text__value
    font-size: 24px
    line-height: 28px
    letter-spacing: 0.04em
    text-align: right

  .contact-text__label
    text-transform: none
    font-size: 16px
    line-height: 30px
    letter-spacing: 0.02em
    color: $main-color
    font-weight: normal