{{#map}}
<div class="contacts-map"
     id="contacts-map"
     data-x="{{dataX}}"
     data-y="{{dataY}}"
     data-balloon-content="{{balloonContent}}"
     data-icon-caption="{{iconCaption}}"></div>
{{/map}}