{{#links.isNotEmpty}}
<div class="contacts-messengers-links">
    <h2 class="contacts-messengers-links__title">{{{title}}}</h2>
    <div class="contacts-messengers-links-list">
        {{#links}}
        <a href="{{ href }}"
           class="contacts-messengers-link {{additionalCssClass}}"
           title="Написать в {{{title}}}"
            {{#targetBlank}}target="_blank"{{/targetBlank}}>
            {{{icon.inline}}}
            <span class="contacts-messengers-link__label">{{{text}}}</span>
        </a>
        {{/links}}
    </div>
</div>
{{/links.isNotEmpty}}