.contacts-messengers-links__title
  font-weight: 800
  font-size: 24px
  line-height: 120%
  text-align: center
  margin-bottom: 40px

.contacts-messengers-link
  padding: 17px 20px
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 30px
  border: 1px solid $gray20
  border-radius: 6px
  font-weight: 500
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.05em

  &:last-child
    margin-bottom: 0

.contacts-messengers-link__icon
  flex-shrink: 0
  margin-right: 15px
  max-width: 23px
  max-height: 23px

+mq(tablet)
  .contacts-messengers-links__title
    font-size: 26px
    line-height: 110%
    letter-spacing: 0.02em

  .contacts-messengers-links-list
    display: flex

  .contacts-messengers-link
    letter-spacing: 0.03em
    padding: 17px 32px
    width: calc(33.3333% - 35px)
    margin-right: 52px
    margin-bottom: 0

    &:nth-child(3n)
      margin-right: 0

  .contacts-messengers-link__icon
    margin-right: 11px

+mq(desktop)
  .contacts-messengers-links
    padding: 40px
    border: 1px solid $gray20
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
    border-radius: 6px

  .contacts-messengers-links-list
    width: 820px
    margin: 0 auto

  .contacts-messengers-link__icon
    path
      transition: $default-transition

  .contacts-messengers-link
    width: calc(33.3333% - 34px)
    margin-right: 50px
    transition: $default-transition

    &:hover
      border-color: $yellow8
      background: $yellow8
      color: $white

      .contacts-messengers-link__icon
        path
          fill: $white