<div class="form-group feedback-form__group">
    <textarea name="{{code}}"
              class="form__textarea form__control form__control_type-textarea feedback-form__control feedback-form__control_type-textarea{{requiredCssClass}}">{{value}}</textarea>
    <div class="form__placeholder">{{placeholder}}{{#required}}*{{/required}}</div>
</div>
