<div class="form-group form-group_date feedback-form__group  form-group_filled">
    <div class="form-group__icon">
        {{>background-calendar}}
    </div>
    <input id='input_date' type="text" class="form__control feedback-form__control_type_date feedback-form__control
    {{requiredCssClass}}{{maskCssClass}}{{additional_css_class}}"
           name="{{code}}"
           value="{{value}}"
           id="{{id}}">
    <div class="form__placeholder">{{placeholder}}{{#required}}*{{/required}}</div>
</div>