<div class="form-group form-group_datetime feedback-form__group form-group_filled">
    <div class="form-group__icon">
        {{>background-calendar}}
    </div>
    <input type="text" class="form__control feedback-form__control_type_datetime feedback-form__control
    {{requiredCssClass}}{{maskCssClass}}{{additional_css_class}}"
           name="{{code}}"
           value="{{value}}"
           readonly>
    <div class="form__placeholder">{{placeholder}}{{#required}}*{{/required}}</div>
    {{>popup-calendar}}
</div>