<div class="form-group feedback-form__group">
    <input class="form__control form__control_type-file feedback-form__control feedback-form__control_type_file{{requiredCssClass}}"
           type="file"
           name="{{code}}{{#multiple}}[]{{/multiple}}" {{#multiple}}multiple{{/multiple}}>
    <button class="form__control_type-file-button form__pseudo-file-control feedback-form__pseudo-file-control"
            type="button">
        <span class="form-file-inner">
            <div class="form-file__text">Прикрепите файл</div>
            <div class="form-file__note">Не больше 10mb</div>
        </span>
    </button>
</div>
