<div class="form-group feedback-form__group">
    <input name="{{code}}"
           type="{{#typeInput}}{{.}}{{/ typeInput }}{{^typeInput }}text{{/typeInput}}"
           class="form__control form__control_type-text feedback-form__control feedback-form__control_type-text{{requiredCssClass}}{{maskCssClass}}{{additional_css_class}}">
    <div class="form__placeholder">{{placeholder}}{{#required}}*{{/required}}</div>
</div>