.form__subtitle
  font-size: 16px
  line-height: 130%
  margin-top: 12px

.form-group
  margin-top: 20px
  position: relative
  overflow: hidden
  z-index: 0

  .feedback-form__control_type_date
    padding-right: 50px

  &_filled
    .form__placeholder
      font-size: 10px
      line-height: 12px
      top: 5px!important

.form-group__note
  font-size: 12px
  margin-top: 5px

.form-group__icon
  position: absolute
  right: 25px
  top: 19px
  width: 22px
  height: 22px
  z-index: -1

.form__control
  border: 1px solid transparent
  border-radius: 4px
  background-color: #fff
  outline: none
  font-family: $default-font
  font-size: 16px
  font-weight: 400
  line-height: 16px
  color: $gray90
  padding: 22px 24px
  width: 100%
  box-shadow: none !important
  transition: $default-transition
  letter-spacing: 0.05em
  height: 60px
  opacity: 1

  &:not(.feedback-form__control_type_datetime):focus + .form__placeholder
    font-size: 10px
    line-height: 12px
    top: 5px

.form__placeholder
  position: absolute
  left: 24px
  top: 22px
  font-size: 14px
  line-height: 16px
  font-weight: normal
  letter-spacing: 0.05em
  color: rgba(22, 22, 22, 0.6)
  transition: $default-transition
  opacity: 1
  pointer-events: none

.form__textarea
  display: block
  resize: vertical
  height: 90px
  transition: all $default-transition, height 0s

.form-submit-container
  margin-top: 25px

.form-uc
  font-size: 12px
  line-height: 130%
  color: #8C8C8C
  margin-top: 15px

  a
    color: $red
    transition: $default-transition
    border-bottom: solid 1px

    &:hover
      border-bottom-color: transparent

.form-file
  position: relative
  display: block
  border-style: dashed
  cursor: pointer

.form-file__text
  color: $red
  display: inline-block
  border-bottom: solid 1px
  width: auto

.form-hidden
  position: absolute
  opacity: 0
  visibility: hidden
  width: 0
  height: 0
  z-index: -1

.form__control_type-file
  position: absolute
  width: 0
  height: 0
  opacity: 0
  visibility: hidden
  z-index: -1

.form__control_type-file-button
  background: #FFFFFF
  border: 1px dashed rgba(0, 0, 0, 0.08)
  border-radius: 3px
  font-size: 16px
  font-weight: 300
  height: 92px
  line-height: 140%
  padding: 17px 28px 18px
  text-align: left
  width: 100%

.form__submit
  background: linear-gradient(166.4deg, #FFB800 50%, #FFCD12 100%)
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
  color: #FFFFFF
  height: 60px
  padding: 22px

.feedback-form__group_has-error > .form__control_type-text,
.feedback-form__group_has-error > .form__control_type-textarea,
.feedback-form__group_has-error > .feedback-form__control_type_datetime
  opacity: 1
  background: linear-gradient(0deg, rgba(255, 106, 106, 0.12), rgba(255, 106, 106, 0.12)), #FFFFFF!important
  border: 1px solid rgba(255, 106, 106, 0.8)

.feedback-form__group_has-error > .form__placeholder
  color: $red

+mq(tablet)
  .form__subtitle
    font-size: 20px
    margin-top: 40px
    line-height: 150%

  .form__submit
    font-size: 16px
    padding: 22px

  .form-uc
    font-size: 14px

+mq(desktop)

  .form__control
    opacity: 0.8
    transition: $default-transition

    &:hover
      opacity: 1

    &:not(.feedback-form__control_type_datetime):focus
      opacity: 1

  .form__submit
    border: none
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)

    &:hover
      background: linear-gradient(166.4deg, #E9C02C 50%, #FFCD12 100%)
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)

    &:active
      background: #E9C02C
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)

