{{^isArchive}}
    {{#apartments.isNotEmpty}}
        <div class="project-detail-prices">
            {{#apartments.values}}
                <div class="project-detail-prices-item">
                    <div class="project-detail-prices-item__label">{{{name}}}</div>
                    <div class="project-detail-prices-item-value">
                        {{#properties.values}}
                            <span class="{{#filledText}}project-detail-prices-item-value__price{{/filledText}}
                                         {{^filledText}}project-detail-prices-item-value__units{{/filledText}}">
                                {{#prefixText}}{{{.}}} {{/prefixText}}{{{implodeValues}}}
                            </span>
                        {{/properties.values}}
                    </div>
                </div>
            {{/apartments.values}}
        </div>
    {{/apartments.isNotEmpty}}
{{/isArchive}}
