.collapsed-block-container
  max-height: 150px
  font-size: 12px
  line-height: 25px
  overflow: hidden
  position: relative
  z-index: 0
  transition: 0.7s

  &::after
    content: ''
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 72px
    z-index: 1
    transition: 0.7s
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 95.26%)

  &_open
    &::after
      opacity: 0
      z-index: -1

.collapsed-block-trigger
  margin-top: 10px
  font-weight: 500
  font-size: 14px
  line-height: 19px
  border-bottom: 1px dashed $main-color
  letter-spacing: 0.03em

.collapsed-block-trigger__icon
  transition: 0.8s

.collapsed-block_hide-trigger
  .collapsed-block-container::after
    opacity: 0
    z-index: -1

+mq(tablet)
  .collapsed-block-container
    font-size: 14px

  .collapsed-block-trigger
    margin-top: 25px

+mq(desktop)
  .collapsed-block-container
    &::after
      height: 116px

  .collapsed-block-trigger
    margin-top: 13px