{{# roomTriggers.isNotEmpty }}
    <div class="project-detail-futures">
        {{# roomTriggers.values }}
            <div class="project-detail-future">
                <div class="project-detail-future__icon">{{{ icon.inline }}}</div>
                <div class="project-detail-future__text">{{{ name }}}</div>
            </div>
        {{/ roomTriggers.values }}
    </div>
{{/ roomTriggers.isNotEmpty }}
