.project-detail-futures
  margin: 30px 0 50px

.project-detail-futures__title
  font-weight: 500
  font-size: 18px
  line-height: 30px
  letter-spacing: 0.03em
  margin-bottom: 31px

.project-detail-future
  display: flex
  align-items: center
  margin-bottom: 30px

.project-detail-future__icon
  flex-shrink: 0
  margin-right: 23px

.project-detail-future__text
  font-weight: 600
  font-size: 14px
  line-height: 20px

+mq(tablet)
  .project-detail-futures
    margin-top: 30px
    display: flex
    flex-wrap: wrap

  .project-detail-futures__title
    font-size: 24px

  .project-detail-future
    width: calc(33.3333% - 13px)
    margin-right: 19px

    &:nth-child(3n)
      margin-right: 0

+mq(desktop)
  .project-detail-futures
    margin-top: 64px

  .project-detail-futures__title
    margin-bottom: 50px

  .project-detail-future
    width: calc(33.3333% - 28px)
    margin-right: 42px
    margin-bottom: 60px

  .project-detail-future__text
    font-weight: 500
    font-size: 16px
    line-height: 22px