.selectric-wrapper
  &.selectric-open
    .selectric
      background: $white

  .selectric
    background: $white
    border: 1px solid rgba(52, 39, 51, 0.3)
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07)
    border-radius: 5px

    .label
      padding: 14px 20px 17px
      font-size: 14px
      font-weight: 500
      line-height: 17px
      margin-right: 56px

    .button
      height: 100%
      background: url('/local/assets/images/select/select-arrow.png') no-repeat 50%

  .selectric-items
    margin-top: 6px
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07)
    border: 1px solid rgba(52, 39, 51, 0.3)
    li
      font-weight: 500
      font-size: 14px
      line-height: 17px
      padding: 14px 20px 17px
      transition: $default-transition
      &:hover
        background: rgba(212, 222, 225, 0.5)
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07)

        &.selected
          box-shadow: none

      &.selected
        color: rgba(59, 59, 59, 0.3)
        background: none

        &.highlighted
          background: none

        &::after
          content: none
          display: none

    &::after,
    &::before
      content: none
      display: block

+mq(tablet)
  .selectric-wrapper
    .selectric
      .label
        padding-left: 31px

    .selectric-items
      li
        padding-left: 31px