{{#items.isNotEmpty}}
    <section class="archive">
        {{#title}}
            <h2 class="archive__title">{{{.}}}</h2>
        {{/title}}
        <div class="archive__content">
            <div class="swiper-container archive__slider">
                <div class="swiper-wrapper archive__slider-wrapper">
                    {{#items.values}}
                        <div class="swiper-slide archive__slide">
                            {{>archive-item}}
                        </div>
                    {{/items.values}}
                </div>
            </div>
            <div class="swiper-pagination archive__pagination"></div>
            <div class="swiper-button-prev article-slider__button-prev">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.149816 4.99997C0.149816 4.82075 0.218246 4.64155 0.354819 4.50492L4.65464 0.205141C4.92816 -0.0683806 5.37163 -0.0683805 5.64504 0.205141C5.91845 0.478553 5.91845 0.921933 5.64504 1.19548L1.84032 4.99997L5.64491 8.80449C5.91832 9.07801 5.91832 9.52135 5.64491 9.79474C5.37149 10.0684 4.92803 10.0684 4.6545 9.79474L0.354686 5.49503C0.218091 5.35832 0.149816 5.17913 0.149816 4.99997Z"
                          fill="#342733"/>
                </svg>
            </div>
            <div class="swiper-button-next article-slider__button-next">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.85018 5.00003C5.85018 5.17925 5.78175 5.35845 5.64518 5.49508L1.34536 9.79486C1.07184 10.0684 0.628372 10.0684 0.354961 9.79486C0.0815497 9.52145 0.0815498 9.07807 0.354961 8.80452L4.15968 5.00003L0.355095 1.19551C0.0816842 0.921987 0.0816842 0.478651 0.355095 0.205261C0.628506 -0.0683927 1.07197 -0.0683926 1.3455 0.205261L5.64531 4.50497C5.78191 4.64168 5.85018 4.82087 5.85018 5.00003Z"
                          fill="#342733"/>
                </svg>
            </div>
            <div class="archive__link-wrapper desktop-only">
                {{# link.href }}
                    {{# link.text }}
                        <a class="archive__link{{# link.additionalCssClass }} {{ . }}{{/ link.additionalCssClass }}"
                           href="{{ link.href }}"
                            {{# link.targetBlank }} target="_blank"{{/ link.targetBlank }}
                           title="{{ link.title }}">{{{ link.text }}}</a>
                    {{/ link.text }}
                {{/ link.href }}
            </div>
        </div>
    </section>
{{/items.isNotEmpty}}
