@import "../archive-item/archive-item"

.archive
  margin-top: 60px
  margin-bottom: 60px

.archive__title
  color: $main-color
  font-weight: 800
  font-size: 24px
  line-height: 120%

.archive__slider
  margin-top: 30px
  padding: 0 0 5px

.archive__slide
  border-radius: 6px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
  overflow: hidden
  position: relative
  transition: $default-transition

.archive__pagination
  display: flex
  justify-content: flex-end
  margin-top: 20px
  font-weight: 600
  font-size: 16px
  letter-spacing: 0.05em
  position: static

  .swiper-pagination-current
    display: block
    opacity: 1
    margin-right: 2px
    width: 22px

  .swiper-pagination-total
    display: block
    opacity: 0.5
    margin-left: 2px
    width: 22px

.article-slider__button-prev, .article-slider__button-next
  display: none

+mq(tablet)

  .archive
    margin-top: 60px
    margin-bottom: 70px

  .archive__title
    font-size: 36px

  .archive__slider
    margin-top: 40px

  .archive .archive__pagination
    display: flex
    justify-content: center
    margin: 29px auto 0

    .swiper-pagination-bullet
      background: $gray20
      border-radius: 50%
      height: 10px
      margin: 0 15px!important
      opacity: 1
      width: 10px
      transition: $default-transition
      outline: none

    .swiper-pagination-bullet-active
      background: $yellow8

+mq(desktop)

  .archive
    margin-top: 80px
    margin-bottom: 80px

  .archive__content
    position: relative

  .archive__slide:hover
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)

  .archive__slide-content
    padding: 20px 30px 31px

  .archive__slide-title
    font-size: 16px

  .archive .archive__pagination
    display: none

  .article-slider__button-prev, .article-slider__button-next
    border: 1px solid #EFEFEF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
    border-radius: 100px
    width: 46px
    height: 46px
    top: 50%
    z-index: 4
    outline: none
    opacity: 0.8
    transition: $default-transition

    &:hover
      opacity: 1

    &:after
      display: none

  .article-slider__button-prev
    left: -60px

  .article-slider__button-next
    right: -60px

  .archive .swiper-button-disabled
    cursor: default

  .article-slider__button-prev[role=button], .article-slider__button-next[role=button]
    display: flex

  .archive__link-wrapper
    display: flex
    margin-top: 35px

  .archive__link
    border-bottom: 1px solid $main-color
    color: $main-color
    font-weight: 700
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.05em
    transition: $default-transition

    &:hover
      border-color: transparent