.article-main
  color: $main-color
  font-size: 14px
  line-height: 30px
  letter-spacing: 0.03em

  a:not(.link-as-card)
    border-bottom: 1px solid $yellow
    color: $yellow
    transition: $default-transition

    &:hover
      border-bottom: 1px solid transparent


  h1
    color: $main-color
    font-weight: 800
    font-size: 24px
    line-height: 120%
    margin-top: 35px
    margin-bottom: 20px

    &:nth-of-type(1)
      margin-top: 0

  h2
    color: $main-color
    font-weight: 500
    font-size: 18px
    line-height: 30px
    letter-spacing: 0.03em
    margin-top: 35px
    margin-bottom: 20px

  h3
    color: $main-color
    font-size: 16px
    line-height: 25px
    letter-spacing: 0.03em
    margin-top: 35px
    margin-bottom: 20px

  p
    color: $main-color
    font-size: 14px
    line-height: 30px
    letter-spacing: 0.03em
    margin-top: 20px
    margin-bottom: 20px

  blockquote
    border-left: 2px solid $yellow8
    color: $main-color
    font-weight: 500
    font-size: 18px
    line-height: 30px
    letter-spacing: 0.03em
    margin: 40px 0
    padding-left: 17px

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      color: $main-color
      font-size: 14px
      line-height: 155%
      padding-left: 19px
      position: relative
      margin: 30px 0

      &:before
        background: $yellow8
        content: ''
        height: 2px
        position: absolute
        left: 0
        top: 8px
        width: 10px

  ol
    counter-reset: myCounter
    margin: 0
    padding: 0

    li
      color: $main-color
      font-size: 14px
      line-height: 155%
      list-style: none
      margin: 30px 0
      padding-top: 43px
      position: relative

    li:before
      background: $yellow8
      counter-increment: myCounter
      content: counter(myCounter)
      color: white
      background: $yellow8
      display: inline-block
      text-align: center
      line-height: 28px
      width: 28px
      height: 28px
      position: absolute
      top: 0
      left: 0

  figure
    margin: 30px 0
    position: relative
    width: 100%

    img
      height: auto
      vertical-align: top
      margin: 0
      width: 100%

  img
    margin: 30px 0
    width: 100%

.article-main__video
  background-size: cover
  height: 260px
  margin: 40px 0
  position: relative
  width: 100%

  &:before
    background: rgba(52, 39, 51, 0.7)
    content: ''
    position: absolute
    height: 100%
    transition: $default-transition
    width: 100%

.article-main__video-name
  background: rgba(52, 39, 51, 0.8)
  opacity: 0.8
  color: #FFFFFF
  font-weight: 600
  font-size: 15px
  line-height: 20px
  letter-spacing: 0.05em
  padding: 14px 10px
  position: absolute
  bottom: 0
  text-align: center
  width: 100%

.article-main__video-icon
  position: absolute
  top: 25%
  left: 50%
  transform: translateX(-50%)

.article-main__tags
  align-items: center
  color: $main-color
  display: flex
  font-weight: 500
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.05em
  opacity: 0.5

.article-main__tag-hashtag, .article-main__tag-views, .article-main__tag-date
  align-items: center
  display: flex
  margin-right: 25px

  svg
    flex-shrink: 0
    fill-opacity: 0.5
    margin-right: 9px

.article-main__tags.article-main__tags_top

  .article-main__tag-views, .article-main__tag-date
    display: none

.article-main__bottom
  align-items: center
  display: flex
  justify-content: space-between
  height: 46px
  margin-top: 25px
  position: relative
  width: 100%

+mq(tablet)

  .article-main
    font-size: 16px

    h1
      font-size: 30px

    h2
      font-size: 24px
      margin-top: 50px
      margin-bottom: 28px

    h3
      font-size: 22px
      line-height: 30px
      margin-top: 50px
      margin-bottom: 28px

    p
      font-size: 16px
      margin-top: 30px
      margin-bottom: 30px

    blockquote
      font-size: 24px

    ul

      li
        font-size: 16px
        margin: 25px 0
        padding-left: 52px

        &:before
          top: 13px
          width: 27px

    ol

      li
        font-size: 16px
        margin: 45px 0
        padding-top: 0
        padding-left: 64px

      li:before
        line-height: 32px
        width: 32px
        height: 32px
        top: 0
        left: 0

    figure
      margin: 40px 0

    img
      margin: 40px 0

  .article-main__video
    height: 435px

  .article-main__video-name
    padding: 7px 27px
    text-align: left

  .article-main__video-icon
    top: 40%

  .article-main__tags
    font-size: 14px

  .article-main__tags.article-main__tags_top

    .article-main__tag-views, .article-main__tag-date
      display: flex

  .article-main__tag-hashtag, .article-main__tag-views, .article-main__tag-date
    margin-right: 30px

  .article-main__tags.article-main__tags_bottom
    display: none

  .article-main__bottom
    margin-top: 57px
    padding-right: 58px

  .article-main__bottom-link
    border: none!important
    align-items: center
    color: $main-color!important
    display: flex
    font-weight: 600
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.05em
    opacity: 0.5
    transition: $default-transition

    svg
      flex-shrink: 0
      margin-right: 15px

+mq(desktop)

  .article-main
    font-size: 18px
    position: relative
    width: 912px

    h1
      font-size: 36px

    h2
      font-size: 28px
      margin-top: 65px

    h3
      font-size: 24px
      line-height: 30px
      margin-top: 65px

    p
      font-size: 18px

    ul

      li
        font-size: 18px

    ol

      li
        font-size: 18px
        margin: 40px 0

      li:before
        width: 32px
        height: 32px
        top: 0
        left: 0

    figure:nth-of-type(1)
      margin-top: 60px

      + h2
        margin-top: 35px

      + h3
        margin-top: 35px

  .article-main__video
    height: 564px
    margin: 80px 0

    &:hover

      &:before
        background: transparent

  .article-main__video-name
    font-size: 16px
    padding: 12px 27px

  .article-main__tags
    font-weight: 600

  .article-main__bottom
    margin-top: 45px

  .article-main__bottom-link:hover
    opacity: 0.8


  .article-main_svg1, .article-main_svg2, .article-main_svg3, .article-main_svg4
    position: absolute
    right: -270px
    z-index: 1

  .article-main_svg1
    top: 100px

  .article-main_svg2
    top: 35%

  .article-main_svg3
    top: 55%

  .article-main_svg4
    top: 90%