@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import "../article-main/article-main"
@import "../article-slider/article-slider"
@import "../article-else/article-else"
@import "../consultation-form/consultation-form"
@import "../article-form/article-form"
@import "../index-text/index-text"
@import "../site-socials/site-socials"
@import "../scrollup/scrollup"

.article
  margin-top: 20px

.article__svg1, .article__svg2, .article__svg3, .article__svg4, .article__svg5
  display: none

.article__bottom
  padding: 50px 0

+mq(tablet)

  .article__bottom
    padding: 59px 0 36px

+mq(desktop)

  .article__bottom
    padding: 51px 0 90px

+mq(wide-screen)

  .article
    margin-top: 27px
    position: relative
    overflow: hidden

  .article__svg1, .article__svg2, .article__svg3, .article__svg4, .article__svg5
    display: block
    position: absolute
    z-index: 1

  .article__svg1
    top: 500px
    left: 1%

  .article__svg2
    top: 30%
    left: 2%

  .article__svg3
    top: 55%
    left: -10px

  .article__svg4
    top: 80%
    left: 2%

  .article__svg5
    bottom: 150px
    right: -20px
