.scrollup
  opacity: 0
  visibility: hidden
  position: absolute
  z-index: 0

+mq(desktop)

  .scrollup
    position: fixed
    right: 150px
    bottom: 50px
    z-index: 4
    align-items: center
    background: #BCCBCF
    border-radius: 100%
    cursor: pointer
    display: flex
    height: 52px
    justify-content: center
    opacity: 0.6
    transition: $default-transition
    visibility: visible
    width: 52px

    &:hover
      opacity: 1
