<div class="scrollup">
    <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.3909 9.79693L12.0085 0.41452C11.7409 0.146911 11.3839 0 10.9956 0C10.6149 0 10.258 0.146911 9.99044 0.41452L0.607822 9.79693C0.0535777 10.3514 0.0535777 11.2538 0.607822 11.8078L1.45969 12.6601C1.7273 12.9275 2.08433 13.0746 2.46524 13.0746C2.84594 13.0746 3.21522 12.9275 3.48262 12.6601L8.96841 7.18615V24.5768C8.96841 25.3606 9.58226 26 10.3661 26H11.5709C12.3547 26 13.0307 25.3606 13.0307 24.5768V7.12442L18.5476 12.6601C18.815 12.9275 19.1625 13.0746 19.5434 13.0746C19.9243 13.0746 20.2761 12.9275 20.5439 12.6601L21.3932 11.8078C21.9477 11.2536 21.9456 10.3514 21.3909 9.79693Z" fill="white"/>
    </svg>
</div>