.project-layout-floor-tabs
  display: flex
  flex-wrap: nowrap

.project-layout-floor-tab
  border: none
  width: auto
  margin-right: 25px

  &.sections-filter-tabs-item_active
    .project-layout-floor-tab__button
      background: $yellow8
      opacity: 1
      color: $white
      border: 1px solid $yellow8

  &:last-child
    margin-right: 0

.project-layout-floor-tab__button
  transition: $default-transition
  background: rgba(240, 244, 245, 0.2)
  border: 1px solid $gray20
  border-radius: 30px
  padding: 14px 35px

  font-weight: 600
  font-size: 16px
  line-height: 16px
  text-align: center
  letter-spacing: 0.03em
  color: rgba(22, 22, 22, 0.4)
  opacity: 0.6

  &:hover
    color: $yellow8

.sections-filter-tabs-item_active
  .project-layout-floor-tab__button
    &:hover
      cursor: default

.project-layout-floor-tabs-container
  overflow: hidden

+mq(tablet, max)
  .project-layout-floor-tabs
    display: none

+mq(tablet)
  .project-layout-floor-combobox-wrapper
    display: none

+mq(desktop)
  .project-layout-floor-tabs-container
    margin-top: -40px

  .project-layout-floor-tabs
    justify-content: flex-start