.product-card
  min-height: 426px
  margin-bottom: 25px

  &_sale
    .product-card-price__value
      &::after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 9px
        background: rgba(255, 184, 0, 0.25)
        z-index: -1

    .product-card-price__unit-value
      margin-left: 0
      position: absolute
      left: 0
      bottom: -17px

    .product-card-price
      display: block

.product-card__img
  background-size: cover
  background-repeat: no-repeat
  padding-top: 77%

.product-card-name-group
  font-size: 14px
  line-height: 18px
  margin-bottom: 26px

.product-card__square
  font-weight: 600

.product-card-price-group
  display: flex
  position: relative
  margin-bottom: 40px

.product-card-price
  display: flex
  align-items: center

.product-card-price__value
  font-weight: bold
  font-size: 18px
  line-height: 16px
  position: relative
  z-index: 0

.product-card-price__unit-value
  margin-left: 30px
  margin-top: 3px
  font-size: 14px
  line-height: 16px
  color: rgba(22, 22, 22, 0.3)

.product-card__old-price
  margin-left: 16px
  font-size: 16px
  line-height: 16px
  color: rgba(22, 22, 22, 0.3)
  text-decoration: line-through

.product-card-address
  font-size: 14px
  line-height: 18px
  color: rgba(22, 22, 22, 0.4)

@media only screen and (min-width: 375px)
  .product-card
    &_sale
      .product-card-price__value
        margin-right: 20px

+mq(tablet)
  .product-card
    min-height: 417px

  .product-card__img
    padding-top: 62%

  .product-card-name-group
    font-size: 16px
    margin-bottom: 39px

+mq(desktop)
  .product-card
    min-height: 367px
    transition: $default-transition
    position: relative
    z-index: 0

    &::after
      content: ''
      +absoluteFluid
      display: block
      transition: $default-transition
      z-index: -1
      transform: scaleX(0)
      transform-origin: left top
      background: #FFB800

    &:hover
      color: $white

      &::after
        transform: scaleX(1)

      .product-card__old-price,
      .product-card-price__unit-value,
      .product-card-address
        color: $white

  .product-card__old-price,
  .product-card-price__unit-value,
  .product-card-address
    transition: $default-transition

  .product-card-name-group
    font-size: 15px
    line-height: 18px
    min-height: 35px
    margin-bottom: 16px