<div class="product-card product-card_sale card">
    <div class="product-card__img animate b-lazy"
         data-src="{{image.src}}"></div>
    <div class="card-sticker card-sticker_yellow">
        <div class="card-sticker__text">скидка</div>
        <div class="card-sticker__value">{{discount}}%</div>
    </div>
    <div class="product-card-info card-info">
        <div class="product-card-name-group">
            <span class="product-card__name">{{{detailPageLink.text}}}</span>,
            <span class="product-card__square">{{{square}}} м<sup>2</sup></span>
        </div>
        <div class="product-card-price-group">
            <div class="product-card-price">
                <div class="product-card-price__value">{{{fullPrice}}}</div>
                {{#price}}
                    <div class="product-card-price__unit-value">{{{price}}} | м2</div>
                {{/price}}
            </div>
            <div class="product-card__old-price">{{{oldFullPrice}}}</div>
        </div>
        <div class="product-card-address">{{{address}}}</div>
    </div>
    <a class="link-as-card"
        {{# strMainId }} id="{{ . }}"{{/ strMainId }}
       href="{{detailPageLink.href}}"
       title="{{detailPageLink.title}}"
        {{#detailPageLink.targetBlank}} target="_blank"{{/detailPageLink.targetBlank}}></a>
</div>
