<section class="consultation-form">
    <div class="container consultation-form__container">
        <svg class="consultation-form__mobil-svg tablet-hide" width="239" height="124" viewBox="0 0 239 124" fill="none"
             xmlns="http://www.w3.org/2000/svg" style="mix-blend-mode:overlay">
            <path d="M45.437 17.9224L68.9704 4.48626L84.7422 26.1596L61.2063 39.5922L45.437 17.9224Z" stroke="#D4DEE1"
                  stroke-miterlimit="10"/>
            <path d="M84.7421 26.1595L82.4851 39.937L58.9492 53.3696L61.2061 39.5921L84.7421 26.1595Z" stroke="#D4DEE1"
                  stroke-miterlimit="10"/>
            <path d="M61.2061 39.592L58.9491 53.3695L43.1799 31.6997L45.4368 17.9222L61.2061 39.592Z" stroke="#D4DEE1"
                  stroke-miterlimit="10"/>
            <path d="M167.09 67.2051L194.824 75.6525L189.539 103.838L161.806 95.386L167.09 67.2051Z" stroke="#D4DEE1"
                  stroke-miterlimit="10"/>
            <path d="M189.538 103.838L177.16 112.197L149.427 103.745L161.805 95.3861L189.538 103.838Z" stroke="#D4DEE1"
                  stroke-miterlimit="10"/>
            <path d="M161.806 95.3854L149.428 103.745L154.712 75.5638L167.09 67.2044L161.806 95.3854Z" stroke="#D4DEE1"
                  stroke-miterlimit="10"/>
            <path d="M217.695 59.1238L216.829 58.6238L216.329 59.4898L217.195 59.9898L217.695 59.1238ZM219.625 57.0783L220.166 57.919L219.625 57.0783ZM222.076 55.9997L222.316 56.9705L222.326 56.9682L222.335 56.9656L222.076 55.9997ZM224.58 55.408L224.779 56.388L224.789 56.3859L224.8 56.3835L224.58 55.408ZM226.869 54.61L227.313 55.5064L227.32 55.5027L227.327 55.4989L226.869 54.61ZM228.722 50.6084L227.792 50.9763L227.796 50.9863L227.801 50.9962L228.722 50.6084ZM223.747 47.7776L223.656 46.7817L223.656 46.7817L223.747 47.7776ZM220.996 49.0156L220.134 49.5233L220.746 50.5623L221.654 49.7683L220.996 49.0156ZM218.917 45.4877L218.295 44.7049L217.614 45.246L218.055 45.9953L218.917 45.4877ZM223.685 43.7094L223.711 44.7091L223.716 44.709L223.685 43.7094ZM232.697 49.4116L233.625 49.0389L233.625 49.0389L232.697 49.4116ZM230.203 57.1165L230.754 57.9511L230.763 57.945L230.203 57.1165ZM227.715 58.2575L227.456 57.2915L227.456 57.2915L227.715 58.2575ZM225.176 58.9115L225.396 59.887L225.406 59.8847L225.416 59.8823L225.176 58.9115ZM222.868 59.7407L222.41 58.8518L222.41 58.8518L222.868 59.7407ZM221.281 61.1938L220.781 62.0598L221.647 62.5598L222.147 61.6938L221.281 61.1938ZM217.376 67.6689L217.635 68.6348L217.376 67.6689ZM215.948 62.4382L215.689 61.4722L215.678 61.4752L215.667 61.4785L215.948 62.4382ZM219.284 64.3642L220.25 64.1053L219.284 64.3642ZM218.561 59.6238C218.977 58.9034 219.511 58.3407 220.166 57.919L219.083 56.2376C218.15 56.8388 217.397 57.6398 216.829 58.6238L218.561 59.6238ZM220.166 57.919C220.876 57.4618 221.592 57.1494 222.316 56.9705L221.837 55.0289C220.88 55.2652 219.961 55.6719 219.083 56.2376L220.166 57.919ZM222.335 56.9656C223.169 56.7422 223.984 56.5497 224.779 56.388L224.38 54.4281C223.543 54.5984 222.688 54.8004 221.818 55.0338L222.335 56.9656ZM224.8 56.3835C225.698 56.1808 226.537 55.8897 227.313 55.5064L226.426 53.7136C225.805 54.0207 225.118 54.2616 224.36 54.4325L224.8 56.3835ZM227.327 55.4989C228.189 55.0551 228.874 54.4332 229.341 53.6258L227.608 52.6258C227.355 53.0653 226.97 53.433 226.411 53.7211L227.327 55.4989ZM229.341 53.6258C229.974 52.5292 230.124 51.3612 229.644 50.2207L227.801 50.9962C227.998 51.4662 227.983 51.9764 227.608 52.6258L229.341 53.6258ZM229.652 50.2406C229.219 49.1455 228.355 48.2855 227.205 47.6213L226.205 49.3534C227.091 49.8652 227.572 50.4193 227.792 50.9763L229.652 50.2406ZM227.205 47.6213C226.073 46.968 224.883 46.6698 223.656 46.7817L223.838 48.7735C224.601 48.7038 225.383 48.8788 226.205 49.3534L227.205 47.6213ZM223.656 46.7817C222.427 46.894 221.316 47.4066 220.337 48.2629L221.654 49.7683C222.354 49.1557 223.078 48.8429 223.838 48.7735L223.656 46.7817ZM221.857 48.508L219.779 44.9801L218.055 45.9953L220.134 49.5233L221.857 48.508ZM219.539 46.2706C220.812 45.2587 222.195 44.7489 223.711 44.7091L223.659 42.7098C221.686 42.7616 219.89 43.4373 218.295 44.7049L219.539 46.2706ZM223.716 44.709C225.295 44.6605 226.822 45.0541 228.314 45.9156L229.314 44.1835C227.522 43.149 225.63 42.6492 223.654 42.7099L223.716 44.709ZM228.314 45.9156C229.986 46.8809 231.12 48.1684 231.769 49.7843L233.625 49.0389C232.796 46.9747 231.342 45.3542 229.314 44.1835L228.314 45.9156ZM231.769 49.7843C232.383 51.3113 232.262 52.8456 231.32 54.4775L233.052 55.4775C234.27 53.3682 234.49 51.1919 233.625 49.0389L231.769 49.7843ZM231.32 54.4775C230.89 55.222 230.333 55.8217 229.643 56.288L230.763 57.945C231.709 57.3052 232.474 56.4789 233.052 55.4775L231.32 54.4775ZM229.652 56.282C228.927 56.7606 228.195 57.0935 227.456 57.2915L227.974 59.2234C228.939 58.9647 229.866 58.5369 230.754 57.951L229.652 56.282ZM227.456 57.2915C226.61 57.5183 225.77 57.7346 224.936 57.9407L225.416 59.8823C226.262 59.6731 227.115 59.4534 227.974 59.2234L227.456 57.2915ZM224.956 57.936C224.05 58.1403 223.2 58.4446 222.41 58.8518L223.326 60.6296C223.956 60.3048 224.645 60.0563 225.396 59.887L224.956 57.936ZM222.41 58.8518C221.555 59.2923 220.872 59.9015 220.415 60.6938L222.147 61.6938C222.385 61.2806 222.761 60.921 223.326 60.6296L222.41 58.8518ZM221.781 60.3277L218.195 58.2577L217.195 59.9898L220.781 62.0598L221.781 60.3277ZM217.117 66.703C216.651 66.8279 216.241 66.7736 215.828 66.5348L214.828 68.2668C215.703 68.772 216.658 68.8965 217.635 68.6348L217.117 66.703ZM215.828 66.5348C215.414 66.2959 215.162 65.9682 215.037 65.5021L213.105 66.0197C213.367 66.9961 213.953 67.7617 214.828 68.2668L215.828 66.5348ZM215.037 65.5021C214.912 65.036 214.967 64.6262 215.205 64.2125L213.473 63.2125C212.968 64.0875 212.844 65.0433 213.105 66.0197L215.037 65.5021ZM215.205 64.2125C215.452 63.7862 215.781 63.5292 216.229 63.3978L215.667 61.4785C214.714 61.7576 213.971 62.3503 213.473 63.2125L215.205 64.2125ZM216.207 63.4041C216.664 63.2816 217.085 63.3347 217.528 63.5903L218.528 61.8582C217.64 61.3459 216.675 61.2082 215.689 61.4722L216.207 63.4041ZM217.528 63.5903C217.941 63.8291 218.193 64.1569 218.318 64.623L220.25 64.1053C219.988 63.129 219.403 62.3634 218.528 61.8582L217.528 63.5903ZM218.318 64.623C218.443 65.0891 218.389 65.4988 218.15 65.9125L219.882 66.9125C220.387 66.0376 220.512 65.0817 220.25 64.1053L218.318 64.623ZM218.15 65.9125C217.911 66.3262 217.583 66.5781 217.117 66.703L217.635 68.6348C218.611 68.3732 219.377 67.7875 219.882 66.9125L218.15 65.9125Z"
                  fill="#D4DEE1"/>
            <path d="M12.1336 48.68L11.1716 48.9529L11.4444 49.9149L12.4065 49.642L12.1336 48.68ZM12.0104 45.871L12.9907 46.0683L12.0104 45.871ZM12.9448 43.3607L13.8083 43.865L13.8132 43.8566L13.818 43.848L12.9448 43.3607ZM14.2643 41.1528L15.1061 41.6926L15.1119 41.6836L15.1174 41.6746L14.2643 41.1528ZM15.2872 38.9542L16.239 39.2608L16.2416 39.2529L16.244 39.2449L15.2872 38.9542ZM13.7076 34.837L13.3236 35.7603L13.3336 35.7645L13.3436 35.7684L13.7076 34.837ZM8.21071 36.4337L7.43297 35.8051L7.43297 35.8051L8.21071 36.4337ZM7.18172 39.2702L6.94559 40.2419L8.1175 40.5267L8.18036 39.3223L7.18172 39.2702ZM3.20284 38.3033L2.20776 38.2042L2.12159 39.0697L2.96671 39.275L3.20284 38.3033ZM5.24901 33.6441L5.98442 34.3217L5.98742 34.3184L5.24901 33.6441ZM15.6184 31.1517L15.9976 30.2263L15.9976 30.2263L15.6184 31.1517ZM19.4076 38.3093L20.3901 38.4955L20.392 38.4848L19.4076 38.3093ZM18.4928 40.8888L17.6196 40.4015L17.6196 40.4016L18.4928 40.8888ZM17.1929 43.166L18.0459 43.6878L18.0513 43.6791L18.0564 43.6704L17.1929 43.166ZM16.1799 45.3992L15.223 45.1086L15.223 45.1086L16.1799 45.3992ZM16.1165 47.5502L16.3894 48.5122L17.3514 48.2393L17.0785 47.2773L16.1165 47.5502ZM18.041 54.8625L18.9143 55.3498L18.041 54.8625ZM13.2939 52.2426L12.4206 51.7553L12.415 51.7654L12.4095 51.7757L13.2939 52.2426ZM16.9996 51.1914L17.4869 50.3181L16.9996 51.1914ZM13.0956 48.4071C12.8686 47.6069 12.837 46.8318 12.9907 46.0683L11.03 45.6737C10.8109 46.7622 10.8615 47.8598 11.1716 48.9529L13.0956 48.4071ZM12.9907 46.0683C13.1573 45.2405 13.4321 44.5091 13.8083 43.865L12.0813 42.8564C11.5842 43.7074 11.2362 44.6494 11.03 45.6737L12.9907 46.0683ZM13.818 43.848C14.2387 43.0942 14.6681 42.3758 15.1061 41.6926L13.4225 40.6131C12.9612 41.3325 12.5109 42.0861 12.0715 42.8734L13.818 43.848ZM15.1174 41.6746C15.5982 40.8886 15.9739 40.084 16.239 39.2608L14.3353 38.6476C14.1229 39.3071 13.8167 39.9681 13.4113 40.631L15.1174 41.6746ZM16.244 39.2449C16.5256 38.3178 16.5572 37.3927 16.3028 36.4957L14.3787 37.0415C14.5172 37.5299 14.5131 38.0618 14.3303 38.6635L16.244 39.2449ZM16.3028 36.4957C15.9573 35.2776 15.2241 34.356 14.0717 33.9056L13.3436 35.7684C13.8185 35.954 14.1741 36.3202 14.3787 37.0415L16.3028 36.4957ZM14.0916 33.9137C13.0042 33.4615 11.7853 33.4822 10.5074 33.8447L11.0531 35.7688C12.0379 35.4894 12.7706 35.5303 13.3236 35.7603L14.0916 33.9137ZM10.5074 33.8447C9.25022 34.2013 8.20706 34.8473 7.43297 35.8051L8.98846 37.0623C9.47005 36.4664 10.1399 36.0278 11.0531 35.7688L10.5074 33.8447ZM7.43297 35.8051C6.65718 36.765 6.25089 37.919 6.18308 39.218L8.18036 39.3223C8.22887 38.393 8.50857 37.656 8.98846 37.0623L7.43297 35.8051ZM7.41785 38.2984L3.43897 37.3316L2.96671 39.275L6.94559 40.2419L7.41785 38.2984ZM4.19792 38.4024C4.35904 36.7841 4.95642 35.4373 5.98441 34.3217L4.51361 32.9664C3.17633 34.4177 2.40959 36.177 2.20776 38.2042L4.19792 38.4024ZM5.98742 34.3184C7.05281 33.1518 8.39924 32.3305 10.0567 31.8603L9.51093 29.9362C7.52034 30.5009 5.84356 31.5101 4.5106 32.9697L5.98742 34.3184ZM10.0567 31.8603C11.9141 31.3335 13.628 31.4168 15.2393 32.077L15.9976 30.2263C13.9392 29.3829 11.7634 29.2973 9.51093 29.9362L10.0567 31.8603ZM15.2393 32.077C16.762 32.7009 17.7786 33.8564 18.2928 35.6693L20.2169 35.1235C19.5522 32.7804 18.1445 31.106 15.9976 30.2263L15.2393 32.077ZM18.2928 35.6693C18.5274 36.4964 18.5692 37.314 18.4231 38.1338L20.392 38.4848C20.5925 37.3602 20.5324 36.2359 20.2169 35.1235L18.2928 35.6693ZM18.425 38.1231C18.2633 38.9766 17.9925 39.7333 17.6196 40.4015L19.366 41.3761C19.8531 40.5032 20.1921 39.5402 20.3901 38.4955L18.425 38.1231ZM17.6196 40.4016C17.1926 41.1666 16.7626 41.9199 16.3294 42.6617L18.0564 43.6704C18.4963 42.9171 18.9329 42.1523 19.366 41.3761L17.6196 40.4016ZM16.3398 42.6442C15.8552 43.4364 15.4814 44.2581 15.223 45.1086L17.1367 45.6899C17.3428 45.0116 17.6443 44.3445 18.0459 43.6878L16.3398 42.6442ZM15.223 45.1086C14.9435 46.0286 14.9047 46.9429 15.1544 47.8231L17.0785 47.2773C16.9483 46.8183 16.9518 46.2986 17.1367 45.6899L15.223 45.1086ZM15.8436 46.5881L11.8607 47.7179L12.4065 49.642L16.3894 48.5122L15.8436 46.5881ZM17.1678 54.3752C16.9326 54.7966 16.6082 55.0528 16.1487 55.1831L16.6945 57.1072C17.6664 56.8315 18.4217 56.2325 18.9143 55.3498L17.1678 54.3752ZM16.1487 55.1831C15.6891 55.3135 15.2786 55.2658 14.8572 55.0307L13.8826 56.7771C14.7653 57.2697 15.7225 57.3829 16.6945 57.1072L16.1487 55.1831ZM14.8572 55.0307C14.4358 54.7955 14.1796 54.4711 14.0493 54.0116L12.1252 54.5574C12.4009 55.5293 12.9999 56.2846 13.8826 56.7771L14.8572 55.0307ZM14.0493 54.0116C13.9149 53.5379 13.96 53.1227 14.1782 52.7094L12.4095 51.7757C11.9461 52.6535 11.8535 53.5995 12.1252 54.5574L14.0493 54.0116ZM14.1671 52.7299C14.3977 52.3167 14.729 52.0517 15.2208 51.9122L14.675 49.9881C13.6892 50.2677 12.9178 50.8643 12.4206 51.7553L14.1671 52.7299ZM15.2208 51.9122C15.6804 51.7818 16.0909 51.8295 16.5123 52.0646L17.4869 50.3181C16.6042 49.8256 15.647 49.7124 14.675 49.9881L15.2208 51.9122ZM16.5123 52.0646C16.9337 52.2998 17.1899 52.6241 17.3202 53.0837L19.2443 52.5379C18.9686 51.566 18.3696 50.8107 17.4869 50.3181L16.5123 52.0646ZM17.3202 53.0837C17.4506 53.5433 17.4029 53.9538 17.1678 54.3752L18.9143 55.3498C19.4068 54.4671 19.52 53.5099 19.2443 52.5379L17.3202 53.0837Z"
                  fill="#D4DEE1"/>
            <path d="M124.908 42.7591L123.922 42.5924L123.756 43.5784L124.742 43.7451L124.908 42.7591ZM126.368 39.3061L127.169 39.9053L126.368 39.3061ZM128.931 36.8185L129.494 37.6447L129.502 37.6392L129.51 37.6335L128.931 36.8185ZM131.784 34.9154L132.312 35.7644L132.321 35.7588L132.33 35.753L131.784 34.9154ZM134.274 32.8537L135.002 33.5393L135.008 33.5333L135.014 33.5271L134.274 32.8537ZM134.73 26.9916L133.987 27.6606L133.994 27.6686L134.001 27.6764L134.73 26.9916ZM127.197 25.7668L126.764 24.8651L127.197 25.7668ZM124.333 28.5931L123.703 29.3693L124.639 30.1297L125.213 29.069L124.333 28.5931ZM120.096 25.1506L119.24 24.6338L118.79 25.3784L119.465 25.9268L120.096 25.1506ZM125.228 20.7119L125.601 21.6397L125.605 21.638L125.228 20.7119ZM139.141 23.6481L139.881 22.9752L139.881 22.9752L139.141 23.6481ZM139.605 34.4364L140.413 35.0265L140.419 35.0176L139.605 34.4364ZM137.027 37.0187L136.447 36.2036L136.447 36.2036L137.027 37.0187ZM134.157 39.0164L134.704 39.854L134.712 39.8484L134.721 39.8427L134.157 39.0164ZM131.659 41.1255L130.92 40.4521L130.92 40.4521L131.659 41.1255ZM130.351 43.6792L130.184 44.6652L131.17 44.8319L131.337 43.8459L130.351 43.6792ZM128.482 53.5862L129.061 54.4012L129.061 54.4012L128.482 53.5862ZM124.265 47.7133L123.686 46.8982L123.677 46.9049L123.667 46.9119L124.265 47.7133ZM129.33 48.5693L130.145 47.99L129.33 48.5693ZM125.894 42.9258C126.088 41.7822 126.514 40.7809 127.169 39.9053L125.568 38.707C124.714 39.848 124.166 41.1487 123.922 42.5924L125.894 42.9258ZM127.169 39.9053C127.863 38.9772 128.639 38.2274 129.494 37.6447L128.367 35.9922C127.315 36.7098 126.382 37.6184 125.568 38.707L127.169 39.9053ZM129.51 37.6335C130.453 36.963 131.388 36.34 132.312 35.7644L131.255 34.0665C130.294 34.6649 129.326 35.3106 128.351 36.0034L129.51 37.6335ZM132.33 35.753C133.339 35.095 134.231 34.3578 135.002 33.5393L133.546 32.1681C132.893 32.8614 132.125 33.4987 131.238 34.0778L132.33 35.753ZM135.014 33.5271C135.845 32.614 136.381 31.5753 136.576 30.4193L134.604 30.086C134.48 30.8231 134.138 31.5185 133.535 32.1803L135.014 33.5271ZM136.576 30.4193C136.843 28.8396 136.505 27.4207 135.459 26.3068L134.001 27.6764C134.55 28.2602 134.785 29.0153 134.604 30.086L136.576 30.4193ZM135.473 26.3226C134.487 25.2272 133.085 24.5797 131.389 24.293L131.056 26.265C132.451 26.501 133.388 26.9952 133.987 27.6606L135.473 26.3226ZM131.389 24.293C129.73 24.0125 128.175 24.1886 126.764 24.8651L127.629 26.6685C128.62 26.1932 129.749 26.0441 131.056 26.265L131.389 24.293ZM126.764 24.8651C125.351 25.5428 124.25 26.6461 123.454 28.1172L125.213 29.069C125.833 27.9235 126.64 27.1426 127.629 26.6685L126.764 24.8651ZM124.964 27.817L120.726 24.3745L119.465 25.9268L123.703 29.3693L124.964 27.817ZM120.952 25.6674C122.108 23.7525 123.654 22.4228 125.601 21.6397L124.854 19.7841C122.484 20.7376 120.608 22.3671 119.24 24.6338L120.952 25.6674ZM125.605 21.638C127.617 20.8183 129.772 20.5957 132.094 20.9882L132.427 19.0162C129.764 18.566 127.23 18.8164 124.85 19.7858L125.605 21.638ZM132.094 20.9882C134.699 21.4287 136.785 22.5438 138.401 24.3209L139.881 22.9752C137.939 20.8406 135.438 19.5251 132.427 19.0162L132.094 20.9882ZM138.401 24.3209C139.953 26.0273 140.537 28.1068 140.103 30.6748L142.075 31.0081C142.601 27.8967 141.886 25.1806 139.881 22.9752L138.401 24.3209ZM140.103 30.6748C139.904 31.8537 139.467 32.9097 138.791 33.8551L140.419 35.0176C141.274 33.8202 141.826 32.4796 142.075 31.0081L140.103 30.6748ZM138.798 33.8463C138.095 34.8076 137.311 35.5898 136.447 36.2036L137.606 37.8338C138.66 37.0842 139.595 36.1449 140.412 35.0264L138.798 33.8463ZM136.447 36.2036C135.493 36.8816 134.542 37.5438 133.594 38.1901L134.721 39.8427C135.68 39.1888 136.642 38.5192 137.606 37.8338L136.447 36.2036ZM133.611 38.1788C132.596 38.8408 131.698 39.5981 130.92 40.4521L132.398 41.7989C133.055 41.0779 133.822 40.4292 134.704 39.854L133.611 38.1788ZM130.92 40.4521C130.093 41.3598 129.556 42.3817 129.365 43.5125L131.337 43.8459C131.455 43.1467 131.791 42.4661 132.398 41.7989L130.92 40.4521ZM130.518 42.6932L125.075 41.7731L124.742 43.7451L130.184 44.6652L130.518 42.6932ZM127.902 52.7711C127.306 53.1949 126.679 53.3383 125.964 53.2173L125.63 55.1894C126.871 55.3991 128.034 55.1311 129.061 54.4012L127.902 52.7711ZM125.964 53.2173C125.248 53.0964 124.704 52.7549 124.28 52.1587L122.65 53.3174C123.379 54.3442 124.39 54.9796 125.63 55.1894L125.964 53.2173ZM124.28 52.1587C123.856 51.5625 123.713 50.9359 123.834 50.2203L121.862 49.887C121.652 51.1277 121.92 52.2907 122.65 53.3174L124.28 52.1587ZM123.834 50.2203C123.957 49.4903 124.294 48.9397 124.864 48.5147L123.667 46.9119C122.677 47.6511 122.069 48.6607 121.862 49.887L123.834 50.2203ZM124.845 48.5283C125.433 48.11 126.074 47.9622 126.831 48.0901L127.164 46.1181C125.901 45.9046 124.721 46.1629 123.686 46.8982L124.845 48.5283ZM126.831 48.0901C127.546 48.2111 128.091 48.5525 128.515 49.1487L130.145 47.99C129.415 46.9632 128.405 46.3278 127.164 46.1181L126.831 48.0901ZM128.515 49.1487C128.938 49.7449 129.082 50.3715 128.961 51.0871L130.933 51.4205C131.143 50.1798 130.875 49.0168 130.145 47.99L128.515 49.1487ZM128.961 51.0871C128.84 51.8026 128.498 52.3473 127.902 52.7711L129.061 54.4012C130.088 53.6714 130.723 52.6612 130.933 51.4205L128.961 51.0871Z"
                  fill="#D4DEE1"/>
        </svg>
        <svg class="consultation-form__tablet-svg mobile-hide tablet-show" width="443" height="80" viewBox="0 0 443 80" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:overlay">
                <path d="M6.437 17.9227L29.9704 4.48651L45.7422 26.1598L22.2063 39.5924L6.437 17.9227Z" stroke="#D4DEE1"
                      stroke-miterlimit="10"/>
                <path d="M45.7421 26.1593L43.4851 39.9368L19.9492 53.3694L22.2061 39.5919L45.7421 26.1593Z" stroke="#D4DEE1"
                      stroke-miterlimit="10"/>
                <path d="M22.2061 39.592L19.9491 53.3695L4.17989 31.6997L6.43684 17.9222L22.2061 39.592Z" stroke="#D4DEE1"
                      stroke-miterlimit="10"/>
            </g>
            <g style="mix-blend-mode:overlay">
                <path d="M402.09 23.2055L429.824 31.653L424.539 59.8386L396.806 51.3865L402.09 23.2055Z" stroke="#D4DEE1"
                      stroke-miterlimit="10"/>
                <path d="M424.538 59.8386L412.16 68.198L384.427 59.7459L396.805 51.3866L424.538 59.8386Z" stroke="#D4DEE1"
                      stroke-miterlimit="10"/>
                <path d="M396.806 51.3856L384.428 59.745L389.712 31.564L402.09 23.2046L396.806 51.3856Z" stroke="#D4DEE1"
                      stroke-miterlimit="10"/>
            </g>
            <g style="mix-blend-mode:overlay">
                <path d="M306.695 43.1238L305.829 42.6238L305.329 43.4898L306.195 43.9898L306.695 43.1238ZM308.625 41.0783L309.166 41.919L308.625 41.0783ZM311.076 39.9997L311.316 40.9705L311.326 40.9682L311.335 40.9656L311.076 39.9997ZM313.58 39.408L313.779 40.388L313.789 40.3859L313.8 40.3835L313.58 39.408ZM315.869 38.61L316.313 39.5064L316.32 39.5027L316.327 39.4989L315.869 38.61ZM317.722 34.6084L316.792 34.9763L316.796 34.9863L316.801 34.9962L317.722 34.6084ZM312.747 31.7776L312.656 30.7817L312.656 30.7817L312.747 31.7776ZM309.996 33.0156L309.134 33.5233L309.746 34.5623L310.654 33.7683L309.996 33.0156ZM307.917 29.4877L307.295 28.7049L306.614 29.246L307.055 29.9953L307.917 29.4877ZM312.685 27.7094L312.711 28.7091L312.716 28.709L312.685 27.7094ZM321.697 33.4116L322.625 33.0389L322.625 33.0389L321.697 33.4116ZM319.203 41.1165L319.754 41.9511L319.763 41.945L319.203 41.1165ZM316.715 42.2575L316.456 41.2915L316.456 41.2915L316.715 42.2575ZM314.176 42.9115L314.396 43.887L314.406 43.8847L314.416 43.8823L314.176 42.9115ZM311.868 43.7407L311.41 42.8518L311.41 42.8518L311.868 43.7407ZM310.281 45.1938L309.781 46.0598L310.647 46.5598L311.147 45.6938L310.281 45.1938ZM306.376 51.6689L306.635 52.6348L306.376 51.6689ZM304.948 46.4382L304.689 45.4722L304.678 45.4752L304.667 45.4785L304.948 46.4382ZM308.284 48.3642L309.25 48.1053L308.284 48.3642ZM307.561 43.6238C307.977 42.9034 308.511 42.3407 309.166 41.919L308.083 40.2376C307.15 40.8388 306.397 41.6398 305.829 42.6238L307.561 43.6238ZM309.166 41.919C309.876 41.4618 310.592 41.1494 311.316 40.9705L310.837 39.0289C309.88 39.2652 308.961 39.6719 308.083 40.2376L309.166 41.919ZM311.335 40.9656C312.169 40.7422 312.984 40.5497 313.779 40.388L313.38 38.4281C312.543 38.5984 311.688 38.8004 310.818 39.0338L311.335 40.9656ZM313.8 40.3835C314.698 40.1808 315.537 39.8897 316.313 39.5064L315.426 37.7136C314.805 38.0207 314.118 38.2616 313.36 38.4325L313.8 40.3835ZM316.327 39.4989C317.189 39.0551 317.874 38.4332 318.341 37.6258L316.608 36.6258C316.355 37.0653 315.97 37.433 315.411 37.7211L316.327 39.4989ZM318.341 37.6258C318.974 36.5292 319.124 35.3612 318.644 34.2207L316.801 34.9962C316.998 35.4662 316.983 35.9764 316.608 36.6258L318.341 37.6258ZM318.652 34.2406C318.219 33.1455 317.355 32.2855 316.205 31.6213L315.205 33.3534C316.091 33.8652 316.572 34.4193 316.792 34.9763L318.652 34.2406ZM316.205 31.6213C315.073 30.968 313.883 30.6698 312.656 30.7817L312.838 32.7735C313.601 32.7038 314.383 32.8788 315.205 33.3534L316.205 31.6213ZM312.656 30.7817C311.427 30.894 310.316 31.4066 309.337 32.2629L310.654 33.7683C311.354 33.1557 312.078 32.8429 312.838 32.7735L312.656 30.7817ZM310.857 32.508L308.779 28.9801L307.055 29.9953L309.134 33.5233L310.857 32.508ZM308.539 30.2706C309.812 29.2587 311.195 28.7489 312.711 28.7091L312.659 26.7098C310.686 26.7616 308.89 27.4373 307.295 28.7049L308.539 30.2706ZM312.716 28.709C314.295 28.6605 315.822 29.0541 317.314 29.9156L318.314 28.1835C316.522 27.149 314.63 26.6492 312.654 26.7099L312.716 28.709ZM317.314 29.9156C318.986 30.8809 320.12 32.1684 320.769 33.7843L322.625 33.0389C321.796 30.9747 320.342 29.3542 318.314 28.1835L317.314 29.9156ZM320.769 33.7843C321.383 35.3113 321.262 36.8456 320.32 38.4775L322.052 39.4775C323.27 37.3682 323.49 35.1919 322.625 33.0389L320.769 33.7843ZM320.32 38.4775C319.89 39.222 319.333 39.8217 318.643 40.288L319.763 41.945C320.709 41.3052 321.474 40.4789 322.052 39.4775L320.32 38.4775ZM318.652 40.282C317.927 40.7606 317.195 41.0935 316.456 41.2915L316.974 43.2234C317.939 42.9647 318.866 42.5369 319.754 41.951L318.652 40.282ZM316.456 41.2915C315.61 41.5183 314.77 41.7346 313.936 41.9407L314.416 43.8823C315.262 43.6731 316.115 43.4534 316.974 43.2234L316.456 41.2915ZM313.956 41.936C313.05 42.1403 312.2 42.4446 311.41 42.8518L312.326 44.6296C312.956 44.3048 313.645 44.0563 314.396 43.887L313.956 41.936ZM311.41 42.8518C310.555 43.2923 309.872 43.9015 309.415 44.6938L311.147 45.6938C311.385 45.2806 311.761 44.921 312.326 44.6296L311.41 42.8518ZM310.781 44.3277L307.195 42.2577L306.195 43.9898L309.781 46.0598L310.781 44.3277ZM306.117 50.703C305.651 50.8279 305.241 50.7736 304.828 50.5348L303.828 52.2668C304.703 52.772 305.658 52.8965 306.635 52.6348L306.117 50.703ZM304.828 50.5348C304.414 50.2959 304.162 49.9682 304.037 49.5021L302.105 50.0197C302.367 50.9961 302.953 51.7617 303.828 52.2668L304.828 50.5348ZM304.037 49.5021C303.912 49.036 303.967 48.6262 304.205 48.2125L302.473 47.2125C301.968 48.0875 301.844 49.0433 302.105 50.0197L304.037 49.5021ZM304.205 48.2125C304.452 47.7862 304.781 47.5292 305.229 47.3978L304.667 45.4785C303.714 45.7576 302.971 46.3503 302.473 47.2125L304.205 48.2125ZM305.207 47.4041C305.664 47.2816 306.085 47.3347 306.528 47.5903L307.528 45.8582C306.64 45.3459 305.675 45.2082 304.689 45.4722L305.207 47.4041ZM306.528 47.5903C306.941 47.8291 307.193 48.1569 307.318 48.623L309.25 48.1053C308.988 47.129 308.403 46.3634 307.528 45.8582L306.528 47.5903ZM307.318 48.623C307.443 49.0891 307.389 49.4988 307.15 49.9125L308.882 50.9125C309.387 50.0376 309.512 49.0817 309.25 48.1053L307.318 48.623ZM307.15 49.9125C306.911 50.3262 306.583 50.5781 306.117 50.703L306.635 52.6348C307.611 52.3732 308.377 51.7875 308.882 50.9125L307.15 49.9125Z"
                      fill="#D4DEE1"/>
                <path d="M101.134 32.6797L100.172 32.9526L100.444 33.9147L101.406 33.6418L101.134 32.6797ZM101.01 29.8708L101.991 30.0681L101.01 29.8708ZM101.945 27.3605L102.808 27.8648L102.813 27.8563L102.818 27.8478L101.945 27.3605ZM103.264 25.1526L104.106 25.6923L104.112 25.6834L104.117 25.6744L103.264 25.1526ZM104.287 22.954L105.239 23.2606L105.242 23.2526L105.244 23.2447L104.287 22.954ZM102.708 18.8368L102.324 19.7601L102.334 19.7642L102.344 19.7681L102.708 18.8368ZM97.2107 20.4335L96.433 19.8049L96.433 19.8049L97.2107 20.4335ZM96.1817 23.2699L95.9456 24.2416L97.1175 24.5264L97.1804 23.3221L96.1817 23.2699ZM92.2028 22.3031L91.2078 22.204L91.1216 23.0694L91.9667 23.2748L92.2028 22.3031ZM94.249 17.6438L94.9844 18.3214L94.9874 18.3182L94.249 17.6438ZM104.618 15.1514L104.998 14.2261L104.998 14.2261L104.618 15.1514ZM108.408 22.3091L109.39 22.4952L109.392 22.4845L108.408 22.3091ZM107.493 24.8886L106.62 24.4013L106.62 24.4013L107.493 24.8886ZM106.193 27.1658L107.046 27.6876L107.051 27.6789L107.056 27.6701L106.193 27.1658ZM105.18 29.399L104.223 29.1083L104.223 29.1083L105.18 29.399ZM105.116 31.5499L105.389 32.512L106.351 32.2391L106.078 31.277L105.116 31.5499ZM107.041 38.8623L107.914 39.3496L107.041 38.8623ZM102.294 36.2423L101.421 35.755L101.415 35.7652L101.41 35.7755L102.294 36.2423ZM106 35.1911L106.487 34.3179L106 35.1911ZM102.096 32.4068C101.869 31.6066 101.837 30.8315 101.991 30.0681L100.03 29.6734C99.8109 30.762 99.8615 31.8595 100.172 32.9526L102.096 32.4068ZM101.991 30.0681C102.157 29.2403 102.432 28.5088 102.808 27.8648L101.081 26.8561C100.584 27.7071 100.236 28.6492 100.03 29.6734L101.991 30.0681ZM102.818 27.8478C103.239 27.0939 103.668 26.3755 104.106 25.6923L102.422 24.6128C101.961 25.3323 101.511 26.0858 101.072 26.8732L102.818 27.8478ZM104.117 25.6744C104.598 24.8884 104.974 24.0837 105.239 23.2606L103.335 22.6474C103.123 23.3068 102.817 23.9679 102.411 24.6307L104.117 25.6744ZM105.244 23.2447C105.526 22.3176 105.557 21.3925 105.303 20.4955L103.379 21.0413C103.517 21.5296 103.513 22.0616 103.33 22.6633L105.244 23.2447ZM105.303 20.4955C104.957 19.2774 104.224 18.3558 103.072 17.9054L102.344 19.7681C102.819 19.9538 103.174 20.3199 103.379 21.0413L105.303 20.4955ZM103.092 17.9134C102.004 17.4612 100.785 17.4819 99.5074 17.8444L100.053 19.7685C101.038 19.4892 101.771 19.5301 102.324 19.7601L103.092 17.9134ZM99.5074 17.8444C98.2502 18.201 97.2071 18.8471 96.433 19.8049L97.9885 21.062C98.47 20.4662 99.1399 20.0276 100.053 19.7685L99.5074 17.8444ZM96.433 19.8049C95.6572 20.7647 95.2509 21.9188 95.1831 23.2178L97.1804 23.3221C97.2289 22.3927 97.5086 21.6558 97.9885 21.062L96.433 19.8049ZM96.4179 22.2982L92.439 21.3313L91.9667 23.2748L95.9456 24.2416L96.4179 22.2982ZM93.1979 22.4021C93.359 20.7839 93.9564 19.4371 94.9844 18.3214L93.5136 16.9662C92.1763 18.4175 91.4096 20.1768 91.2078 22.204L93.1979 22.4021ZM94.9874 18.3182C96.0528 17.1516 97.3992 16.3303 99.0567 15.8601L98.5109 13.936C96.5203 14.5007 94.8436 15.5099 93.5106 16.9695L94.9874 18.3182ZM99.0567 15.8601C100.914 15.3332 102.628 15.4165 104.239 16.0767L104.998 14.2261C102.939 13.3827 100.763 13.297 98.5109 13.936L99.0567 15.8601ZM104.239 16.0767C105.762 16.7007 106.779 17.8562 107.293 19.6691L109.217 19.1233C108.552 16.7801 107.144 15.1058 104.998 14.2261L104.239 16.0767ZM107.293 19.6691C107.527 20.4961 107.569 21.3138 107.423 22.1336L109.392 22.4845C109.592 21.3599 109.532 20.2357 109.217 19.1233L107.293 19.6691ZM107.425 22.1229C107.263 22.9763 106.992 23.733 106.62 24.4013L108.366 25.3759C108.853 24.503 109.192 23.54 109.39 22.4952L107.425 22.1229ZM106.62 24.4013C106.193 25.1663 105.763 25.9197 105.329 26.6615L107.056 27.6701C107.496 26.9168 107.933 26.1521 108.366 25.3759L106.62 24.4013ZM105.34 26.644C104.855 27.4362 104.481 28.2579 104.223 29.1083L106.137 29.6897C106.343 29.0114 106.644 28.3442 107.046 27.6876L105.34 26.644ZM104.223 29.1083C103.944 30.0284 103.905 30.9427 104.154 31.8228L106.078 31.277C105.948 30.818 105.952 30.2984 106.137 29.6897L104.223 29.1083ZM104.844 30.5879L100.861 31.7177L101.406 33.6418L105.389 32.512L104.844 30.5879ZM106.168 38.375C105.933 38.7964 105.608 39.0525 105.149 39.1829L105.694 41.107C106.666 40.8312 107.422 40.2323 107.914 39.3496L106.168 38.375ZM105.149 39.1829C104.689 39.3132 104.279 39.2656 103.857 39.0304L102.883 40.7769C103.765 41.2695 104.723 41.3827 105.694 41.107L105.149 39.1829ZM103.857 39.0304C103.436 38.7953 103.18 38.4709 103.049 38.0113L101.125 38.5571C101.401 39.5291 102 40.2843 102.883 40.7769L103.857 39.0304ZM103.049 38.0113C102.915 37.5377 102.96 37.1224 103.178 36.7092L101.41 35.7755C100.946 36.6532 100.853 37.5993 101.125 38.5571L103.049 38.0113ZM103.167 36.7296C103.398 36.3165 103.729 36.0514 104.221 35.9119L103.675 33.9878C102.689 34.2675 101.918 34.8641 101.421 35.755L103.167 36.7296ZM104.221 35.9119C104.68 35.7816 105.091 35.8292 105.512 36.0644L106.487 34.3179C105.604 33.8253 104.647 33.7121 103.675 33.9878L104.221 35.9119ZM105.512 36.0644C105.934 36.2995 106.19 36.6239 106.32 37.0835L108.244 36.5377C107.969 35.5657 107.37 34.8105 106.487 34.3179L105.512 36.0644ZM106.32 37.0835C106.451 37.543 106.403 37.9536 106.168 38.375L107.914 39.3496C108.407 38.4669 108.52 37.5096 108.244 36.5377L106.32 37.0835Z"
                      fill="#D4DEE1"/>
                <path d="M213.908 26.7589L212.922 26.5922L212.755 27.5782L213.742 27.7449L213.908 26.7589ZM215.368 23.3059L216.169 23.9051L215.368 23.3059ZM217.931 20.8182L218.494 21.6445L218.502 21.639L218.51 21.6333L217.931 20.8182ZM220.784 18.9152L221.312 19.7641L221.321 19.7585L221.33 19.7527L220.784 18.9152ZM223.274 16.8534L224.002 17.5391L224.008 17.533L224.014 17.5268L223.274 16.8534ZM223.73 10.9914L222.986 11.6603L222.994 11.6683L223.001 11.6762L223.73 10.9914ZM216.197 9.76656L215.764 8.8649L216.197 9.76656ZM213.333 12.5929L212.703 13.369L213.639 14.1295L214.213 13.0688L213.333 12.5929ZM209.096 9.15039L208.24 8.63359L207.79 9.37816L208.465 9.92655L209.096 9.15039ZM214.228 4.71165L214.601 5.63944L214.605 5.63776L214.228 4.71165ZM228.141 7.64782L228.881 6.97498L228.881 6.97498L228.141 7.64782ZM228.605 18.4361L229.412 19.0262L229.419 19.0174L228.605 18.4361ZM226.027 21.0185L225.447 20.2034L225.447 20.2034L226.027 21.0185ZM223.157 23.0162L223.704 23.8538L223.712 23.8482L223.721 23.8425L223.157 23.0162ZM220.659 25.1252L219.92 24.4518L219.92 24.4518L220.659 25.1252ZM219.351 27.6789L219.184 28.665L220.17 28.8316L220.337 27.8456L219.351 27.6789ZM217.481 37.5859L218.061 38.401L218.061 38.401L217.481 37.5859ZM213.265 31.713L212.686 30.8979L212.677 30.9047L212.667 30.9116L213.265 31.713ZM218.33 32.5691L219.145 31.9898L218.33 32.5691ZM214.894 26.9255C215.088 25.782 215.513 24.7807 216.169 23.9051L214.568 22.7067C213.714 23.8478 213.166 25.1484 212.922 26.5922L214.894 26.9255ZM216.169 23.9051C216.863 22.977 217.639 22.2271 218.494 21.6445L217.367 19.9919C216.315 20.7096 215.382 21.6182 214.568 22.7067L216.169 23.9051ZM218.51 21.6333C219.453 20.9627 220.387 20.3398 221.312 19.7641L220.255 18.0662C219.294 18.6646 218.326 19.3103 217.351 20.0031L218.51 21.6333ZM221.33 19.7527C222.339 19.0948 223.231 18.3576 224.002 17.5391L222.546 16.1678C221.893 16.8611 221.125 17.4984 220.237 18.0776L221.33 19.7527ZM224.014 17.5268C224.845 16.6137 225.381 15.5751 225.576 14.4191L223.604 14.0857C223.48 14.8229 223.138 15.5183 222.535 16.18L224.014 17.5268ZM225.576 14.4191C225.843 12.8393 225.505 11.4204 224.458 10.3066L223.001 11.6762C223.55 12.26 223.785 13.0151 223.604 14.0857L225.576 14.4191ZM224.473 10.3224C223.487 9.22695 222.085 8.57949 220.389 8.29273L220.055 10.2648C221.451 10.5007 222.388 10.995 222.986 11.6603L224.473 10.3224ZM220.389 8.29273C218.73 8.01225 217.175 8.18838 215.764 8.8649L216.629 10.6682C217.62 10.1929 218.749 10.0439 220.055 10.2648L220.389 8.29273ZM215.764 8.8649C214.351 9.54259 213.25 10.6459 212.454 12.1169L214.213 13.0688C214.833 11.9233 215.64 11.1423 216.629 10.6682L215.764 8.8649ZM213.964 11.8167L209.726 8.37423L208.465 9.92655L212.703 13.369L213.964 11.8167ZM209.952 9.66719C211.108 7.75224 212.653 6.42256 214.601 5.63943L213.854 3.78388C211.484 4.73732 209.608 6.36681 208.24 8.63359L209.952 9.66719ZM214.605 5.63776C216.617 4.8181 218.772 4.59544 221.094 4.98796L221.427 3.01594C218.764 2.56571 216.23 2.81619 213.85 3.78555L214.605 5.63776ZM221.094 4.98796C223.699 5.42844 225.785 6.54354 227.401 8.32067L228.881 6.97498C226.939 4.84037 224.438 3.52489 221.427 3.01594L221.094 4.98796ZM227.401 8.32066C228.953 10.027 229.537 12.1066 229.103 14.6745L231.075 15.0079C231.601 11.8964 230.886 9.18036 228.881 6.97498L227.401 8.32066ZM229.103 14.6745C228.904 15.8535 228.467 16.9094 227.791 17.8549L229.419 19.0174C230.274 17.82 230.826 16.4793 231.075 15.0079L229.103 14.6745ZM227.798 17.8461C227.095 18.8074 226.311 19.5896 225.447 20.2034L226.606 21.8335C227.66 21.084 228.595 20.1447 229.412 19.0262L227.798 17.8461ZM225.447 20.2034C224.493 20.8814 223.542 21.5435 222.594 22.1899L223.721 23.8425C224.68 23.1886 225.642 22.5189 226.606 21.8335L225.447 20.2034ZM222.611 22.1786C221.596 22.8406 220.698 23.5979 219.92 24.4518L221.398 25.7986C222.055 25.0777 222.822 24.4289 223.704 23.8538L222.611 22.1786ZM219.92 24.4518C219.093 25.3596 218.556 26.3814 218.365 27.5123L220.337 27.8456C220.455 27.1464 220.79 26.4658 221.398 25.7986L219.92 24.4518ZM219.518 26.6929L214.075 25.7728L213.742 27.7449L219.184 28.665L219.518 26.6929ZM216.902 36.7708C216.306 37.1946 215.679 37.3381 214.964 37.2171L214.63 39.1891C215.871 39.3989 217.034 39.1308 218.061 38.401L216.902 36.7708ZM214.964 37.2171C214.248 37.0961 213.704 36.7547 213.28 36.1585L211.65 37.3172C212.379 38.344 213.39 38.9794 214.63 39.1891L214.964 37.2171ZM213.28 36.1585C212.856 35.5623 212.713 34.9356 212.833 34.2201L210.861 33.8867C210.652 35.1274 210.92 36.2904 211.65 37.3172L213.28 36.1585ZM212.833 34.2201C212.957 33.4901 213.294 32.9395 213.864 32.5144L212.667 30.9116C211.677 31.6509 211.069 32.6605 210.861 33.8867L212.833 34.2201ZM213.845 32.5281C214.433 32.1098 215.074 31.962 215.83 32.0898L216.164 30.1178C214.901 29.9043 213.721 30.1626 212.686 30.8979L213.845 32.5281ZM215.83 32.0898C216.546 32.2108 217.091 32.5522 217.514 33.1485L219.145 31.9898C218.415 30.963 217.405 30.3276 216.164 30.1178L215.83 32.0898ZM217.514 33.1485C217.938 33.7447 218.082 34.3713 217.961 35.0868L219.933 35.4202C220.143 34.1795 219.874 33.0165 219.145 31.9898L217.514 33.1485ZM217.961 35.0868C217.84 35.8024 217.498 36.3471 216.902 36.7708L218.061 38.401C219.088 37.6712 219.723 36.6609 219.933 35.4202L217.961 35.0868Z"
                      fill="#D4DEE1"/>
            </g>
        </svg>
        {{>article-form}}
    </div>
</section>