.consultation-form
  overflow: hidden
  background: linear-gradient(147.59deg, #FFBF06 0%, #FFB800 100%)
  margin-top: 50px
  padding: 60px 0
  z-index: 1

  &_gray
    background: #C3D2DE

    svg
      path[stroke]
        stroke: $gray10
      path[fill]
        fill: $gray10

.consultation-form__container
  position: relative

.consultation-form__mobil-svg
  position: absolute
  left: 35px
  top: -60px
  opacity: 0.9

+mq(tablet)

  .consultation-form
    padding: 67px 0

  .consultation-form__tablet-svg
    position: absolute
    left: 42px
    top: -60px

+mq(desktop)

  .consultation-form
    border: 1px solid #F2F2F2
    border-radius: 6px
    width: 1224px
    margin: 60px auto 0

  .consultation-form__tablet-svg
    left: 10px

  .consultation-form__container
    padding: 0