.header-search__form
  background: $white
  padding: 0 17px
  display: flex
  align-items: center
  border-radius: 6px
  border: 1px solid $gray5

  .form__control
    height: 56px
    padding: 17px 0
    border: none

  .form__placeholder
    left: 0
    top: 16px
    font-size: 16px
    line-height: 130%
    opacity: 0.9

  .form-group
    padding: 0
    margin-top: 0

.header-search__button
  flex-shrink: 0
  margin-right: 19px

.header-search-group
  flex: 1
  margin-top: 0
  padding: 17px 0 18px

  &:focus
    outline: none

+mq(mobile-plus, max)
  .header-search__form
    padding: 0 10px 0 12px
    .form__placeholder
      font-size: 15px
      top: 18px
    .header-search__icon
      width: 20px
      height: 20px
    .header-search__button
      margin-right: 13px

+mq(tablet)
  .header-search__form
    .form__placeholder
      font-size: 18px