<div class="header-search">
    <form action="/search/" class="header-search__form form">
        <button type="submit" class="header-search__button">
            <svg class="header-search__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.6125 15.4914C18.7935 13.8787 19.4999 11.8977 19.4999 9.7501C19.4999 4.37415 15.1259 0.00012207 9.74993 0.00012207C4.37398 0.00012207 0 4.37415 0 9.7501C0 15.1261 4.37403 19.5001 9.74998 19.5001C11.8975 19.5001 13.8787 18.7936 15.4915 17.6126L21.8789 24L24 21.8789C24 21.8789 17.6125 15.4914 17.6125 15.4914ZM9.74998 16.5001C6.02781 16.5001 3.00001 13.4723 3.00001 9.7501C3.00001 6.02794 6.02781 3.00013 9.74998 3.00013C13.4721 3.00013 16.4999 6.02794 16.4999 9.7501C16.4999 13.4723 13.4721 16.5001 9.74998 16.5001Z" fill="#342733"/>
            </svg>
        </button>

        <div class="header-search-group form-group">
            <input class="header-search__textbox form__control"
                   type="text"
                   name="q">
            <div class="form__placeholder">Введите поисковый запрос</div>
        </div>
    </form>
</div>