@import "../variables/variables"
@import "../mixins/mixins"

.feedback-success-message
  background: #FFFFFF
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 6px
  padding: 67px 30px 40px
  text-align: center
  width: 310px

.feedback-success-message__title
  color: $main-color
  font-weight: 800
  font-size: 26px
  line-height: 110%
  letter-spacing: 0.02em

.feedback-success-message__text
  font-weight: 500
  font-size: 15px
  line-height: 160%
  letter-spacing: 0.03em
  color: rgba(52, 39, 51, 0.8)
  margin-top: 35px

.feedback-success-message__button-wrapper
  margin-top: 30px

.feedback-success-message__button
  font-weight: 500
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.05em
  color: #7D8C93
  padding: 20px 46px
  text-align: center

+mq(tablet)
  .feedback-success-message
    padding: 67px 40px 40px
    width: 416px