.company-video
  background: #F8F9FA
  margin: 40px 0
  padding: 40px 0
  position: relative

  &:before
    background: #F8F9FA
    content: ''
    display: block
    left: -24px
    right: -24px
    top: 0
    position: absolute
    height: 100%
    width: 120%
    z-index: 1

.company-video__svg
  bottom: -30px
  height: auto
  position: absolute
  right: -45px
  opacity: 0.6
  width: 170px
  z-index: 1

.company-video__slide
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  border-radius: 2px
  align-items: center
  display: flex
  justify-content: center
  width: 312px
  height: 202px

.company-video__info
  margin-top: 30px
  position: relative
  z-index: 2

.company-video__info-title
  color: $main-color
  font-weight: 600
  font-size: 15px
  line-height: 26px

.company-video__info-text
  color: $main-color
  font-size: 14px
  line-height: 22px
  margin-top: 20px

.company-video__slider-pagination
  margin: 20px auto 0
  transform: translateX(0)!important
  text-align: center

.company-video__slider-pagination > .swiper-pagination-bullet
  background: $gray20
  border-radius: 50%
  height: 12px
  margin: 0 12px!important
  opacity: 1
  transition: $default-transition
  width: 12px

.company-video__slider-pagination > .swiper-pagination-bullet-active
  background: $yellow8

+mq(tablet)

  .company-video
    display: flex
    flex-wrap: wrap
    margin: 60px 0

    &:before
      left: -32px
      right: -32px

  .company-video__svg
    bottom: 48px
    right: 170px
    z-index: 1

  .company-video__slider
    flex-shrink: 0
    width: 412px

  .company-video__slide
    height: 267px

  .company-video__info
    margin-top: 0
    margin-left: 24px
    padding-left: 24px
    width: calc(100% - 412px - 24px)

    &:before
      background: $yellow8
      content: ''
      height: 158px
      position: absolute
      left: 0
      top: 0
      width: 3px
      
  .company-video__info-title
    font-size: 16px

  .company-video__info-text
    font-size: 15px

  .company-video__preview
    display: flex
    margin-top: 10px
    position: relative
    width: 100%
    z-index: 1

  .company-video__preview-item
    align-items: center
    display: flex
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    border-radius: 2px
    height: 94px
    justify-content: center
    margin-left: 10px
    width: 145px

    &:nth-of-type(1)
      margin-left: 0

  .company-video__preview-item-icon
    opacity: 0.6
    transition: $default-transition

  .company-video__preview-item_active
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3)

    .company-video__preview-item-icon
      opacity: 1

+mq(desktop)

  .company-video
    display: block
    margin: 53px 0 60px

    &:before
      left: -40px

  .company-video__svg
    bottom: -25px
    right: 39%

  .company-video__slider
    float: left
    width: 503px

  .company-video__slide
    height: 326px

  .company-video__info
    float: right
    margin-left: 0
    margin-right: -40px
    padding: 7px 7px 7px 24px
    width: 365px

    &:before
      height: 100%

  .company-video__info-title
    font-size: 18px

  .company-video__info-text
    font-size: 16px

  .company-video__preview
    flex-wrap: wrap
    float: right
    margin-top: 75px
    width: 300px

  .company-video__preview-item
    cursor: pointer
    margin-top: 10px
    transition: $default-transition

    &:nth-of-type(1), &:nth-of-type(2)
      margin-top: 0

    &:nth-of-type(odd)
      margin-left: 0

    &:hover
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3)

      .company-video__preview-item-icon
        opacity: 1

  .company-video__preview-item_active
    cursor: default

