@keyframes floor-fade-in
  from
    opacity: 0
  to
    opacity: 1

.sections-list
  display: none
  transition: opacity 1s ease

  &_show
    display: block
    animation: floor-fade-in
    animation-duration: 2s
    animation-fill-mode: backwards
    animation-iteration-count: 1

.sections-filter-tabs
  display: none

  &_as-link
    .sections-filter-tabs-item
      display: inline-block
      margin-right: 40px
      transition: $default-transition
      border-bottom: 2px solid transparent
      border-right: none

      &:last-child
        margin-right: 0

      &:hover
        &::after
          transform: scaleX(1)

        .sections-filter-tabs-item__button
          color: #FFBA02

      &_active
        border-bottom-color: #FFBA02

        .sections-filter-tabs-item__button
          color: #FFBA02

        &:hover
          &::after
            transform: scaleX(0)

      &::after
        content: ''
        display: block
        position: absolute
        left: 0
        bottom: -2px
        height: 0
        width: 100%
        transform-origin: center bottom
        transform: scaleX(0)
        transition: $default-transition
        border-bottom: 2px solid #FFBA02

      .sections-filter-tabs-item__button
        text-align: left

.sections-filter-tabs-item
  border-bottom: 2px solid transparent
  border-right: 1px solid rgba(218, 219, 219, 0.2)
  transition: $default-transition
  position: relative

  &_active
    button
      cursor: default

    .index-products-filter-tabs-item__button
      opacity: 1
      color: $gray90

  &:hover
    .index-products-filter-tabs-item__button
      opacity: 1
      color: $gray90

  .sections-filter-tabs-item__button
    font-weight: 500
    padding: 3px 0
    font-size: 18px
    line-height: 16px
    color: rgba(52, 39, 51, 0.5)
    transition: $default-transition

+mq(tablet)
  .sections-filter-tabs
    display: inline-flex
    flex-wrap: wrap
    list-style-type: none
    margin: 0
    padding: 0

  .sections-filter-combobox,
  .selectric-sections-filter-combobox
    display: none

+mq(desktop, max)
  .sections-filter-tabs-item
    &_active
      border-bottom-color: #FFBF06

+mq(desktop)
  .sections-filter-tabs
    + .list-items-hover-marker
      z-index: 1
      bottom: 0

    &_as-link
      .sections-filter-tabs-item
        margin-right: 50px