.company-top
  padding: 36px 0 30px

.company-top__slider
  margin-top: 25px

.company-top__slide
  display: flex
  justify-content: center
  height: 211px

  img
    max-height: 100%
    max-width: 100%

.company-top__slider-nav
  margin-top: 20px

.company-top__slider-pagination
  display: flex
  justify-content: center
  position: static
  width: 100%

  .swiper-pagination-bullet
    background-color: $main-color
    border-radius: 0
    height: 2px
    margin: 0 7px
    opacity: 0.3
    width: 25px

  .swiper-pagination-bullet-active
    background: $yellow8
    opacity: 1

.company-top__slider-button-prev, .company-top__slider-button-next
  display: none

.company-top__text
  color: $main-color
  font-weight: 500
  font-size: 14px
  line-height: 20px
  letter-spacing: 0.05em
  margin: 30px auto 0
  min-height: 40px
  transition: $default-transition
  width: 220px

.company-top__text_hidden
  opacity: 0

+mq(tablet)

  .company-top
    padding: 45px 0 46px
    position: relative

  .company-top__title
    float: left
    width: 275px

  .company-top__slider
    float: right
    margin: 0
    width: 412px

  .company-top__slide
    height: 279px
    width: 412px

  .company-top__slider-nav
    margin-top: 17px
    bottom: 27px
    position: absolute
    right: 0
    width: 412px

  .company-top__slider-pagination

    .swiper-pagination-bullet
      width: 32px

  .company-top__text
    float: left
    margin-top: 100px
    padding-left: 30px
    width: 250px

+mq(desktop)

  .company-top
    padding: 70px 0 87px
    position: relative

  .company-top__title
    float: none

  .company-top__slider
    bottom: -20px
    float: right
    margin: 0
    position: absolute
    right: 180px
    width: 520px

  .company-top__slide
    height: 352px
    width: 520px

  .company-top__slider-nav
    align-items: center
    display: flex
    margin: 0
    left: 0
    width: 300px

  .company-top__slider-button-prev, .company-top__slider-button-next
    display: block
    height: auto
    opacity: 1
    margin: 0
    position: static
    outline: none
    width: auto

    svg
      height: auto
      width: 37px
      vertical-align: top

    &:after
      display: none

  .swiper-button-disabled
    opacity: 0.3

  .company-top__text
    float: none
    margin: 61px 0 0 0
    padding: 0

