<div class="company-top clearfix">
    <h2 class="company-top__title company-title">
        {{{ title }}}
    </h2>
    <div class="company-top__slider swiper-container">
        <div class="company-top__slider-wrapper swiper-wrapper">
            {{#slider}}
                {{#src}}
                <div class="swiper-slide company-top__slide" data-text="{{description}}">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         alt="История компании"
                         data-src="{{src}}"
                         class="b-lazy animate">
                </div>
                {{/src}}
            {{/slider}}
        </div>
    </div>
    <div class="company-top__slider-nav">
        <div class="swiper-button-prev company-top__slider-button-prev desktop-only">
            <svg width="38" height="22" viewBox="0 0 38 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.192155 11.4628L10.0136 21.2842C10.2694 21.54 10.6837 21.54 10.9394 21.2842C11.1952 21.0284 11.1952 20.6141 10.9394 20.3584L2.23568 11.6546L37.3218 11.6546C37.6837 11.6546 37.9766 11.3618 37.9766 10.9998C37.9766 10.6379 37.6837 10.3451 37.3218 10.3451L2.23568 10.3451L10.9394 1.64138C11.1952 1.38559 11.1952 0.971252 10.9394 0.715526C10.8116 0.587663 10.644 0.5237 10.4765 0.5237C10.309 0.5237 10.1414 0.587663 10.0135 0.715526L0.19209 10.537C-0.0636358 10.7927 -0.0636321 11.207 0.192155 11.4628Z" fill="#342733"></path>
            </svg>
        </div>
        <div class="swiper-pagination company-top__slider-pagination"></div>
        <div class="swiper-button-next company-top__slider-button-next desktop-only">
            <svg width="39" height="22" viewBox="0 0 39 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M38.2366 10.5367L28.4151 0.715278C28.1593 0.459491 27.745 0.459491 27.4893 0.715278C27.2335 0.971064 27.2335 1.38541 27.4893 1.64113L36.193 10.3449H1.10693C0.745011 10.3449 0.452148 10.6377 0.452148 10.9997C0.452148 11.3616 0.745011 11.6544 1.10693 11.6544H36.193L27.4893 20.3581C27.2335 20.6139 27.2335 21.0283 27.4893 21.284C27.6171 21.4118 27.7847 21.4758 27.9522 21.4758C28.1198 21.4758 28.2873 21.4118 28.4152 21.284L38.2366 11.4626C38.4923 11.2068 38.4923 10.7925 38.2366 10.5367Z" fill="#342733"></path>
            </svg>
        </div>
    </div>
    <div class="company-top__text">
        {{firstText}}
    </div>
</div>