.blog-credit
  background: #4359E2
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
  border-radius: 6px
  margin-top: 30px
  padding: 25px
  width: 100%

.blog-credit__content
  margin-top: 23px

.blog-credit__title
  color: #FFFFFF
  font-weight: 700
  font-size: 22px
  line-height: 120%

.blog-credit__text
  color: #FFFFFF
  font-weight: 400
  font-size: 16px
  line-height: 140%
  margin-top: 25px

.blog-credit__button-wrapper
  margin-top: 30px

.blog-credit__button
  padding: 16px 48px

+mq(tablet)

  .blog-credit
    display: flex
    justify-content: space-between
    padding: 44px 30px 36px

  .blog-credit__img
    flex-shrink: 0

  .blog-credit__content
    margin-left: 30px
    margin-top: 0
    width: 250px

  .blog-credit__button
    padding: 16px 38px

+mq(desktop)

  .blog-credit
    align-items: flex-end
    padding: 33px 58px 55px 38px
    position: relative

  .blog-credit__wave
    position: absolute
    right: 0
    top: 0

  .blog-credit__content
    margin-left: 20px
    position: relative
    width: 370px
    z-index: 1

  .blog-credit__button-wrapper
    display: block
    position: relative
    z-index: 1

  .blog-credit__button
    display: flex
    font-size: 14px
    padding: 16px 28px

    svg
      margin-left: 17px
