.sample-documents
  margin-top: 60px
  margin-bottom: 40px

.sample-documents__title
  font-weight: 500
  font-size: 24px
  line-height: 30px
  letter-spacing: 0.03em

.sample-documents__list
  margin-top: 30px

.sample-documents__item
  background: #FFFFFF
  border: 1px solid rgba(196, 196, 196, 0.5)
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
  border-radius: 6px
  display: block
  margin-top: 19px
  padding: 34px 23px 18px 87px
  position: relative

  .sample-documents__icon
    position: absolute
    left: 23px
    height: 48px
    width: 48px

    path
      fill: #72929F

  &:nth-of-type(1)
    margin-top: 0

.sample-document__item-title
  color: $main-color
  font-weight: 500
  font-size: 14px
  line-height: 20px

.sample-document__item-date
  font-weight: 500
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.05em
  color: rgba(52, 39, 51, 0.5)
  margin-top: 8px


+mq(tablet)

  .sample-documents
    margin-top: 69px

  .sample-documents__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 40px

  .sample-documents__item
    margin-top: 16px
    padding: 25px 23px 25px 111px
    width: 344px

    &:nth-of-type(-n + 2)
      margin-top: 0

    .sample-documents__icon
      left: 38px

      &:before
        border-radius: 100%
        content: ''
        position: absolute
        width: 62px
        height: 62px
        background: rgba(212, 222, 225, 0.5)
        top: -7px
        left: -14px

+mq(desktop)

  .sample-documents
    margin-top: 80px

  .sample-documents__list
    justify-content: flex-start

  .sample-documents__item
    border: 1px solid rgba(196, 196, 196, 0.2)
    box-shadow: none
    margin-right: 24px
    margin-top: 30px
    padding: 34px 26px 16px 106px
    transition: $default-transition
    width: calc(33% - 24px)

    &:nth-of-type(-n + 3)
      margin-top: 0

    &:nth-of-type(3n + 3)
      margin-right: 0

    &:hover
      border: 1px solid rgba(196, 196, 196, 0.5)
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)

