{{#items.isNotEmpty}}
    <section class="sample-documents">
        <div class="container">
            {{#title}}
                <div class="sample-documents__title">{{{.}}}</div>
            {{/title}}
            <div class="sample-documents__list">
                {{#items.values}}
                    <a class="sample-documents__item{{#isFile}} sample-documents__item_download{{/isFile}}{{^isFile}} sample-documents__item_link{{/isFile}}"
                       href="{{href}}"
                        {{# strMainId }} id="{{ . }}"{{/ strMainId }}
                        {{#isFile}} download{{/isFile}}
                        {{#targerBlank}} target="_blank"{{/targerBlank}}>
                        <div class="sample-documents__icon">
                            {{{iconInline}}}
                        </div>
                        <div class="sample-document__item-title">{{{ text }}}</div>
                        <div class="sample-document__item-date">{{dateAt}}</div>
                    </a>
                {{/items.values}}
            </div>
        </div>
    </section>
{{/items.isNotEmpty}}