<div class="index-about-stats">
    {{#stats}}
        <div class="index-about-stats-item">
            <div class="index-about-stats-item__top">
                <div class="index-about-stats-item__icon">
                    {{{icon.inline}}}
                </div>
                <div class="index-about-stats-item-value-group">
                    <span class="index-about-stats-item__pre-value">{{{preNum}}}</span>
                    <span class="index-about-stats-item__value" data-maxnumber="{{number}}">0</span>
                    <span class="index-about-stats-item__unit">{{{unit}}}</span>
                </div>
            </div>
            <div class="index-about-stats-item__description">
                {{{ text }}}
            </div>
        </div>
    {{/stats}}
</div>