.popup-calendar
  font: 500 14px/13px $default-font
  display: none
  width: 312px
  padding: 25px 18px 25px 20px
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)
  border-radius: 6px
  border: 1px solid #DCE5E5
  color: $gray1

.popup-calendar__title
  font-weight: bold
  font-size: 20px
  line-height: 20px
  text-align: center
  margin-bottom: 25px

.popup-calendar-datepicker
  padding: 29px 0 0
  border-top: 1px solid #E5E5E5
  border-bottom: 1px solid #E5E5E5

  .ui-datepicker-header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 22px

  .ui-datepicker-next
    order: 1

  .ui-datepicker-calendar
    border-spacing: 0
    border-collapse: collapse

    th
      text-align: center
      span
        display: inline-block
        width: 36px
        padding: 0 10px 9px
        font-weight: 600
        font-size: 10px
        line-height: 12px
        text-transform: uppercase
        color: #ADAFB2

      &:first-child
        span
          padding-left: 3px

      &:last-child
        span
          padding-right: 3px

    td
      text-align: center
      line-height: 36px

      .ui-state-default
        display: inline-block
        height: 30px
        width: 30px
        margin: 1px
        line-height: 28px
        border-radius: 50%
        border: 2px solid transparent

        &.ui-state-active
          border-color: $yellow8
          font-weight: bold

      &:first-child
        .ui-state-default
          margin-left: 0

      &.ui-state-disabled
        .ui-state-default
          color: #ADAFB2

  .ui-datepicker-next,
  .ui-datepicker-prev
    position: relative
    cursor: pointer
    width: 25px
    height: 25px

    .ui-icon
      font-size: 0

    &::before
      content: ''
      position: absolute
      right: -4px
      top: 3px
      display: block
      border: 6px solid transparent
      border-left-color: #CED0DA

  .ui-datepicker-prev
    &::before
      transform-origin: center center
      transform: scaleX(-1)
      right: auto
      left: -6px

  .ui-datepicker-title
    font-size: 16px
    line-height: 24px

.popup-calendar-buttons
  margin-top: 20px
  display: flex
  justify-content: space-between

.popup-calendar-buttons__item
  min-height: auto
  padding: 13px 21px
  font-size: 14px
  line-height: 12px
  color: $white
  margin: 0
  transition: $default-transition

  &:active
    background: $gray50