.footer-menu-list
  list-style-type: none
  padding: 0
  margin: 0

.footer-menu
  .footer-menu-list-item__link
    &_active
      opacity: 1
      border-bottom: 1px solid #636F75

+mq(tablet)
  .footer-menu
    display: flex

  .footer-menu-section
    margin-right: 60px

    &:nth-child(3n)
      margin-right: 0

  .footer-menu-list
    font-weight: 500
    font-size: 15px
    line-height: 17px
    color: #636F75

  .footer-menu-list-item
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0

  .footer-menu-list-item__link
    display: inline-block
    padding: 11px 0 3px
    opacity: 0.7

+mq(desktop)
  .footer-menu-section
    margin-right: 100px

  .footer-menu-list-item__link
    transition: $default-transition
    position: relative

    &::after
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 0
      border-bottom: 1px solid #636F75
      transition: $default-transition
      transform-origin: 0 0
      transform: scaleX(0)
      left: 0
      bottom: -1px
    &:hover
      opacity: 1
      &::after
        transform: scaleX(1)
