<div class="project-layout-floor{{#isVertical}} project-layout-floor_is-vertical{{/isVertical}}"
    {{# strMainId }} id="{{ . }}"{{/ strMainId }}>
    <div class="project-layout-floor__img-container">
        <a class="project-layout-floor__img-link b-lazy"
           data-fancybox
           data-src-md="{{image.mdSrc}}"
           data-src-lg="{{image.lgSrc}}"
           data-src="{{image.src}}"
           href="{{image.realSrc}}"
           title="Увеличить изображение">
        </a>
    </div>
    <a class="project-layout-floor__zoom-link project-layout-floor-action-link" data-fancybox
       href="{{image.realSrc}}">
        <span class="project-layout-floor-action-link__text">Увеличить</span>
        <svg class="project-layout-floor-action-link__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M23.28 19.92L19.92 16.56C21 14.88 21.6 12.96 21.6 10.8C21.6 4.8 16.8 0 10.8 0C4.8 0 0 4.8 0 10.8C0 16.8 4.8 21.6 10.8 21.6C12.96 21.6 14.88 21 16.56 19.92L19.92 23.28C20.88 24.24 22.32 24.24 23.28 23.28C24.24 22.32 24.24 20.88 23.28 19.92ZM10.8 19.2C6.12 19.2 2.4 15.48 2.4 10.8C2.4 6.12 6.12 2.4 10.8 2.4C15.48 2.4 19.2 6.12 19.2 10.8C19.2 15.48 15.36 19.2 10.8 19.2Z"
                  fill="#342733"/>
            <path d="M15.6001 9.60005H12.0001V6.00005C12.0001 5.28005 11.5201 4.80005 10.8001 4.80005C10.0801 4.80005 9.60008 5.40005 9.60008 6.00005V9.60005H6.00008C5.40008 9.60005 4.80008 10.08 4.80008 10.8C4.80008 11.52 5.28008 12 6.00008 12H9.60008V15.6C9.60008 16.32 10.0801 16.8 10.8001 16.8C11.5201 16.8 12.0001 16.32 12.0001 15.6V12H15.6001C16.3201 12 16.8001 11.52 16.8001 10.8C16.8001 10.08 16.2001 9.60005 15.6001 9.60005Z"
                  fill="#342733"/>
        </svg>
    </a>
    {{# printLink.href }}
        {{# printLink.text }}
            <a class="project-layout-floor__print-link project-layout-floor-action-link{{# printLink.additionalCssClass }} {{ . }}{{/ printLink.additionalCssClass }}"
                {{# printLink.targetBlank }} target="_blank"{{/ printLink.targetBlank }}
               href="{{ printLink.href }}"
               data-yandex-goals='["plan_print"]'
               title="{{ printLink.title }}">
                <span class="project-layout-floor-action-link__text">{{{ printLink.text }}}</span>
                <svg class="project-layout-floor-action-link__icon" width="24" height="24" viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.1333 6.27677H19.5879V1.6467C19.5879 1.2049 19.2297 0.84668 18.7879 0.84668H5.21212C4.77033 0.84668 4.41211 1.20485 4.41211 1.6467V6.27677H1.86666C0.837375 6.27677 0 7.1142 0 8.14348V16.192C0 17.2213 0.837375 18.0587 1.86666 18.0587H4.41225V22.3531C4.41225 22.7949 4.77042 23.1531 5.21227 23.1531H18.7877C19.2295 23.1531 19.5877 22.7949 19.5877 22.3531V18.0587H22.1333C23.1626 18.0587 24 17.2213 24 16.192V8.14348C24 7.11424 23.1626 6.27677 22.1333 6.27677ZM6.01209 2.44671H17.9879V6.27677H6.01209V2.44671ZM17.9877 21.5531H6.01228C6.01228 21.3967 6.01228 15.2014 6.01228 15.008H17.9878C17.9877 15.2062 17.9877 21.4027 17.9877 21.5531ZM22.4 16.1921C22.4 16.3391 22.2804 16.4587 22.1333 16.4587H19.5877V14.2081C19.5877 13.7663 19.2296 13.4081 18.7877 13.4081H5.21227C4.77047 13.4081 4.41225 13.7662 4.41225 14.2081V16.4587H1.86666C1.71961 16.4587 1.59998 16.3391 1.59998 16.1921V8.14352C1.59998 7.99648 1.71961 7.87685 1.86666 7.87685C2.48044 7.87685 21.534 7.87685 22.1333 7.87685C22.2804 7.87685 22.4 7.99648 22.4 8.14352V16.1921Z"
                          fill="#342733"/>
                </svg>
            </a>
        {{/ printLink.text }}
    {{/ printLink.href }}
</div>
