.project-layout-floor
  position: relative
  display: flex
  justify-content: center
  align-items: flex-start

  &_is-vertical
    .project-layout-floor__img-link
      padding-top: 120%

.project-layout-floor__img
  max-width: 100%
  max-height: 100%

.project-layout-floor-action-link
  position: absolute
  display: flex
  align-items: center
  opacity: 0.6
  transition: $default-transition

.project-layout-floor-action-link__text
  font-weight: 500
  font-size: 16px
  line-height: 16px
  letter-spacing: 0.03em

.project-layout-floor-action-link__icon
  flex-shrink: 0
  margin-left: 12px

.project-layout-floor__img-container
  width: 100%

.project-layout-floor__img-link
  display: flex
  margin: 0 auto
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  width: 100%
  padding-top: 66.6%

+mq(tablet, max)
  .project-layout-floor__zoom-link
    bottom: -35px
    left: 50%
    transform: translateX(-50%)

  .project-layout-floor__zoom-link-text
    order: 1

  .project-layout-floor__zoom-link-icon
    margin-right: 18px
    margin-left: 0

+mq(tablet)
  .project-layout-floor__zoom-link
    top: 0
    right: 0

  .project-layout-floor__zoom-link-text
    font-size: 14px
    font-weight: 600

+mq(desktop, max)
  .project-layout-floor__print-link
    display: none

+mq(desktop)
  .project-layout-floor
    &_is-vertical
      .project-layout-floor__img-link
        padding-top: 72%

  .project-layout-floor-action-link
    right: 32px

    &:hover
      opacity: 1

  .project-layout-floor__zoom-link
    top: 30px

  .project-layout-floor__print-link
    top: 74px

  .project-layout-floor-action-link__icon
    margin-left: 30px

  .project-layout-floor-action-link__text
    font-size: 16px

  .project-layout-floor__img-container
    width: 70%