<div class="company-employee swiper-container">
    <div class="swiper-wrapper company-employee__wrapper">
        {{#values}}
            <div class="swiper-slide company-employee__slide" {{#strMainId}} id="{{.}}" {{/strMainId}}>
                <div class="company-employee__slide-top">
                    {{#image}}
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-src="{{src}}"
                         alt="{{alt}}"
                         title="{{title}}"
                         class="b-lazy animate company-employee__slide-photo">
                    {{/image}}
                    <div class="company-employee__slide-title">
                        <div class="company-employee__slide-name">
                            {{ name }}
                        </div>
                        <div class="company-employee__slide-position">
                            {{ position }}
                        </div>
                        <div class="company-employee__slide-experience">
                            {{ experience }}
                        </div>
                    </div>
                </div>
                <div class="company-employee__slide-text">
                    {{{text}}}
                </div>
            </div>
        {{/values}}
    </div>
    <div class="company-employee__pagination tablet-hide"></div>
</div>