.company-employee
  margin: 40px 0 60px

.company-employee__slide-top
  position: relative

.company-employee__slide-photo
  display: block
  height: auto
  margin: 0 0 0 auto
  width: 241px

.company-employee__slide-title
  position: absolute
  top: 40px
  left: 0
  max-width: 165px

.company-employee__slide-name
  color: $main-color
  font-weight: 600
  font-size: 16px
  line-height: 28px
  opacity: 0.8

.company-employee__slide-position
  color: #848F92
  font-weight: 500
  font-size: 13px
  line-height: 16px
  margin-top: 15px

.company-employee__slide-experience
  color: rgba(132, 143, 146, 0.7)
  font-weight: 500
  font-size: 12px
  line-height: 16px
  margin-top: 10px
  padding-left: 10px

.company-employee__slide-text
  font-size: 13px
  line-height: 20px
  margin-top: 19px
  position: relative
  padding-top: 28px
  text-align: center

  &:before
    background: url("/local/assets/images/company-employee/quotes2.png")
    content: ''
    height: 15px
    left: 50%
    position: absolute
    top: 0
    transform: translateY(-50%)
    width: 21px

.company-employee__slide > .company-employee__slide-text > p
  font-size: 13px
  line-height: 20px

.company-employee__pagination
  margin: 20px auto 0
  transform: translateX(0)!important
  text-align: center

.company-employee__pagination > .swiper-pagination-bullet
  background: $gray20
  border-radius: 50%
  height: 12px
  margin: 0 12px!important
  opacity: 1
  transition: $default-transition
  width: 12px

.company-employee__pagination > .swiper-pagination-bullet-active
  background: $yellow8

+mq(tablet)

  .company-employee
    margin: 77px 0 60px

  .company-employee__wrapper
    flex-wrap: wrap

  .company-employee__slide
    align-items: center
    display: flex
    margin-top: 60px

    &:nth-of-type(1)
      margin-top: 0

  .company-employee__slide-top
    flex-shrink: 0
    width: 320px

  .company-employee__slide-text
    font-size: 15px
    line-height: 24px
    padding: 0 0 0 33px
    text-align: left

    &:before
      left: 0px

  .company-employee__slide > .company-employee__slide-text > p
    font-size: 15px
    line-height: 24px

+mq(desktop)

  .company-employee
    margin: 60px 0

  .company-employee__slide-photo
    width: 272px

  .company-employee__slide-top
    width: 370px

  .company-employee__slide-text
    font-size: 16px

  .company-employee__slide > .company-employee__slide-text > p
    font-size: 16px


