<div class="company__img-second">
    {{#values}}
    <div data-src="{{src}}"
         data-src-md="{{mdSrc}}"
         data-src-lg="{{lgSrc}}"
         class="b-lazy animate">
        <svg class="company__img-second-zoom" width="20" height="20" viewBox="0 0 20 20" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.8">
                <path d="M19.4 16.6L16.6 13.8C17.5 12.4 18 10.8 18 9C18 4 14 0 9 0C4 0 0 4 0 9C0 14 4 18 9 18C10.8 18 12.4 17.5 13.8 16.6L16.6 19.4C17.4 20.2 18.6 20.2 19.4 19.4C20.2 18.6 20.2 17.4 19.4 16.6ZM9 16C5.1 16 2 12.9 2 9C2 5.1 5.1 2 9 2C12.9 2 16 5.1 16 9C16 12.9 12.8 16 9 16Z"
                      fill="white"/>
                <path d="M13 8H10V5C10 4.4 9.6 4 9 4C8.4 4 8 4.5 8 5V8H5C4.5 8 4 8.4 4 9C4 9.6 4.4 10 5 10H8V13C8 13.6 8.4 14 9 14C9.6 14 10 13.6 10 13V10H13C13.6 10 14 9.6 14 9C14 8.4 13.5 8 13 8Z"
                      fill="white"/>
            </g>
        </svg>
        <a class="link-as-card" href="{{realSrc}}" data-fancybox="company-img"></a>
    </div>
    {{/values}}
</div>