{{#values}}
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
     data-src="/local/assets/images/company/logo-bsk-desktop.png"
     data-src-md="/local/assets/images/company/logo-bsk-m.png"
     data-src-lg="/local/assets/images/company/logo-bsk-tablet.png"
     class="b-lazy animate company__img">
{{/values}}