@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import "../company-top/company-top"
@import "../company-slider/company-slider"
@import "../company-photos/company-photos"
@import "../company-slider-second/company-slider-second"
@import "../company-employee/company-employee"
@import "../company-navigation/company-navigation"
@import "../company-video/company-video"

.company
  padding-bottom: 60px

.company__page
  overflow: hidden

.company__page-svg1, .company__page-svg2, .company__page-svg3, .company__page-svg4, .company__page-svg5
  display: none

.company__top-screen
  background: #F8F9FA

.company-title, .company__page-right h2
  color: $gray1
  font-weight: 800
  font-size: 36px
  line-height: 100%
  letter-spacing: 0.02em
  padding: 20px 0 0 30px
  position: relative

  &:before
    background: no-repeat url("/local/assets/images/company-top/quotes.png")
    background-size: cover
    content: ''
    height: 18px
    position: absolute
    left: 0
    top: 0
    width: 26px

.company__page-right
  padding-top: 40px

  h2
    margin: 60px 0 40px
    letter-spacing: 2.5px

  h4
    color: $main-color
    font-weight: 500
    font-size: 16px
    line-height: 25px
    margin: 20px 0

    &:nth-of-type(1)
      margin-top: 0

  p
    color: $main-color
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.03em
    margin: 20px 0

    &:nth-last-of-type(1)
      margin-bottom: 0

  .company__img
    display: block
    height: auto
    margin: 40px 0
    width: 100%

  .company__img-second
    margin: 40px 0

    div
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      border-radius: 4px
      height: 200px
      margin-top: 20px
      width: 100%

      &:nth-of-type(1)
        margin-top: 0

.company__img-second-zoom
  display: none

+mq(tablet)

  .company
    padding-bottom: 0

  .company-title
    font-size: 40px

  .company__page-right
    padding-top: 30px

    h2
      font-size: 40px
      margin: 70px 0 40px

    h4
      font-size: 19px
      line-height: 30px

      &:nth-of-type(1)
        margin-top: 0

    p
      font-size: 16px
      line-height: 30px

    .company__img
      margin: 60px 0

    .company__img-second
      display: flex
      margin: 20px 0

      div
        height: 222px
        margin-top: 0
        margin-left: 7px
        position: relative
        width: 50%

        &:nth-of-type(1)
          margin-left: 0

+mq(desktop)

  .company
    padding-bottom: 20px

  .company__page
    overflow: visible

  .company__page-svg1
    display: block
    height: 209px
    position: absolute
    right: -10px
    top: 300px
    width: 209px

  .company__top-screen
    position: relative

  .company__top-yellow
    background: linear-gradient(116.43deg, #FFB800 50%, #FFCD12 100%)
    width: 248px
    height: 100%
    position: absolute
    left: 50%

  .company__top-svg
    position: absolute
    top: 50px
    left: 48%
    z-index: 10

    svg
      display: block
      height: auto
      width: 203px

  .company__page-wrapper
    display: flex
    position: relative

  .company-title
    font-size: 60px
    margin-left: -45px
    padding: 20px 0 0 45px

    &:before
      height: 24px
      width: 35px

  .company__page-left
    width: 200px
    margin-right: 40px

  .company__page-right
    padding-top: 80px
    width: 872px

    h2
      font-size: 60px
      margin: 80px 0 40px

    p
      font-size: 17px
      line-height: 27px

    .company__img-second
      margin: 60px 0 40px

      div
        height: 292px

        &:before
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18))
          content: ''
          left: 0
          right: 0
          top: 0
          bottom: 0
          position: absolute
          opacity: 0
          height: 100%
          transition: $default-transition
          width: 100%

      div:hover
        box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2)

        &:before, .company__img-second-zoom
          opacity: 1

    .company__img-second-zoom
      display: block
      bottom: 19px
      height: auto
      opacity: 0
      position: absolute
      right: 21px
      transition: $default-transition
      width: 20px

+mq(wide-screen)

  .company
    padding-bottom: 50px

  .company__page-svg2, .company__page-svg3, .company__page-svg4, .company__page-svg5
    display: block

  .company__page-svg2
    height: 115px
    position: absolute
    left: 50px
    top: 400px
    width: 114px

  .company__page-svg3
    position: absolute
    top: 50%

  .company__page-svg4
    position: absolute
    top: 60%
    right: 0

  .company__page-svg5
    position: absolute
    top: 10%
    left: 50px

  .company__page-wrapper
    margin-left: -240px