.company-navigation
  opacity: 0
  margin-top: 70px
  padding-top: 15px
  padding-bottom: 30px
  position: sticky
  transition: $default-transition
  top: 100px

  &_showed
    opacity: 1

  .progress
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    height: 311px

  .bar
    position: absolute
    top: 50%
    left: 0
    background: rgba(251, 205, 66, 0.4)
    border-radius: 3px
    width: 4px
    height: 100%
    transform: translateY(-50%)

    &__fill
      display: block
      background: $yellow8


  .point
    display: block
    position: relative
    color: $yellow8
    cursor: pointer
    left: -3px
    width: 100%

    &:hover

      .label
        font-weight: 700

    &:before
      content: ''
      cursor: pointer
      position: absolute
      top: 50%
      left: 50%
      width: 80px
      height: 80px
      border-radius: 100%
      transform: translate(-50%, -50%)
      transition: 0.3s ease

    &--complete,
    &--active
      color: $yellow8

      .label
        opacity: 1

  .bullet
    background: #FFFFFF
    box-shadow: 0 2px 2px rgba(#000, 0.2), 0 0 0 2px $yellow8
    z-index: 1
    position: relative
    width: 10px
    height: 10px
    border-radius: 100%
    transition: 0.3s ease

  .point--complete.point--active

    .bullet
      box-shadow: 0 2px 4px rgba(#000, 0.2), 0 0 0 10px $yellow8

  .point--active

    .bullet
      box-shadow: 0 2px 4px rgba(#000, 0.2), 0 0 0 10px $yellow8

  .point--complete

    .bullet
      box-shadow: 0 2px 4px rgba(#000, 0.2), 0 0 0 6px $yellow8

  .label
    color: $main-color
    cursor: pointer
    font-weight: 500
    font-size: 14px
    line-height: 15px
    letter-spacing: -0.03em
    left: 30px
    opacity: 0.7
    position: absolute
    top: 50%
    transform: translateY(-50%)
    transition: 0.1s
    width: 130px

  .radius-toggle
    position: absolute
    top: 20px
    left: 20px
    display: block
    background: $white
    border: 0
    border-radius: 4px
    box-shadow: 40px 0 65px rgba(#D4C5BA, 0.4)
    padding: 10px
    color: $yellow8
    font-size: 0.75rem
    font-weight: 600
    text-transform: uppercase
