<div class="company-navigation">
    <div class="progress">
        <div class="bar">
            <div class="bar__fill" style="height: 0;"></div>
        </div>
        {{#items}}
        <a class="point {{#isFirst}}point--active point--complete{{/isFirst}}" href="#{{code}}">
            <div class="bullet"></div>
            <span class="label">
                <span>
                    {{ name }}
                </span>
            </span>
        </a>
        {{/items}}
    </div>
</div>