@import "../variables/variables"
@import "../mixins/mixins"

.custom-fancybox__close
  width: 30px
  height: 30px
  position: absolute
  right: 25px
  top: 25px
  z-index: 10000

.custom-fancybox__close-icon
  width: 25px
  height: 25px

  path
    transition: $default-transition

.custom-fancybox__close:hover
  .custom-fancybox__close-icon
    path
      fill: $gray50

.custom-fancybox
  .fancybox-slide
    font-family: $default-font
    & > *
      display: inline-block!important

+mq(tablet, max)
  .custom-fancybox
    .fancybox-bg
      background: rgba(0, 0, 0, 0.4)

    .fancybox-slide > *
      vertical-align: bottom

+mq(tablet)
  .custom-fancybox.fancybox-is-open
    .fancybox-bg
      background: rgba(0, 0, 0, 0.4)
