<li class="breadcrumbs-item{{# isLast }} breadcrumbs-item_last{{/ isLast }}"
    itemprop="itemListElement"
    itemscope
    itemtype="http://schema.org/ListItem">
    <a href="{{href}}"
       itemprop="item"
       class="link-preset breadcrumbs-item__link">
        <span itemprop="name">{{text}}</span>
    </a>
    <meta itemprop="position" content="{{index}}"/>
</li>