{{#isNotEmpty}}
    <nav class="breadcrumbs desktop-only">
        <ul class="list-preset breadcrumbs-list" itemscope itemtype="http://schema.org/BreadcrumbList">
            {{#values}}
                {{> breadcrumbs-item }}
            {{/values}}
        </ul>
    </nav>
{{/isNotEmpty}}