.breadcrumbs
  padding: 30px 0

.breadcrumbs-list
  display: flex
  list-style: none
  margin: 0
  padding: 0

.breadcrumbs-item
  font-weight: 500
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.03em
  color: rgba(52, 39, 51, 0.5)
  margin-right: 12px
  padding-right: 26px
  position: relative

  &:after
    content: url("/local/assets/images/arrow.svg")
    opacity: 0.5
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)

  .breadcrumbs-item__link
    transition: $default-transition
    &:hover
      color: rgba(52, 39, 51, 0.8)

.breadcrumbs-item_last
  color: rgba(52, 39, 51, 0.8)

  &:after
    display: none

+mq(desktop)

  .breadcrumbs
    padding: 35px 0 30px