{{#groups.isNotEmpty}}
    <section class="documents page-screen" id="project-documents">
        <div class="container">
            <div class="documents__top">
                {{#title}}
                    {{#useH1}}
                        <h1 class="documents__title">{{{ title }}}</h1>
                    {{/useH1}}
                    {{^useH1}}
                        <h2 class="documents__title">{{{ title }}}</h2>
                    {{/useH1}}
                {{/title}}
                {{#needShowDropdown}}
                    <div class="dropdown documents__dropdown tablet-hide">
                        {{#categories.values}}
                            {{#active}}
                                <button type="button" class="dropdown-current documents__dropdown-current">
                                    <span class="dropdown-current__text">{{name}}</span>
                                    <svg width="16" height="11" viewBox="0 0 16 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.02334 7.66146L1.9607 1.59882C1.58432 1.22244 0.975255 1.22244 0.598878 1.59882C0.222501 1.97519 0.222501 2.58426 0.598878 2.96064L7.34244 9.7042C7.5301 9.89186 7.77714 9.98635 8.02337 9.98635C8.2696 9.98635 8.51664 9.89186 8.70429 9.7042L15.4479 2.96064L15.4479 2.96062C15.8242 2.58424 15.8242 1.97519 15.4478 1.59882C15.0715 1.22244 14.4624 1.22244 14.086 1.59882L8.02334 7.66146Z"
                                              fill="#342733" stroke="#342733" stroke-width="0.7"/>
                                    </svg>
                                </button>
                            {{/active}}
                        {{/categories.values}}
                        <div class="dropdown-list documents__dropdown-list tablet-hide">
                            <ul class="dropdown-scroll documents__dropdown-scroll">
                                {{#categories.values}}
                                    <li class="dropdown-list-item documents__dropdown-list-item dropdown-item{{#active}} dropdown-item_selected{{/active}}"
                                        data-value="{{name}}">
                                        <a class="dropdown-item__content documents__dropdown-list-item-link"
                                           title="{{name}}"
                                           href="#group-{{id}}">{{name}}</a>
                                    </li>
                                {{/categories.values}}
                            </ul>
                        </div>
                    </div>
                {{/needShowDropdown}}
                <div class="documents__tabs mobile-hide tablet-show">
                    {{#categories.values}}
                        <a class="documents__tab{{#active}} documents__tab_active{{/active}}"
                           href="#group-{{id}}">{{name}}</a>
                    {{/categories.values}}
                </div>
            </div>
            <div class="documents__content">
                {{#groups.values}}
                    <div class="documents__list{{#active}} documents__list_active{{/active}}" id="group-{{id}}">
                        {{#documents.values}}
                            <a class="documents__item{{#isFile}} documents__item_download{{/isFile}}{{^isFile}} documents__item_link{{/isFile}}"
                               href="{{href}}"
                                {{# strMainId }} id="{{ . }}"{{/ strMainId }}
                                {{#isFile}} download{{/isFile}}
                                {{#targerBlank}} target="_blank"{{/targerBlank}}>
                                <div>
                                    {{{iconInline}}}
                                </div>
                                <div class="documents__item-title">{{{ text }}}</div>
                                <div class="documents__item-date">{{dateAt}}</div>
                            </a>
                        {{/documents.values}}
                    </div>
                {{/groups.values}}
            </div>
        </div>
    </section>
{{/groups.isNotEmpty}}
