@import '../contact/contact'
@import '../header-menu/header-menu'
@import '../fullscreen-menu/fullscreen-menu'
@import '../header-search/header-search'
@import '../header-submenu/header-submenu'

.header
  background: $white
  top: 0
  left: 0
  width: 100%
  position: fixed
  z-index: 10000
  box-shadow: 0px 9.73958px 9.73958px rgba(0, 0, 0, 0.03)

  &_show-fullscreen-menu
    z-index: 15
    .header-container
      z-index: 1005
      background: $gray10
    .header-section
      padding-top: 29px

.header-container
  position: relative
  z-index: 102
  display: flex
  justify-content: space-between

.header-section
  padding: 23px 0 19px
  display: flex
  justify-content: space-between
  align-items: center
  transition: $default-transition

.header-logo
  display: block
  width: 200px

.header-logo__img
  width: 100%
  height: auto

.header-contacts
  display: flex

.inner-header-container,
.header-section
  width: 100%

.fullscreen-menu-pattern
  display: none
  opacity: 0
  transition: none
  pointer-events: none
  z-index: -100
  position: absolute

+mq(tablet, max)
  .header-section__part
    display: none

+mq(tablet)
  .header
    &_show-fullscreen-menu
      height: 100vh
      .header-section
        padding-top: 54px
      .header-section__part
        opacity: 0
        transition: none
        pointer-events: none
      .header-container-wrapper
        background: none
        border: none
        width: 100%
        &:not(.header-container-wrapper-main)
          display: none

  .header-container-wrapper
    transition: $default-transition
    display: flex

  .header-logo
    width: 300px

  .header-section
    position: relative
    padding: 16px 0 17px

  .header-section__part
    margin-left: 111px
    margin-right: 113px
    transition: opacity $default-transition
    pointer-events: auto

  .header-section-menu
    border-top: 1px solid #F1F1F1

+mq(desktop, max)
  .header-email,
  .header__call-button
    display: none

  .header
    .contact__icon
      display: none

  .inner-header-container
    margin: 0
    padding: 0
    max-width: none
    width: 100%
    display: flex
    height: 100%

  .header-submenu-container
    display: none

+mq(desktop)
  .header
    overflow: hidden
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03)

    &_compact
      .header-menu-list-item__link
        padding-right: 35px

    .contact-text__label
      display: none

    .contact-text__value
      font-size: 17px
      line-height: 20px
      letter-spacing: 0.04em

    .screen-overlay
      position: fixed
      left: 0
      top: 0
      transition: background 0.4s
      width: 100vw
      height: 0

      &_show
        background: rgba(0, 0, 0, 0.6)
        height: 100vh

  .header-contacts__item
    margin-right: 38px
    &:last-child
      margin-right: 0

  .header-container-wrapper
    background: $white

    &-main
      border-bottom: 1px solid #F1F1F1

    &_hidden
      margin-top: -97px
      opacity: 0
      pointer-events: none

  .header_show-fullscreen-menu
    .header-container-wrapper_hidden
      margin-top: 0
      opacity: 1
      pointer-events: auto

  .header-container
    display: block
    padding: 0
    margin: 0
    max-width: none

  .header-section
    padding: 25px 0 20px

  .header-section__part
    display: flex
    align-items: center
    margin-left: 0
    margin-right: 0

  .header__call-button
    width: 248px
    margin-left: 66px

  .header-section-menu
    border: none
    padding: 0

+mq(wide-screen)
  .fullscreen-menu-pattern
    display: block

  .header_show-fullscreen-menu
    .fullscreen-menu-pattern
      opacity: 1
      z-index: 1010
      transition: opacity $default-transition ease $default-transition
      svg
        width: 100%
        height: 100%

  .fullscreen-menu-pattern_rectangles
    width: 157px
    height: 157px
    left: 34px
    top: 68px

  .fullscreen-menu-pattern_circle-big
    width: 220px
    height: 220px
    right: 47px
    top: 235px

  .fullscreen-menu-pattern_dots-big
    width: 264px
    height: 55px
    left: 0
    top: 482px

  .fullscreen-menu-pattern_circle-small
    width: 126px
    height: 126px
    left: 146px
    bottom: 154px

  .fullscreen-menu-pattern_dots-small
    width: 159px
    height: 36px
    right: 6px
    bottom: 185px