<div class="site-socials">
    <div class="site-socials__list ya-share2 hidden"
         data-services="vkontakte,facebook,whatsapp"
         data-bare data-limit="2" data-copy="last"
         data-direction="horizontal">
    </div>
    <button type="button" class="site-socials__button">
        <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23" cy="23" r="23" fill="#7D8C93"/>
            <path d="M30.9846 16.9999C30.9846 18.3462 29.8901 19.4375 28.5399 19.4375C27.1897 19.4375 26.0952 18.3462 26.0952 16.9999C26.0952 15.6539 27.1897 14.5625 28.5399 14.5625C29.8901 14.5625 30.9846 15.6539 30.9846 16.9999Z"
                  fill="white"/>
            <path d="M28.5401 20C26.8807 20 25.5312 18.6545 25.5312 16.9999C25.5312 15.3455 26.8807 14 28.5401 14C30.1995 14 31.5489 15.3455 31.5489 16.9999C31.5489 18.6545 30.1995 20 28.5401 20ZM28.5401 15.125C27.5028 15.125 26.6596 15.9665 26.6596 16.9999C26.6596 18.0335 27.5028 18.875 28.5401 18.875C29.5774 18.875 30.4206 18.0335 30.4206 16.9999C30.4206 15.9665 29.5774 15.125 28.5401 15.125Z"
                  fill="white"/>
            <path d="M30.9846 29.0001C30.9846 30.3462 29.8901 31.4375 28.5399 31.4375C27.1897 31.4375 26.0952 30.3462 26.0952 29.0001C26.0952 27.6539 27.1897 26.5625 28.5399 26.5625C29.8901 26.5625 30.9846 27.6539 30.9846 29.0001Z"
                  fill="white"/>
            <path d="M28.5401 32C26.8807 32 25.5312 30.6545 25.5312 29.0001C25.5312 27.3455 26.8807 26 28.5401 26C30.1995 26 31.5489 27.3455 31.5489 29.0001C31.5489 30.6545 30.1995 32 28.5401 32ZM28.5401 27.125C27.5028 27.125 26.6596 27.9665 26.6596 29.0001C26.6596 30.0335 27.5028 30.875 28.5401 30.875C29.5774 30.875 30.4206 30.0335 30.4206 29.0001C30.4206 27.9665 29.5774 27.125 28.5401 27.125Z"
                  fill="white"/>
            <path d="M20.454 22.9999C20.454 24.3462 19.3594 25.4374 18.0091 25.4374C16.659 25.4374 15.5645 24.3462 15.5645 22.9999C15.5645 21.6537 16.659 20.5625 18.0091 20.5625C19.3594 20.5625 20.454 21.6537 20.454 22.9999Z"
                  fill="white"/>
            <path d="M18.0088 25.9999C16.3495 25.9999 15 24.6545 15 22.9999C15 21.3454 16.3495 20 18.0088 20C19.6683 20 21.0178 21.3454 21.0178 22.9999C21.0178 24.6545 19.6683 25.9999 18.0088 25.9999ZM18.0088 21.125C16.9716 21.125 16.1283 21.9664 16.1283 22.9999C16.1283 24.0335 16.9716 24.8749 18.0088 24.8749C19.0463 24.8749 19.8895 24.0335 19.8895 22.9999C19.8895 21.9664 19.0463 21.125 18.0088 21.125Z"
                  fill="white"/>
            <path d="M19.7847 22.6401C19.5229 22.6401 19.2686 22.5042 19.1302 22.2613C18.9248 21.9021 19.0513 21.4438 19.4116 21.2382L26.3914 17.2708C26.7517 17.0645 27.2113 17.1906 27.4175 17.5512C27.6229 17.9105 27.4964 18.3687 27.1361 18.5743L20.1562 22.5417C20.0388 22.6085 19.911 22.6401 19.7847 22.6401Z"
                  fill="white"/>
            <path d="M26.764 28.8274C26.6376 28.8274 26.5097 28.7958 26.3924 28.7291L19.4125 24.7617C19.0521 24.5569 18.9258 24.0986 19.1312 23.7386C19.3357 23.3786 19.7961 23.2519 20.1572 23.4581L27.1371 27.4256C27.4974 27.6303 27.6237 28.0886 27.4184 28.4487C27.2793 28.6916 27.025 28.8274 26.764 28.8274Z"
                  fill="white"/>
        </svg>
    </button>
</div>