.site-socials
  display: flex
  position: absolute
  right: 0

.site-socials__list.open
  background-color: #FFFFFF

.site-socials__list
  transition: background-color 1s

  .ya-share2__list
    display: flex

    .ya-share2__item
      border-radius: 50%
      height: 46px
      margin: 0
      padding: 0
      position: relative
      width: 46px

    .ya-share2__item:not(.ya-share2__item_more)
      position: relative

      &:hover
        background-color: #FFB800

      &:after
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

      .ya-share2__link
        border: none
        position: absolute
        height: 100%
        width: 100%
        z-index: 1

      .ya-share2__title
        display: none

    .ya-share2__item:before
      display: none

    .ya-share2__item_service_vkontakte
      background: #47A3CA
      margin-right: 10px
      transform: scale(0)
      opacity: 0
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s, background-color 0.3s

      &:after
        background: url("/local/assets/images/article/vk.svg") no-repeat
        content: ''
        height: 11px
        width: 20px

    .ya-share2__item_service_facebook
      background: #3F88A8
      margin-right: 10px
      transform: scale(0)
      opacity: 0
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s, background-color 0.3s

      &:after
        background: url("/local/assets/images/article/face.svg") no-repeat
        content: ''
        height: 18px
        width: 10px

    .ya-share2__item_service_whatsapp
      background: #1DBF68
      margin-right: 10px
      transform: scale(0)
      opacity: 0
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s, background-color 0.3s

      &:after
        background: url("/local/assets/images/article/whatsapp.svg") no-repeat
        content: ''
        height: 19px
        width: 19px

    .ya-share2__item_copy
      background: #FF6A6A
      margin-right: 10px
      transform: scale(0)
      opacity: 0
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s, background-color 0.3s

      &:after
        background: url("/local/assets/images/article/share.svg") no-repeat
        content: ''
        height: 16px
        width: 16px

      input
        opacity: 0
        position: absolute
        right: 1500px

    .ya-share2__item_more
      width: 112px

.site-socials__list.open

  .ya-share2__item
    transform: scale(1)
    opacity: 1

.site-socials__button
  cursor: pointer
  border-radius: 50%
  outline: 0

  svg
    vertical-align: top

.copy-popup
  background: #EFEFEF
  border-radius: 10px
  display: block
  font-size: 18px
  padding: 20px
  position: fixed
  top: 45%
  left: 40%
  text-align: center
  width: 250px

+mq(tablet)

  .site-socials
    position: static