.header-menu-content
  display: none

.header-menu-button
  line-height: 0
  position: relative
  z-index: 101

  svg
    transition: $default-transition

  &_opened
    .header-menu-button__icon
      height: 28px
    .non-button-cross-part
      opacity: 0
      transform: translateX(-30px)
    .button-cross-part
      &_1
        transform: rotate(-45deg) translateX(-10px)
      &_2
        transform: rotate(45deg) translate(5px, -6px)

.non-button-cross-part
  transition: $default-transition

.button-cross-part
  transform-origin: left top
  transition: $default-transition

.header-menu-list
  list-style-type: none
  padding: 0
  margin: 0

+mq(desktop, max)
  .header-compact-contact
    display: none

+mq(desktop)
  .header-menu
    background: $white
    width: 100%
    display: flex
    align-items: center

  .header-menu-list
    display: flex
    width: 100%

  .header-menu-content
    flex: 1
    margin-left: 50px
    display: flex
    align-items: center
    justify-content: space-between

  .header-menu-side-group
    flex: 1
    position: relative
    flex-shrink: 0
    display: flex
    justify-content: flex-end
    align-items: center

  .header-menu-search
    opacity: 0
    pointer-events: none
    padding: 15px 0
    width: 100%
    background: $white
    position: fixed
    right: 0
    z-index: 110
    transition: 0.2s

    .container
      display: flex
      align-items: center
      justify-content: space-between

    .header-search
      display: flex
      flex: 1
      margin-right: 30px

    .header-search__form
      width: 100%
      border: none
      padding: 0

    &_open
      opacity: 1
      pointer-events: auto

  .header-menu-list-item__link
    transition: $default-transition
    display: inline-flex
    align-items: center
    padding: 30px 50px 31px 0
    position: relative

  .header-menu-list-item
    &:last-child
      .header-menu-list-item__link
        padding-right: 0

  .header-menu-list-item__link-text
    transition: $default-transition
    font-size: 16px
    line-height: 19px
    font-weight: 500
    letter-spacing: 0.05em

  .header-menu-list-item__link-icon
    margin-left: 8px
    line-height: 0

    svg
      width: 20px
      height: 20px

  .header-compact-contact
    display: flex
    justify-content: flex-end
    transition: $default-transition
    transform: translateY(66px)
    opacity: 0
    position: absolute
    pointer-events: none
    right: 0
    width: 100%

  .header_compact
    .header-menu-search-button
      opacity: 0
    .header-compact-contact
      transform: translateY(0)
      pointer-events: auto
      opacity: 1

    .header-menu-button
      svg
        width: 26px
        height: 19px

    .header-menu-list-item__link
      padding-top: 30px
      padding-bottom: 24px

    .header-menu-list-item__link-text
      font-size: 15px
      line-height: 17px

  .header-menu-search-button
    transition: $default-transition
    order: 1

  .header-menu-search-close
    display: flex
    align-items: center
    font-weight: 500
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.05em
    opacity: 0.6

  .header-menu-search-close__icon
    margin-right: 20px