{{#isNotEmpty}}
    <ul class="header-menu-list">
        {{#values}}
            <li class="header-menu-list-item{{#active}} header-menu-list-item_active{{/active}}">
                <a href="{{href}}"
                   class="header-menu-list-item__link">
                    <span class="header-menu-list-item__link-text">{{{text}}}</span>
                    {{#params.isSale}}
                        <span class="header-menu-list-item__link-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10" r="10" fill="#FF6A6A"/>
                                <path d="M14.6895 12.4565C13.9335 11.8175 13.5 10.8835 13.5 9.89396V8.49999C13.5 6.74053 12.193 5.28402 10.5 5.04004V4.49997C10.5 4.22348 10.276 4 10 4C9.72402 4 9.49999 4.22348 9.49999 4.49997V5.04004C7.80654 5.28402 6.5 6.74053 6.5 8.49999V9.89396C6.5 10.8835 6.06649 11.8175 5.30606 12.4605C5.11151 12.627 5 12.869 5 13.1249C5 13.6075 5.39249 14 5.87506 14H14.125C14.6075 14 15 13.6075 15 13.1249C15 12.869 14.8885 12.627 14.6895 12.4565Z"
                                      fill="white"/>
                                <path opacity="0.9"
                                      d="M10.0001 16C10.9055 16 11.663 15.3545 11.8371 14.5H8.16309C8.33704 15.3545 9.09454 16 10.0001 16Z"
                                      fill="white"/>
                            </svg>
                        </span>
                    {{/params.isSale}}
                </a>
                {{#menu.isNotEmpty}}
                    <div class="header-submenu-container container">
                        <ul class="header-submenu">
                            {{#menu.values}}
                                <li class="header-submenu-item">
                                    <a href="{{href}}"
                                       class="header-submenu-item__link{{#active}} header-submenu-item__link_active{{/active}}">{{{text}}}</a>
                                </li>
                            {{/menu.values}}
                        </ul>
                    </div>
                {{/menu.isNotEmpty}}
            </li>
        {{/values}}
    </ul>
{{/isNotEmpty}}
