@import '../variables/variables'
@import '../mixins/mixins'
@import '../functions/functions'
@import '../consultation-form/consultation-form'
@import '../article-form/article-form'
@import '../infinite/infinite'
@import '../index-products/index-products'
@import '../projects-list/projects-list'
@import '../other-projects/other-projects'
@import '../collapsed-block/collapsed-block'
@import '../index-text/index-text'
@import '../dropdown/dropdown'

.hot-deals-page
  .index-products
    margin: 30px 0 60px

    .show-more-link
      display: none

  .index-products__title
    display: none


.page-section
  padding-bottom: 20px

+mq(tablet, max)
  .page-content
    padding-bottom: 40px

+mq(tablet)
  .dropdown
    display: none

  .hot-deals-page
    .index-products
      margin: 30px 0 40px
    .dropdown
      display: none