<div class="project-detail-about-side">
    <div class="project-detail-about-side-content">
        {{>characteristics-table_main}}
        {{>project-detail-prices}}
        {{^isArchive}}
            <a href="#bell-form"
               class="project-detail-about__tour-btn popup-link button button_filled-yellow feedback-form-link">
                Связаться с менеджером
            </a>
        {{/isArchive}}
    </div>
</div>
