@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import '../section-title/section-title'
@import '../project-detail-slider/project-detail-slider'
@import '../article-main/article-main'
@import '../project-detail/project-detail-article'
@import '../project-detail-futures/project-detail-futures'
@import '../consultation-form/consultation-form'
@import '../article-form/article-form'
@import '../card/card'
@import '../project-detail-prices/project-detail-prices'
@import '../project-detail-about/project-detail-about'
@import '../collapsed-block/collapsed-block'
@import '../index-products/index-products'
@import '../hot-deals/hot-deals'

.hot-deals-detail
  .article-main
    margin-top: 0

  .hot-deals
    margin: 50px 0 40px

  .project-detail-slider
    margin-bottom: 0

  .page__title
    margin-bottom: 30px

+mq(tablet)
  .hot-deals-detail
    .article-main
      margin-top: 40px

    .hot-deals__slide
      margin-right: 24px
      .product-card
        min-height: 368px

    .hot-deals__slider_disabled
      margin-bottom: -30px

    .project-detail-first-screen-slider
      display: none

@media only screen and (min-width: $wp2) and (max-width: $wp3 - 1px)
  .hot-deals-detail
    .hot-deals__slide
      &:nth-child(even)
        margin-right: 0

+mq(desktop)
  .hot-deals-detail
    .article-main
      margin-top: 10px

    .project-detail-about-side
      margin-top: 50px

    .hot-deals__slide
      &:last-child
        margin-right: 0

      .product-card
        min-height: 385px

    .hot-deals__slider_disabled
      .hot-deals__slide
        width: calc(25% - 18px)

  .project-detail-about-side-content
    position: sticky
    top: 115px