<form class="article-form form feedback-form"
      id="{{ajax_component_id}}"
      enctype="multipart/form-data"
      action="/"
      method="post">
    <div class="article-form__container">
        <div class="article-form__text">
            <div class="article-form__title">{{{title}}}</div>
            <div class="article-form__subtitle">{{{sub_title}}}</div>
        </div>
        <div class="article-form-inputs">
            <div class="article-form__group">
                {{#controls.name}}
                    {{> form__control_type_text }}
                {{/controls.name}}
                {{#controls.phone}}
                    {{> form__control_type_text }}
                {{/controls.phone}}
            </div>
            <div class="article-form__submit-wrapper">
                <button class="form__submit button feedback-form__submit article-form__submit"
                        type="submit">
                    {{submit_text}}
                </button>
            </div>
            <div class="article-form-agreement"><!--noindex-->{{{user_consent}}}<!--/noindex--></div>
        </div>
    </div>
</form>