@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import "../article-main/article-main"

.privacy-policy__svg1, .privacy-policy__svg2, .privacy-policy__svg3, .privacy-policy__svg4, .privacy-policy__svg5
  display: none

+mq(tablet, max)
  .page-content
    padding-bottom: 40px

+mq(wide-screen)

  .privacy-policy
    overflow: hidden
    position: relative

  .privacy-policy__svg1, .privacy-policy__svg2, .privacy-policy__svg3, .privacy-policy__svg4, .privacy-policy__svg5
    display: block
    position: absolute
    z-index: 1

  .privacy-policy__svg1
    top: 500px
    left: 1%

  .privacy-policy__svg2
    top: 30%
    left: 2%

  .privacy-policy__svg3
    top: 55%
    left: -10px

  .privacy-policy__svg4
    top: 80%
    left: 2%

  .privacy-policy__svg5
    bottom: 150px
    right: -20px