<div class="announcements-card card">
    <div class="announcements-card__img-wrapper">
        <div class="announcements-card__img b-lazy"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
             data-src="/local/assets/images/announcements/img-3.jpg"></div>
    </div>
    <div class="announcements-card__type">Акция</div>
    <div class="card-info">
        <div class="announcements-card-info-top">
            <div class="announcements-card__date">17 апреля 2020</div>
            <div class="announcements-card-views">
                <svg class="announcements-card-views__icon" width="24" height="16" viewBox="0 0 24 16" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.7332 4.80002C9.96785 4.80002 8.5332 6.23467 8.5332 8.00001C8.5332 9.76536 9.96785 11.2 11.7332 11.2C13.4985 11.2 14.9332 9.76536 14.9332 8.00001C14.9332 6.23467 13.4985 4.80002 11.7332 4.80002Z"
                          fill="#7D8C93"/>
                    <path d="M11.7333 0C6.4 0 1.84535 3.3173 0 8C1.84535 12.6827 6.4 16 11.7333 16C17.072 16 21.6213 12.6827 23.4667 8C21.6213 3.3173 17.072 0 11.7333 0ZM11.7333 13.3333C8.78935 13.3333 6.4 10.9439 6.4 7.99995C6.4 5.05595 8.78935 2.66665 11.7333 2.66665C14.6773 2.66665 17.0667 5.056 17.0667 8C17.0667 10.944 14.6773 13.3333 11.7333 13.3333Z"
                          fill="#7D8C93"/>
                </svg>
                <span class="announcements-card-views__value">200</span>
            </div>
        </div>
        <div class="announcements-card__name">
            Факторы роста цен на жилье в России
        </div>
        <div class="announcements-card__text">
            Цены на жилье в России будут расти в связи с переходом на долевое строительство с использованием
            эскроу-счетов.
        </div>
        <div class="announcements-card-tags">
            <span class="announcements-card-tags__item">#Акции</span>
        </div>
    </div>
    <a class="link-as-card"
       href="#"
       title="Офисное помещение"
       target="_blank"></a>
</div>