.announcements-card
  border: 1px solid $gray5
  border-bottom: none

  .card-info
    padding-bottom: 50px
    position: relative

  .card-sticker
    padding-left: 19px
    padding-right: 19px

  &:hover
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)

.announcements-card__type
  display: none

.announcements-card__img
  padding-top: 77%
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.announcements-card__date
  font-weight: 600
  font-size: 13px
  line-height: 16px
  letter-spacing: 0.05em

.announcements-card-info-top
  margin-bottom: 12px

.announcements-card__text
  margin-top: 30px
  font-size: 13px
  line-height: 18px
  position: relative
  height: 70px
  overflow: hidden

  &::after
    position: absolute
    content: ''
    display: block
    left: 0
    bottom: 0
    width: 100%
    height: 24px
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)

.announcements-card-views
  opacity: 0.3
  display: flex
  align-items: center
  position: absolute
  right: 24px
  bottom: 14px

.announcements-card-views__value
  font-weight: 600
  font-size: 13px
  line-height: 16px
  letter-spacing: 0.05em
  color: $gray40
  margin-left: 12px

.announcements-card__name
  font-weight: 800
  font-size: 16px
  line-height: 18px

.announcements-card-tags
  position: absolute
  left: 25px
  bottom: 18px
  font-size: 13px
  line-height: 16px
  letter-spacing: 0.05em
  color: rgba(52, 39, 51, 0.5)
  opacity: 0.8

+mq(tablet)
  .announcements-card
    display: flex
    min-height: 260px

    .card-info
      padding: 26px 14px 57px 21px

  .announcements-card__img
    padding-top: 0
    height: 100%

  .announcements-card__img-wrapper
    width: 339px
    flex-shrink: 0

  .announcements-card-info-top
    display: flex

  .announcements-card__date
    margin-right: 15px

  .announcements-card-views
    position: static

  .announcements-card__name
    margin-top: 35px
    font-size: 18px
    line-height: 25px

  .announcements-card__text
    margin-top: 15px
    font-size: 14px
    line-height: 20px
    height: 83px

  .announcements-card__type
    display: block
    position: absolute
    right: 72px
    top: 26px
    font-weight: 600
    font-size: 13px
    line-height: 16px
    color: $red
    letter-spacing: 0.05em

+mq(desktop)
  .announcements-card
    .card-info
      padding: 24px 40px 57px

  .announcements-card__name
    font-size: 22px
    line-height: 25px
    margin-top: 45px

  .announcements-card__text
    height: 98px
    margin-top: 23px
    line-height: 25px

  .announcements-card-tags
    bottom: 21px
    left: 40px