<div class="announcements-card card" {{#strMainId}} id="{{ . }}" {{/strMainId}}>
    {{#image.src}}
    <div class="announcements-card__img-wrapper">
        <div class="announcements-card__img b-lazy"
             data-src="{{ image.src }}"></div>
    </div>
    {{/image.src}}
    {{#isSale}}
    <div class="card-sticker card-sticker_red">
        <svg class="card-sticker__icon" width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5654 10.9532C12.5069 10.1255 11.9 8.91574 11.9 7.6341V5.82856C11.9 3.54965 10.0702 1.66312 7.70002 1.3471V0.647578C7.70002 0.28946 7.38638 0 7.00006 0C6.61362 0 6.29998 0.28946 6.29998 0.647578V1.3471C3.92916 1.66312 2.09999 3.54965 2.09999 5.82856V7.6341C2.09999 8.91574 1.49309 10.1255 0.428484 10.9583C0.156115 11.174 0 11.4874 0 11.819C0 12.444 0.54948 12.9524 1.22508 12.9524H12.775C13.4505 12.9524 14 12.444 14 11.819C14 11.4874 13.8439 11.174 13.5654 10.9532Z" fill="white"/>
            <path opacity="0.9" d="M7.00023 16C8.01502 16 8.864 15.0163 9.05905 13.7142H4.94141C5.13636 15.0163 5.98534 16 7.00023 16Z" fill="white"/>
        </svg>
    </div>
    <div class="announcements-card__type">Акция</div>
    {{/isSale}}
    <div class="card-info">
        <div class="announcements-card-info-top">
            <div class="announcements-card__date">{{{ date }}}</div>
            {{#views}}
            <div class="announcements-card-views">
                <svg class="announcements-card-views__icon" width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.7332 4.80002C9.96785 4.80002 8.5332 6.23467 8.5332 8.00001C8.5332 9.76536 9.96785 11.2 11.7332 11.2C13.4985 11.2 14.9332 9.76536 14.9332 8.00001C14.9332 6.23467 13.4985 4.80002 11.7332 4.80002Z" fill="#7D8C93"/>
                    <path d="M11.7333 0C6.4 0 1.84535 3.3173 0 8C1.84535 12.6827 6.4 16 11.7333 16C17.072 16 21.6213 12.6827 23.4667 8C21.6213 3.3173 17.072 0 11.7333 0ZM11.7333 13.3333C8.78935 13.3333 6.4 10.9439 6.4 7.99995C6.4 5.05595 8.78935 2.66665 11.7333 2.66665C14.6773 2.66665 17.0667 5.056 17.0667 8C17.0667 10.944 14.6773 13.3333 11.7333 13.3333Z" fill="#7D8C93"/>
                </svg>
                <span class="announcements-card-views__value">{{ . }}</span>
            </div>
            {{/views}}
        </div>
        <div class="announcements-card__name">
            {{{ title }}}
        </div>
        <div class="announcements-card__text">
            {{{ text }}}
        </div>
        <div class="announcements-card-tags">
            <span class="announcements-card-tags__item">{{{ category }}}</span>
        </div>
    </div>
    {{#detailPageLink}}
        <a class="link-as-card"
           href="{{href}}"
           title="{{title}}"
           target="_blank"></a>
    {{/detailPageLink}}
</div>