<div class="index-projects__cards">
    {{#items.values}}
        <div class="index-projects__cards-group">
            {{#values}}
                {{>index-projects-card}}
            {{/values}}
        </div>
    {{/items.values}}
</div>
