{{#items.isNotEmpty}}
    <div class="index-projects">
        {{#title}}
            <h2 class="index-projects__title">{{{.}}}</h2>
        {{/title}}
        {{#needShowDropdown}}
            <div class="dropdown index-projects-filter-combobox-wrapper">
                <button type="button" class="dropdown-current index-projects__dropdown-current">
                    <span class="dropdown-current__text">Выберите раздел</span>
                    <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.02334 7.66146L1.9607 1.59882C1.58432 1.22244 0.975255 1.22244 0.598878 1.59882C0.222501 1.97519 0.222501 2.58426 0.598878 2.96064L7.34244 9.7042C7.5301 9.89186 7.77714 9.98635 8.02337 9.98635C8.2696 9.98635 8.51664 9.89186 8.70429 9.7042L15.4479 2.96064L15.4479 2.96062C15.8242 2.58424 15.8242 1.97519 15.4478 1.59882C15.0715 1.22244 14.4624 1.22244 14.086 1.59882L8.02334 7.66146Z"
                              fill="#342733" stroke="#342733" stroke-width="0.7"/>
                    </svg>
                </button>
                <div class="dropdown-list sections-filter-combobox index-projects-filter-combobox">
                    <ul class="dropdown-scroll index-projects-filter-combobox__scroll">
                        {{#categories.values}}
                            <li class="dropdown-list-item index-projects-filter-combobox__option dropdown-item{{#active}} dropdown-item_selected{{/active}}"
                                data-value="{{ id }}">
                                <div class="dropdown-item__content">
                                    {{{name}}}
                                </div>
                            </li>
                        {{/categories.values}}
                    </ul>
                </div>
            </div>
        {{/needShowDropdown}}

        <ul class="index-projects-filter-tabs sections-filter-tabs sections-filter-tabs_as-link">
            {{#categories.values}}
                <li class="index-projects-filter-tabs-item sections-filter-tabs-item{{#active}} sections-filter-tabs-item_active{{/active}}"
                    data-id="{{id}}">
                    <button class="sections-filter-tabs-item__button"{{#active}} disabled{{/active}}>{{{name}}}</button>
                </li>
            {{/categories.values}}
        </ul>

        <div class="index-projects-content">
            <div class="index-projects-lists-wrapper">
                {{#items.values}}
                    <div class="index-projects-lists-item sections-list{{#active}} sections-list_show{{/active}}"
                         id="{{id}}">
                        {{>index-projects-cards}}
                    </div>
                {{/items.values}}
            </div>
        </div>
        {{# link.href }}
            {{# link.text }}
                <a class="show-more-link{{# link.additionalCssClass }} {{ . }}{{/ link.additionalCssClass }}"
                   href="{{ link.href }}"
                    {{# link.targetBlank }} target="_blank"{{/ link.targetBlank }}
                   title="{{ link.title }}">{{{ link.text }}}</a>
            {{/ link.text }}
        {{/ link.href }}
    </div>
{{/items.isNotEmpty}}
