<!--
Убирает пагинацию и уменьшает нижний отступ от слайдера при включенном модификаторе
swiper-container_hide-pagination
-->

<div class="project-detail-first-screen-slider {{#hide_pagination}}swiper-container_hide-pagination{{/hide_pagination}} project-detail-slider swiper-container">
    <div class="project-detail-slider-wrapper swiper-wrapper">
        {{# firstScreenCarousel.values }}
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="{{ src }}"></div>
            </div>
        {{/ firstScreenCarousel.values }}
    </div>
    <div class="swiper-pagination-container container"{{^ needShowPaginationForFirstScreenCarousel }}
         style="display: none;"{{/ needShowPaginationForFirstScreenCarousel }}>
        <div class="project-detail-slider-pagination swiper-pagination"></div>
    </div>
</div>
