<div class="project-detail-first-screen-info first-screen-info">
    <div class="container">
        <h1 class="first-screen-info__title">{{{ name }}}</h1>
        {{# address }}
            <div class="first-screen-info-address">
                <svg class="first-screen-info-address__icon" width="18" height="24" viewBox="0 0 18 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 0C4.03711 0 0 4.03758 0 9C0 15.6397 8.30372 23.5312 8.65725 23.8643C8.75391 23.9546 8.87695 24 9 24C9.12305 24 9.24609 23.9546 9.3428 23.8643C9.69628 23.5312 18 15.6397 18 9C18 4.03758 13.9629 0 9 0ZM9 14C6.24314 14 3.99998 11.7569 3.99998 9C3.99998 6.24314 6.24319 3.99998 9 3.99998C11.7568 3.99998 14 6.24319 14 9C14 11.7568 11.7569 14 9 14Z"
                          fill="white"/>
                </svg>
                <span class="first-screen-info-address__value">{{{ . }}}</span>
            </div>
        {{/ address}}
        {{# triggers.isNotEmpty }}
            <div class="first-screen-props">
                {{# triggers.values }}
                    {{# name }}
                        {{# text }}
                            <div class="first-screen-props-item">
                                <div class="first-screen-props-item__label">{{{ name }}}</div>
                                <div class="first-screen-props-item__value{{# filledText }} first-screen-props-item__value_filled{{/ filledText }}">{{{ text }}}</div>
                            </div>
                        {{/ text }}
                    {{/ name }}
                {{/ triggers.values }}
            </div>
        {{/ triggers.isNotEmpty }}
    </div>
</div>
