.first-screen-info__title
  font-weight: 800
  font-size: 20px
  line-height: 120%
  margin-bottom: 30px

.first-screen-props
  padding: 30px 26px 26px
  border-radius: 6px
  border: 1px solid $gray20
  background: $white
  font-weight: 500
  font-size: 16px
  line-height: 16px

.first-screen-props-item
  margin-bottom: 30px

.first-screen-props-item__label
  font-size: 18px
  font-weight: bold
  margin-bottom: 10px

.first-screen-props-item__value
  display: inline-block
  &_filled
    background: $yellow8
    padding: 3px 4px

.project-detail-first-screen
  .project-detail-slider
    height: 80vh

+mq(tablet, max)
  .first-screen-info-address
    display: none

  .first-screen-props-item
    &:last-child
      margin-bottom: 0

+mq(tablet)
  .project-detail-first-screen
    position: relative
    min-height: 612px
    z-index: 0

    .project-detail-slider
      display: none

  .project-detail-first-screen__background
    +absoluteFluid
    background-size: cover
    background-repeat: no-repeat
    z-index: -1

    &::after
      +absoluteFluid
      background: rgba(23, 23, 23, 0.4)
      content: ''
      display: block
      z-index: 1

  .first-screen-info__title
    color: $white
    font-size: 30px
    margin-bottom: 32px
    width: 440px

  .first-screen-info-address
    display: flex
    align-items: center
    color: $white
    font-weight: 600
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.03em

  .first-screen-info-address__value
    margin-left: 20px

  .first-screen-props
    margin-top: 60px
    display: flex
    flex-wrap: wrap
    width: 488px
    padding: 37px 39px 5px 41px

  .first-screen-props-item
    margin-bottom: 35px
    width: calc(50% - 10px)
    &:nth-child(odd)
      margin-right: 20px

+mq(desktop)
  .first-screen-info__title
    font-size: 36px
    margin-bottom: 18px
    width: 850px

+mq(wide-screen)
  .project-detail-first-screen
    min-height: 635px