.project-detail-slider-container
  position: relative

.project-detail-slider
  display: flex
  flex-direction: column
  margin-bottom: 30px

  &.swiper-container_hide-pagination
    .project-detail-slider-wrapper
      margin-bottom: 0
    .swiper-pagination-container
      display: none

.project-detail-slider-wrapper
  flex: 1
  margin-bottom: 40px

.project-detail-slider-slide
  height: 100%
  position: relative

.project-detail-slider-slide__img
  width: 100%
  height: 100%
  background-size: cover
  background-repeat: no-repeat

.project-detail-slider
  .swiper-pagination-container
    position: absolute
    bottom: -22px
    flex-shrink: 0
    padding-top: 23px
    padding-bottom: 30px

  .swiper-pagination
    line-height: normal
    justify-content: flex-end

  .swiper-button-prev
    left: 25px
  .swiper-button-next
    right: 25px

.project-detail-slider-thumbs
  display: none

.project-detail-slider-thumbs-item__link
  display: none

.gallery-show-more-link
  position: relative
  z-index: 0

  &::after
    content: ''
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
    +absoluteFluid
    z-index: 1

  .gallery-show-more-link-text
    position: absolute
    top: 50%
    width: 100%
    text-align: center
    transform: translateY(-50%)
    color: $white
    font: 600 14px/16px $default-font
    letter-spacing: 0.03em
    z-index: 2

+mq(tablet)
  .project-detail-slider-slide
    height: 456px

+mq(desktop, max)
  .swiper-navigation
    display: none

+mq(desktop)
  .project-detail-slider
    .swiper-pagination-container
      display: none

    .swiper-navigation
      .swiper-button-prev
        left: 25px

      .swiper-button-next
        right: 25px

  .project-detail-slider-thumbs
    position: relative
    display: flex
    overflow: hidden
    flex-wrap: wrap
    padding-top: 4px
    z-index: 0

  .project-detail-slider-thumbs__marker
    position: absolute
    left: 0
    top: 0
    border: 4px solid $yellow8
    width: 105px
    height: 64px
    z-index: -1
    transition: $default-transition

  .project-detail-slider-thumbs-item
    display: block
    z-index: 0
    background: none
    position: relative
    border: 4px solid transparent !important
    height: 64px
    width: calc(100% / 9.04 + 4px)
    margin-left: -4px
    margin-top: -4px
    transition: $default-transition

    &:nth-child(9n + 1)
      margin-left: 0

  .project-detail-slider-thumbs-item__img
    +absoluteFluid
    background-repeat: no-repeat
    background-size: cover

  .project-detail-slider-slide
    height: 590px

    .link-as-card
      z-index: 0

      &::after
        content: ''
        z-index: -1
        background: linear-gradient(0deg, rgba(52, 39, 51, 0.2), rgba(52, 39, 51, 0.2))
        transition: opacity $default-transition
        opacity: 0
        +absoluteFluid

      &:hover
        &::after
          opacity: 1