@import '../mixins/mixins'
@import '../variables/variables'
@import "../article-main/article-main"
@import '../functions/functions'
@import "../consultation-form/consultation-form"
@import "../article-form/article-form"
@import '../other-projects/other-projects'
@import '../buy-ways/buy-ways'
@import "../scrollup/scrollup"
@import "../how-buy/how-buy"
@import "../sample-documents/sample-documents"
@import "../infinite/infinite"

.purchase

  .purchase__pattern-circle, .purchase__pattern-dots
    display: none

  .buy-ways
    margin-top: 60px
    margin-bottom: 60px

  .buy-ways__title
    color: $main-color
    font-weight: 800
    font-size: 22px
    line-height: 120%

  figure
    margin: 30px 0
    position: relative
    width: 100%

    img
      height: auto
      vertical-align: top
      margin: 0
      width: 100%

.purchase__documents
  margin-bottom: 60px

+mq(tablet)

  .purchase
    .buy-ways
      margin-top: 70px
      margin-bottom: 80px

    .buy-ways__title
      font-size: 36px

    figure
      margin: 40px 0

+mq(desktop)

  .purchase

    .purchase__container
      position: relative

    .purchase__pattern-circle, .purchase__pattern-dots
      display: block
      position: absolute

    .purchase__pattern-circle
      height: 184px
      right: 10px
      top: 20px
      width: 184px

    .purchase__pattern-dots
      height: 72px
      left: 10px
      top: 400px
      width: 228px

    .buy-ways
      margin-top: 80px

  .purchase__documents
    margin-bottom: 80px

