.print-page-container
  padding: 91px 0 50px

.print-body
  color: $main-color
  font-weight: 500
  font-size: 18px
  line-height: 16px
  letter-spacing: 0.03em

  h3:first-child,
  p:first-child
    margin-top: 0

  h3
    margin: 20px 0 15px
    font-size: 20px
    line-height: 30px
    letter-spacing: normal
    font-weight: 500

  p
    margin: 15px 0
    font-weight: 500

.print-body-section
  display: flex
  justify-content: space-between

.print-body-section__image
  flex-shrink: 0
  margin-left: 272px

.print-body__img
  margin: 13px 0 46px
  img
    width: 100%

.qr-code
  width: 100%

.qr-code__label
  font-weight: 500
  font-size: 13px
  line-height: 30px
  letter-spacing: 0.02em
  text-align: center