.pages
  align-items: center
  display: flex
  justify-content: center

.pages__item
  align-items: center
  background: #FFFFFF
  border-radius: 30px
  color: $main-color
  display: flex
  font-weight: 500
  justify-content: center
  height: 28px
  opacity: 0.5
  margin-left: 7px
  transition: $default-transition
  width: 28px

  &:hover
    opacity: 1

  &:nth-child(2)
    margin-left: 0

.pages__item_arrow
  display: none

.pages__item_active
  background: #BAD1D8
  color: #FFFFFF
  opacity: 1

+mq(tablet)

  .pages
    justify-content: flex-start

  .pages__item
    height: 36px
    margin-left: 20px
    width: 36px

    &:nth-child(1)
      margin-left: 0

    &:nth-child(2)
      margin-left: 20px

  .pages__item_arrow
    display: flex