{{# pageNavigation }}
<div class="pages">
    {{# prevLink.href }}
        <a href="{{ . }}" class="pages__item pages__item_arrow">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0328 5.31156L3.30939 5.31155L6.70247 1.93297C7.08107 1.55594 7.08252 0.943213 6.70571 0.56439C6.32889 0.185519 5.71647 0.184116 5.33786 0.5611L0.28413 5.59336C-0.0935075 5.97039 -0.0955869 6.58602 0.283163 6.96431L5.33777 11.9975C5.71632 12.3744 6.32874 12.3731 6.70561 11.9942C7.08242 11.6154 7.08097 11.0027 6.70237 10.6256L3.30939 7.24704L15.0328 7.24704C15.567 7.24704 16 6.81378 16 6.2793C16 5.74481 15.567 5.31156 15.0328 5.31156Z" fill="#342733" fill-opacity="0.8"/>
            </svg>
        </a>
    {{/prevLink.href }}
    {{#links.values}}
        {{#active}}
            <span class="pages__item pages__item_active">
                {{ text }}
            </span>
        {{/active}}
        {{^active}}
            {{#href}}
                <a href="{{href}}" class="pages__item">
                    {{ text }}
                </a>
            {{/href}}
            {{^href}}
                <span class="pages__item">
                    {{ text }}
                </span>
            {{/href}}
        {{/active}}
    {{/links.values}}
    {{#nextLink.href}}
        <a href="{{ nextLink.href }}" class="pages__item pages__item_arrow">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.967185 7.00485L12.6906 7.00485L9.29754 10.3834C8.91893 10.7605 8.91748 11.3732 9.29429 11.752C9.67111 12.1309 10.2835 12.1323 10.6621 11.7553L15.7159 6.72304C16.0935 6.34601 16.0956 5.73038 15.7168 5.35209L10.6622 0.318912C10.2837 -0.058024 9.67126 -0.0567175 9.29439 0.322202C8.91758 0.701024 8.91903 1.31375 9.29763 1.69078L12.6906 5.06937L0.967186 5.06937C0.43301 5.06937 5.71263e-07 5.50262 5.24537e-07 6.03711C4.77811e-07 6.57159 0.43301 7.00485 0.967185 7.00485Z" fill="#342733" fill-opacity="0.8"/>
            </svg>
        </a>
    {{/nextLink.href}}
</div>
{{/ pageNavigation }}