<div class="infinite">
    <!--noindex-->
    <a href="#" id="infinity-next-page" class="button infinite__button button_linear-gray" rel="nofollow">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.8">
                <g>
                    <path d="M17.0723 2.66617C15.949 1.54431 14.6279 0.746002 13.2192 0.268433V3.28503C13.8974 3.62272 14.5403 4.06214 15.1041 4.62732C17.92 7.44469 17.92 12.0254 15.1041 14.8414C12.2881 17.6531 7.71021 17.6531 4.89001 14.8414C2.07687 12.0226 2.07687 7.44469 4.89001 4.62732C4.89707 4.61884 4.91968 4.60471 4.92957 4.59199H4.9324L6.60106 6.25783L6.59117 0.967832L1.304 0.960767L2.9656 2.62237C2.95571 2.63933 2.94017 2.65628 2.92745 2.66617C-0.976469 6.56868 -0.976469 12.9 2.92745 16.8025C6.83702 20.7093 13.1641 20.7093 17.0723 16.8025C20.9734 12.9 20.9776 6.56868 17.0723 2.66617Z" fill="#342733"/>
                </g>
            </g>
        </svg>
        <span>
            Показать еще
        </span>
    </a>
    <!--/noindex-->
</div>