.infinite
  text-align: center

.infinite__button
  align-items: center
  display: flex
  justify-content: center
  font-size: 14px
  margin: 0 auto
  min-height: 56px
  width: 200px

  svg
    flex-shrink: 0
    margin-right: 12px
    transform: rotate(0)
    transition: $default-transition

+mq(tablet)

  .infinite__button
    font-size: 18px
    min-height: 60px
    padding: 19px
    width: 256px

+mq(desktop)

  .infinite__button:hover

    svg
      transform: rotate(360deg)

