<div class="print-body">
    <div class="print-body-section">
        <div class="print-body-section__text">
            <h3>{{{projectName}}}</h3>
            <p>{{{address}}}</p>
        </div>
        <div class="print-body-section__image">
            <div class="qr-code">
                <img class="qr-code__img" src="{{qr.src}}" alt="QR-код">
                <div class="qr-code__label">ссылка на объект</div>
            </div>
        </div>
    </div>
    <div class="print-body__img">
        <img src="{{img.src}}" alt="Изображение для печати">
    </div>
    <div class="print-body-section">
        <h3>{{{name}}}</h3>
    </div>
</div>
