<div class="search-no-results">
    <div class="search-no-results__title">К сожалению, ничего не найдено</div>
    <div class="search-no-results__desc">
        Попробуйте ввести другой запрос или связаться с нами по номеру
        <span class="mobile-hide desktop-show">8 (4162) 528-017</span>
        <a href="tel:84162528017" class="link-preset desktop-hide" title="8 (4162) 528-017">8 (4162) 528-017</a>
    </div>
</div>
