.how-buy__top
  background: #FFFFFF
  border: 1px solid rgba(196, 196, 196, 0.5)
  border-radius: 6px
  color: $main-color
  font-size: 14px
  line-height: 30px
  padding: 23px

.how-buy
  font-size: 16px
  line-height: 30px
  letter-spacing: 0.03em
  margin-top: 60px

  a:not(.link-as-card)
    border-bottom: 1px solid $yellow
    color: $yellow
    transition: $default-transition

    &:hover
      border-bottom: 1px solid transparent

  blockquote
    border-left: 2px solid $yellow8
    color: $main-color
    font-weight: 500
    font-size: 18px
    line-height: 30px
    letter-spacing: 0.03em
    margin: 40px 0
    padding-left: 17px

  p
    font-size: 16px
    line-height: 30px
    margin: 40px 0

  h2
    font-weight: 500
    font-size: 18px
    line-height: 30px
    margin: 30px 0

  ol
    counter-reset: myCounter
    margin: 30px 0
    padding: 0

    li
      color: $main-color
      font-size: 16px
      font-weight: 500
      line-height: 24px
      list-style: none
      margin-top: 30px
      padding-top: 74px
      position: relative

      p
        font-size: 16px
        margin: 20px 0

        &:nth-of-type(1)
          margin-top: 0

    li:before
      background: #FFFFFF
      border: 1px solid $yellow8
      border-radius: 100%
      counter-increment: myCounter
      content: counter(myCounter)
      color: $yellow8
      display: inline-block
      text-align: center
      font-size: 22px
      line-height: 54px
      width: 54px
      height: 54px
      position: absolute
      top: 0
      left: 0

+mq(tablet)

  .how-buy__top
    font-size: 16px
    padding: 30px

  .how-buy
    font-size: 18px
    margin-top: 40px

    blockquote
      font-size: 24px

    p
      font-size: 18px

    h2
      font-size: 22px
      margin: 40px 0

    ol
      margin: 40px 0
      li
        align-items: center
        display: flex
        font-size: 17px
        flex-wrap: wrap
        line-height: 30px
        margin-top: 50px
        min-height: 68px
        padding-top: 0
        padding-left: 104px

        p
          width: 100%
          font-size: 17px

        &:nth-of-type(1):before
          background: $yellow8
          color: #FFFFFF

      li:before
        font-size: 26px
        line-height: 68px
        width: 68px
        height: 68px

+mq(desktop)

  .how-buy__top
    font-size: 17px

  .how-buy
    margin-top: 50px

    h2
      font-size: 24px
      margin: 50px 0

    ol

      li
        font-size: 16px
        margin-top: 45px

        p
          font-size: 16px