{{# characteristics.isNotEmpty }}
    <div class="characteristics-table">
        <div class="characteristics-table__header">Характеристики</div>
        <div class="collapsed-block">
            <div class="characteristics-table__collapsed-block-container collapsed-block-container">
                <div class="collapsed-block-wrapper">
                    <table>
                        <tbody>
                        {{# characteristics.values }}
                            <tr>
                                <td>{{{ name }}}</td>
                                <td>{{{ implodeValues }}}</td>
                            </tr>
                        {{/ characteristics.values }}
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="collapsed-block-trigger">
            <span class="collapsed-block-trigger__text">
                Все характеристики
            </span>
                <svg class="collapsed-block-trigger__icon" width="10" height="6" viewBox="0 0 10 6" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.00211 3.96323L1.26098 0.222253C1.15821 0.119245 1.02081 0.0625787 0.874309 0.0625787C0.727724 0.0625787 0.590407 0.119245 0.48748 0.222253L0.159837 0.550058C0.056748 0.652904 6.13773e-08 0.790383 5.96302e-08 0.936888C5.78832e-08 1.08339 0.056748 1.22071 0.159837 1.32364L4.61398 5.77786C4.71724 5.8812 4.8552 5.93778 5.00187 5.93738C5.14919 5.93778 5.28699 5.88128 5.39033 5.77786L9.84016 1.32778C9.94325 1.22486 10 1.08754 10 0.940953C10 0.794449 9.94325 0.657132 9.84016 0.554124L9.51252 0.2264C9.29927 0.0131479 8.95211 0.0131479 8.73894 0.2264L5.00211 3.96323Z"
                          fill="#342733" fill-opacity="0.8"/>
                </svg>
            </button>
        </div>
    </div>
{{/ characteristics.isNotEmpty }}
