{{# mainCharacteristics.isNotEmpty }}
    <div class="characteristics-table characteristics-table_main">
        <div class="characteristics-table__header">Характеристики</div>
        <div class="characteristics-table-content">
            <table>
                <tbody>
                {{# mainCharacteristics.values }}
                    <tr>
                        <td>{{{ name }}}</td>
                        <td>{{{ implodeValues }}}</td>
                    </tr>
                {{/ mainCharacteristics.values }}
                </tbody>
            </table>
            {{# characteristics.isNotEmpty }}
                <button class="characteristics-table-button characteristics-table__btn-move-to-all">
                    <span class="characteristics-table-button__text">Все параметры</span>
                </button>
            {{/ characteristics.isNotEmpty }}
        </div>
    </div>
{{/ mainCharacteristics.isNotEmpty }}
