<div class="yard-area">
    <div class="container">
        <h2 class="yard-area__title">Дворовая территория</h2>
    </div>
    <div class="yard-area__slider-container">
        {{>yard-area-slider}}
    </div>
    <div class="container">
        <div class="yard-area__text">
            <h3>Благоустроенная дворовая территория</h3>

            <p>Предусмотрено благоустройство прилегающей территории в виде размещения дворовых площадок: детской, для отдыха взрослых.</p>
            <p>Вокруг территории детской и спортивной площадок предусмотрено леерное ограждение.</p>
            <p>В рамках благоустройства территории предусмотрено озеленение газонов путем посева многолетних трав и деревьев.</p>
        </div>
    </div>
</div>