<div class="yard-area-slider article-main-slider">
    <div class="yard-area-slider-container project-detail-slider swiper-container">
        <div class="project-detail-slider-wrapper swiper-wrapper">
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
            <div class="project-detail-slider-slide swiper-slide">
                <div class="project-detail-slider-slide__img b-lazy"
                     data-src="/local/assets/images/project-detail-slider/img-1.jpg"
                     data-src-md="/local/assets/images/project-detail-slider/img-1-mobile.jpg"></div>
                <a class="link-as-card"
                   data-fancybox="project-detail-slider"
                   title="Многоквартирный жилой дом, СХПК Тепличный"
                   href="/local/assets/images/project-detail-slider/img-1.jpg"></a>
            </div>
        </div>

        <div class="swiper-pagination-container container">
            <div class="project-detail-slider-pagination swiper-pagination"></div>
        </div>
    </div>
    <div class="swiper-navigation swiper-navigation_white">
        <button class="swiper-button-prev yard-area-slider__button-prev">
            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.6515 7.00296L8.88887 1.76537C9.03308 1.6215 9.11241 1.42914 9.11241 1.22403C9.11241 1.01881 9.03308 0.82657 8.88887 0.682472L8.42994 0.223773C8.28596 0.0794481 8.09349 9.53674e-07 7.88838 9.53674e-07C7.68328 9.53674e-07 7.49103 0.0794481 7.34693 0.223773L1.11102 6.45958C0.966349 6.60413 0.887129 6.79729 0.887698 7.00262C0.887129 7.20886 0.966235 7.40179 1.11102 7.54646L7.34113 13.7762C7.48523 13.9206 7.67747 14 7.88269 14C8.0878 14 8.28004 13.9206 8.42425 13.7762L8.88306 13.3175C9.18162 13.019 9.18162 12.533 8.88306 12.2345L3.6515 7.00296Z" fill="#342733" fill-opacity="0.8"/>
            </svg>
        </button>
        <button class="swiper-button-next yard-area-slider__button-next">
            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.3485 6.99704L1.11113 12.2346C0.96692 12.3785 0.887587 12.5709 0.887587 12.776C0.887587 12.9812 0.96692 13.1734 1.11113 13.3175L1.57006 13.7762C1.71404 13.9205 1.90651 14 2.11162 14C2.31672 14 2.50897 13.9205 2.65307 13.7762L8.88899 7.54042C9.03365 7.39587 9.11287 7.20271 9.1123 6.99738C9.11287 6.79113 9.03377 6.59821 8.88899 6.45354L2.65887 0.223768C2.51477 0.0794424 2.32253 -4.40828e-06 2.11731 -4.42622e-06C1.91221 -4.44415e-06 1.71996 0.0794423 1.57575 0.223768L1.11694 0.682467C0.818384 0.981019 0.818384 1.46704 1.11694 1.76547L6.3485 6.99704Z" fill="#342733" fill-opacity="0.8"/>
            </svg>
        </button>
    </div>
    <div class="project-detail-slider-thumbs">
        <button class="project-detail-slider-thumbs-item project-detail-slider-thumbs-item_active">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <button class="project-detail-slider-thumbs-item">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <button class="project-detail-slider-thumbs-item">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <button class="project-detail-slider-thumbs-item">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <button class="project-detail-slider-thumbs-item">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <button class="project-detail-slider-thumbs-item">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <button class="project-detail-slider-thumbs-item">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <button class="project-detail-slider-thumbs-item">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <a href="/local/assets/images/project-detail-slider/img-1.jpg"
               data-fancybox="project-detail-about-gallery"
               class="project-detail-slider-thumbs-item__link"></a>
        </button>
        <a class="project-detail-slider-thumbs-item gallery-show-more-link"
           href="/local/assets/images/project-detail-slider/img-1.jpg"
           data-fancybox="project-detail-about-gallery">
            <span class="project-detail-slider-thumbs-item__img b-lazy"
                  data-src="/local/assets/images/project-detail-slider/img-1-mobile.jpg">
            </span>
            <span class="gallery-show-more-link-text">
                + <span class="gallery-show-more-link-text__count">12</span> фото
            </span>
        </a>
    </div>
</div>