.yard-area-slider
  position: relative
  display: block

.yard-area__title
  font-weight: 800
  font-size: 24px
  line-height: 29px
  margin-bottom: 30px

.yard-area__text
  font-size: 14px
  line-height: 22px
  letter-spacing: 0.03em

  p
    font-size: 14px
    line-height: 22px
    margin-bottom: 20px

    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  h3
    font-weight: 500
    font-size: 18px
    line-height: 30px
    margin-bottom: 30px

+mq(tablet, max)
  .yard-area-slider
    padding-left: 0
    padding-right: 0

+mq(tablet)
  .yard-area-slider
    margin-bottom: -10px