@import '../variables/variables'
@import '../mixins/mixins'
@import '../functions/functions'
@import '../consultation-form/consultation-form'
@import '../article-form/article-form'
@import "../buy-ways-list/buy-ways-list"

.how-buy-page
  margin-top: 30px

  .svg-pattern
    display: none

+mq(wide-screen)
  .how-buy-page
    position: relative

    .svg-pattern
      display: block
      position: absolute

    .how-buy-page__pattern-circle-1
      top: 229px
      left: 55px
      width: 175px
      height: 175px

    .how-buy-page__pattern-circle-2
      bottom: 174px
      right: 0
      width: 220px
      height: 220px
      svg
        right: -34px

    .how-buy-page__pattern-dots
      bottom: 456px
      right: 71px
      width: 228px
      height: 72px