{{#isNotEmpty}}
    <div class="projects-list__content">
        {{#values}}
            <div class="projects-list__item">
                {{>index-projects-card}}
            </div>
        {{/values}}
    </div>
{{/isNotEmpty}}
