{{#isNotEmpty}}
    <div class="social-list">
        {{#values}}
            <a class="social-list-item"
               data-yandex-goals='["all_social"]'
               href="{{href}}"
                {{#targetBlank}} target="_blank"{{/targetBlank}}
                {{#strMainId}} id="{{.}}"{{/strMainId}}>
                {{{icon.inline}}}
            </a>
        {{/values}}
    </div>
{{/isNotEmpty}}