.modal-form
  display: none
  background: #FFFFFF
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 6px
  padding: 67px 40px 31px
  width: 90%

  .feedback-form__group_has-error > .form__control_type-text,
  .feedback-form__group_has-error > .form__control_type-textarea
    border: 1px solid rgba(255, 106, 106, 0.8)

.modal-form__title
  color: $main-color
  font-weight: 800
  font-size: 24px
  line-height: 110%
  letter-spacing: 0.02em
  text-align: center

.modal-form__subtitle
  font-weight: 500
  font-size: 14px
  line-height: 140%
  letter-spacing: 0.03em
  color: rgba(52, 39, 51, 0.8)
  margin-top: 19px
  text-align: center

.modal-form__group
  margin-top: 40px

  .feedback-form__group
    margin-top: 25px

  .feedback-form__group.feedback-form__group_has-error
    animation: shake 0.4s

  .form__control
    border: 1px solid #D4DEE1
    height: 50px
    padding: 18px 24px 16px

  .form__placeholder
    top: 16px

  .form__textarea
    height: 85px

#email-form
  .form__textarea
    height: 160px

.modal-form__submit
  margin-top: 40px
  width: 100%

.modal-form__user-consent
  color: rgba(52, 39, 51, 0.5)
  font-weight: 500
  font-size: 12px
  line-height: 14px
  margin-top: 16px
  text-align: center

  a
    border-bottom: 1px solid $main-color
    color: $main-color
    transition: $default-transition

    &:hover
      border-bottom: 1px solid transparent

+mq(tablet)

  .modal-form
    padding: 60px 80px 40px
    width: 470px

  .modal-form__title
    font-size: 26px

  .modal-form__subtitle
    font-size: 15px
    font-weight: 400

@keyframes shake

  0%
    transform: translateX(0)

  20%
    transform: translateX(-15px)

  40%
    transform: translateX(15px)

  60%
    transform: translateX(-15px)

  80%
    transform: translateX(15px)

  100%
    transform: translateX(0)
