@import "../index-projects-card/index-projects-card"

.other-projects
  margin-top: 60px
  margin-bottom: 50px

  .index-projects-card
    height: 100%
    min-height: 0
    width: 100%

  .index-projects-card-container
    color: #FFFFFF
    height: 100%
    padding: 40px 37px 24px 26px

  .index-projects-card__img
    height: 100%
    width: 100%
    padding-bottom: 0

  .index-projects-card__name
    margin-bottom: 11px

  .index-projects-card-content
    height: 100%
    position: relative

  .index-projects-card-release-date
    bottom: 0
    margin: 0
    position: absolute

.other-projects__slide
  height: 284px

.other-projects__title
  color: $main-color
  font-weight: 800
  font-size: 24px
  line-height: 120%

.other-projects__slider
  margin-top: 30px

.other-projects__pagination
  margin-top: 25px
  justify-content: flex-end

.other-projects__slider
  .other-projects__pagination_disabled
    display: none

+mq(tablet)

  .other-projects
    margin-top: 60px
    margin-bottom: 60px

    .index-projects-card-container
      padding: 51px 48px 31px 33px

    .index-projects-card__img
      height: 100%
      width: 100%
      padding-bottom: 0

    .index-projects-card__name
      margin-bottom: 14px

    .index-projects-card-release-date
      height: auto
      top: auto

    .index-projects-card__props
      display: none

    .index-projects-card__link-more
      margin-top: 132px
      padding: 16px 34px

    .index-projects-card__link-more-icon
      display: block
      height: 11px
      opacity: 1
      margin-left: 15px
      width: 23px

  .other-projects__slider
    margin-right: -32px
    padding-right: 32px

  .other-projects__slide
    height: 359px
    margin-top: 0
    width: 392px

  .other-projects__title
    font-size: 36px
    line-height: 140%

  .other-projects__top
    align-items: center
    display: flex
    justify-content: space-between

  .other-projects__navigation
    align-items: center
    display: flex

    .swiper-button-disabled
      cursor: default

  .other-projects__button-prev, .other-projects__button-next
    background: #FFFFFF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
    border-radius: 3px
    display: none
    height: 40px
    margin: 0 0 0 20px
    position: static
    outline: none
    width: 40px

    &:after
      display: none

  .other-projects__button-prev[role=button], .other-projects__button-next[role=button]
    display: flex

+mq(desktop)

  .other-projects__slider
    margin-top: 40px
    margin-right: 0
    padding-right: 0
    overflow: hidden

  .project-card-info-release-date__label
    font-size: 15px
    margin-left: -43%

  .project-card-info-release-date__value
    margin-left: 4px

  .other-projects__button-prev, .other-projects__button-next
    transition: $default-transition

    &:hover
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)