@import './fullscreen-submenu'
@import '../contact/contact'

.fullscreen-menu
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100vh
  z-index: 0
  transform: translateY(-100vh)
  transition: transform $default-transition ease $default-transition
  background: $gray10

  .container
    padding-top: 87px
    padding-bottom: 80px
    overflow-x: hidden
    overflow-y: auto
    height: 100vh

  .header-search
    margin-bottom: 5px

  .button
    display: flex
    align-items: center
    margin-bottom: 25px
    padding-top: 17px
    padding-bottom: 17px
    font-weight: 500
    font-size: 16px
    line-height: 19px
    &_linear-gray
      path
        stroke: none

.fullscreen-menu-actions-buttons-other
  margin-top: 40px

.fullscreen-menu__content
  transition: opacity $default-transition ease 0s
  opacity: 0

.header_show-fullscreen-menu
  .fullscreen-menu__content
    transition: opacity $default-transition ease $default-transition

  .fullscreen-menu
    z-index: 1000
    transform: translateY(0)
    transition: transform $default-transition ease

  .fullscreen-menu__content
    opacity: 1

.fullscreen-menu__phone
  .contact-text
    display: flex
    flex-direction: column

  .contact-text__label
    order: 1
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.05em
    text-transform: none
    color: #636F75
    font-weight: normal

  .contact-text__value
    color: #636F75
    font-size: 30px
    line-height: 35px
    letter-spacing: 0.05em

.fullscreen-menu__bottom
  display: flex
  flex-direction: column
  align-items: center

.fullscreen-menu-actions-buttons-other
  width: 100%

.fullscreen-menu__socials
  margin-top: 40px
  width: 100%

  .social-list
    justify-content: center

  .social-list-item
    margin: 0 15px
    path
      fill: rgba(99, 111, 117, 0.6)

.fullscreen-menu-close-button
  display: none

.fullscreen-menu-contact-text
  display: none

.fullscreen-menu__part
  display: flex
  flex-direction: column
  align-items: center

+mq(tablet, max)
  .fullscreen-menu
    .button
      &_linear-gray
        color: $main-color

  .button
    margin-bottom: 30px
    display: flex
    align-items: center
    justify-content: center
    min-height: 54px

    &:last-child
      margin-bottom: 0

  .fullscreen-menu-actions-buttons-main
    display: none

  .fullscreen-menu__part
    width: 100%

+mq(tablet)
  .fullscreen-menu
    .container
      padding-top: 163px

    .social-list
      flex-direction: row
      justify-content: center

    .social-list-item
      margin: 0 30px 0 0
      &:last-child
        margin-right: 0

    .header-search
      margin-bottom: 72px

    .button
      display: inline-flex

    .fullscreen-menu-write-btn,
    .fullscreen-menu-question-btn
      margin-bottom: 0

  .fullscreen-menu-actions-buttons-other
    display: none

  .fullscreen-menu-actions-buttons-main
    margin-bottom: 60px

  .fullscreen-menu-question-btn
    margin-right: 68px

  .contact-text__label
    text-align: center

  .fullscreen-menu-close-button
    position: absolute
    right: 0
    top: 54px
    display: flex
    align-items: center
    font-weight: 500
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.05em
    opacity: 0
    transition: none
    pointer-events: none

  .fullscreen-menu-close-button__icon
    margin-right: 20px

  .header_show-fullscreen-menu
    .fullscreen-menu-close-button
      transition: opacity $default-transition ease $default-transition
      pointer-events: auto
      opacity: 1

+mq(desktop)
  .header
    .fullscreen-menu
      .contact
        color: $gray40

      .contact-text__label
        display: block
        text-align: left

      .contact-text__value
        font-size: 30px
        line-height: 35px
        letter-spacing: 0.05em

      .contact__icon
        display: none

  .fullscreen-menu
    transform: translateX(-100vw)

    .container
      overflow: auto

    .header-search
      margin-bottom: 80px

    .contact
      margin-right: 61px

    .fullscreen-menu-question-btn
      display: none

    .button
      .button__icon
        display: none

  .fullscreen-menu__content
    position: relative

  .fullscreen-menu__bottom
    flex-flow: row wrap
    align-items: flex-start
    *
      flex-shrink: 0

  .fullscreen-menu-actions-buttons-main
    margin-bottom: 0
    padding-left: 42px
    border-left: 1px solid $gray20
    order: 2

  .fullscreen-menu__socials
    margin-top: 70px
    width: 100%
    order: 3

  .fullscreen-menu-actions-buttons-other
    width: auto
    margin-top: 0
    display: block

    .button:not(.fullscreen-menu-call-btn)
      display: none

  .fullscreen-menu-contact-text
    display: inline-block
    margin-right: 40px
    color: $gray30

  .fullscreen-menu__part
    margin-right: 82px
    flex-direction: row
    align-items: flex-start

  .header_show-fullscreen-menu
    .fullscreen-menu
      transform: translateX(0)

+mq(wide-screen)
  .fullscreen-menu
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 35.42%), linear-gradient(0deg, #F0F4F5, #F0F4F5), linear-gradient(152.23deg, #FFB800 50%, #FFCD12 100%)