{{#isNotEmpty}}
    <div class="fullscreen-submenu-wrapper">
        {{#values}}
            <div class="fullscreen-submenu{{#opened}} fullscreen-submenu_opened{{/opened}}">
                <div class="fullscreen-submenu__title">
                    <div class="fullscreen-submenu__title-text">{{{ title }}}</div>
                    <svg class="fullscreen-submenu__title-icon" width="16" height="11" viewBox="0 0 16 11" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.02325 7.66146L1.96061 1.59882C1.58423 1.22244 0.975163 1.22244 0.598786 1.59882C0.22241 1.97519 0.22241 2.58426 0.598786 2.96064L7.34235 9.7042C7.53001 9.89186 7.77705 9.98635 8.02328 9.98635C8.26951 9.98635 8.51654 9.89186 8.7042 9.7042L15.4478 2.96064L15.4478 2.96062C15.8241 2.58424 15.8241 1.97519 15.4477 1.59882C15.0714 1.22244 14.4623 1.22244 14.0859 1.59882L8.02325 7.66146Z"
                              fill="#7D8C93" stroke="#7D8C93" stroke-width="0.7"/>
                    </svg>
                </div>
                <ul class="fullscreen-submenu-list">
                    {{#items.values}}
                        <li class="fullscreen-submenu-list__item{{#active}} fullscreen-submenu-list__item_active{{/active}}">
                            <a href="{{href}}"
                               title="{{title}}"
                                {{#targetBlank}} target="_blank"{{/targetBlank}}>{{{text}}}</a>
                        </li>
                    {{/items.values}}
                </ul>
            </div>
        {{/values}}
    </div>
{{/isNotEmpty}}
