.list-items-hover-container
  position: relative
  overflow: hidden
  z-index: 0

.list-items-hover-marker
  display: none

+mq(desktop)
  .list-items-hover-marker
    display: block
    position: absolute
    width: 30px
    height: 2px
    background: linear-gradient(178.49deg, #FFCD12 0%, #FFB800 100%), $yellow8
    left: 0
    bottom: 0
    transition: $default-transition
    z-index: -1