.contacts-info
  margin-top: 35px

.contacts-info__item
  display: flex
  align-items: flex-start
  margin-bottom: 28px

.contacts-info__icon
  flex-shrink: 0
  max-height: 20px
  max-width: 20px
  margin-right: 23px

.contacts-info__value
  font-weight: 500
  font-size: 15px
  line-height: 18px

.contacts-info__value-unit
  display: inline-block
  margin-right: 23px

  &:last-child
    margin-right: 0

  b
    font-weight: inherit
    color: $gray40

.contacts-info-email
  .contacts-info__value
    letter-spacing: 0.05em

.contacts-info-phone
  .contacts-info__value
    letter-spacing: 0.04em
    line-height: 24px

.contacts-days-list
  margin: 40px 0 23px
  padding: 0
  list-style-type: none
  display: flex
  text-transform: uppercase
  font-weight: bold
  font-size: 14px
  line-height: 13px
  color: $gray40

.contacts-days-list__item
  width: 29px
  height: 29px
  display: flex
  align-items: center
  justify-content: center
  margin: 0 12px 0 0
  background: rgba(186, 209, 216, 0.6)
  border-radius: 6px

  &:last-child
    margin-right: 0

  &_weekend
    background: rgba(196, 196, 196, 0.4)
    color: rgba(52, 39, 51, 0.4)

.working-time
  font-weight: 500
  font-size: 14px
  line-height: 14px
  letter-spacing: 0.04em
  color: $gray40

+mq(mobile-plus)
  .contacts-days-list__item
    width: 33px
    height: 33px
    margin: 0 16px 0 0

+mq(tablet)
  .contacts-info__item
    margin-bottom: 30px

  .contacts-info__value
    font-size: 18px
    line-height: 24px

  .contacts-info-phone
    .contacts-info__value
      font-size: 17px
      line-height: 20px

  .contacts-info-email
    .contacts-info__value
      font-size: 16px
      line-height: 19px

  .contacts-days-list
    margin: 40px 0 21px
    font-size: 15px
    line-height: 16px

  .contacts-days-list__item
    width: 36px
    height: 36px
    margin: 0 18px 0 0

  .working-time
    font-size: 16px
    letter-spacing: 0.06em