<h2>{{{name}}}</h2>
<div class="contacts-info">
    {{#address}}
    <div class="contacts-info__item contacts-info-address">
        <svg class="contacts-info__icon" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 0C3.86426 0 0.5 3.36465 0.5 7.5C0.5 13.033 7.41977 19.6094 7.71438 19.8869C7.79492 19.9621 7.89746 20 8 20C8.10254 20 8.20508 19.9621 8.28566 19.8869C8.58023 19.6094 15.5 13.033 15.5 7.5C15.5 3.36465 12.1357 0 8 0ZM8 11.6667C5.70262 11.6667 3.83332 9.79738 3.83332 7.5C3.83332 5.20262 5.70266 3.33332 8 3.33332C10.2973 3.33332 12.1667 5.20266 12.1667 7.5C12.1667 9.79734 10.2974 11.6667 8 11.6667Z" fill="#BAD1D8"/>
        </svg>
        <div class="contacts-info__value">
            {{{ . }}}
        </div>
    </div>
    {{/address}}
    {{#phones.isNotEmpty}}
    <div class="contacts-info__item contacts-info-phone">
        <svg class="contacts-info__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4211 13.1684C17.1873 13.1684 15.979 12.9758 14.8337 12.5979C14.2747 12.4053 13.64 12.5537 13.2726 12.9284L11.0021 14.6432C8.39685 13.2527 6.72948 11.5863 5.35792 9.00001L7.02632 6.78316C7.44632 6.36316 7.59686 5.74841 7.41686 5.17264C7.0358 4.02 6.84213 2.81053 6.84213 1.57895C6.84213 0.708405 6.13372 0 5.26318 0H1.57895C0.708405 0 0 0.708405 0 1.57895C0 11.7358 8.26422 20 18.4211 20C19.2916 20 20 19.2916 20 18.4211V14.7474C20 13.8768 19.2916 13.1684 18.4211 13.1684Z" fill="#BAD1D8"/>
            <path d="M18.4211 13.1684C17.1873 13.1684 15.979 12.9758 14.8337 12.5979C14.2747 12.4053 13.64 12.5537 13.2726 12.9284L11.0021 14.6432C8.39685 13.2527 6.72948 11.5863 5.35792 9.00001L7.02632 6.78316C7.44632 6.36316 7.59686 5.74841 7.41686 5.17264C7.0358 4.02 6.84213 2.81053 6.84213 1.57895C6.84213 0.708405 6.13372 0 5.26318 0H1.57895C0.708405 0 0 0.708405 0 1.57895C0 11.7358 8.26422 20 18.4211 20C19.2916 20 20 19.2916 20 18.4211V14.7474C20 13.8768 19.2916 13.1684 18.4211 13.1684Z" fill="#BAD1D8"/>
        </svg>
        <div class="contacts-info__value">
            {{#phones}}
            <span class="contacts-info__value-unit">
                <span class="mobile-hide desktop-show">{{{ value }}}</span>
                <a class="desktop-hide" href="tel:{{{number}}}">{{{ value }}}</a>
            </span>
            {{/phones}}
        </div>
    </div>
    {{/phones.isNotEmpty}}
    {{#email.href}}
    <div class="contacts-info__item contacts-info-email">
        <svg class="contacts-info__icon" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.2609 7.87811L11.4478 9.69549C10.6863 10.4484 9.45235 10.4608 8.67825 9.69549L6.7913 7.8042L1.25024 13.3413C1.46997 13.4269 1.70688 13.4783 1.95653 13.4783H18.0435C18.287 13.4783 18.5179 13.4281 18.7332 13.3464L13.2609 7.87811Z" fill="#BAD1D8"/>
            <path d="M0.164102 1.17725C0.0596484 1.41639 0 1.67936 0 1.95662V11.5221C0 11.8735 0.100508 12.1989 0.263398 12.4842L5.86523 6.87838L0.164102 1.17725Z" fill="#BAD1D8"/>
            <path d="M18.0435 0H1.95657C1.6313 0 1.32899 0.0873439 1.05884 0.228399L9.60005 8.76955C9.84786 9.01736 10.2783 9.01736 10.5218 8.76955L19.0228 0.272657C18.7336 0.103789 18.4019 0 18.0435 0Z" fill="#BAD1D8"/>
            <path d="M19.8692 1.27026L14.187 6.95241L19.729 12.4985C19.8968 12.21 20.0001 11.8793 20.0001 11.5222V1.95679C20.0001 1.71437 19.9502 1.48464 19.8692 1.27026Z" fill="#BAD1D8"/>
        </svg>
        <div class="contacts-info__value"><a href="mailto:{{email.href}}" title="{{email.title}}">{{email.href}}</a></div>
    </div>
    {{/email.href}}
    <ul class="contacts-days-list">
        {{#workingDays}}
            <li class="contacts-days-list__item">{{ . }}</li>
        {{/workingDays}}
        {{#weekendDays}}
            <li class="contacts-days-list__item contacts-days-list__item_weekend">{{ . }}</li>
        {{/weekendDays}}
    </ul>
    <div class="working-time">{{{ workMode }}}</div>
</div>