<form class="tour-form form feedback-form"
    id="{{ajax_component_id}}"
    enctype="multipart/form-data"
    action="/"
    method="post">
    <div class="tour-form__title">{{{title}}}</div>
    <div class="tour-form__subtitle">{{{sub_title}}}</div>

    <div class="tour-form__futures">
        <div class="tour-form-future tour-form-future_active">
            <div class="tour-form-future__number">
                <span class="tour-form-future__number-digit">01</span>
                <span class="tour-form-future__number-point">.</span>
            </div>
            <div class="tour-form-future__description"><b>Увидеть всё своими глазами</b>, посмотреть разные планировки</div>
        </div>
        <div class="tour-form-future">
            <div class="tour-form-future__number">
                <span class="tour-form-future__number-digit">02</span>
                <span class="tour-form-future__number-point">.</span>
            </div>
            <div class="tour-form-future__description">Возможность на месте <b>обсудить</b> допустимые проектные изменения</div>
        </div>
        <div class="tour-form-future">

            <div class="tour-form-future__number">
                <span class="tour-form-future__number-digit">03</span>
                <span class="tour-form-future__number-point">.</span>
            </div>
            <div class="tour-form-future__description">Получить подробную <b>консультацию по объекту</b></div>
        </div>
    </div>

    <div class="tour-form-inputs">
        <div class="tour-form__group">
            {{#html_fields}}
                {{{html}}}
            {{/html_fields}}
        </div>
        <div class="tour-form__submit-wrapper">
            <button class="form__submit button button_filled-yellow-gradient feedback-form__submit tour-form__submit"
                    type="submit">
                {{submit_text}}
            </button>
            <div class="tour-form-agreement"><!--noindex-->{{{user_consent}}}<!--/noindex--></div>
        </div>
    </div>
</form>