@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import "../documents/documents"
@import "../consultation-form/consultation-form"
@import "../article-form/article-form"
@import "../other-projects/other-projects"
@import "../dropdown/dropdown"

.documentation

  .documents
    padding-top: 40px
    margin: 0

.documentation__svg-pattern
  display: none

+mq(tablet)

  .documentation

    .documents
      padding-top: 52px

+mq(desktop)

  .documentation

    .documents
      padding-top: 0

+mq(wide-screen)
  .documentation
    position: relative

  .documentation__svg-pattern
    display: block
    position: absolute
    bottom: 174px
    right: 0
    width: 220px
    height: 220px
    svg
      position: absolute
      right: -33px