.article-slider
  position: relative
  margin: 30px 0

.article-slider__container
  height: 193px

.article-slider__slide
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  width: 100%
  height: 100%
  text-align: center
  line-height: 0
  img
    margin: 0

.article-slider-image-link
  display: inline-block
  border: none

.article-slider__slide-img
  width: 100%
  height: 100%
  object-fit: contain

.article-slider__pagination
  display: flex
  justify-content: flex-end
  margin-top: 20px
  font-weight: 600
  font-size: 16px
  letter-spacing: 0.05em
  position: static
  text-align: left

  .swiper-pagination-current
    display: block
    opacity: 1
    margin-right: 2px
    width: 22px

  .swiper-pagination-total
    display: block
    opacity: 0.5
    margin-left: 2px
    width: 22px

.article-slider__button-next, .article-slider__button-prev
  display: none

+mq(tablet)
  .article-slider__container
    height: 440px

+mq(desktop)
  .article-slider
    margin: 40px 0

  .article-slider__container
    height: 564px

  .article-slider__slide:hover .article-slider__slide-icon
    opacity: 1

  .article-slider__slide-icon
    pointer-events: none
    position: absolute
    top: 25px
    right: 25px
    opacity: 0
    transition: $default-transition

  .article-slider__button-next, .article-slider__button-prev
    background: #EFEFEF
    border-radius: 100px
    display: flex
    width: 40px
    height: 40px
    outline: none
    opacity: 0.8
    transition: 0.3s
    z-index: 1

    &:hover
      opacity: 1

    &:after
      display: none

  .article-slider__button-prev
    left: -20px

  .article-slider__button-next
    right: -20px

  .article-slider-image-link
    position: relative
    &:hover:before
      opacity: 0.5

  .article-slider-image-link:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    width: 100%
    background-color: #EFEFEF
    opacity: 0
    transition: $default-transition

