<div class="article-slider">
    <div class="swiper-container article-slider__container">
        <div class="swiper-wrapper article-slider__wrapper">
            {{#values}}
                <div class="swiper-slide article-slider__slide">
                    <a class="article-slider-image-link" href="{{src}}" title="Фото">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                             data-src="{{src}}"
                             data-src-md="{{mdSrc}}"
                             data-src-lg="{{lgSrc}}"
                             class="article-slider__slide-img b-lazy">
                    </a>
                    <svg class="article-slider__slide-icon desktop-only" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.98 28.22L28.22 23.46C29.75 21.08 30.6 18.36 30.6 15.3C30.6 6.8 23.8 0 15.3 0C6.8 0 0 6.8 0 15.3C0 23.8 6.8 30.6 15.3 30.6C18.36 30.6 21.08 29.75 23.46 28.22L28.22 32.98C29.58 34.34 31.62 34.34 32.98 32.98C34.34 31.62 34.34 29.58 32.98 28.22ZM15.3 27.2C8.67 27.2 3.4 21.93 3.4 15.3C3.4 8.67 8.67 3.4 15.3 3.4C21.93 3.4 27.2 8.67 27.2 15.3C27.2 21.93 21.76 27.2 15.3 27.2Z" fill="white"/>
                        <path d="M22.0999 13.6H16.9999V8.50005C16.9999 7.48005 16.3199 6.80005 15.2999 6.80005C14.2799 6.80005 13.5999 7.65005 13.5999 8.50005V13.6H8.49993C7.64993 13.6 6.79993 14.28 6.79993 15.3C6.79993 16.32 7.47993 17.0001 8.49993 17.0001H13.5999V22.1001C13.5999 23.1201 14.2799 23.8001 15.2999 23.8001C16.3199 23.8001 16.9999 23.1201 16.9999 22.1001V17.0001H22.0999C23.1199 17.0001 23.7999 16.32 23.7999 15.3C23.7999 14.28 22.9499 13.6 22.0999 13.6Z" fill="white"/>
                    </svg>
                </div>
            {{/values}}
        </div>
    </div>
    <div class="swiper-pagination article-slider__pagination"></div>
    <div class="swiper-button-prev article-slider__button-prev">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.149816 4.99997C0.149816 4.82075 0.218246 4.64155 0.354819 4.50492L4.65464 0.205141C4.92816 -0.0683806 5.37163 -0.0683805 5.64504 0.205141C5.91845 0.478553 5.91845 0.921933 5.64504 1.19548L1.84032 4.99997L5.64491 8.80449C5.91832 9.07801 5.91832 9.52135 5.64491 9.79474C5.37149 10.0684 4.92803 10.0684 4.6545 9.79474L0.354686 5.49503C0.218091 5.35832 0.149816 5.17913 0.149816 4.99997Z"
                  fill="#342733"/>
        </svg>
    </div>
    <div class="swiper-button-next article-slider__button-next">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.85018 5.00003C5.85018 5.17925 5.78175 5.35845 5.64518 5.49508L1.34536 9.79486C1.07184 10.0684 0.628372 10.0684 0.354961 9.79486C0.0815497 9.52145 0.0815498 9.07807 0.354961 8.80452L4.15968 5.00003L0.355095 1.19551C0.0816842 0.921987 0.0816842 0.478651 0.355095 0.205261C0.628506 -0.0683927 1.07197 -0.0683926 1.3455 0.205261L5.64531 4.50497C5.78191 4.64168 5.85018 4.82087 5.85018 5.00003Z"
                  fill="#342733"/>
        </svg>
    </div>
</div>
