{{#isNotEmpty}}
    <div class="archive-list__content">
        {{#values}}
            <div class="archive-list__item">
                {{>archive-item}}
            </div>
        {{/values}}
    </div>
{{/isNotEmpty}}