@import "../index-projects-card/index-projects-card"
@import "../projects-list-rubric/projects-list-rubric"

.archive-list
  margin-top: 20px
  margin-bottom: 60px

.archive-list__content
  margin-top: 40px

.archive-list__item
  border-radius: 6px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
  margin-top: 30px

+mq(tablet)

  .archive-list
    margin-top: 33px

  .archive-list__content
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .archive-list__item
    margin-top: 16px
    width: 344px

    &:nth-of-type(-n + 2)
      margin-top: 0


+mq(desktop)

  .archive-list
    margin-top: 40px
    margin-bottom: 80px

  .archive-list__content
    justify-content: flex-start
    margin-top: 60px

  .archive-list__item
    margin-top: 24px
    margin-right: 15px
    transition: $default-transition
    width: 392px

    &:hover
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)

    &:nth-of-type(-n + 3)
      margin-top: 0

    &:nth-of-type(3n)
      margin-right: 0

