<div class="index-about">
    <div class="title-container container">
        <h3 class="index-about__title section-title">{{{ title }}}</h3>
    </div>
    <div class="index-about-content-container container">
        <div class="index-about-content">
            {{>index-about-slider}}
            <div class="index-about-stats-container container">
                {{>index-about-stats}}
            </div>
        </div>
    </div>
</div>