@import '../index-about-slider/index-about-slider'
@import '../index-about-stats/index-about-stats'

.index-about
  .title-container
    padding-right: 23px

+mq(tablet, max)
  .index-about-stats-container
    display: none

+mq(desktop, max)
  .index-about-content-container
    padding: 0

+mq(desktop)
  .index-about
    .index-about-slider
      flex-shrink: 0
      width: 872px

    .index-about-stats
      margin-left: 40px

  .index-about-content
    display: flex

  .index-about-stats-container
    max-width: none
    padding: 0
    margin: 0

  .index-about__title
    margin-bottom: 37px

+mq(wide-screen)
  .index-about__title
    margin-bottom: 7px

  .index-about
    .index-about-slider
      width: 1118px
      margin-left: -205px

    .index-about-slider-wrapper
      margin-left: 205px