{{#methods.isNotEmpty}}
    <div class="buy-ways">
        <div class="container">
            <div class="buy-ways-list-arrows">
                <button class="buy-ways-list-arrows__prev swiper-arrow">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.890887 6.00005C0.890887 5.80454 0.965538 5.60905 1.11453 5.45999L5.80524 0.769323C6.10362 0.470935 6.58741 0.470935 6.88567 0.769323C7.18394 1.06759 7.18394 1.55128 6.88567 1.84969L2.73507 6.00005L6.88553 10.1504C7.1838 10.4488 7.1838 10.9325 6.88553 11.2307C6.58726 11.5292 6.10348 11.5292 5.80509 11.2307L1.11438 6.54011C0.965369 6.39098 0.890887 6.19549 0.890887 6.00005Z"
                              fill="#342733"/>
                    </svg>
                </button>
                <button class="buy-ways-list-arrows__next swiper-arrow">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.10911 5.99995C7.10911 6.19547 7.03446 6.39095 6.88547 6.54001L2.19476 11.2307C1.89638 11.5291 1.41259 11.5291 1.11433 11.2307C0.816058 10.9324 0.816058 10.4487 1.11433 10.1503L5.26493 5.99995L1.11447 1.84957C0.816203 1.55118 0.816203 1.06754 1.11447 0.7693C1.41274 0.470769 1.89652 0.470769 2.19491 0.7693L6.88562 5.45989C7.03463 5.60902 7.10911 5.80451 7.10911 5.99995Z"
                              fill="#342733"/>
                    </svg>
                </button>
            </div>
            {{#title}}
                <h2 class="buy-ways__title section-title">{{{.}}}</h2>
            {{/title}}
        </div>
        <div class="buy-ways-list-container">
            <div class="buy-ways-list swiper-container container">
                <div class="buy-ways-list-wrapper swiper-wrapper">
                    {{#methods.values}}
                        {{>buy-ways-list-item}}
                    {{/methods.values}}
                </div>
                <div class="swiper-pagination-container container">
                    <div class="buy-ways-list-pagination swiper-pagination"></div>
                </div>
            </div>
            <div class="buy-ways-list-shadow"></div>
        </div>
    </div>
{{/methods.isNotEmpty}}
