@import '../buy-ways-list-item/buy-ways-list-item'

.buy-ways-list-container
  position: relative
  width: 100%
  display: flex

.buy-ways-list
  max-width: $wp1
  &_slider-disabled
    margin: 0
    + .buy-ways-list-shadow
        display: none

+mq(tablet, max)
  .buy-ways-list
    padding-bottom: 30px
  .buy-ways-list-shadow
    display: none
  .buy-ways
    .buy-ways__title
      margin-bottom: 0

+mq(tablet)
  .buy-ways
    .swiper-arrow
      padding: 14px 17px
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
      border-radius: 3px
      background: $white
      transition: $default-transition

      &.swiper-button-disabled
        box-shadow: none

  .buy-ways__title
    margin-bottom: 29px

  .buy-ways-list
    max-width: none
    padding-left: calc((100% - #{$wp2}) / 2 + #{$container-offset-tablet} - 12px)

  .buy-ways-list-arrows
    float: right
    margin-bottom: 29px

  .buy-ways-list-arrows__prev
    margin-right: 20px

  .swiper-container
    .buy-ways-list-pagination
      display: none

  .buy-ways-list-shadow
    position: absolute
    right: 0
    top: 12px
    width: 84px
    height: calc(100% - 24px)
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 89.8%)
    opacity: 0.8
    z-index: 1

@media only screen and (min-width: $wp2) and (max-width: $wp3 - 1px)
  .buy-ways-list.container
    margin: 0

+mq(desktop, max)
  .buy-ways-list-arrows
    display: none

+mq(desktop)
  .buy-ways
    .swiper-arrow:not(.swiper-button-disabled)
      &:hover
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09)

  .buy-ways-list-arrows
    &_hidden
      display: none

  .buy-ways-list-shadow
    display: none

  .buy-ways-list
    max-width: 1366px
    padding: 0
    margin: 0 calc((100% - #{$wp3}) / 2 + #{$container-offset-desktop} - 18px) 0 calc((100% - #{$wp3}) / 2 + #{$container-offset-desktop} - 6px)