<div class="company-photos clearfix">
    {{#values}}
        <div class="company-photos__img-wrapper b-lazy animate"
             data-src="{{src}}"
             data-src-md="{{mdSrc}}"
             data-src-lg="{{lgSrc}}">
            <svg class="company-photos__zoom" width="20" height="20" viewBox="0 0 20 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.8">
                    <path d="M19.4 16.6L16.6 13.8C17.5 12.4 18 10.8 18 9C18 4 14 0 9 0C4 0 0 4 0 9C0 14 4 18 9 18C10.8 18 12.4 17.5 13.8 16.6L16.6 19.4C17.4 20.2 18.6 20.2 19.4 19.4C20.2 18.6 20.2 17.4 19.4 16.6ZM9 16C5.1 16 2 12.9 2 9C2 5.1 5.1 2 9 2C12.9 2 16 5.1 16 9C16 12.9 12.8 16 9 16Z"
                          fill="white"/>
                    <path d="M13 8H10V5C10 4.4 9.6 4 9 4C8.4 4 8 4.5 8 5V8H5C4.5 8 4 8.4 4 9C4 9.6 4.4 10 5 10H8V13C8 13.6 8.4 14 9 14C9.6 14 10 13.6 10 13V10H13C13.6 10 14 9.6 14 9C14 8.4 13.5 8 13 8Z"
                          fill="white"/>
                </g>
            </svg>
            <a class="link-as-card"
               href="{{realSrc}}" data-fancybox="company-photos"></a>
        </div>
    {{/values}}
    <div class="company-photos__svg1 mobile-hide">
        <svg width="190" height="173" viewBox="0 0 190 173" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <path d="M2.29232 42.3896C3.55834 42.3896 4.58469 41.3665 4.58469 40.1046C4.58469 38.8426 3.55834 37.8196 2.29232 37.8196C1.0263 37.8196 0 38.8426 0 40.1046C0 41.3665 1.0263 42.3896 2.29232 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 42.3896C22.0999 42.3896 23.1262 41.3665 23.1262 40.1046C23.1262 38.8426 22.0999 37.8196 20.8338 37.8196C19.5678 37.8196 18.5415 38.8426 18.5415 40.1046C18.5415 41.3665 19.5678 42.3896 20.8338 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 40.1478C41.6678 40.5997 41.5333 41.0415 41.2815 41.4173C41.0296 41.793 40.6715 42.0859 40.2527 42.2589C39.8338 42.4318 39.3729 42.4771 38.9282 42.3889C38.4835 42.3007 38.075 42.0831 37.7544 41.7635C37.4338 41.444 37.2155 41.0368 37.1271 40.5936C37.0386 40.1503 37.084 39.6909 37.2575 39.2734C37.431 38.8558 37.7248 38.499 38.1018 38.2479C38.4788 37.9968 38.922 37.8628 39.3754 37.8628C39.9834 37.8628 40.5665 38.1035 40.9964 38.5321C41.4263 38.9606 41.6678 39.5418 41.6678 40.1478Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 42.3896C59.1829 42.3896 60.2093 41.3665 60.2093 40.1046C60.2093 38.8426 59.1829 37.8196 57.9169 37.8196C56.6508 37.8196 55.6245 38.8426 55.6245 40.1046C55.6245 41.3665 56.6508 42.3896 57.9169 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 42.3896C77.7245 42.3896 78.7509 41.3665 78.7509 40.1046C78.7509 38.8426 77.7245 37.8196 76.4584 37.8196C75.1923 37.8196 74.166 38.8426 74.166 40.1046C74.166 41.3665 75.1923 42.3896 76.4584 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 42.3896C96.2659 42.3896 97.2923 41.3665 97.2923 40.1046C97.2923 38.8426 96.2659 37.8196 94.9999 37.8196C93.7338 37.8196 92.7075 38.8426 92.7075 40.1046C92.7075 41.3665 93.7338 42.3896 94.9999 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 42.3896C114.807 42.3896 115.834 41.3665 115.834 40.1046C115.834 38.8426 114.807 37.8196 113.541 37.8196C112.275 37.8196 111.249 38.8426 111.249 40.1046C111.249 41.3665 112.275 42.3896 113.541 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 40.1479C134.375 40.6004 134.241 41.0427 133.988 41.4188C133.735 41.7949 133.377 42.0878 132.957 42.2603C132.537 42.4328 132.075 42.4772 131.63 42.3878C131.185 42.2985 130.777 42.0794 130.457 41.7584C130.137 41.4374 129.92 41.0289 129.833 40.5847C129.746 40.1405 129.793 39.6806 129.969 39.2633C130.145 38.8461 130.441 38.4902 130.82 38.2409C131.199 37.9916 131.643 37.86 132.097 37.8628C132.398 37.8628 132.695 37.922 132.973 38.037C133.25 38.1521 133.502 38.3206 133.713 38.533C133.925 38.7453 134.093 38.9974 134.206 39.2745C134.32 39.5517 134.377 39.8485 134.375 40.1479Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 42.3896C151.891 42.3896 152.917 41.3665 152.917 40.1046C152.917 38.8426 151.891 37.8196 150.625 37.8196C149.359 37.8196 148.332 38.8426 148.332 40.1046C148.332 41.3665 149.359 42.3896 150.625 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 42.3896C170.432 42.3896 171.459 41.3665 171.459 40.1046C171.459 38.8426 170.432 37.8196 169.166 37.8196C167.9 37.8196 166.874 38.8426 166.874 40.1046C166.874 41.3665 167.9 42.3896 169.166 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 42.3896C188.974 42.3896 190 41.3665 190 40.1046C190 38.8426 188.974 37.8196 187.708 37.8196C186.442 37.8196 185.415 38.8426 185.415 40.1046C185.415 41.3665 186.442 42.3896 187.708 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 23.5175C3.55834 23.5175 4.58469 22.4945 4.58469 21.2325C4.58469 19.9705 3.55834 18.9475 2.29232 18.9475C1.0263 18.9475 0 19.9705 0 21.2325C0 22.4945 1.0263 23.5175 2.29232 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 23.5175C22.0999 23.5175 23.1262 22.4945 23.1262 21.2325C23.1262 19.9705 22.0999 18.9475 20.8338 18.9475C19.5678 18.9475 18.5415 19.9705 18.5415 21.2325C18.5415 22.4945 19.5678 23.5175 20.8338 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 21.2757C41.6678 21.7277 41.5333 22.1694 41.2815 22.5452C41.0296 22.921 40.6715 23.2139 40.2527 23.3868C39.8338 23.5598 39.3729 23.605 38.9282 23.5168C38.4835 23.4287 38.075 23.211 37.7544 22.8915C37.4338 22.5719 37.2155 22.1648 37.1271 21.7215C37.0386 21.2783 37.084 20.8188 37.2575 20.4013C37.431 19.9838 37.7248 19.6269 38.1018 19.3758C38.4788 19.1247 38.922 18.9907 39.3754 18.9907C39.9834 18.9907 40.5665 19.2315 40.9964 19.66C41.4263 20.0885 41.6678 20.6697 41.6678 21.2757Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 23.5175C59.1829 23.5175 60.2093 22.4945 60.2093 21.2325C60.2093 19.9705 59.1829 18.9475 57.9169 18.9475C56.6508 18.9475 55.6245 19.9705 55.6245 21.2325C55.6245 22.4945 56.6508 23.5175 57.9169 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 23.5175C77.7245 23.5175 78.7509 22.4945 78.7509 21.2325C78.7509 19.9705 77.7245 18.9475 76.4584 18.9475C75.1923 18.9475 74.166 19.9705 74.166 21.2325C74.166 22.4945 75.1923 23.5175 76.4584 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 23.5175C96.2659 23.5175 97.2923 22.4945 97.2923 21.2325C97.2923 19.9705 96.2659 18.9475 94.9999 18.9475C93.7338 18.9475 92.7075 19.9705 92.7075 21.2325C92.7075 22.4945 93.7338 23.5175 94.9999 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 23.5175C114.807 23.5175 115.834 22.4945 115.834 21.2325C115.834 19.9705 114.807 18.9475 113.541 18.9475C112.275 18.9475 111.249 19.9705 111.249 21.2325C111.249 22.4945 112.275 23.5175 113.541 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 21.2758C134.375 21.7283 134.241 22.1707 133.988 22.5468C133.735 22.9228 133.377 23.2157 132.957 23.3882C132.537 23.5607 132.075 23.6051 131.63 23.5158C131.185 23.4264 130.777 23.2074 130.457 22.8863C130.137 22.5653 129.92 22.1568 129.833 21.7126C129.746 21.2684 129.793 20.8085 129.969 20.3913C130.145 19.974 130.441 19.6181 130.82 19.3688C131.199 19.1195 131.643 18.9879 132.097 18.9908C132.398 18.9908 132.695 19.05 132.973 19.165C133.25 19.28 133.502 19.4485 133.713 19.6609C133.925 19.8733 134.093 20.1253 134.206 20.4024C134.32 20.6796 134.377 20.9764 134.375 21.2758Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 23.5175C151.891 23.5175 152.917 22.4945 152.917 21.2325C152.917 19.9705 151.891 18.9475 150.625 18.9475C149.359 18.9475 148.332 19.9705 148.332 21.2325C148.332 22.4945 149.359 23.5175 150.625 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 23.5175C170.432 23.5175 171.459 22.4945 171.459 21.2325C171.459 19.9705 170.432 18.9475 169.166 18.9475C167.9 18.9475 166.874 19.9705 166.874 21.2325C166.874 22.4945 167.9 23.5175 169.166 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 23.5175C188.974 23.5175 190 22.4945 190 21.2325C190 19.9705 188.974 18.9475 187.708 18.9475C186.442 18.9475 185.415 19.9705 185.415 21.2325C185.415 22.4945 186.442 23.5175 187.708 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 4.57C3.55834 4.57 4.58469 3.54697 4.58469 2.285C4.58469 1.02303 3.55834 0 2.29232 0C1.0263 0 0 1.02303 0 2.285C0 3.54697 1.0263 4.57 2.29232 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 4.57C22.0999 4.57 23.1262 3.54697 23.1262 2.285C23.1262 1.02303 22.0999 0 20.8338 0C19.5678 0 18.5415 1.02303 18.5415 2.285C18.5415 3.54697 19.5678 4.57 20.8338 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 2.32822C41.6678 2.78015 41.5333 3.22193 41.2815 3.5977C41.0296 3.97347 40.6715 4.26635 40.2527 4.4393C39.8338 4.61224 39.3729 4.6575 38.9282 4.56933C38.4835 4.48116 38.075 4.26353 37.7544 3.94396C37.4338 3.6244 37.2155 3.21725 37.1271 2.774C37.0386 2.33076 37.084 1.87132 37.2575 1.45379C37.431 1.03626 37.7248 0.67939 38.1018 0.42831C38.4788 0.177231 38.922 0.0432129 39.3754 0.0432129C39.9834 0.0432129 40.5665 0.283961 40.9964 0.712483C41.4263 1.141 41.6678 1.7222 41.6678 2.32822Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 4.57C59.1829 4.57 60.2093 3.54697 60.2093 2.285C60.2093 1.02303 59.1829 0 57.9169 0C56.6508 0 55.6245 1.02303 55.6245 2.285C55.6245 3.54697 56.6508 4.57 57.9169 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 4.57C77.7245 4.57 78.7509 3.54697 78.7509 2.285C78.7509 1.02303 77.7245 0 76.4584 0C75.1923 0 74.166 1.02303 74.166 2.285C74.166 3.54697 75.1923 4.57 76.4584 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 4.57C96.2659 4.57 97.2923 3.54697 97.2923 2.285C97.2923 1.02303 96.2659 0 94.9999 0C93.7338 0 92.7075 1.02303 92.7075 2.285C92.7075 3.54697 93.7338 4.57 94.9999 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 4.57C114.807 4.57 115.834 3.54697 115.834 2.285C115.834 1.02303 114.807 0 113.541 0C112.275 0 111.249 1.02303 111.249 2.285C111.249 3.54697 112.275 4.57 113.541 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 2.32827C134.375 2.78082 134.241 3.22317 133.988 3.59924C133.735 3.97532 133.377 4.26818 132.957 4.4407C132.537 4.61321 132.075 4.6576 131.63 4.56826C131.185 4.47891 130.777 4.25985 130.457 3.93884C130.137 3.61783 129.92 3.20933 129.833 2.76513C129.746 2.32093 129.793 1.86104 129.969 1.44377C130.145 1.0265 130.441 0.670639 130.82 0.421306C131.199 0.171974 131.643 0.0403945 132.097 0.0432587C132.398 0.0432526 132.695 0.102461 132.973 0.21747C133.25 0.332479 133.502 0.501016 133.713 0.71339C133.925 0.925765 134.093 1.17779 134.206 1.45493C134.32 1.73208 134.377 2.02888 134.375 2.32827Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 4.57C151.891 4.57 152.917 3.54697 152.917 2.285C152.917 1.02303 151.891 0 150.625 0C149.359 0 148.332 1.02303 148.332 2.285C148.332 3.54697 149.359 4.57 150.625 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 4.57C170.432 4.57 171.459 3.54697 171.459 2.285C171.459 1.02303 170.432 0 169.166 0C167.9 0 166.874 1.02303 166.874 2.285C166.874 3.54697 167.9 4.57 169.166 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 4.57C188.974 4.57 190 3.54697 190 2.285C190 1.02303 188.974 0 187.708 0C186.442 0 185.415 1.02303 185.415 2.285C185.415 3.54697 186.442 4.57 187.708 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 61.0422C3.55834 61.0422 4.58469 60.0191 4.58469 58.7572C4.58469 57.4952 3.55834 56.4722 2.29232 56.4722C1.0263 56.4722 0 57.4952 0 58.7572C0 60.0191 1.0263 61.0422 2.29232 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 61.0422C22.0999 61.0422 23.1262 60.0191 23.1262 58.7572C23.1262 57.4952 22.0999 56.4722 20.8338 56.4722C19.5678 56.4722 18.5415 57.4952 18.5415 58.7572C18.5415 60.0191 19.5678 61.0422 20.8338 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 58.8004C41.6678 59.2523 41.5333 59.6941 41.2815 60.0699C41.0296 60.4456 40.6715 60.7385 40.2527 60.9115C39.8338 61.0844 39.3729 61.1297 38.9282 61.0415C38.4835 60.9533 38.075 60.7357 37.7544 60.4161C37.4338 60.0966 37.2155 59.6894 37.1271 59.2462C37.0386 58.8029 37.084 58.3435 37.2575 57.926C37.431 57.5084 37.7248 57.1516 38.1018 56.9005C38.4788 56.6494 38.922 56.5154 39.3754 56.5154C39.9834 56.5154 40.5665 56.7561 40.9964 57.1847C41.4263 57.6132 41.6678 58.1944 41.6678 58.8004Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 61.0422C59.1829 61.0422 60.2093 60.0191 60.2093 58.7572C60.2093 57.4952 59.1829 56.4722 57.9169 56.4722C56.6508 56.4722 55.6245 57.4952 55.6245 58.7572C55.6245 60.0191 56.6508 61.0422 57.9169 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 61.0422C77.7245 61.0422 78.7509 60.0191 78.7509 58.7572C78.7509 57.4952 77.7245 56.4722 76.4584 56.4722C75.1923 56.4722 74.166 57.4952 74.166 58.7572C74.166 60.0191 75.1923 61.0422 76.4584 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 61.0422C96.2659 61.0422 97.2923 60.0191 97.2923 58.7572C97.2923 57.4952 96.2659 56.4722 94.9999 56.4722C93.7338 56.4722 92.7075 57.4952 92.7075 58.7572C92.7075 60.0191 93.7338 61.0422 94.9999 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 61.0422C114.807 61.0422 115.834 60.0191 115.834 58.7572C115.834 57.4952 114.807 56.4722 113.541 56.4722C112.275 56.4722 111.249 57.4952 111.249 58.7572C111.249 60.0191 112.275 61.0422 113.541 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 58.8004C134.375 59.253 134.241 59.6953 133.988 60.0714C133.735 60.4475 133.377 60.7403 132.957 60.9129C132.537 61.0854 132.075 61.1298 131.63 61.0404C131.185 60.9511 130.777 60.732 130.457 60.411C130.137 60.09 129.92 59.6815 129.833 59.2373C129.746 58.7931 129.793 58.3332 129.969 57.9159C130.145 57.4987 130.441 57.1428 130.82 56.8935C131.199 56.6441 131.643 56.5126 132.097 56.5154C132.398 56.5154 132.695 56.5746 132.973 56.6896C133.25 56.8046 133.502 56.9732 133.713 57.1856C133.925 57.3979 134.093 57.65 134.206 57.9271C134.32 58.2042 134.377 58.5011 134.375 58.8004Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 61.0422C151.891 61.0422 152.917 60.0191 152.917 58.7572C152.917 57.4952 151.891 56.4722 150.625 56.4722C149.359 56.4722 148.332 57.4952 148.332 58.7572C148.332 60.0191 149.359 61.0422 150.625 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 61.0422C170.432 61.0422 171.459 60.0191 171.459 58.7572C171.459 57.4952 170.432 56.4722 169.166 56.4722C167.9 56.4722 166.874 57.4952 166.874 58.7572C166.874 60.0191 167.9 61.0422 169.166 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 61.0422C188.974 61.0422 190 60.0191 190 58.7572C190 57.4952 188.974 56.4722 187.708 56.4722C186.442 56.4722 185.415 57.4952 185.415 58.7572C185.415 60.0191 186.442 61.0422 187.708 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 79.6945C3.55834 79.6945 4.58469 78.6715 4.58469 77.4095C4.58469 76.1475 3.55834 75.1245 2.29232 75.1245C1.0263 75.1245 0 76.1475 0 77.4095C0 78.6715 1.0263 79.6945 2.29232 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 79.6945C22.0999 79.6945 23.1262 78.6715 23.1262 77.4095C23.1262 76.1475 22.0999 75.1245 20.8338 75.1245C19.5678 75.1245 18.5415 76.1475 18.5415 77.4095C18.5415 78.6715 19.5678 79.6945 20.8338 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 77.4527C41.6678 77.9047 41.5333 78.3464 41.2815 78.7222C41.0296 79.098 40.6715 79.3909 40.2527 79.5638C39.8338 79.7368 39.3729 79.782 38.9282 79.6938C38.4835 79.6057 38.075 79.388 37.7544 79.0685C37.4338 78.7489 37.2155 78.3418 37.1271 77.8985C37.0386 77.4553 37.084 76.9958 37.2575 76.5783C37.431 76.1608 37.7248 75.8039 38.1018 75.5528C38.4788 75.3017 38.922 75.1677 39.3754 75.1677C39.9834 75.1677 40.5665 75.4085 40.9964 75.837C41.4263 76.2655 41.6678 76.8467 41.6678 77.4527Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 79.6945C59.1829 79.6945 60.2093 78.6715 60.2093 77.4095C60.2093 76.1475 59.1829 75.1245 57.9169 75.1245C56.6508 75.1245 55.6245 76.1475 55.6245 77.4095C55.6245 78.6715 56.6508 79.6945 57.9169 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 79.6945C77.7245 79.6945 78.7509 78.6715 78.7509 77.4095C78.7509 76.1475 77.7245 75.1245 76.4584 75.1245C75.1923 75.1245 74.166 76.1475 74.166 77.4095C74.166 78.6715 75.1923 79.6945 76.4584 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 79.6945C96.2659 79.6945 97.2923 78.6715 97.2923 77.4095C97.2923 76.1475 96.2659 75.1245 94.9999 75.1245C93.7338 75.1245 92.7075 76.1475 92.7075 77.4095C92.7075 78.6715 93.7338 79.6945 94.9999 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 79.6945C114.807 79.6945 115.834 78.6715 115.834 77.4095C115.834 76.1475 114.807 75.1245 113.541 75.1245C112.275 75.1245 111.249 76.1475 111.249 77.4095C111.249 78.6715 112.275 79.6945 113.541 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 77.4528C134.375 77.9053 134.241 78.3477 133.988 78.7238C133.735 79.0998 133.377 79.3927 132.957 79.5652C132.537 79.7377 132.075 79.7821 131.63 79.6928C131.185 79.6034 130.777 79.3844 130.457 79.0634C130.137 78.7423 129.92 78.3338 129.833 77.8896C129.746 77.4454 129.793 76.9855 129.969 76.5683C130.145 76.151 130.441 75.7952 130.82 75.5458C131.199 75.2965 131.643 75.1649 132.097 75.1678C132.398 75.1678 132.695 75.227 132.973 75.342C133.25 75.457 133.502 75.6255 133.713 75.8379C133.925 76.0503 134.093 76.3023 134.206 76.5794C134.32 76.8566 134.377 77.1534 134.375 77.4528Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 79.6945C151.891 79.6945 152.917 78.6715 152.917 77.4095C152.917 76.1475 151.891 75.1245 150.625 75.1245C149.359 75.1245 148.332 76.1475 148.332 77.4095C148.332 78.6715 149.359 79.6945 150.625 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 79.6945C170.432 79.6945 171.459 78.6715 171.459 77.4095C171.459 76.1475 170.432 75.1245 169.166 75.1245C167.9 75.1245 166.874 76.1475 166.874 77.4095C166.874 78.6715 167.9 79.6945 169.166 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 79.6945C188.974 79.6945 190 78.6715 190 77.4095C190 76.1475 188.974 75.1245 187.708 75.1245C186.442 75.1245 185.415 76.1475 185.415 77.4095C185.415 78.6715 186.442 79.6945 187.708 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 98.3471C3.55834 98.3471 4.58469 97.3241 4.58469 96.0621C4.58469 94.8001 3.55834 93.7771 2.29232 93.7771C1.0263 93.7771 0 94.8001 0 96.0621C0 97.3241 1.0263 98.3471 2.29232 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 98.3471C22.0999 98.3471 23.1262 97.3241 23.1262 96.0621C23.1262 94.8001 22.0999 93.7771 20.8338 93.7771C19.5678 93.7771 18.5415 94.8001 18.5415 96.0621C18.5415 97.3241 19.5678 98.3471 20.8338 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 96.1053C41.6678 96.5573 41.5333 96.999 41.2815 97.3748C41.0296 97.7506 40.6715 98.0434 40.2527 98.2164C39.8338 98.3893 39.3729 98.4346 38.9282 98.3464C38.4835 98.2583 38.075 98.0406 37.7544 97.7211C37.4338 97.4015 37.2155 96.9944 37.1271 96.5511C37.0386 96.1079 37.084 95.6484 37.2575 95.2309C37.431 94.8134 37.7248 94.4565 38.1018 94.2054C38.4788 93.9543 38.922 93.8203 39.3754 93.8203C39.9834 93.8203 40.5665 94.0611 40.9964 94.4896C41.4263 94.9181 41.6678 95.4993 41.6678 96.1053Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 98.3471C59.1829 98.3471 60.2093 97.3241 60.2093 96.0621C60.2093 94.8001 59.1829 93.7771 57.9169 93.7771C56.6508 93.7771 55.6245 94.8001 55.6245 96.0621C55.6245 97.3241 56.6508 98.3471 57.9169 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 98.3471C77.7245 98.3471 78.7509 97.3241 78.7509 96.0621C78.7509 94.8001 77.7245 93.7771 76.4584 93.7771C75.1923 93.7771 74.166 94.8001 74.166 96.0621C74.166 97.3241 75.1923 98.3471 76.4584 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 98.3471C96.2659 98.3471 97.2923 97.3241 97.2923 96.0621C97.2923 94.8001 96.2659 93.7771 94.9999 93.7771C93.7338 93.7771 92.7075 94.8001 92.7075 96.0621C92.7075 97.3241 93.7338 98.3471 94.9999 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 98.3471C114.807 98.3471 115.834 97.3241 115.834 96.0621C115.834 94.8001 114.807 93.7771 113.541 93.7771C112.275 93.7771 111.249 94.8001 111.249 96.0621C111.249 97.3241 112.275 98.3471 113.541 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 96.1054C134.375 96.5579 134.241 97.0003 133.988 97.3763C133.735 97.7524 133.377 98.0453 132.957 98.2178C132.537 98.3903 132.075 98.4347 131.63 98.3454C131.185 98.256 130.777 98.037 130.457 97.7159C130.137 97.3949 129.92 96.9864 129.833 96.5422C129.746 96.098 129.793 95.6381 129.969 95.2209C130.145 94.8036 130.441 94.4477 130.82 94.1984C131.199 93.9491 131.643 93.8175 132.097 93.8204C132.398 93.8204 132.695 93.8796 132.973 93.9946C133.25 94.1096 133.502 94.2781 133.713 94.4905C133.925 94.7029 134.093 94.9549 134.206 95.232C134.32 95.5092 134.377 95.806 134.375 96.1054Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 98.3471C151.891 98.3471 152.917 97.3241 152.917 96.0621C152.917 94.8001 151.891 93.7771 150.625 93.7771C149.359 93.7771 148.332 94.8001 148.332 96.0621C148.332 97.3241 149.359 98.3471 150.625 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 98.3471C170.432 98.3471 171.459 97.3241 171.459 96.0621C171.459 94.8001 170.432 93.7771 169.166 93.7771C167.9 93.7771 166.874 94.8001 166.874 96.0621C166.874 97.3241 167.9 98.3471 169.166 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 98.3471C188.974 98.3471 190 97.3241 190 96.0621C190 94.8001 188.974 93.7771 187.708 93.7771C186.442 93.7771 185.415 94.8001 185.415 96.0621C185.415 97.3241 186.442 98.3471 187.708 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 116.999C3.55834 116.999 4.58469 115.976 4.58469 114.714C4.58469 113.452 3.55834 112.429 2.29232 112.429C1.0263 112.429 0 113.452 0 114.714C0 115.976 1.0263 116.999 2.29232 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 116.999C22.0999 116.999 23.1262 115.976 23.1262 114.714C23.1262 113.452 22.0999 112.429 20.8338 112.429C19.5678 112.429 18.5415 113.452 18.5415 114.714C18.5415 115.976 19.5678 116.999 20.8338 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 114.758C41.6678 115.21 41.5333 115.651 41.2815 116.027C41.0296 116.403 40.6715 116.696 40.2527 116.869C39.8338 117.042 39.3729 117.087 38.9282 116.999C38.4835 116.911 38.075 116.693 37.7544 116.373C37.4338 116.054 37.2155 115.647 37.1271 115.203C37.0386 114.76 37.084 114.301 37.2575 113.883C37.431 113.466 37.7248 113.109 38.1018 112.858C38.4788 112.607 38.922 112.473 39.3754 112.473C39.9834 112.473 40.5665 112.713 40.9964 113.142C41.4263 113.57 41.6678 114.152 41.6678 114.758Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 116.999C59.1829 116.999 60.2093 115.976 60.2093 114.714C60.2093 113.452 59.1829 112.429 57.9169 112.429C56.6508 112.429 55.6245 113.452 55.6245 114.714C55.6245 115.976 56.6508 116.999 57.9169 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 116.999C77.7245 116.999 78.7509 115.976 78.7509 114.714C78.7509 113.452 77.7245 112.429 76.4584 112.429C75.1923 112.429 74.166 113.452 74.166 114.714C74.166 115.976 75.1923 116.999 76.4584 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 116.999C96.2659 116.999 97.2923 115.976 97.2923 114.714C97.2923 113.452 96.2659 112.429 94.9999 112.429C93.7338 112.429 92.7075 113.452 92.7075 114.714C92.7075 115.976 93.7338 116.999 94.9999 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 116.999C114.807 116.999 115.834 115.976 115.834 114.714C115.834 113.452 114.807 112.429 113.541 112.429C112.275 112.429 111.249 113.452 111.249 114.714C111.249 115.976 112.275 116.999 113.541 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 114.758C134.375 115.21 134.241 115.653 133.988 116.029C133.735 116.405 133.377 116.698 132.957 116.87C132.537 117.043 132.075 117.087 131.63 116.998C131.185 116.908 130.777 116.689 130.457 116.368C130.137 116.047 129.92 115.639 129.833 115.195C129.746 114.75 129.793 114.29 129.969 113.873C130.145 113.456 130.441 113.1 130.82 112.851C131.199 112.601 131.643 112.47 132.097 112.473C132.398 112.473 132.695 112.532 132.973 112.647C133.25 112.762 133.502 112.93 133.713 113.143C133.925 113.355 134.093 113.607 134.206 113.884C134.32 114.162 134.377 114.458 134.375 114.758Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 116.999C151.891 116.999 152.917 115.976 152.917 114.714C152.917 113.452 151.891 112.429 150.625 112.429C149.359 112.429 148.332 113.452 148.332 114.714C148.332 115.976 149.359 116.999 150.625 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 116.999C170.432 116.999 171.459 115.976 171.459 114.714C171.459 113.452 170.432 112.429 169.166 112.429C167.9 112.429 166.874 113.452 166.874 114.714C166.874 115.976 167.9 116.999 169.166 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 116.999C188.974 116.999 190 115.976 190 114.714C190 113.452 188.974 112.429 187.708 112.429C186.442 112.429 185.415 113.452 185.415 114.714C185.415 115.976 186.442 116.999 187.708 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 135.652C3.55834 135.652 4.58469 134.629 4.58469 133.367C4.58469 132.105 3.55834 131.082 2.29232 131.082C1.0263 131.082 0 132.105 0 133.367C0 134.629 1.0263 135.652 2.29232 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 135.652C22.0999 135.652 23.1262 134.629 23.1262 133.367C23.1262 132.105 22.0999 131.082 20.8338 131.082C19.5678 131.082 18.5415 132.105 18.5415 133.367C18.5415 134.629 19.5678 135.652 20.8338 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 133.41C41.6678 133.862 41.5333 134.304 41.2815 134.68C41.0296 135.056 40.6715 135.348 40.2527 135.521C39.8338 135.694 39.3729 135.74 38.9282 135.651C38.4835 135.563 38.075 135.346 37.7544 135.026C37.4338 134.706 37.2155 134.299 37.1271 133.856C37.0386 133.413 37.084 132.953 37.2575 132.536C37.431 132.118 37.7248 131.761 38.1018 131.51C38.4788 131.259 38.922 131.125 39.3754 131.125C39.9834 131.125 40.5665 131.366 40.9964 131.795C41.4263 132.223 41.6678 132.804 41.6678 133.41Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 135.652C59.1829 135.652 60.2093 134.629 60.2093 133.367C60.2093 132.105 59.1829 131.082 57.9169 131.082C56.6508 131.082 55.6245 132.105 55.6245 133.367C55.6245 134.629 56.6508 135.652 57.9169 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 135.652C77.7245 135.652 78.7509 134.629 78.7509 133.367C78.7509 132.105 77.7245 131.082 76.4584 131.082C75.1923 131.082 74.166 132.105 74.166 133.367C74.166 134.629 75.1923 135.652 76.4584 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 135.652C96.2659 135.652 97.2923 134.629 97.2923 133.367C97.2923 132.105 96.2659 131.082 94.9999 131.082C93.7338 131.082 92.7075 132.105 92.7075 133.367C92.7075 134.629 93.7338 135.652 94.9999 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 135.652C114.807 135.652 115.834 134.629 115.834 133.367C115.834 132.105 114.807 131.082 113.541 131.082C112.275 131.082 111.249 132.105 111.249 133.367C111.249 134.629 112.275 135.652 113.541 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 133.41C134.375 133.863 134.241 134.305 133.988 134.681C133.735 135.057 133.377 135.35 132.957 135.523C132.537 135.695 132.075 135.74 131.63 135.65C131.185 135.561 130.777 135.342 130.457 135.021C130.137 134.7 129.92 134.291 129.833 133.847C129.746 133.403 129.793 132.943 129.969 132.526C130.145 132.109 130.441 131.753 130.82 131.503C131.199 131.254 131.643 131.122 132.097 131.125C132.398 131.125 132.695 131.184 132.973 131.3C133.25 131.415 133.502 131.583 133.713 131.795C133.925 132.008 134.093 132.26 134.206 132.537C134.32 132.814 134.377 133.111 134.375 133.41Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 135.652C170.432 135.652 171.459 134.629 171.459 133.367C171.459 132.105 170.432 131.082 169.166 131.082C167.9 131.082 166.874 132.105 166.874 133.367C166.874 134.629 167.9 135.652 169.166 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 135.652C188.974 135.652 190 134.629 190 133.367C190 132.105 188.974 131.082 187.708 131.082C186.442 131.082 185.415 132.105 185.415 133.367C185.415 134.629 186.442 135.652 187.708 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 154.304C3.55834 154.304 4.58469 153.281 4.58469 152.019C4.58469 150.757 3.55834 149.734 2.29232 149.734C1.0263 149.734 0 150.757 0 152.019C0 153.281 1.0263 154.304 2.29232 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 154.304C22.0999 154.304 23.1262 153.281 23.1262 152.019C23.1262 150.757 22.0999 149.734 20.8338 149.734C19.5678 149.734 18.5415 150.757 18.5415 152.019C18.5415 153.281 19.5678 154.304 20.8338 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 152.062C41.6678 152.514 41.5333 152.956 41.2815 153.332C41.0296 153.708 40.6715 154 40.2527 154.173C39.8338 154.346 39.3729 154.392 38.9282 154.303C38.4835 154.215 38.075 153.998 37.7544 153.678C37.4338 153.359 37.2155 152.951 37.1271 152.508C37.0386 152.065 37.084 151.605 37.2575 151.188C37.431 150.77 37.7248 150.414 38.1018 150.162C38.4788 149.911 38.922 149.777 39.3754 149.777C39.9834 149.777 40.5665 150.018 40.9964 150.447C41.4263 150.875 41.6678 151.456 41.6678 152.062Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 154.304C59.1829 154.304 60.2093 153.281 60.2093 152.019C60.2093 150.757 59.1829 149.734 57.9169 149.734C56.6508 149.734 55.6245 150.757 55.6245 152.019C55.6245 153.281 56.6508 154.304 57.9169 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 154.304C77.7245 154.304 78.7509 153.281 78.7509 152.019C78.7509 150.757 77.7245 149.734 76.4584 149.734C75.1923 149.734 74.166 150.757 74.166 152.019C74.166 153.281 75.1923 154.304 76.4584 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 154.304C96.2659 154.304 97.2923 153.281 97.2923 152.019C97.2923 150.757 96.2659 149.734 94.9999 149.734C93.7338 149.734 92.7075 150.757 92.7075 152.019C92.7075 153.281 93.7338 154.304 94.9999 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 154.304C114.807 154.304 115.834 153.281 115.834 152.019C115.834 150.757 114.807 149.734 113.541 149.734C112.275 149.734 111.249 150.757 111.249 152.019C111.249 153.281 112.275 154.304 113.541 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 152.062C134.375 152.515 134.241 152.957 133.988 153.333C133.735 153.709 133.377 154.002 132.957 154.175C132.537 154.347 132.075 154.392 131.63 154.302C131.185 154.213 130.777 153.994 130.457 153.673C130.137 153.352 129.92 152.943 129.833 152.499C129.746 152.055 129.793 151.595 129.969 151.178C130.145 150.761 130.441 150.405 130.82 150.155C131.199 149.906 131.643 149.775 132.097 149.777C132.398 149.777 132.695 149.837 132.973 149.952C133.25 150.067 133.502 150.235 133.713 150.448C133.925 150.66 134.093 150.912 134.206 151.189C134.32 151.466 134.377 151.763 134.375 152.062Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 154.304C151.891 154.304 152.917 153.281 152.917 152.019C152.917 150.757 151.891 149.734 150.625 149.734C149.359 149.734 148.332 150.757 148.332 152.019C148.332 153.281 149.359 154.304 150.625 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 154.304C170.432 154.304 171.459 153.281 171.459 152.019C171.459 150.757 170.432 149.734 169.166 149.734C167.9 149.734 166.874 150.757 166.874 152.019C166.874 153.281 167.9 154.304 169.166 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 154.304C188.974 154.304 190 153.281 190 152.019C190 150.757 188.974 149.734 187.708 149.734C186.442 149.734 185.415 150.757 185.415 152.019C185.415 153.281 186.442 154.304 187.708 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 172.957C3.55834 172.957 4.58469 171.934 4.58469 170.672C4.58469 169.41 3.55834 168.387 2.29232 168.387C1.0263 168.387 0 169.41 0 170.672C0 171.934 1.0263 172.957 2.29232 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 172.957C22.0999 172.957 23.1262 171.934 23.1262 170.672C23.1262 169.41 22.0999 168.387 20.8338 168.387C19.5678 168.387 18.5415 169.41 18.5415 170.672C18.5415 171.934 19.5678 172.957 20.8338 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 170.715C41.6678 171.167 41.5333 171.609 41.2815 171.985C41.0296 172.36 40.6715 172.653 40.2527 172.826C39.8338 172.999 39.3729 173.044 38.9282 172.956C38.4835 172.868 38.075 172.65 37.7544 172.331C37.4338 172.011 37.2155 171.604 37.1271 171.161C37.0386 170.718 37.084 170.258 37.2575 169.841C37.431 169.423 37.7248 169.066 38.1018 168.815C38.4788 168.564 38.922 168.43 39.3754 168.43C39.9834 168.43 40.5665 168.671 40.9964 169.099C41.4263 169.528 41.6678 170.109 41.6678 170.715Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 172.957C59.1829 172.957 60.2093 171.934 60.2093 170.672C60.2093 169.41 59.1829 168.387 57.9169 168.387C56.6508 168.387 55.6245 169.41 55.6245 170.672C55.6245 171.934 56.6508 172.957 57.9169 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 172.957C77.7245 172.957 78.7509 171.934 78.7509 170.672C78.7509 169.41 77.7245 168.387 76.4584 168.387C75.1923 168.387 74.166 169.41 74.166 170.672C74.166 171.934 75.1923 172.957 76.4584 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 172.957C96.2659 172.957 97.2923 171.934 97.2923 170.672C97.2923 169.41 96.2659 168.387 94.9999 168.387C93.7338 168.387 92.7075 169.41 92.7075 170.672C92.7075 171.934 93.7338 172.957 94.9999 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 172.957C114.807 172.957 115.834 171.934 115.834 170.672C115.834 169.41 114.807 168.387 113.541 168.387C112.275 168.387 111.249 169.41 111.249 170.672C111.249 171.934 112.275 172.957 113.541 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 170.715C134.375 171.168 134.241 171.61 133.988 171.986C133.735 172.362 133.377 172.655 132.957 172.828C132.537 173 132.075 173.045 131.63 172.955C131.185 172.866 130.777 172.647 130.457 172.326C130.137 172.005 129.92 171.596 129.833 171.152C129.746 170.708 129.793 170.248 129.969 169.831C130.145 169.413 130.441 169.058 130.82 168.808C131.199 168.559 131.643 168.427 132.097 168.43C132.398 168.43 132.695 168.489 132.973 168.604C133.25 168.719 133.502 168.888 133.713 169.1C133.925 169.313 134.093 169.565 134.206 169.842C134.32 170.119 134.377 170.416 134.375 170.715Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 172.957C151.891 172.957 152.917 171.934 152.917 170.672C152.917 169.41 151.891 168.387 150.625 168.387C149.359 168.387 148.332 169.41 148.332 170.672C148.332 171.934 149.359 172.957 150.625 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 172.957C170.432 172.957 171.459 171.934 171.459 170.672C171.459 169.41 170.432 168.387 169.166 168.387C167.9 168.387 166.874 169.41 166.874 170.672C166.874 171.934 167.9 172.957 169.166 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 172.957C188.974 172.957 190 171.934 190 170.672C190 169.41 188.974 168.387 187.708 168.387C186.442 168.387 185.415 169.41 185.415 170.672C185.415 171.934 186.442 172.957 187.708 172.957Z"
                      fill="#D4DEE1"/>
            </g>
        </svg>
    </div>
    <div class="company-photos__svg2 mobile-hide tablet-show">
        <svg width="190" height="173" viewBox="0 0 190 173" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <path d="M2.29232 42.3896C3.55834 42.3896 4.58469 41.3665 4.58469 40.1046C4.58469 38.8426 3.55834 37.8196 2.29232 37.8196C1.0263 37.8196 0 38.8426 0 40.1046C0 41.3665 1.0263 42.3896 2.29232 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 42.3896C22.0999 42.3896 23.1262 41.3665 23.1262 40.1046C23.1262 38.8426 22.0999 37.8196 20.8338 37.8196C19.5678 37.8196 18.5415 38.8426 18.5415 40.1046C18.5415 41.3665 19.5678 42.3896 20.8338 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 40.1478C41.6678 40.5997 41.5333 41.0415 41.2815 41.4173C41.0296 41.793 40.6715 42.0859 40.2527 42.2589C39.8338 42.4318 39.3729 42.4771 38.9282 42.3889C38.4835 42.3007 38.075 42.0831 37.7544 41.7635C37.4338 41.444 37.2155 41.0368 37.1271 40.5936C37.0386 40.1503 37.084 39.6909 37.2575 39.2734C37.431 38.8558 37.7248 38.499 38.1018 38.2479C38.4788 37.9968 38.922 37.8628 39.3754 37.8628C39.9834 37.8628 40.5665 38.1035 40.9964 38.5321C41.4263 38.9606 41.6678 39.5418 41.6678 40.1478Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 42.3896C59.1829 42.3896 60.2093 41.3665 60.2093 40.1046C60.2093 38.8426 59.1829 37.8196 57.9169 37.8196C56.6508 37.8196 55.6245 38.8426 55.6245 40.1046C55.6245 41.3665 56.6508 42.3896 57.9169 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 42.3896C77.7245 42.3896 78.7509 41.3665 78.7509 40.1046C78.7509 38.8426 77.7245 37.8196 76.4584 37.8196C75.1923 37.8196 74.166 38.8426 74.166 40.1046C74.166 41.3665 75.1923 42.3896 76.4584 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 42.3896C96.2659 42.3896 97.2923 41.3665 97.2923 40.1046C97.2923 38.8426 96.2659 37.8196 94.9999 37.8196C93.7338 37.8196 92.7075 38.8426 92.7075 40.1046C92.7075 41.3665 93.7338 42.3896 94.9999 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 42.3896C114.807 42.3896 115.834 41.3665 115.834 40.1046C115.834 38.8426 114.807 37.8196 113.541 37.8196C112.275 37.8196 111.249 38.8426 111.249 40.1046C111.249 41.3665 112.275 42.3896 113.541 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 40.1479C134.375 40.6004 134.241 41.0427 133.988 41.4188C133.735 41.7949 133.377 42.0878 132.957 42.2603C132.537 42.4328 132.075 42.4772 131.63 42.3878C131.185 42.2985 130.777 42.0794 130.457 41.7584C130.137 41.4374 129.92 41.0289 129.833 40.5847C129.746 40.1405 129.793 39.6806 129.969 39.2633C130.145 38.8461 130.441 38.4902 130.82 38.2409C131.199 37.9916 131.643 37.86 132.097 37.8628C132.398 37.8628 132.695 37.922 132.973 38.037C133.25 38.1521 133.502 38.3206 133.713 38.533C133.925 38.7453 134.093 38.9974 134.206 39.2745C134.32 39.5517 134.377 39.8485 134.375 40.1479Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 42.3896C151.891 42.3896 152.917 41.3665 152.917 40.1046C152.917 38.8426 151.891 37.8196 150.625 37.8196C149.359 37.8196 148.332 38.8426 148.332 40.1046C148.332 41.3665 149.359 42.3896 150.625 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 42.3896C170.432 42.3896 171.459 41.3665 171.459 40.1046C171.459 38.8426 170.432 37.8196 169.166 37.8196C167.9 37.8196 166.874 38.8426 166.874 40.1046C166.874 41.3665 167.9 42.3896 169.166 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 42.3896C188.974 42.3896 190 41.3665 190 40.1046C190 38.8426 188.974 37.8196 187.708 37.8196C186.442 37.8196 185.415 38.8426 185.415 40.1046C185.415 41.3665 186.442 42.3896 187.708 42.3896Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 23.5175C3.55834 23.5175 4.58469 22.4945 4.58469 21.2325C4.58469 19.9705 3.55834 18.9475 2.29232 18.9475C1.0263 18.9475 0 19.9705 0 21.2325C0 22.4945 1.0263 23.5175 2.29232 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 23.5175C22.0999 23.5175 23.1262 22.4945 23.1262 21.2325C23.1262 19.9705 22.0999 18.9475 20.8338 18.9475C19.5678 18.9475 18.5415 19.9705 18.5415 21.2325C18.5415 22.4945 19.5678 23.5175 20.8338 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 21.2757C41.6678 21.7277 41.5333 22.1694 41.2815 22.5452C41.0296 22.921 40.6715 23.2139 40.2527 23.3868C39.8338 23.5598 39.3729 23.605 38.9282 23.5168C38.4835 23.4287 38.075 23.211 37.7544 22.8915C37.4338 22.5719 37.2155 22.1648 37.1271 21.7215C37.0386 21.2783 37.084 20.8188 37.2575 20.4013C37.431 19.9838 37.7248 19.6269 38.1018 19.3758C38.4788 19.1247 38.922 18.9907 39.3754 18.9907C39.9834 18.9907 40.5665 19.2315 40.9964 19.66C41.4263 20.0885 41.6678 20.6697 41.6678 21.2757Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 23.5175C59.1829 23.5175 60.2093 22.4945 60.2093 21.2325C60.2093 19.9705 59.1829 18.9475 57.9169 18.9475C56.6508 18.9475 55.6245 19.9705 55.6245 21.2325C55.6245 22.4945 56.6508 23.5175 57.9169 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 23.5175C77.7245 23.5175 78.7509 22.4945 78.7509 21.2325C78.7509 19.9705 77.7245 18.9475 76.4584 18.9475C75.1923 18.9475 74.166 19.9705 74.166 21.2325C74.166 22.4945 75.1923 23.5175 76.4584 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 23.5175C96.2659 23.5175 97.2923 22.4945 97.2923 21.2325C97.2923 19.9705 96.2659 18.9475 94.9999 18.9475C93.7338 18.9475 92.7075 19.9705 92.7075 21.2325C92.7075 22.4945 93.7338 23.5175 94.9999 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 23.5175C114.807 23.5175 115.834 22.4945 115.834 21.2325C115.834 19.9705 114.807 18.9475 113.541 18.9475C112.275 18.9475 111.249 19.9705 111.249 21.2325C111.249 22.4945 112.275 23.5175 113.541 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 21.2758C134.375 21.7283 134.241 22.1707 133.988 22.5468C133.735 22.9228 133.377 23.2157 132.957 23.3882C132.537 23.5607 132.075 23.6051 131.63 23.5158C131.185 23.4264 130.777 23.2074 130.457 22.8863C130.137 22.5653 129.92 22.1568 129.833 21.7126C129.746 21.2684 129.793 20.8085 129.969 20.3913C130.145 19.974 130.441 19.6181 130.82 19.3688C131.199 19.1195 131.643 18.9879 132.097 18.9908C132.398 18.9908 132.695 19.05 132.973 19.165C133.25 19.28 133.502 19.4485 133.713 19.6609C133.925 19.8733 134.093 20.1253 134.206 20.4024C134.32 20.6796 134.377 20.9764 134.375 21.2758Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 23.5175C151.891 23.5175 152.917 22.4945 152.917 21.2325C152.917 19.9705 151.891 18.9475 150.625 18.9475C149.359 18.9475 148.332 19.9705 148.332 21.2325C148.332 22.4945 149.359 23.5175 150.625 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 23.5175C170.432 23.5175 171.459 22.4945 171.459 21.2325C171.459 19.9705 170.432 18.9475 169.166 18.9475C167.9 18.9475 166.874 19.9705 166.874 21.2325C166.874 22.4945 167.9 23.5175 169.166 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 23.5175C188.974 23.5175 190 22.4945 190 21.2325C190 19.9705 188.974 18.9475 187.708 18.9475C186.442 18.9475 185.415 19.9705 185.415 21.2325C185.415 22.4945 186.442 23.5175 187.708 23.5175Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 4.57C3.55834 4.57 4.58469 3.54697 4.58469 2.285C4.58469 1.02303 3.55834 0 2.29232 0C1.0263 0 0 1.02303 0 2.285C0 3.54697 1.0263 4.57 2.29232 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 4.57C22.0999 4.57 23.1262 3.54697 23.1262 2.285C23.1262 1.02303 22.0999 0 20.8338 0C19.5678 0 18.5415 1.02303 18.5415 2.285C18.5415 3.54697 19.5678 4.57 20.8338 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 2.32822C41.6678 2.78015 41.5333 3.22193 41.2815 3.5977C41.0296 3.97347 40.6715 4.26635 40.2527 4.4393C39.8338 4.61224 39.3729 4.6575 38.9282 4.56933C38.4835 4.48116 38.075 4.26353 37.7544 3.94396C37.4338 3.6244 37.2155 3.21725 37.1271 2.774C37.0386 2.33076 37.084 1.87132 37.2575 1.45379C37.431 1.03626 37.7248 0.67939 38.1018 0.42831C38.4788 0.177231 38.922 0.0432129 39.3754 0.0432129C39.9834 0.0432129 40.5665 0.283961 40.9964 0.712483C41.4263 1.141 41.6678 1.7222 41.6678 2.32822Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 4.57C59.1829 4.57 60.2093 3.54697 60.2093 2.285C60.2093 1.02303 59.1829 0 57.9169 0C56.6508 0 55.6245 1.02303 55.6245 2.285C55.6245 3.54697 56.6508 4.57 57.9169 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 4.57C77.7245 4.57 78.7509 3.54697 78.7509 2.285C78.7509 1.02303 77.7245 0 76.4584 0C75.1923 0 74.166 1.02303 74.166 2.285C74.166 3.54697 75.1923 4.57 76.4584 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 4.57C96.2659 4.57 97.2923 3.54697 97.2923 2.285C97.2923 1.02303 96.2659 0 94.9999 0C93.7338 0 92.7075 1.02303 92.7075 2.285C92.7075 3.54697 93.7338 4.57 94.9999 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 4.57C114.807 4.57 115.834 3.54697 115.834 2.285C115.834 1.02303 114.807 0 113.541 0C112.275 0 111.249 1.02303 111.249 2.285C111.249 3.54697 112.275 4.57 113.541 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 2.32827C134.375 2.78082 134.241 3.22317 133.988 3.59924C133.735 3.97532 133.377 4.26818 132.957 4.4407C132.537 4.61321 132.075 4.6576 131.63 4.56826C131.185 4.47891 130.777 4.25985 130.457 3.93884C130.137 3.61783 129.92 3.20933 129.833 2.76513C129.746 2.32093 129.793 1.86104 129.969 1.44377C130.145 1.0265 130.441 0.670639 130.82 0.421306C131.199 0.171974 131.643 0.0403945 132.097 0.0432587C132.398 0.0432526 132.695 0.102461 132.973 0.21747C133.25 0.332479 133.502 0.501016 133.713 0.71339C133.925 0.925765 134.093 1.17779 134.206 1.45493C134.32 1.73208 134.377 2.02888 134.375 2.32827Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 4.57C151.891 4.57 152.917 3.54697 152.917 2.285C152.917 1.02303 151.891 0 150.625 0C149.359 0 148.332 1.02303 148.332 2.285C148.332 3.54697 149.359 4.57 150.625 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 4.57C170.432 4.57 171.459 3.54697 171.459 2.285C171.459 1.02303 170.432 0 169.166 0C167.9 0 166.874 1.02303 166.874 2.285C166.874 3.54697 167.9 4.57 169.166 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 4.57C188.974 4.57 190 3.54697 190 2.285C190 1.02303 188.974 0 187.708 0C186.442 0 185.415 1.02303 185.415 2.285C185.415 3.54697 186.442 4.57 187.708 4.57Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 61.0422C3.55834 61.0422 4.58469 60.0191 4.58469 58.7572C4.58469 57.4952 3.55834 56.4722 2.29232 56.4722C1.0263 56.4722 0 57.4952 0 58.7572C0 60.0191 1.0263 61.0422 2.29232 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 61.0422C22.0999 61.0422 23.1262 60.0191 23.1262 58.7572C23.1262 57.4952 22.0999 56.4722 20.8338 56.4722C19.5678 56.4722 18.5415 57.4952 18.5415 58.7572C18.5415 60.0191 19.5678 61.0422 20.8338 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 58.8004C41.6678 59.2523 41.5333 59.6941 41.2815 60.0699C41.0296 60.4456 40.6715 60.7385 40.2527 60.9115C39.8338 61.0844 39.3729 61.1297 38.9282 61.0415C38.4835 60.9533 38.075 60.7357 37.7544 60.4161C37.4338 60.0966 37.2155 59.6894 37.1271 59.2462C37.0386 58.8029 37.084 58.3435 37.2575 57.926C37.431 57.5084 37.7248 57.1516 38.1018 56.9005C38.4788 56.6494 38.922 56.5154 39.3754 56.5154C39.9834 56.5154 40.5665 56.7561 40.9964 57.1847C41.4263 57.6132 41.6678 58.1944 41.6678 58.8004Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 61.0422C59.1829 61.0422 60.2093 60.0191 60.2093 58.7572C60.2093 57.4952 59.1829 56.4722 57.9169 56.4722C56.6508 56.4722 55.6245 57.4952 55.6245 58.7572C55.6245 60.0191 56.6508 61.0422 57.9169 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 61.0422C77.7245 61.0422 78.7509 60.0191 78.7509 58.7572C78.7509 57.4952 77.7245 56.4722 76.4584 56.4722C75.1923 56.4722 74.166 57.4952 74.166 58.7572C74.166 60.0191 75.1923 61.0422 76.4584 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 61.0422C96.2659 61.0422 97.2923 60.0191 97.2923 58.7572C97.2923 57.4952 96.2659 56.4722 94.9999 56.4722C93.7338 56.4722 92.7075 57.4952 92.7075 58.7572C92.7075 60.0191 93.7338 61.0422 94.9999 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 61.0422C114.807 61.0422 115.834 60.0191 115.834 58.7572C115.834 57.4952 114.807 56.4722 113.541 56.4722C112.275 56.4722 111.249 57.4952 111.249 58.7572C111.249 60.0191 112.275 61.0422 113.541 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 58.8004C134.375 59.253 134.241 59.6953 133.988 60.0714C133.735 60.4475 133.377 60.7403 132.957 60.9129C132.537 61.0854 132.075 61.1298 131.63 61.0404C131.185 60.9511 130.777 60.732 130.457 60.411C130.137 60.09 129.92 59.6815 129.833 59.2373C129.746 58.7931 129.793 58.3332 129.969 57.9159C130.145 57.4987 130.441 57.1428 130.82 56.8935C131.199 56.6441 131.643 56.5126 132.097 56.5154C132.398 56.5154 132.695 56.5746 132.973 56.6896C133.25 56.8046 133.502 56.9732 133.713 57.1856C133.925 57.3979 134.093 57.65 134.206 57.9271C134.32 58.2042 134.377 58.5011 134.375 58.8004Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 61.0422C151.891 61.0422 152.917 60.0191 152.917 58.7572C152.917 57.4952 151.891 56.4722 150.625 56.4722C149.359 56.4722 148.332 57.4952 148.332 58.7572C148.332 60.0191 149.359 61.0422 150.625 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 61.0422C170.432 61.0422 171.459 60.0191 171.459 58.7572C171.459 57.4952 170.432 56.4722 169.166 56.4722C167.9 56.4722 166.874 57.4952 166.874 58.7572C166.874 60.0191 167.9 61.0422 169.166 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 61.0422C188.974 61.0422 190 60.0191 190 58.7572C190 57.4952 188.974 56.4722 187.708 56.4722C186.442 56.4722 185.415 57.4952 185.415 58.7572C185.415 60.0191 186.442 61.0422 187.708 61.0422Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 79.6945C3.55834 79.6945 4.58469 78.6715 4.58469 77.4095C4.58469 76.1475 3.55834 75.1245 2.29232 75.1245C1.0263 75.1245 0 76.1475 0 77.4095C0 78.6715 1.0263 79.6945 2.29232 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 79.6945C22.0999 79.6945 23.1262 78.6715 23.1262 77.4095C23.1262 76.1475 22.0999 75.1245 20.8338 75.1245C19.5678 75.1245 18.5415 76.1475 18.5415 77.4095C18.5415 78.6715 19.5678 79.6945 20.8338 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 77.4527C41.6678 77.9047 41.5333 78.3464 41.2815 78.7222C41.0296 79.098 40.6715 79.3909 40.2527 79.5638C39.8338 79.7368 39.3729 79.782 38.9282 79.6938C38.4835 79.6057 38.075 79.388 37.7544 79.0685C37.4338 78.7489 37.2155 78.3418 37.1271 77.8985C37.0386 77.4553 37.084 76.9958 37.2575 76.5783C37.431 76.1608 37.7248 75.8039 38.1018 75.5528C38.4788 75.3017 38.922 75.1677 39.3754 75.1677C39.9834 75.1677 40.5665 75.4085 40.9964 75.837C41.4263 76.2655 41.6678 76.8467 41.6678 77.4527Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 79.6945C59.1829 79.6945 60.2093 78.6715 60.2093 77.4095C60.2093 76.1475 59.1829 75.1245 57.9169 75.1245C56.6508 75.1245 55.6245 76.1475 55.6245 77.4095C55.6245 78.6715 56.6508 79.6945 57.9169 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 79.6945C77.7245 79.6945 78.7509 78.6715 78.7509 77.4095C78.7509 76.1475 77.7245 75.1245 76.4584 75.1245C75.1923 75.1245 74.166 76.1475 74.166 77.4095C74.166 78.6715 75.1923 79.6945 76.4584 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 79.6945C96.2659 79.6945 97.2923 78.6715 97.2923 77.4095C97.2923 76.1475 96.2659 75.1245 94.9999 75.1245C93.7338 75.1245 92.7075 76.1475 92.7075 77.4095C92.7075 78.6715 93.7338 79.6945 94.9999 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 79.6945C114.807 79.6945 115.834 78.6715 115.834 77.4095C115.834 76.1475 114.807 75.1245 113.541 75.1245C112.275 75.1245 111.249 76.1475 111.249 77.4095C111.249 78.6715 112.275 79.6945 113.541 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 77.4528C134.375 77.9053 134.241 78.3477 133.988 78.7238C133.735 79.0998 133.377 79.3927 132.957 79.5652C132.537 79.7377 132.075 79.7821 131.63 79.6928C131.185 79.6034 130.777 79.3844 130.457 79.0634C130.137 78.7423 129.92 78.3338 129.833 77.8896C129.746 77.4454 129.793 76.9855 129.969 76.5683C130.145 76.151 130.441 75.7952 130.82 75.5458C131.199 75.2965 131.643 75.1649 132.097 75.1678C132.398 75.1678 132.695 75.227 132.973 75.342C133.25 75.457 133.502 75.6255 133.713 75.8379C133.925 76.0503 134.093 76.3023 134.206 76.5794C134.32 76.8566 134.377 77.1534 134.375 77.4528Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 79.6945C151.891 79.6945 152.917 78.6715 152.917 77.4095C152.917 76.1475 151.891 75.1245 150.625 75.1245C149.359 75.1245 148.332 76.1475 148.332 77.4095C148.332 78.6715 149.359 79.6945 150.625 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 79.6945C170.432 79.6945 171.459 78.6715 171.459 77.4095C171.459 76.1475 170.432 75.1245 169.166 75.1245C167.9 75.1245 166.874 76.1475 166.874 77.4095C166.874 78.6715 167.9 79.6945 169.166 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 79.6945C188.974 79.6945 190 78.6715 190 77.4095C190 76.1475 188.974 75.1245 187.708 75.1245C186.442 75.1245 185.415 76.1475 185.415 77.4095C185.415 78.6715 186.442 79.6945 187.708 79.6945Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 98.3471C3.55834 98.3471 4.58469 97.3241 4.58469 96.0621C4.58469 94.8001 3.55834 93.7771 2.29232 93.7771C1.0263 93.7771 0 94.8001 0 96.0621C0 97.3241 1.0263 98.3471 2.29232 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 98.3471C22.0999 98.3471 23.1262 97.3241 23.1262 96.0621C23.1262 94.8001 22.0999 93.7771 20.8338 93.7771C19.5678 93.7771 18.5415 94.8001 18.5415 96.0621C18.5415 97.3241 19.5678 98.3471 20.8338 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 96.1053C41.6678 96.5573 41.5333 96.999 41.2815 97.3748C41.0296 97.7506 40.6715 98.0434 40.2527 98.2164C39.8338 98.3893 39.3729 98.4346 38.9282 98.3464C38.4835 98.2583 38.075 98.0406 37.7544 97.7211C37.4338 97.4015 37.2155 96.9944 37.1271 96.5511C37.0386 96.1079 37.084 95.6484 37.2575 95.2309C37.431 94.8134 37.7248 94.4565 38.1018 94.2054C38.4788 93.9543 38.922 93.8203 39.3754 93.8203C39.9834 93.8203 40.5665 94.0611 40.9964 94.4896C41.4263 94.9181 41.6678 95.4993 41.6678 96.1053Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 98.3471C59.1829 98.3471 60.2093 97.3241 60.2093 96.0621C60.2093 94.8001 59.1829 93.7771 57.9169 93.7771C56.6508 93.7771 55.6245 94.8001 55.6245 96.0621C55.6245 97.3241 56.6508 98.3471 57.9169 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 98.3471C77.7245 98.3471 78.7509 97.3241 78.7509 96.0621C78.7509 94.8001 77.7245 93.7771 76.4584 93.7771C75.1923 93.7771 74.166 94.8001 74.166 96.0621C74.166 97.3241 75.1923 98.3471 76.4584 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 98.3471C96.2659 98.3471 97.2923 97.3241 97.2923 96.0621C97.2923 94.8001 96.2659 93.7771 94.9999 93.7771C93.7338 93.7771 92.7075 94.8001 92.7075 96.0621C92.7075 97.3241 93.7338 98.3471 94.9999 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 98.3471C114.807 98.3471 115.834 97.3241 115.834 96.0621C115.834 94.8001 114.807 93.7771 113.541 93.7771C112.275 93.7771 111.249 94.8001 111.249 96.0621C111.249 97.3241 112.275 98.3471 113.541 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 96.1054C134.375 96.5579 134.241 97.0003 133.988 97.3763C133.735 97.7524 133.377 98.0453 132.957 98.2178C132.537 98.3903 132.075 98.4347 131.63 98.3454C131.185 98.256 130.777 98.037 130.457 97.7159C130.137 97.3949 129.92 96.9864 129.833 96.5422C129.746 96.098 129.793 95.6381 129.969 95.2209C130.145 94.8036 130.441 94.4477 130.82 94.1984C131.199 93.9491 131.643 93.8175 132.097 93.8204C132.398 93.8204 132.695 93.8796 132.973 93.9946C133.25 94.1096 133.502 94.2781 133.713 94.4905C133.925 94.7029 134.093 94.9549 134.206 95.232C134.32 95.5092 134.377 95.806 134.375 96.1054Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 98.3471C151.891 98.3471 152.917 97.3241 152.917 96.0621C152.917 94.8001 151.891 93.7771 150.625 93.7771C149.359 93.7771 148.332 94.8001 148.332 96.0621C148.332 97.3241 149.359 98.3471 150.625 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 98.3471C170.432 98.3471 171.459 97.3241 171.459 96.0621C171.459 94.8001 170.432 93.7771 169.166 93.7771C167.9 93.7771 166.874 94.8001 166.874 96.0621C166.874 97.3241 167.9 98.3471 169.166 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 98.3471C188.974 98.3471 190 97.3241 190 96.0621C190 94.8001 188.974 93.7771 187.708 93.7771C186.442 93.7771 185.415 94.8001 185.415 96.0621C185.415 97.3241 186.442 98.3471 187.708 98.3471Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 116.999C3.55834 116.999 4.58469 115.976 4.58469 114.714C4.58469 113.452 3.55834 112.429 2.29232 112.429C1.0263 112.429 0 113.452 0 114.714C0 115.976 1.0263 116.999 2.29232 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 116.999C22.0999 116.999 23.1262 115.976 23.1262 114.714C23.1262 113.452 22.0999 112.429 20.8338 112.429C19.5678 112.429 18.5415 113.452 18.5415 114.714C18.5415 115.976 19.5678 116.999 20.8338 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 114.758C41.6678 115.21 41.5333 115.651 41.2815 116.027C41.0296 116.403 40.6715 116.696 40.2527 116.869C39.8338 117.042 39.3729 117.087 38.9282 116.999C38.4835 116.911 38.075 116.693 37.7544 116.373C37.4338 116.054 37.2155 115.647 37.1271 115.203C37.0386 114.76 37.084 114.301 37.2575 113.883C37.431 113.466 37.7248 113.109 38.1018 112.858C38.4788 112.607 38.922 112.473 39.3754 112.473C39.9834 112.473 40.5665 112.713 40.9964 113.142C41.4263 113.57 41.6678 114.152 41.6678 114.758Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 116.999C59.1829 116.999 60.2093 115.976 60.2093 114.714C60.2093 113.452 59.1829 112.429 57.9169 112.429C56.6508 112.429 55.6245 113.452 55.6245 114.714C55.6245 115.976 56.6508 116.999 57.9169 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 116.999C77.7245 116.999 78.7509 115.976 78.7509 114.714C78.7509 113.452 77.7245 112.429 76.4584 112.429C75.1923 112.429 74.166 113.452 74.166 114.714C74.166 115.976 75.1923 116.999 76.4584 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 116.999C96.2659 116.999 97.2923 115.976 97.2923 114.714C97.2923 113.452 96.2659 112.429 94.9999 112.429C93.7338 112.429 92.7075 113.452 92.7075 114.714C92.7075 115.976 93.7338 116.999 94.9999 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 116.999C114.807 116.999 115.834 115.976 115.834 114.714C115.834 113.452 114.807 112.429 113.541 112.429C112.275 112.429 111.249 113.452 111.249 114.714C111.249 115.976 112.275 116.999 113.541 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 114.758C134.375 115.21 134.241 115.653 133.988 116.029C133.735 116.405 133.377 116.698 132.957 116.87C132.537 117.043 132.075 117.087 131.63 116.998C131.185 116.908 130.777 116.689 130.457 116.368C130.137 116.047 129.92 115.639 129.833 115.195C129.746 114.75 129.793 114.29 129.969 113.873C130.145 113.456 130.441 113.1 130.82 112.851C131.199 112.601 131.643 112.47 132.097 112.473C132.398 112.473 132.695 112.532 132.973 112.647C133.25 112.762 133.502 112.93 133.713 113.143C133.925 113.355 134.093 113.607 134.206 113.884C134.32 114.162 134.377 114.458 134.375 114.758Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 116.999C151.891 116.999 152.917 115.976 152.917 114.714C152.917 113.452 151.891 112.429 150.625 112.429C149.359 112.429 148.332 113.452 148.332 114.714C148.332 115.976 149.359 116.999 150.625 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 116.999C170.432 116.999 171.459 115.976 171.459 114.714C171.459 113.452 170.432 112.429 169.166 112.429C167.9 112.429 166.874 113.452 166.874 114.714C166.874 115.976 167.9 116.999 169.166 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 116.999C188.974 116.999 190 115.976 190 114.714C190 113.452 188.974 112.429 187.708 112.429C186.442 112.429 185.415 113.452 185.415 114.714C185.415 115.976 186.442 116.999 187.708 116.999Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 135.652C3.55834 135.652 4.58469 134.629 4.58469 133.367C4.58469 132.105 3.55834 131.082 2.29232 131.082C1.0263 131.082 0 132.105 0 133.367C0 134.629 1.0263 135.652 2.29232 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 135.652C22.0999 135.652 23.1262 134.629 23.1262 133.367C23.1262 132.105 22.0999 131.082 20.8338 131.082C19.5678 131.082 18.5415 132.105 18.5415 133.367C18.5415 134.629 19.5678 135.652 20.8338 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 133.41C41.6678 133.862 41.5333 134.304 41.2815 134.68C41.0296 135.056 40.6715 135.348 40.2527 135.521C39.8338 135.694 39.3729 135.74 38.9282 135.651C38.4835 135.563 38.075 135.346 37.7544 135.026C37.4338 134.706 37.2155 134.299 37.1271 133.856C37.0386 133.413 37.084 132.953 37.2575 132.536C37.431 132.118 37.7248 131.761 38.1018 131.51C38.4788 131.259 38.922 131.125 39.3754 131.125C39.9834 131.125 40.5665 131.366 40.9964 131.795C41.4263 132.223 41.6678 132.804 41.6678 133.41Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 135.652C59.1829 135.652 60.2093 134.629 60.2093 133.367C60.2093 132.105 59.1829 131.082 57.9169 131.082C56.6508 131.082 55.6245 132.105 55.6245 133.367C55.6245 134.629 56.6508 135.652 57.9169 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 135.652C77.7245 135.652 78.7509 134.629 78.7509 133.367C78.7509 132.105 77.7245 131.082 76.4584 131.082C75.1923 131.082 74.166 132.105 74.166 133.367C74.166 134.629 75.1923 135.652 76.4584 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 135.652C96.2659 135.652 97.2923 134.629 97.2923 133.367C97.2923 132.105 96.2659 131.082 94.9999 131.082C93.7338 131.082 92.7075 132.105 92.7075 133.367C92.7075 134.629 93.7338 135.652 94.9999 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 135.652C114.807 135.652 115.834 134.629 115.834 133.367C115.834 132.105 114.807 131.082 113.541 131.082C112.275 131.082 111.249 132.105 111.249 133.367C111.249 134.629 112.275 135.652 113.541 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 133.41C134.375 133.863 134.241 134.305 133.988 134.681C133.735 135.057 133.377 135.35 132.957 135.523C132.537 135.695 132.075 135.74 131.63 135.65C131.185 135.561 130.777 135.342 130.457 135.021C130.137 134.7 129.92 134.291 129.833 133.847C129.746 133.403 129.793 132.943 129.969 132.526C130.145 132.109 130.441 131.753 130.82 131.503C131.199 131.254 131.643 131.122 132.097 131.125C132.398 131.125 132.695 131.184 132.973 131.3C133.25 131.415 133.502 131.583 133.713 131.795C133.925 132.008 134.093 132.26 134.206 132.537C134.32 132.814 134.377 133.111 134.375 133.41Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 135.652C170.432 135.652 171.459 134.629 171.459 133.367C171.459 132.105 170.432 131.082 169.166 131.082C167.9 131.082 166.874 132.105 166.874 133.367C166.874 134.629 167.9 135.652 169.166 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 135.652C188.974 135.652 190 134.629 190 133.367C190 132.105 188.974 131.082 187.708 131.082C186.442 131.082 185.415 132.105 185.415 133.367C185.415 134.629 186.442 135.652 187.708 135.652Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 154.304C3.55834 154.304 4.58469 153.281 4.58469 152.019C4.58469 150.757 3.55834 149.734 2.29232 149.734C1.0263 149.734 0 150.757 0 152.019C0 153.281 1.0263 154.304 2.29232 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 154.304C22.0999 154.304 23.1262 153.281 23.1262 152.019C23.1262 150.757 22.0999 149.734 20.8338 149.734C19.5678 149.734 18.5415 150.757 18.5415 152.019C18.5415 153.281 19.5678 154.304 20.8338 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 152.062C41.6678 152.514 41.5333 152.956 41.2815 153.332C41.0296 153.708 40.6715 154 40.2527 154.173C39.8338 154.346 39.3729 154.392 38.9282 154.303C38.4835 154.215 38.075 153.998 37.7544 153.678C37.4338 153.359 37.2155 152.951 37.1271 152.508C37.0386 152.065 37.084 151.605 37.2575 151.188C37.431 150.77 37.7248 150.414 38.1018 150.162C38.4788 149.911 38.922 149.777 39.3754 149.777C39.9834 149.777 40.5665 150.018 40.9964 150.447C41.4263 150.875 41.6678 151.456 41.6678 152.062Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 154.304C59.1829 154.304 60.2093 153.281 60.2093 152.019C60.2093 150.757 59.1829 149.734 57.9169 149.734C56.6508 149.734 55.6245 150.757 55.6245 152.019C55.6245 153.281 56.6508 154.304 57.9169 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 154.304C77.7245 154.304 78.7509 153.281 78.7509 152.019C78.7509 150.757 77.7245 149.734 76.4584 149.734C75.1923 149.734 74.166 150.757 74.166 152.019C74.166 153.281 75.1923 154.304 76.4584 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 154.304C96.2659 154.304 97.2923 153.281 97.2923 152.019C97.2923 150.757 96.2659 149.734 94.9999 149.734C93.7338 149.734 92.7075 150.757 92.7075 152.019C92.7075 153.281 93.7338 154.304 94.9999 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 154.304C114.807 154.304 115.834 153.281 115.834 152.019C115.834 150.757 114.807 149.734 113.541 149.734C112.275 149.734 111.249 150.757 111.249 152.019C111.249 153.281 112.275 154.304 113.541 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 152.062C134.375 152.515 134.241 152.957 133.988 153.333C133.735 153.709 133.377 154.002 132.957 154.175C132.537 154.347 132.075 154.392 131.63 154.302C131.185 154.213 130.777 153.994 130.457 153.673C130.137 153.352 129.92 152.943 129.833 152.499C129.746 152.055 129.793 151.595 129.969 151.178C130.145 150.761 130.441 150.405 130.82 150.155C131.199 149.906 131.643 149.775 132.097 149.777C132.398 149.777 132.695 149.837 132.973 149.952C133.25 150.067 133.502 150.235 133.713 150.448C133.925 150.66 134.093 150.912 134.206 151.189C134.32 151.466 134.377 151.763 134.375 152.062Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 154.304C151.891 154.304 152.917 153.281 152.917 152.019C152.917 150.757 151.891 149.734 150.625 149.734C149.359 149.734 148.332 150.757 148.332 152.019C148.332 153.281 149.359 154.304 150.625 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 154.304C170.432 154.304 171.459 153.281 171.459 152.019C171.459 150.757 170.432 149.734 169.166 149.734C167.9 149.734 166.874 150.757 166.874 152.019C166.874 153.281 167.9 154.304 169.166 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 154.304C188.974 154.304 190 153.281 190 152.019C190 150.757 188.974 149.734 187.708 149.734C186.442 149.734 185.415 150.757 185.415 152.019C185.415 153.281 186.442 154.304 187.708 154.304Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M2.29232 172.957C3.55834 172.957 4.58469 171.934 4.58469 170.672C4.58469 169.41 3.55834 168.387 2.29232 168.387C1.0263 168.387 0 169.41 0 170.672C0 171.934 1.0263 172.957 2.29232 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M20.8338 172.957C22.0999 172.957 23.1262 171.934 23.1262 170.672C23.1262 169.41 22.0999 168.387 20.8338 168.387C19.5678 168.387 18.5415 169.41 18.5415 170.672C18.5415 171.934 19.5678 172.957 20.8338 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M41.6678 170.715C41.6678 171.167 41.5333 171.609 41.2815 171.985C41.0296 172.36 40.6715 172.653 40.2527 172.826C39.8338 172.999 39.3729 173.044 38.9282 172.956C38.4835 172.868 38.075 172.65 37.7544 172.331C37.4338 172.011 37.2155 171.604 37.1271 171.161C37.0386 170.718 37.084 170.258 37.2575 169.841C37.431 169.423 37.7248 169.066 38.1018 168.815C38.4788 168.564 38.922 168.43 39.3754 168.43C39.9834 168.43 40.5665 168.671 40.9964 169.099C41.4263 169.528 41.6678 170.109 41.6678 170.715Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M57.9169 172.957C59.1829 172.957 60.2093 171.934 60.2093 170.672C60.2093 169.41 59.1829 168.387 57.9169 168.387C56.6508 168.387 55.6245 169.41 55.6245 170.672C55.6245 171.934 56.6508 172.957 57.9169 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M76.4584 172.957C77.7245 172.957 78.7509 171.934 78.7509 170.672C78.7509 169.41 77.7245 168.387 76.4584 168.387C75.1923 168.387 74.166 169.41 74.166 170.672C74.166 171.934 75.1923 172.957 76.4584 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M94.9999 172.957C96.2659 172.957 97.2923 171.934 97.2923 170.672C97.2923 169.41 96.2659 168.387 94.9999 168.387C93.7338 168.387 92.7075 169.41 92.7075 170.672C92.7075 171.934 93.7338 172.957 94.9999 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M113.541 172.957C114.807 172.957 115.834 171.934 115.834 170.672C115.834 169.41 114.807 168.387 113.541 168.387C112.275 168.387 111.249 169.41 111.249 170.672C111.249 171.934 112.275 172.957 113.541 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M134.375 170.715C134.375 171.168 134.241 171.61 133.988 171.986C133.735 172.362 133.377 172.655 132.957 172.828C132.537 173 132.075 173.045 131.63 172.955C131.185 172.866 130.777 172.647 130.457 172.326C130.137 172.005 129.92 171.596 129.833 171.152C129.746 170.708 129.793 170.248 129.969 169.831C130.145 169.413 130.441 169.058 130.82 168.808C131.199 168.559 131.643 168.427 132.097 168.43C132.398 168.43 132.695 168.489 132.973 168.604C133.25 168.719 133.502 168.888 133.713 169.1C133.925 169.313 134.093 169.565 134.206 169.842C134.32 170.119 134.377 170.416 134.375 170.715Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M150.625 172.957C151.891 172.957 152.917 171.934 152.917 170.672C152.917 169.41 151.891 168.387 150.625 168.387C149.359 168.387 148.332 169.41 148.332 170.672C148.332 171.934 149.359 172.957 150.625 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M169.166 172.957C170.432 172.957 171.459 171.934 171.459 170.672C171.459 169.41 170.432 168.387 169.166 168.387C167.9 168.387 166.874 169.41 166.874 170.672C166.874 171.934 167.9 172.957 169.166 172.957Z"
                      fill="#D4DEE1"/>
            </g>
            <g>
                <path d="M187.708 172.957C188.974 172.957 190 171.934 190 170.672C190 169.41 188.974 168.387 187.708 168.387C186.442 168.387 185.415 169.41 185.415 170.672C185.415 171.934 186.442 172.957 187.708 172.957Z"
                      fill="#D4DEE1"/>
            </g>
        </svg>
    </div>
</div>