.company-photos
  display: flex
  flex-wrap: wrap
  margin: 40px 0 20px

  .company-photos__img-wrapper
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    &:nth-of-type(1)
      height: 238px
      margin: 0 0 9px 0
      width: 100%

    &:nth-of-type(2)
      margin: 0 10px 0 0
      height: 122px
      width: calc(50% - 5px)

    &:nth-of-type(3)
      margin: 0
      height: 122px
      width: calc(50% - 5px)

.company-photos__zoom
  display: none

+mq(tablet)

  .company-photos
    display: block
    margin: 40px 0 35px
    position: relative

    .company-photos__img-wrapper
      position: relative
      z-index: 1

      &:nth-of-type(1)
        height: 364px
        float: left
        margin: 0 8px 0 0
        width: 478px

      &:nth-of-type(2)
        float: right
        height: 177px
        margin: 0
        width: 218px

      &:nth-of-type(3)
        float: right
        height: 177px
        margin: 9px 0 0 0
        width: 218px

  .company-photos__svg2
    bottom: -30px
    right: -27px
    position: absolute
    z-index: 0

+mq(desktop)

  .company-photos

    .company-photos__img-wrapper

      &:nth-of-type(1)
        float: left
        margin: 0 8px 0 0
        height: 451px
        width: 592px

      &:nth-of-type(2)
        height: 220px
        width: 270px

      &:nth-of-type(3)
        margin: 11px 0 0 0
        height: 220px
        width: 270px

      &:before
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18))
        content: ''
        left: 0
        right: 0
        top: 0
        bottom: 0
        position: absolute
        opacity: 0
        height: 100%
        transition: $default-transition
        width: 100%

  .company-photos__zoom
    display: block
    bottom: 19px
    height: auto
    opacity: 0
    position: absolute
    right: 21px
    transition: $default-transition
    width: 20px

  .company-photos__img-wrapper:hover
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2)

    .company-photos__zoom
      opacity: 1

    &:before
      opacity: 1

+mq(wide-screen)

  .company-photos
    margin: 60px 0

  .company-photos__svg1
    display: block
    top: -30px
    left: -27px
    position: absolute
    z-index: 0