.subscribe-form
  letter-spacing: 0.03em

  .form__control
    padding: 23px 105px 22px 25px
    height: 60px

  .form-group
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
    margin-top: 18px

  .feedback-form__user-consent
    margin-top: 23px
    font-size: 12px
    line-height: 18px
    font-weight: 500
    letter-spacing: 0.05em
    color: $gray1
    opacity: 0.6

    a
      font-weight: 700
      text-decoration: underline

.subscribe-form-container
  position: relative
  z-index: 0
  padding: 54px 25px 36px 41px
  width: 328px
  min-height: 360px
  background: #f0f4f5
  border-radius: 6px
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1)

  .subscribe-form__group
    position: relative

  .form__submit
    position: absolute
    top: 0
    right: 0
    padding: 20px
    border-top-left-radius: 0
    border-bottom-left-radius: 0

.subscribe-form-container__background-logo
  position: absolute
  right: 25px
  top: 30px
  width: 116px
  height: 116px
  z-index: -1

  svg
    width: 100%
    height: 100%

.subscribe-form__placeholder
  font-size: 13px
  line-height: 15px
  letter-spacing: 0.05em
  opacity: 0.6
  color: $gray1

.subscribe-form_title
  font-weight: 800
  font-size: 24px
  line-height: 30px
  margin-bottom: 19px

.subscribe-form__subtitle
  font-weight: 600
  font-size: 12px
  line-height: 18px
  color: rgba(52, 39, 51, 0.8)