<div class="subscribe-form-container">
    <div class="subscribe-form-container__background-logo">
        {{>background-logo}}
    </div>
    <form class="subscribe-form form feedback-form"
          id="{{ajax_component_id}}"
          enctype="multipart/form-data"
          action="{{action}}"
          {{#name}}name="{{.}}"{{/name}}
          method="post">
        <div class="subscribe-form_title">{{{title}}}</div>
        <div class="subscribe-form__subtitle">{{{sub_title}}}</div>

        <div class="subscribe-form__group">
            {{#html_fields}}
                {{{html}}}
            {{/html_fields}}
            <button class="form__submit button button_filled-yellow-gradient feedback-form__submit tour-form__submit"
                    type="submit">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.6879 6.73487L11.0629 1.10987C10.9164 0.963376 10.6791 0.963376 10.5326 1.10987C10.3861 1.25637 10.3861 1.49367 10.5326 1.64013L15.5175 6.62501H1.37501C1.16773 6.62501 1 6.79274 1 7.00002C1 7.2073 1.16773 7.37503 1.37501 7.37503H15.5175L10.5326 12.3599C10.3861 12.5064 10.3861 12.7437 10.5326 12.8901C10.6059 12.9634 10.7018 13 10.7978 13C10.8937 13 10.9897 12.9634 11.0629 12.8901L16.6879 7.26513C16.8344 7.11867 16.8344 6.88137 16.6879 6.73487Z"
                          fill="white" stroke="white"/>
                </svg>
            </button>
        </div>
        {{#user_consent}}
            <div class="feedback-form__user-consent"><!--noindex-->{{{.}}}<!--/noindex--></div>
        {{/user_consent}}
    </form>
</div>