.header-submenu-container
  padding: 0
  position: fixed
  left: 50%
  transform: translateX(calc(-50% + 147px))
  z-index: -1
  pointer-events: none
  opacity: 0
  transition: none

  &_show
    transition: all $default-transition ease $default-transition
    opacity: 1
    pointer-events: auto
    z-index: 0

.header-submenu
  margin: 0
  padding: 0
  list-style-type: none
  display: flex
  flex-wrap: wrap
  font-weight: 500
  font-size: 15px
  line-height: 19px
  letter-spacing: 0.05em
  color: $gray90

.header-submenu-item
  margin-right: 55px

.header-submenu-item__link
  position: relative
  display: inline-block
  padding: 19px 0
  transition: $default-transition
  opacity: 0.6

  &::after
    position: absolute
    left: 0
    bottom: 17px
    width: 100%
    content: ''
    display: block
    border-top: 1px solid $main-color
    opacity: 0

  &:hover
    opacity: 0.8

  &_active
    opacity: 0.8
    &::after
      opacity: 0.8


.header-submenu-background
  display: none
  background: $white
  transition: padding-top $default-transition

  &_show
    border-top: 1px solid #F1F1F1

+mq(desktop)
  .header-submenu
    padding-top: 14px
  .header-submenu-background
    display: block

+mq(wide-screen)
  .header-submenu-container
    transform: translateX(calc(-50% + 425px))