@import "../blog-item/blog-item"
@import "../slider/slider"

.article-else
  margin-top: 130px
  margin-bottom: 60px

.article-else__title
  color: $main-color
  font-weight: 800
  font-size: 24px
  line-height: 120%

.article-else__slider
  margin-top: 30px

.article-else__slide
  height: auto

  .blog-item
    height: 100%

  .blog-item__action
    display: none

.article-else__slider-pagination-container
  padding: 10px 0
  margin-top: 29px

  .swiper-pagination
    padding-top: 5px
    padding-bottom: 5px
    align-items: center
    justify-content: center
    position: static
    line-height: 0
    z-index: 0
    display: flex

    .swiper-pagination-bullet
      background: $gray20
      flex-shrink: 0
      width: 10px
      height: 10px
      border-radius: 50%
      margin: 0 10px
      position: relative
      transition: $default-transition
      outline: none
      opacity: 1
      &-active
        background: $yellow8
        transform: scale(1.29, 1.29)

.article-else__slider__button-next, .article-else__slider__button-prev
  display: none

+mq(tablet)

  .article-else
    margin-top: 45px

  .article-else__slider
    margin-top: 40px

+mq(desktop)

  .article-else
    margin-top: 83px
    margin-bottom: 83px
    position: relative

  .article-else__slider
    padding: 0 5px 10px
    margin: 40px -5px 0

    .article-else__slide
      width: 392px

    .blog-item
      display: block
      padding-left: 0

    .blog-item__photo
      border-radius: 6px 6px 0px 0px
      height: 260px
      position: static
      width: 100%

    .blog-item__title
      margin-top: 20px

    .blog-item__info
      width: 100%

    .blog-item__info > .blog-item__views
      display: flex

    .blog-item.blog-item_only-text

  .article-else .swiper-button-disabled
    cursor: default

  .article-else__slider__button-next, .article-else__slider__button-prev
    border: 1px solid #EFEFEF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
    border-radius: 100px
    display: none
    width: 46px
    height: 46px
    z-index: 4
    outline: none

    &:after
      display: none

  .article-else__slider__button-next[role=button], .article-else__slider__button-prev[role=button]
    display: flex

  .article-else__slider__button-prev
    left: -60px

  .article-else__slider__button-next
    right: -60px

