.room-slide__img-link
  width: 100%
  display: flex
  justify-content: center

.room-floors-container,
.room-floors-wrapper
  height: 100%

.room-floors-container
  width: 350px

.project-layout-rooms-slide
  .swiper-navigation-arrow
    position: absolute
    z-index: 5
    top: 20%
    background: $white
    padding: 16px
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05)
    border: 1px solid rgba(212, 222, 225, 0.5)
    border-radius: 20px
    transition: $default-transition

    svg
      transition: $default-transition
      opacity: 0.5

    &:hover
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08)

      svg
        opacity: 0.7

    &:active
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05)

      svg
        opacity: 1

    &_hide
      display: none

  .room-floors-navigation__prev
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-left: none
    left: 0

  .room-floors-navigation__next
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-right: none
    right: 0

.room-floors-slide
  display: flex
  justify-content: center

+mq(tablet)
  .project-layout-rooms-slide
    .swiper-navigation-arrow
      top: 25%