.project-layout-rooms-tabs
  display: flex
  flex-wrap: nowrap

.project-layout-rooms-tab
  border: 1px solid $gray20
  border-radius: 6px
  margin-right: 20px
  width: auto
  flex-shrink: 0
  transition: $default-transition

  &.sections-filter-tabs-item_active
    border: 1px solid $yellow8
    background: $yellow8
    .project-layout-rooms-tab__button
      color: $white
      opacity: 1

  &:last-child
    border-right-style: solid

.project-layout-rooms-tab__button
  color: rgba(22, 22, 22, 0.4)
  padding: 12px 26px
  font-weight: 600
  font-size: 16px
  line-height: 16px
  letter-spacing: 0.03em
  opacity: 0.6

@media only screen and (max-width: $wp1 - 1px)
  .project-layout-rooms-tabs-container
    margin: 0 -#{$container-offset-mobile}

  .project-layout-rooms-tabs
    margin-left: $container-offset-mobile

+mq(desktop)
  .project-layout-rooms-tabs-container
    margin-left: 0
    width: 90%