{{#rooms.isNotEmpty}}
    <div class="project-layout-rooms-tabs-container swiper-container">
        <div class="project-layout-rooms-tabs sections-filter-tabs slider-wrapper">
            {{#rooms.values}}
                <div class="swiper-slide project-layout-rooms-tab sections-filter-tabs-item{{#active}} sections-filter-tabs-item_active{{/active}}">
                    <button class="project-layout-rooms-tab__button" value="room-{{id}}">{{name}}</button>
                </div>
            {{/rooms.values}}
        </div>
    </div>
{{/rooms.isNotEmpty}}
