.contact-us-form
  font-weight: 500
  font-size: 14px
  line-height: 20px

  .form-group
    margin-top: 25px
    border: 1px solid $gray20
    border-radius: 4px
    background: $white
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)

    &:hover
      border-color: #C8CFD1

  .form__textarea
    height: 160px

  .feedback-form__group_has-error
    border: 1px solid rgba(255, 106, 106, 0.6)
    .form__control
      border: 1px solid transparent
      background: linear-gradient(0deg, rgba(255, 106, 106, 0.12), rgba(255, 106, 106, 0.12)), $white
    .form__placeholder
      color: $red

.contact-us-form__title
  font-weight: 800
  font-size: 26px
  line-height: 110%
  letter-spacing: 0.02em
  margin-bottom: 16px

.contact-us-form__text
  text-align: center

.contact-us-form__subtitle
  letter-spacing: 0.03em
  color: rgba(52, 39, 51, 0.8)

.contact-us-form-inputs
  margin-top: 40px

.contact-us-form__bottom
  margin-top: 40px

.contact-us-form__submit
  width: 100%
  font-size: 16px

.contact-us-form-agreement
  margin-top: 16px
  font-weight: 500
  font-size: 12px
  line-height: 14px
  color: rgba(52, 39, 51, 0.5)
  text-align: center

  a
    display: inline-block
    border-bottom: 1px solid rgba(52, 39, 51, 0.5)
    transition: $default-transition
    &:hover
      border-bottom-color: transparent

+mq(tablet, max)
  .contact-us-form
    .form__control
      padding-top: 18px
      padding-bottom: 18px
      &:not(.form__textarea)
        height: 50px

    .form__placeholder
      top: 17px

+mq(tablet)
  .contact-us-form
    padding: 47px 30px 33px
    border: 1px solid $gray20
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
    border-radius: 6px
    .form-group
      margin-top: 0
      width: calc(33.3333% - 26px)
      margin-right: 40px
      &:nth-child(3n)
        margin-right: 0

    .contact-us-form-row
      display: flex
      &_col-count_1
        .form-group
          margin-top: 25px
          margin-right: 0
          width: 100%
    .form__textarea
      height: 180px

  .contact-us-form__bottom
    display: flex
    align-items: center

  .contact-us-form__submit-wrapper
    width: 280px
    flex-shrink: 0
    margin-right: 78px

  .contact-us-form-agreement
    width: 248px
    margin-top: 0
    text-align: left
    font-weight: 500
    font-size: 14px
    line-height: 20px

  .contact-us-form__title
    margin-bottom: 25px

  .contact-us-form__subtitle
    font-size: 16px
    line-height: 160%

  .contact-us-form-inputs
    margin-top: 38px

+mq(desktop)
  .contact-us-form
    padding: 47px 50px 33px
    max-width: 936px

  .contact-us-form__bottom
    justify-content: space-between

  .contact-us-form__submit-wrapper
    margin-right: 0
    margin-left: 78px
    order: 1