<form class="contact-us-form form feedback-form"
      id="{{ajax_component_id}}"
      enctype="multipart/form-data"
      action="/"
      method="post">
    <div class="contact-us-form__container">
        <div class="contact-us-form__text">
            <div class="contact-us-form__title">{{{title}}}</div>
            <div class="contact-us-form__subtitle">{{{sub_title}}}</div>
        </div>
        <div class="contact-us-form-inputs">
            <div class="contact-us-form__group">
                <div class="contact-us-form-row">
                    {{#controls.name}}
                        {{> form__control_type_text }}
                    {{/controls.name}}
                    {{#controls.phone}}
                        {{> form__control_type_text }}
                    {{/controls.phone}}
                    {{#controls.email}}
                        {{> form__control_type_text }}
                    {{/controls.email}}
                </div>
                <div class="contact-us-form-row contact-us-form-row_col-count_1">
                    {{#controls.message}}
                        {{> form__control_type_textarea }}
                    {{/controls.message}}
                </div>
            </div>
            <div class="contact-us-form__bottom">
                <div class="contact-us-form__submit-wrapper">
                    <button class="form__submit button feedback-form__submit contact-us-form__submit"
                            type="submit">
                        {{{submit_text}}}
                    </button>
                </div>
                <div class="contact-us-form-agreement"><!--noindex-->{{{user_consent}}}<!--/noindex--></div>
            </div>
        </div>
    </div>
</form>