@import '../product-card/product-card'

.index-products-filter-tabs-wrapper
  display: inline-block
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
  position: relative
  overflow: hidden

.index-products__title
  margin-bottom: 30px

.index-products-filter-tabs
  background: $white
  border: 2px solid $gray5
  border-radius: 6px 6px 3px 3px

.index-products-filter-combobox-wrapper
  margin-bottom: 30px

.index-products-filter-tabs-item
  &:last-child
    border-right: none

.index-products-filter-tabs-item__button
  padding: 22px 30px
  font-size: 16px
  line-height: 16px
  font-weight: 600
  letter-spacing: 0.03em
  color: rgba(22, 22, 22, 0.8)
  opacity: 0.6

+mq(tablet)
  .products-list
    flex-wrap: wrap

    &.sections-list_show
      display: flex

    .product-card
      width: calc(50% - 8px)

      &:nth-child(odd)
        margin-right: 16px

  .index-products-filter-tabs-wrapper
    margin-bottom: 40px

+mq(desktop)
  .products-list
    .product-card
      width: calc(25% - 18px)
      margin-right: 24px

      &:nth-child(odd)
        margin-right: 24px

      &:nth-child(4n)
        margin-right: 0
  .index-products-filter-tabs-item__button
    transition: $default-transition