<div class="contacts-departments">
    {{#values}}
        <div class="contacts-department" {{#strMainId}} id="{{ . }}" {{/strMainId}}>
            <div class="contacts-department__title">{{name}}</div>
            <div class="contacts-department-card">
                <div class="contacts-department-row">
                    {{#phones.isNotEmpty}}
                    <svg class="contacts-department-row__icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8947 9.2179C12.0311 9.2179 11.1853 9.08306 10.3836 8.81852C9.99231 8.68368 9.548 8.78757 9.29085 9.0499L7.70148 10.2502C5.87779 9.27686 4.71064 8.11043 3.75054 6.3L4.91843 4.74821C5.21243 4.45421 5.31781 4.02389 5.19181 3.62085C4.92506 2.814 4.78949 1.96737 4.78949 1.10526C4.78949 0.495884 4.29361 0 3.68423 0H1.10526C0.495884 0 0 0.495884 0 1.10526C0 8.21505 5.78495 14 12.8947 14C13.5041 14 14 13.5041 14 12.8947V10.3232C14 9.71379 13.5041 9.2179 12.8947 9.2179Z" fill="#BAD1D8"/>
                        <path d="M12.8947 9.2179C12.0311 9.2179 11.1853 9.08306 10.3836 8.81852C9.99231 8.68368 9.548 8.78757 9.29085 9.0499L7.70148 10.2502C5.87779 9.27686 4.71064 8.11043 3.75054 6.3L4.91843 4.74821C5.21243 4.45421 5.31781 4.02389 5.19181 3.62085C4.92506 2.814 4.78949 1.96737 4.78949 1.10526C4.78949 0.495884 4.29361 0 3.68423 0H1.10526C0.495884 0 0 0.495884 0 1.10526C0 8.21505 5.78495 14 12.8947 14C13.5041 14 14 13.5041 14 12.8947V10.3232C14 9.71379 13.5041 9.2179 12.8947 9.2179Z" fill="#BAD1D8"/>
                    </svg>
                    <div class="contacts-department-row-value contacts-department-row-value_phone">
                        {{#phones}}
                        <span class="contacts-department-row-value__unit">
                            <span class="mobile-hide desktop-show">{{{ value }}}</span>
                            <a class="desktop-hide" href="tel:{{{ number }}}">{{{ value }}}</a>
                        </span>
                        {{/phones}}
                    </div>
                    {{/phones.isNotEmpty}}
                </div>
                <div class="contacts-department-row">
                    {{#workMode}}
                    <svg class="contacts-department-row__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.99998 0C3.58001 0 0 3.58001 0 7.99998C0 12.42 3.58001 16 7.99998 16C12.42 16 16 12.42 16 7.99998C16 3.57997 12.42 0 7.99998 0ZM8.80001 12H7.19999V7.19999H8.80001V12ZM8.80001 5.59998H7.19999V3.99997H8.80001V5.59998Z" fill="#BAD1D8"/>
                    </svg>
                    <div class="contacts-department-row-value">
                        {{{ . }}}
                    </div>
                    {{/workMode}}
                </div>
                <div class="contacts-department-row">
                    {{#email.text}}
                    <svg class="contacts-department-row__icon" width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.6087 6.70248L9.15831 8.15639C8.54906 8.75873 7.56193 8.76861 6.94265 8.15639L5.43309 6.64336L1.00024 11.073C1.17603 11.1415 1.36556 11.1826 1.56528 11.1826H14.4348C14.6297 11.1826 14.8144 11.1425 14.9866 11.0771L10.6087 6.70248Z" fill="#BAD1D8"/>
                        <path d="M0.131281 1.3418C0.0477188 1.53311 0 1.74348 0 1.9653V9.61764C0 9.8988 0.0804062 10.1591 0.210719 10.3874L4.69219 5.9027L0.131281 1.3418Z" fill="#BAD1D8"/>
                        <path d="M14.4349 0.399994H1.56536C1.30514 0.399994 1.06329 0.469869 0.847168 0.582713L7.68014 7.41563C7.87839 7.61388 8.22273 7.61388 8.41751 7.41563L15.2183 0.618119C14.987 0.483025 14.7216 0.399994 14.4349 0.399994Z" fill="#BAD1D8"/>
                        <path d="M15.8951 1.4162L11.3494 5.96192L15.783 10.3988C15.9172 10.168 15.9998 9.90345 15.9998 9.61776V1.96542C15.9998 1.77148 15.9599 1.5877 15.8951 1.4162Z" fill="#BAD1D8"/>
                    </svg>
                    <div class="contacts-department-row-value">
                        {{#email.href}}
                            <a href="mailto:{{email.href}}" title="{{email.title}}">{{email.href}}</a>
                        {{/email.href}}
                        {{^email.href}}
                            {{{email.text}}}
                        {{/email.href}}
                    </div>
                    {{/email.text}}
                </div>
            </div>
        </div>
    {{/values}}
</div>