<div class="partners-list">
    {{#values}}
    <div class="partners-list-item" {{#id}} id="{{.}}" {{/id}}>
        <img class="partners-list-item__logo" src="{{src}}" alt="{{alt}}" title="{{title}}">
    </div>
    {{/values}}
</div>