.partners-list
  display: flex
  flex-wrap: wrap
  margin-top: 20px

.partners-list-item
  display: flex
  justify-content: center
  align-items: center
  width: calc(50% - 10px)
  height: 80px
  border: 1px solid $gray5
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
  border-radius: 6px
  margin-top: 20px
  background: $white

  &:hover
    .partners-list-item__logo
      filter: grayscale(0%)
      opacity: 1

.partners-list-item__logo
  filter: grayscale(100%)
  max-width: 112px
  max-height: 50px
  transition: $default-transition
  opacity: 0.6

+mq(tablet, max)
  .partners-list-item:nth-child(odd)
    margin-right: 20px

+mq(tablet)
  .partners-list
    margin-top: 35px

  .partners-list-item
    height: 124px
    margin-top: 16px
    width: calc(33.3333% - 11px)

    margin-right: 16px

    &:nth-child(3n)
      margin-right: 0

  .partners-list-item__logo
    max-width: 140px
    max-height: 62px

+mq(desktop)
  .partners-list
    margin-top: 11px

  .partners-list-item
    margin-top: 40px
    width: calc(25% - 18px)

    margin-right: 24px

    &:nth-child(3n)
      margin-right: 24px

    &:nth-child(4n)
      margin-right: 0

  .partners-list-item__logo
    max-width: 192px
    max-height: 80px

+mq(wide-screen)
  .partners-list
    margin-top: -9px

  .partners-list-item
    margin-top: 60px