<div class="index-projects-card card">
    <div class="index-projects-card__img b-lazy"
         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
         data-src="/local/assets/images/index-projects/img-2.jpg"
         data-src-md="/local/assets/images/index-projects/img-2-mobile.jpg">
    </div>
    <div class="index-projects-card-container">
        <div class="index-projects-card-content">
            <div class="index-projects-card__name">Многоквартирный жилой дом Литер 1А</div>
            <div class="index-projects-card__location">Амурская - Артелерисйская</div>
            <div class="index-projects-card-release-date">
                <span class="project-card-info-release-date__label">Дата реализации:</span>
                <span class="project-card-info-release-date__value">IV квартал 2021 г.</span>
            </div>
            <div class="index-projects-card__props">
                <div class="project-card-prop">
                    <div class="project-card-prop__label">Тип</div>
                    <div class="project-card-prop__value">Жилые квартиры</div>
                </div>
                <div class="project-card-prop">
                    <div class="project-card-prop__label">Цена</div>
                    <div class="project-card-prop__value">от 1 948 000 ₽ <span>57 294 ₽ | м²</span></div>
                </div>
                <div class="project-card-prop project-card-prop_address">
                    <div class="project-card-prop__label">Адрес</div>
                    <div class="project-card-prop__value">Благовещенск, ул. Амурская, 270/1</div>
                </div>
            </div>
            <a class="index-projects-card__link-more button button_linear-white"
               title="Многоквартирный дом"
               href="#">
                <span class="index-projects-card__link-more-text">Подробнее</span>
                <svg class="index-projects-card__link-more-icon" width="40" height="23" viewBox="0 0 40 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38.7844 11.0133L28.963 1.19184C28.7072 0.936053 28.2929 0.936053 28.0371 1.19184C27.7813 1.44763 27.7813 1.86197 28.0371 2.11769L36.7409 10.8214H1.65478C1.29286 10.8214 1 11.1143 1 11.4762C1 11.8381 1.29286 12.131 1.65478 12.131H36.7409L28.0371 20.8347C27.7813 21.0905 27.7813 21.5048 28.0371 21.7605C28.165 21.8884 28.3326 21.9524 28.5001 21.9524C28.6676 21.9524 28.8351 21.8884 28.963 21.7605L38.7845 11.9391C39.0402 11.6834 39.0402 11.2691 38.7844 11.0133Z" fill="white" stroke="white" stroke-width="0.3"/>
                </svg>
            </a>
        </div>
    </div>
    <a class="link-as-card"
       href="#"
       title="Многоквартирный жилой дом Литер 1А"
       target="_blank"></a>
</div>