@import '../card/card'

.index-projects-card-container
  padding: 278px 37px 28px 25px
  padding-top: calc(81% + 25px)

.index-projects-card__img
  width: 100%
  padding-bottom: 81%
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  left: 0
  top: 0
  z-index: -1

  &::after
    content: ''
    +absoluteFluid
    display: block
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 106.85%)
    transition: $default-transition

.index-projects-card__link-more
  position: relative
  display: none
  z-index: 1

.index-projects-card__name
  font-weight: bold
  font-size: 16px
  line-height: 18px
  margin-bottom: 25px

.index-projects-card-release-date
  margin-bottom: 13px
  font-size: 14px
  font-weight: 600
  line-height: 18px

.project-card-prop
  display: none
  font-size: 14px
  line-height: 18px
  font-weight: 600

  &_address
    display: block

    .project-card-prop__label
      display: none

.index-projects-card-release__label
  opacity: 0.9

.index-projects-card-content
  letter-spacing: 0.02em

.project-card-info-release-date__label
  white-space: nowrap

.project-card-info-release-date__value
  white-space: nowrap

+mq(tablet, max)
  .index-projects-card-status,
  .index-projects-card__location,
  .project-card-info-release-date__label
    display: none

+mq(tablet)
  .index-projects-card
    min-height: 607px

  .index-projects-card-container
    padding: 49px 17px 25px 31px
    +absoluteFluid

  .index-projects-card-content
    color: $white
    position: relative
    display: flex
    flex-direction: column
    height: 100%
    position: relative

  .index-projects-card__props
    position: absolute
    bottom: 0
    color: $main-color

  .index-projects-card__name
    font-size: 20px
    line-height: 22px
    font-weight: 600
    margin-bottom: 16px

  .index-projects-card__location
    font-size: 18px
    line-height: 16px
    font-weight: 600
    margin-bottom: 42px

  .index-projects-card-status
    font-weight: 500
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.03em
    position: absolute
    right: 0
    bottom: 0
    color: $main-color

  .index-projects-card__link-more
    align-self: flex-start
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 54px
    padding-right: 54px
    margin-top: calc(54.7% - 83px)
    position: absolute
    font-size: 14px
    line-height: 16px

  .project-card-prop
    display: flex
    line-height: 16px
    margin-bottom: 26px

    &:last-child
      margin-bottom: 0

    .project-card-prop__label
      display: block

  .project-card-prop__label
    font-size: 14px
    font-weight: 500
    opacity: 0.9
    letter-spacing: 0.03em
    width: 87px

  .project-card-prop__value
    font-size: 16px
    letter-spacing: 0.05em

    span
      margin-left: 18px
      font-size: 14px
      opacity: 0.8

  .index-projects-card-status__icons
    margin-bottom: 17px

  .index-projects-card-status__icon
    margin-right: 15px

    &:last-child
      margin-right: 0

  .index-projects-card__img
    padding-bottom: 65%

    &::after
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 106.85%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))

  .index-projects-card-release-date
    font-size: 18px
    line-height: 16px
    position: absolute
    left: 0
    top: 0
    margin-top: calc(54.7% - 10px)

  .project-card-info-release-date__label
    font-weight: 500
    display: none

+mq(desktop, max)
  .index-projects-card__link-more-icon
    display: none

+mq(desktop)
  .index-projects-card-container
    padding: 51px 43px 30px 33px

  .index-projects-card
    width: 41.2%
    min-height: 456px

    &_main
      width: 56.8%

      .index-projects-card-container
        padding-top: 49px
        padding-left: 29px

      .index-projects-card__img
        padding-bottom: 66.4%

      .index-projects-card-status
        margin-top: 21px
        position: absolute
        display: block

      .index-projects-card-status__icons
        margin-left: 0
        order: 0

    &:hover
      .index-projects-card__img
        &::before
          opacity: 1

        &:after
          opacity: 0

      .index-projects-card__props,
      .index-projects-card-status
        opacity: 1

      .index-projects-card-release-date
        &:not(.index-projects-card-release-date_hover_disabled)
          .project-card-info-release-date__value
            margin-left: 20px
            font-size: 18px

        .project-card-info-release-date__label
          margin-left: 0

    &:nth-child(odd)
      margin-right: 24px

  .index-projects-card__props
    position: static
    opacity: 0
    transition: $default-transition
    color: $white

  .index-projects-card-release-date
    position: absolute
    top: auto
    bottom: 0
    overflow: hidden
    margin-top: 0
    margin-bottom: 0
    display: flex
    line-height: 24px

  .project-card-info-release-date__value
    transition: $default-transition
    margin-left: 0
    min-width: 180px
    font-size: 20px

  .project-card-info-release-date__label
    display: block
    transition: $default-transition
    margin-left: -47%

  .index-projects-card__link-more
    margin-top: 0
    padding: 14px 29px 14px 29px
    position: absolute
    bottom: 0
    left: 0
    margin-bottom: 45px

  .index-projects-card__link-more-icon
    margin-left: 11px

  .index-projects-card__img
    padding-bottom: 92%

    &::before
      content: ''
      display: block
      +absoluteFluid
      background: linear-gradient(147.03deg, rgba(255, 184, 0, 0.95) 50%, rgba(255, 205, 18, 0.95) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))
      opacity: 0
      transition: $default-transition

  .index-projects-card-status
    position: static
    color: $white
    transition: $default-transition
    opacity: 0
    display: flex
    margin-top: 21px

  .index-projects-card-status__icons
    margin-left: 18px
    order: 1

    path
      fill: $white

  .index-projects-card__name
    font-size: 24px
    line-height: 30px

  .project-card-prop__label
    font-size: 16px

+mq(wide-screen)
  .index-projects-card

    &_main
      .index-projects-card__img
        padding-bottom: 68%
