.archive-item
  border-radius: 6px
  height: 100%
  overflow: hidden
  position: relative
  min-height: 436px
  display: flex
  flex-direction: column

.archive-item__img
  background-size: cover
  background-repeat: no-repeat
  height: 210px
  width: 100%
  flex-shrink: 0

.archive-item__content
  display: flex
  flex-direction: column
  flex-grow: 1
  justify-content: space-between
  border: 1px solid #F2F2F2
  padding: 15px 25px 40px

.archive-item__title
  color: $main-color
  font-weight: 600
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.02em
  margin-bottom: 30px

.archive-item__address, .archive-item__date
  align-items: flex-start
  display: flex
  font-weight: 500
  font-size: 13px
  line-height: 16px

  svg
    flex-shrink: 0
    margin-right: 14px

.archive-item__date
  margin-top: 27px

+mq(tablet)

  .archive-item
    min-height: 370px

  .archive-item__img
    height: 201px

  .archive-item__content
    padding: 20px 30px 37px

  .archive-item__title
    font-size: 15px
    margin-bottom: 24px

  .archive-item__address, .archive-item__date
    font-size: 14px

  .archive-item__date
    margin-top: 18px

+mq(desktop)

  .archive-item__content
    padding: 20px 30px 31px

  .archive-item__title
    font-size: 16px