<div class="archive-item">
    <div class="archive-item__img b-lazy animate"
         data-src="{{image.src}}"></div>
    <div class="archive-item__content">
        <div class="archive-item__title">{{{detailPageLink.text}}}</div>
        <div class="archive-item__info">
            {{#address}}
                <div class="archive-item__address">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.75 0C5.02783 0 2 3.02818 2 6.75C2 11.7297 8.22779 17.6484 8.49294 17.8982C8.56543 17.9659 8.65771 18 8.75 18C8.84229 18 8.93457 17.9659 9.0071 17.8982C9.27221 17.6484 15.5 11.7297 15.5 6.75C15.5 3.02818 12.4722 0 8.75 0ZM8.75 10.5C6.68236 10.5 4.99999 8.81764 4.99999 6.75C4.99999 4.68236 6.68239 2.99999 8.75 2.99999C10.8176 2.99999 12.5 4.68239 12.5 6.75C12.5 8.81761 10.8176 10.5 8.75 10.5Z"
                              fill="#BAD1D8"/>
                    </svg>
                    {{{.}}}
                </div>
            {{/address}}
            {{#deadline}}
            <div class="archive-item__date">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path d="M2.8125 11.25H4.68745C4.99796 11.25 5.24995 10.998 5.24995 10.6875V8.8125C5.24995 8.502 4.99796 8.25 4.68745 8.25H2.8125C2.502 8.25 2.25 8.502 2.25 8.8125V10.6875C2.25 10.998 2.502 11.25 2.8125 11.25Z"
                              fill="#BAD1D8"/>
                        <path d="M2.8125 15.75H4.68745C4.99796 15.75 5.24995 15.498 5.24995 15.1875V13.3125C5.24995 13.002 4.99796 12.75 4.68745 12.75H2.8125C2.502 12.75 2.25 13.002 2.25 13.3125V15.1875C2.25 15.498 2.502 15.75 2.8125 15.75Z"
                              fill="#BAD1D8"/>
                        <path d="M8.0625 11.25H9.93759C10.2481 11.25 10.5001 10.998 10.5001 10.6875V8.8125C10.5001 8.502 10.2481 8.25 9.93759 8.25H8.0625C7.752 8.25 7.5 8.502 7.5 8.8125V10.6875C7.5 10.998 7.752 11.25 8.0625 11.25V11.25Z"
                              fill="#BAD1D8"/>
                        <path d="M8.0625 15.75H9.93759C10.2481 15.75 10.5001 15.498 10.5001 15.1875V13.3125C10.5001 13.002 10.2481 12.75 9.93759 12.75H8.0625C7.752 12.75 7.5 13.002 7.5 13.3125V15.1875C7.5 15.498 7.752 15.75 8.0625 15.75V15.75Z"
                              fill="#BAD1D8"/>
                        <path d="M13.3125 11.25H15.1875C15.498 11.25 15.75 10.998 15.75 10.6875V8.8125C15.75 8.502 15.498 8.25 15.1875 8.25H13.3125C13.002 8.25 12.75 8.502 12.75 8.8125V10.6875C12.75 10.998 13.002 11.25 13.3125 11.25V11.25Z"
                              fill="#BAD1D8"/>
                        <path d="M15.75 2.25H15V0.749954C15 0.336044 14.664 0 14.25 0H13.5C13.086 0 12.75 0.336044 12.75 0.749954V2.25H5.24995V0.749954C5.24995 0.336044 4.91405 0 4.5 0H3.75005C3.336 0 2.99995 0.336044 2.99995 0.749954V2.25H2.25C1.00951 2.25 0 3.25951 0 4.5V15.75C0 16.9905 1.00951 18 2.25 18H15.75C16.9905 18 18 16.9905 18 15.75V4.5C18 3.25951 16.9905 2.25 15.75 2.25ZM16.5 15.75C16.5 16.1632 16.1632 16.5 15.75 16.5H2.25C1.83678 16.5 1.50005 16.1632 1.50005 15.75V7.53003H16.5V15.75Z"
                              fill="#BAD1D8"/>
                    </g>
                </svg>
                Дата реализации: {{{.}}}
            </div>
        {{/deadline}}
        </div>
    </div>
    <a class="link-as-card"
       {{# strMainId }} id="{{ . }}"{{/ strMainId }}
       href="{{detailPageLink.href}}"></a>
</div>
