.company-slider
  margin: 40px 0

.company-slider__slide
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 4px
  height: 201px
  margin: 0
  width: 210px

.company-slider__svg
  display: none

.company-slider__slide-zoom
  display: none

+mq(tablet)

  .company-slider
    margin: 60px 0 60px

+mq(desktop)

  .company-slider
    margin: 68px 0 52px
    position: relative

  .company-slider__container
    padding: 5px
    margin-left: -5px

  .company-slider__slide
    border: 1px solid transparent
    height: 279px
    position: relative
    transition: $default-transition
    width: 292px

    &:hover
      border: 1px solid rgba(212, 222, 225, 0.5)
      box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2)

      .company-slider__slide-zoom
        opacity: 1

  .company-slider__slide-zoom
    display: block
    bottom: 17px
    height: auto
    opacity: 0
    position: absolute
    right: 14px
    transition: $default-transition
    width: 20px

  .company-slider__svg
    display: block
    position: absolute
    right: -130px
    top: -50px
    z-index: 1