@import "../buy-ways-list-item/buy-ways-list-item"

.buy-ways-list

  .buy-ways-list-item
    margin-top: 30px
    padding: 0

    &:nth-of-type(1)
      margin-top: 0

+mq(tablet)

  .buy-ways-list
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    .buy-ways-list-item
      margin-top: 40px

      &:nth-of-type(-n + 2)
        margin-top: 0

    .buy-ways-list-item-wrapper
      width: 330px

+mq(desktop)

  .buy-ways-list
    justify-content: flex-start

    .buy-ways-list-item
      margin-right: 17px

      &:nth-of-type(-n + 4)
        margin-top: 0

      &:nth-of-type(4n)
        margin-right: 0

    .buy-ways-list-item-wrapper
      width: 288px