{{#apartments.isNotEmpty}}
    <div class="project-layout-rooms-content">
        <div class="project-layout-rooms swiper-container">
            <div class="project-layout-rooms-wrapper swiper-wrapper">
                {{#apartments.values}}
                    {{>project-layout-rooms-slide}}
                {{/apartments.values}}
            </div>
            <div class="swiper-pagination-container container">
                <div class="project-layout-rooms__pagination swiper-pagination"></div>
            </div>
        </div>
        <div class="project-layout-rooms-navigation swiper-navigation">
            <button class="project-layout-rooms-navigation__prev swiper-arrow">
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.890765 5.99993C0.890765 5.80441 0.965416 5.60892 1.1144 5.45986L5.80511 0.769201C6.1035 0.470813 6.58729 0.470813 6.88555 0.769201C7.18382 1.06747 7.18382 1.55115 6.88555 1.84957L2.73495 5.99993L6.88541 10.1503C7.18367 10.4487 7.18367 10.9323 6.88541 11.2306C6.58714 11.5291 6.10336 11.5291 5.80497 11.2306L1.11426 6.53999C0.965247 6.39085 0.890765 6.19537 0.890765 5.99993Z"
                          fill="#342733"/>
                </svg>
            </button>
            <button class="project-layout-rooms-navigation__next swiper-arrow">
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.10923 6.00007C7.10923 6.19559 7.03458 6.39108 6.8856 6.54014L2.19489 11.2308C1.8965 11.5292 1.41271 11.5292 1.11445 11.2308C0.81618 10.9325 0.81618 10.4488 1.11445 10.1504L5.26505 6.00007L1.11459 1.84969C0.816325 1.5513 0.816325 1.06767 1.11459 0.769423C1.41286 0.470891 1.89664 0.470891 2.19503 0.769423L6.88574 5.46001C7.03475 5.60915 7.10923 5.80463 7.10923 6.00007Z"
                          fill="#342733"/>
                </svg>
            </button>
        </div>
    </div>
{{/apartments.isNotEmpty}}
