@import './slides/project-layout-rooms-slide'

.project-layout-rooms
  margin: 0 -#{$container-offset-mobile}
  transition: $default-transition

  &_hide
    opacity: 0

  .swiper-pagination
    padding-top: 5px
    padding-bottom: 5px
    align-items: center
    justify-content: center

    &.swiper-pagination-bullets-dynamic
      justify-content: flex-start

    .swiper-pagination-bullet
      flex-shrink: 0
      width: 10px
      height: 10px
      border-radius: 50%
      margin: 0 10px
      &-active
        background: $yellow8
        transform: scale(1.6, 1.6)

  &:not(.swiper-container-initialized)
    .swiper-pagination
      display: none

.project-layout-rooms-wrapper
  padding-top: 30px

.project-layout-rooms-slide-container
  padding: 10px $container-offset-mobile

  &.non-swiper-slide
    display: none !important

.project-layout-rooms-slide
  overflow: hidden
  position: relative
  background: $white
  padding: 25px 31px 48px
  border-radius: 6px
  border: 1px solid #E8E8E8
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1)

.room-slide-img-container
  width: calc(100% + 40px)
  margin-top: -15px
  margin-right: -20px
  margin-left: -20px
  height: 354px
  display: flex
  justify-content: center

.room-slide__img
  max-width: 100%
  max-height: 100%

.room-slide-props
  margin: 25px 0
  display: flex
  flex-wrap: wrap
  font-size: 14px
  line-height: 25px
  color: rgba(22, 22, 22, 0.4)

.room-slide-props-item
  width: calc(50% - 20px)
  &:nth-child(odd)
    margin-right: 40px

  margin-bottom: 7px

.room-slide-props-item__value
  margin-top: -6px
  font-weight: 600
  color: $main-color
  min-height: 30px
  display: flex
  align-items: flex-end

.room-slide-props-item__value-price
  display: inline-block
  font-weight: bold

  &_filled
    margin-left: 7px
    position: relative
    z-index: 0
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: 6px
      width: 100%
      height: 10px
      background: $yellow8
      z-index: -1

.room-slide-status
  width: 100%
  position: absolute
  left: 0
  bottom: 0
  border-top: 1px solid #E8E8E8
  font-weight: bold
  font-size: 11px
  line-height: 25px
  letter-spacing: 0.03em
  text-transform: uppercase
  text-align: center
  padding: 12px 13px
  background: $white

  &_sold
    color: rgba(52, 39, 51, 0.7)

.project-layout-rooms
  .swiper-pagination-container
    padding: 10px 0
    margin-top: 12px

+mq(mobile-plus, max)
  .room-slide-status
    font-size: 9px

  .project-layout-rooms-slide
    padding-left: 20px
    padding-right: 20px

  .room-slide-props-item
    width: calc(50% - 8px)
    &:nth-child(odd)
      margin-right: 16px

  .room-slide-props-item__label
    font-size: 13px

+mq(tablet)
  .project-layout-rooms
    .swiper-pagination-container
      margin-top: 15px
    &:not(.swiper-container-initialized)
      .project-layout-rooms-slide-container
        max-width: 360px

  .project-layout-rooms-wrapper
    padding-top: 20px

  .project-layout-rooms-slide-container
    padding: 10px 8px

  .project-layout-rooms
    margin: 0 -8px

  .room-slide-status
    font-size: 12px
    white-space: nowrap

+mq(desktop)
  .project-layout-rooms-slide-container
    padding: 10px 8px
    //max-width: 400px

  .project-layout-rooms-slide
    transition: $default-transition
    &:hover
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)

  .project-layout-rooms-content
    position: relative
    z-index: 0

    &_hide-navigation
      .swiper-navigation
        display: none

  .project-layout-rooms
    .swiper-pagination-container
      display: none

  .project-layout-rooms-navigation
    margin-top: -40px
    position: absolute
    top: 0
    right: 0
    display: flex

    .swiper-arrow
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      height: 40px
      background: $white
      border: 1px solid rgba(212, 222, 225, 0.5)
      box-sizing: border-box
      border-radius: 3px

      &:hover
        &:not(.swiper-button-disabled)
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)

      &.swiper-button-disabled
        cursor: default
        opacity: 0.6

  .project-layout-rooms-navigation__prev
    margin-right: 20px