<form class="search-form form"
      {{#name}}name="{{name}}"{{/name}}
      method="get"
      action="">
    <div class="search-form__top">
        <button class="button-preset search-form__submit button" type="submit">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.6125 15.4913C18.7935 13.8785 19.4999 11.8975 19.4999 9.74998C19.4999 4.37403 15.1259 0 9.74993 0C4.37398 0 0 4.37403 0 9.74998C0 15.1259 4.37403 19.5 9.74998 19.5C11.8975 19.5 13.8787 18.7934 15.4915 17.6124L21.8789 23.9999L24 21.8788C24 21.8787 17.6125 15.4913 17.6125 15.4913ZM9.74998 16.4999C6.02781 16.4999 3.00001 13.4721 3.00001 9.74998C3.00001 6.02781 6.02781 3.00001 9.74998 3.00001C13.4721 3.00001 16.4999 6.02781 16.4999 9.74998C16.4999 13.4721 13.4721 16.4999 9.74998 16.4999Z" fill="#342733"/>
            </svg>
        </button>
        <div class="search-form-group form-group">
            <input class="search-form__control form__control"
                   type="text"
                   name="{{control-name}}"
                   value="{{q}}"
                   placeholder="">
            <div class="search-form__placeholder form__placeholder">Введите поисковой запрос</div>
        </div>
    </div>
    {{#groups.isNotEmpty}}
        <div class="search-form-sections">
            <div class="search-form-sections-group">
                {{#groups.values}}
                    <label class="search-form-checkbox checkbox">
                        <input type="checkbox"
                               {{#checked}}checked{{/checked}}
                               name="where[]"
                               class="form-hidden checkbox__control search-form-checkbox__control"
                               value="{{id}}">
                        <span class="search-form-checkbox__marker checkbox__marker">
                            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.59502 9.4828C4.48047 9.59802 4.32419 9.6623 4.16185 9.6623C3.99951 9.6623 3.84322 9.59802 3.72868 9.4828L0.269259 6.02282C-0.089753 5.66381 -0.089753 5.08165 0.269259 4.72331L0.702429 4.29002C1.06155 3.93101 1.64304 3.93101 2.00205 4.29002L4.16185 6.44993L9.99792 0.613741C10.357 0.254729 10.9391 0.254729 11.2975 0.613741L11.7307 1.04702C12.0897 1.40604 12.0897 1.98808 11.7307 2.34654L4.59502 9.4828Z" fill="#342733"/>
                            </svg>
                        </span>
                        <span class="checkbox__text search-form-checkbox__text">{{name}}</span>
                    </label>
                {{/groups.values}}
            </div>
        </div>
    {{/groups.isNotEmpty}}
</form>