.search-form
  margin-top: 40px
  margin-bottom: 60px

.search-form__top
  align-items: center
  display: flex
  border-bottom: 1px solid rgba(52, 39, 51, 0.5)
  padding-bottom: 5px

.search-form-group
  margin: 0
  width: 100%

.search-form__control
  display: block
  line-height: 130%

.search-form__placeholder
  font-size: 16px
  line-height: 130%

.search-form__submit
  background: none
  display: block
  flex-shrink: 0
  margin: 0
  min-height: 0
  padding: 5px

.search-form-sections
  margin-top: 30px

.search-form-sections-group
  display: flex
  flex-direction: column

.search-form-checkbox
  align-items: center
  display: flex
  margin-top: 20px

  &:nth-of-type(1)
    margin-top: 0

.search-form-checkbox__text
  font-weight: 500
  font-size: 12px
  line-height: 140%
  text-transform: uppercase
  color: rgba(52, 39, 51, 0.9)
  margin-left: 15px

.search-form-checkbox__marker
  display: block
  width: 30px
  height: 30px
  border: 1px solid rgba(52, 39, 51, 0.2)
  flex-shrink: 0
  position: relative
  transition: $default-transition

  svg
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: $default-transition

.checkbox__control:checked + .search-form-checkbox__marker
  background: rgba(255, 184, 0, 0.8)
  border: 1px solid transparent

  svg
    opacity: 1

+mq(tablet)

  .search-form
    margin-top: 80px
    margin-bottom: 80px

  .search-form__control
    font-size: 18px

  .search-form__placeholder
    font-size: 18px

  .search-form-sections
    margin-top: 15px

  .search-form-sections-group
    flex-direction: row
    flex-wrap: wrap

  .search-form-checkbox
    margin-top: 25px
    margin-right: 32px
    width: 150px

    &:nth-of-type(1)
      margin-top: 25px

    &:nth-of-type(4n)
      margin-right: 0

  .search-form-checkbox__text
    font-size: 14px
    letter-spacing: 0.03em

  .search-form-checkbox__marker
    height: 34px
    width: 34px

+mq(desktop)

  .search-form
    margin-top: 40px
    margin-bottom: 60px

  .search-form__top
    padding-bottom: 0

  .search-form__control
    height: auto
    padding: 15px 25px

  .search-form-group
    margin-left: 45px

  .search-form-sections
    margin-top: 25px

  .search-form-checkbox
    margin-right: 30px
    width: auto

    &:nth-of-type(4n)
      margin-right: 30px

  .search-form-checkbox__text
    font-size: 12px
    line-height: 100%

  .search-form-checkbox__marker
    height: 30px
    width: 30px