<div class="announcements-filter-tabs-wrapper list-items-hover-container">
    <ul class="announcements-filter-tabs sections-filter-tabs sections-filter-tabs_as-link">
        {{#categories.values}}
            <li class="announcements-filter-tabs-item sections-filter-tabs-item
                {{#isFirst}}sections-filter-tabs-item_active{{/isFirst}}"
                data-id="{{ id }}">
                <button class="sections-filter-tabs-item__button">{{{ text }}}</button>
            </li>
        {{/categories.values}}
    </ul>
</div>