@import '../variables/variables'
@import '../mixins/mixins'
@import '../functions/functions'
@import "../consultation-form/consultation-form"
@import "../article-form/article-form"

.page-404
  line-height: 21px
  padding: 40px 0 0
  h1
    font-weight: 800
    font-size: 24px
    line-height: 120%
    margin-bottom: 262px

.page-404-content
  background: url('/local/assets/images/page-404/background-404.png') no-repeat
  background-size: 224px 190px
  background-position: 24% 24%
  padding-bottom: 60px

.home-page-button
  display: inline-flex
  margin-top: 40px
  padding: 20px 36px
  font-weight: 500

+mq(tablet)
  .page-404
    line-height: 24px
    padding-top: 61px
    h1
      font-size: 36px
      margin-bottom: 16px
      letter-spacing: 0.02em

  .page-404-content
    padding-right: 296px
    background-size: 239px 202px
    background-position: right 54px top

  .page-404-description
    letter-spacing: 0.03em
    width: 359px

  .home-page-button
    margin-top: 34px

+mq(desktop)
  .page-404
    h1
      padding-top: 40px

  .home-page-button
    margin-top: 54px

  .page-404-content
    padding-right: 596px
    padding-bottom: 169px
    background-size: 289px 245px
    background-position: right 271px top

  .page-404-description
    width: auto