@import "../dropdown/dropdown"

.rubric
  margin-top: 24px

.rubric__dropdown-current
  align-items: center
  background: #FFFFFF
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07)
  border-radius: 5px
  display: flex
  font-weight: 500
  font-size: 14px
  justify-content: space-between
  line-height: 120%
  padding: 14px 23px 17px

.rubric__dropdown-list
  position: absolute
  background: #FFFFFF
  border: 1px solid rgba(52, 39, 51, 0.1)
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07)
  border-radius: 5px
  width: 100%

.rubric__dropdown-list-item.dropdown-item_selected

  .rubric__dropdown-list-item-link
    color: rgba(59, 59, 59, 0.3)

.rubric__dropdown-list-item-link
  background: #FFFFFF
  color: $main-color
  padding: 14px 40px 16px 19px

+mq(tablet)

  .rubric
    margin-top: 20px

  .rubric__list
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin: 0
    padding: 0
    list-style-type: none

  .rubric__list-item
    margin-top: 20px
    margin-right: 23px

    &:nth-last-of-type(1)
      margin-right: 0

  .rubric__list-item-link
    position: relative
    color: $main-color
    font-weight: 500
    font-size: 15px
    line-height: 16px
    padding: 0
    list-style-type: none
    opacity: 0.5
    transition: $default-transition

    &::after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: -2px
      height: 0
      width: 100%
      transform-origin: center bottom
      transform: scaleX(0)
      transition: $default-transition
      border-bottom: 2px solid #FFBA02

  .rubric__list-item_active

    .rubric__list-item-link
      color: $yellow
      opacity: 1
      &::after
        transform: scaleX(1)

+mq(desktop)

  .rubric__list-item
    margin-right: 50px
    margin-top: 20px

    &:hover
      .rubric__list-item-link
        color: $yellow
        &::after
          transform: scaleX(1)

  .rubric__list-item-link
    font-size: 18px
    line-height: 19px

  .rubric__list-item_active
    .rubric__list-item-link
      cursor: default
