{{#isNotEmpty}}
    <div class="page-menu-navigation-container">
        <div class="page-menu-navigation-body">
            <div class="page-menu-navigation-wrapper list-items-hover-container container">
                <ul class="page-menu-navigation">
                    {{#values}}
                        <li class="page-menu-navigation-item page-menu-navigation-item_active">
                            <a href="{{href}}"
                               class="page-menu-navigation-item__link">
                                <span class="page-menu-navigation-item__link-text">{{{ text }}}</span>
                            </a>
                        </li>
                    {{/values}}
                </ul>
                <div class="list-items-hover-marker"></div>
            </div>
        </div>
    </div>
{{/isNotEmpty}}