.page-menu-navigation-container
  min-height: 78px

.page-menu-navigation
  display: flex
  list-style-type: none
  padding: 0
  margin: 0
  font-weight: 500
  font-size: 15px
  line-height: 18px
  letter-spacing: 0.02em
  color: $gray90

.page-menu-navigation-item__link
  transition: $default-transition
  padding: 30px 60px 30px 0
  display: inline-block

.page-menu-navigation-item
  opacity: 0.7
  transition: $default-transition

  &:last-child
    .page-menu-navigation-item__link
      padding-right: 0

  &_active
    opacity: 1

  &:hover
    opacity: 1