<div class="index-first-screen-slide swiper-slide" {{#backGround}}style="background-color: {{{ . }}}"{{/backGround}}
     {{#strMainId}}id="{{ . }}"{{/strMainId}}>
    {{#image.src}}
    <div class="index-first-screen-slide__background b-lazy"
         data-src="{{image.src}}"
         data-src-lg="{{image.lgSrc}}"></div>
    {{/image.src}}

    <div class="swiper-slide-container container">
        <div class="index-first-screen-text">
            <h1 class="index-first-screen-text__title">{{{title }}}</h1>
            <div class="index-first-screen-text__subtitle">{{{ subtitle }}}</div>
        </div>
        {{#link.href}}
            <a href="{{link.href}}"
               title="{{link.title}}"
                {{#link.targetBlank}} target="_blank" {{/link.targetBlank}}
               class="popup-link ask-question-button button button_filled-yellow {{{link.additionalCssClass}}}">{{{link.text}}}</a>
        {{/link.href}}
    </div>
</div>