<main class="index-first-screen">
    <div class="index-first-screen-slider swiper-container">
        <div class="index-first-screen-slides swiper-wrapper">
            {{#values}}
                {{>index-first-screen-slide-1}}
            {{/values}}
        </div>
        <div class="swiper-pagination-container container">
            <button class="swiper-pagination-arrow swiper-pagination-arrow_prev">
                {{>slider__pagination-arrow__prev}}
            </button>
            <div class="index-first-screen-pagination swiper-pagination"></div>
            <button class="swiper-pagination-arrow swiper-pagination-arrow_next">
                {{>slider__pagination-arrow__next}}
            </button>
        </div>
    </div>
</main>