@import '../announcements-list/announcements-list'
@import '../announcements-card/announcements-card'

.announcements__title
  margin-bottom: 25px

.announcements-filter-combobox-wrapper
  margin-bottom: 30px

.announcements-filter-tabs
  display: none

.announcements_subscribe-form
  display: none

+mq(tablet)
  .announcements-filter-tabs-wrapper
    margin-bottom: 33px

  .announcements-filter-tabs
    display: inline-flex

+mq(desktop)
  .announcements-content
    display: flex
    align-items: flex-start

  .announcements_subscribe-form
    position: relative
    display: block
    flex-shrink: 0
    margin-left: 24px

    .subscribe-form-container
      position: sticky
      top: 100px
      margin-bottom: 83px

  .announcements-section-wrapper
    display: flex