.dropdown
  position: relative
  transition-duration: 0.3s
  z-index: 2
  &_has-placeholder
    .dropdown-current
      padding-top: 11px
      padding-bottom: 11px

.dropdown-current
  width: 100%
  position: relative
  transition: 0.3s
  align-items: center
  background: #FFFFFF
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07)
  border-radius: 5px
  display: flex
  font-weight: 500
  font-size: 14px
  justify-content: space-between
  line-height: 120%
  padding: 14px 23px 17px

  &:active
    background-color: transparent
    box-shadow: 0px 16px 32px rgba(230, 230, 230, 0), 0px 4px 8px rgba(230, 230, 230, 0)

.dropdown-scroll
  +list-preset
  position: relative
  right: 0
  left: 0
  height: 100%
  max-height: 240px
  overflow-x: hidden
  overflow-y: scroll
  outline: none
  margin-right: -17px
  width: calc(100% + 17px)

.dropdown-list
  +list-preset
  z-index: 0
  overflow: hidden
  position: absolute
  background: #FFFFFF
  border: 1px solid rgba(52, 39, 51, 0.1)
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07)
  border-radius: 5px
  width: 100%

.dropdown-item__content
  display: block
  transition: 0.3s
  background: #FFFFFF
  color: $main-color
  padding: 14px 40px 16px 19px

.dropdown-item
  cursor: pointer
  transition: 0.3s
  position: relative

  &_selected
    cursor: default
    z-index: 1

    .dropdown-item__content
      color: rgba(59, 59, 59, 0.3)

.dropdown-pane
  position: absolute
  right: 6px
  top: 17px
  bottom: 17px
  width: 4px
  z-index: 1

.dropdown-pane__slider
  width: 4px
  background-color: $yellow

/* не передвигать! */
.dropdown_disabled
  .dropdown-current
    background-color: black
    border-color: black
    color: black
    box-shadow: none
    cursor: not-allowed

    .dropdown__placeholder
      color: black
