.buy-ways-list-item
  padding: 30px $container-offset-mobile
  letter-spacing: 0.03em
  position: relative

  &:hover
    .buy-ways-list-item__icon
      path
        fill: #FFB800
      circle
        fill: rgba(255, 184, 0, 0.2)

    .buy-ways-list-item__show-more
      color: $white
      border-color: transparent
      background: #FFB800

.buy-ways-list-item-wrapper
  padding: 25px 25px 40px
  min-height: 300px
  border: 1px solid #F2F2F2
  border-radius: 6px
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)
  background: $white
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.buy-ways-list-item__icon
  margin-bottom: 30px

  path,
  circle
    transition: $default-transition

  circle
    fill: rgba(212, 222, 225, 0.6)

.buy-ways-list-item__name
  margin-bottom: 20px
  font-weight: 800
  font-size: 20px
  line-height: 28px

.buy-ways-list-item__description
  font-size: 14px
  line-height: 25px

.buy-ways-list-item__show-more
  margin-top: 36px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
  width: 100%
  color: rgba(52, 39, 51, 0.4)

+mq(tablet)
  .buy-ways-list-item
    padding: 12px
    width: auto

  .buy-ways-list-item-wrapper
    width: 288px
    min-height: 480px
    display: flex
    flex-direction: column
    justify-content: space-between

+mq(desktop)
  .buy-ways-list-item__name
    font-size: 19px

  .buy-ways-list-item-wrapper
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
    transition: $default-transition
    &:hover
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)