<div class="contact">
    <span class="contact__icon">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.2606 10.8781L11.4476 12.6955C10.686 13.4484 9.45211 13.4608 8.67801 12.6955L6.79105 10.8042L1.25 16.3413C1.46973 16.4269 1.70664 16.4783 1.95629 16.4783H18.0432C18.2868 16.4783 18.5177 16.4281 18.733 16.3464L13.2606 10.8781Z" fill="#E0E0E0"/>
            <path d="M0.164102 4.17725C0.0596484 4.41639 0 4.67936 0 4.95662V14.5221C0 14.8735 0.100508 15.1989 0.263398 15.4842L5.86523 9.87838L0.164102 4.17725Z" fill="#E0E0E0"/>
            <path d="M18.0433 3H1.95633C1.63105 3 1.32875 3.08734 1.05859 3.2284L9.5998 11.7695C9.84762 12.0174 10.278 12.0174 10.5215 11.7695L19.0225 3.27266C18.7334 3.10379 18.4017 3 18.0433 3Z" fill="#E0E0E0"/>
            <path d="M19.8692 4.27051L14.187 9.95266L19.729 15.4987C19.8968 15.2102 20.0001 14.8796 20.0001 14.5225V4.95703C20.0001 4.71461 19.9502 4.48488 19.8692 4.27051Z" fill="#E0E0E0"/>
        </svg>
    </span>
    <div class="contact-text">
        <div class="contact-text__value">blagstroy@mail.ru</div>
    </div>
</div>