.contact
  display: flex
  align-items: center

.contact__icon
  margin-right: 18px
  display: inline-block
  line-height: 0

.contact-text
  font-weight: 500

.contact-text__label
  font-size: 10px
  line-height: 12px
  letter-spacing: 0.1em
  text-transform: uppercase
  color: rgba(52, 39, 51, 0.5)
  margin-bottom: 3px

.contact-text__value
  color: $gray90
  font-size: 20px
  line-height: 24px