@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import "../simple-project-main/simple-project-main"
@import "../article-slider/article-slider"
@import "../consultation-form/consultation-form"
@import "../article-form/article-form"
@import '../other-projects/other-projects'
@import "../scrollup/scrollup"

.simple-project
  margin-top: 20px

.simple-project__svg1, .simple-project__svg2, .simple-project__svg3, .simple-project__svg4, .simple-project__svg5
  display: none

+mq(wide-screen)

  .simple-project
    margin-top: 27px
    position: relative
    overflow: hidden

  .simple-project__svg1, .simple-project__svg2, .simple-project__svg3, .simple-project__svg4, .simple-project__svg5
    display: block
    position: absolute
    z-index: 1

  .simple-project__svg1
    top: 500px
    left: 1%

  .simple-project__svg2
    top: 30%
    left: 2%

  .simple-project__svg3
    top: 55%
    left: -10px

  .simple-project__svg4
    top: 80%
    left: 2%

  .simple-project__svg5
    bottom: 150px
    right: -20px
