@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import "../blog-items/blog-items"
@import "../blog-item/blog-item"
@import "../index-text/index-text"
@import "../article-form/article-form"
@import "../blog-credit/blog-credit"
@import "../pages/pages"
@import "../rubric/rubric"
@import "../position-aware-button/position-aware-button"
@import "../consultation-form/consultation-form"

.blog__svg1, .blog__svg2, .blog__svg3, .blog__svg4
  display: none
  z-index: 1

.blog__pages
  margin-top: 60px

.blog__sticky
  background: #C3D2DE
  margin: 60px -24px 0

  .consultation-form__container
    z-index: 1

.blog__bottom
  padding: 50px 0

.blog
  .rubric__dropdown
    margin-bottom: 52px

.article-form-agreement
  a
    display: inline-block
    border-bottom: 1px solid $white

+mq(tablet)

  .blog
    overflow: hidden

  .blog__pages
    margin: 60px auto 0

  .blog__sticky
    margin: 60px 0 0
    position: relative

    &:after
      content: ''
      background: #C3D2DE
      top: 0
      left: -300px
      right: -300px
      height: 100%
      position: absolute
      width: 300%

    .consultation-form__container
      padding: 0

  .blog__bottom
    padding: 60px 0 0

+mq(desktop)

  .blog
    overflow: visible

  .blog__main
    display: flex
    justify-content: space-between

    .blog-item_only-text
      .blog-item__photo
        display: none

  .blog__pages
    margin-top: 76px
    margin-left: 0

  .blog__sticky
    border: 1px solid #F2F2F2
    border-radius: 6px
    padding: 50px 25px 43px
    position: sticky
    top: 167px
    height: 520px
    z-index: 2
    width: 288px
    margin: 60px 0 0

    &:after
      display: none

    .consultation-form
      background: none
      border: none
      padding: 0
      width: 100%
      margin: 0

    .consultation-form__tablet-svg
      display: none

    .article-form
      padding: 0
      width: 100%

    .article-form__container
      display: block

    .article-form__text
      width: 100%

    .article-form-inputs
      display: block
      margin: 30px 0 0

    .article-form__group
      display: block

    .form-group
      margin-top: 22px
      margin-left: 0
      width: 100%

    .article-form__submit-wrapper
      margin-top: 18px
      width: 100%

    .article-form-agreement
      margin-top: 20px

  .blog__sticky-svg
    position: absolute
    top: 0
    left: 0

  .blog__bottom
    padding: 80px 0 20px

+mq(wide-screen)

  .blog
    position: relative

  .blog__svg1
    display: block
    position: absolute
    left: 5%
    top: 12%
    width: 175px
    height: 175px

  .blog__svg2
    display: block
    position: absolute
    width: 228px
    height: 72px
    top: 45%
    right: 2%

  .blog__svg3
    display: block
    position: absolute
    width: 175px
    height: 175px
    top: 60%
    right: 2%

  .blog__svg4
    display: block
    bottom: 82px
    position: absolute
    width: 220px
    height: 220px
    right: 0