<div class="project-detail-about">
    <div class="container">
        <div class="project-detail-about__characteristics">
            {{>characteristics-table}}
        </div>
        <h2 class="project-detail-about__title">О проекте</h2>
        <div class="project-detail-about__subtitle">Многоквартирный жилой дом, СХПК Тепличный</div>
    </div>
    <div class="container project-detail-about__main-container">
        <div class="project-detail-about__main">
            <div class="container project-detail-about__mobile-container">
                {{>project-detail-about-slider}}
                <div class="project-detail-about__article">
                    {{>project-detail-article}}
                </div>
                <div class="project-detail-characteristics">
                    {{>characteristics-table}}
                </div>
                {{>project-detail-futures}}
            </div>
            <div class="project-detail__tour-form">
                {{>index-tour-form}}
            </div>
            <div class="project-detail__yard-area">
                {{>yard-area}}
            </div>
        </div>
        <div class="project-detail-about__main-side">
            {{>characteristics-table_main}}
            {{>project-detail-prices}}
            <a href="#" class="project-detail-about__tour-btn popup-link button button_filled-yellow">
                Связаться с менеджером
            </a>
        </div>
    </div>
</div>