@import '../characteristics-table/characteristics-table'
@import '../index-tour-form/index-tour-form'
@import '../yard-area/yard-area'

.project-detail-about
  margin-top: 40px

.project-detail-about__title
  font-weight: 800
  font-size: 24px
  line-height: 120%
  margin: 50px 0 30px

.project-detail-about__subtitle
  display: none
  p
    margin: 0
    padding: 0

.project-detail__about-section
  .index-tour-form
    margin: 0 -#{$container-offset-mobile}


.project-detail-about-slider
  text-align: center
  line-height: 0
  img
    margin: 0
    border: none

  .project-detail-about-slide__link
    display: inline-block
    max-width: 100%
    max-height: 100%

  .project-detail-about-slide__img
    width: 100%
    height: 100%
    object-fit: contain

+mq(tablet, max)
  .project-detail-slider-container
    display: none

  .project-detail-about__main-side
    display: none

  .project-detail-characteristics
    display: none

+mq(tablet)
  .project-detail-about
    margin-top: 33px
    display: flex
    flex-direction: column

  .project-detail-about__title
    margin-top: 0
    font-size: 36px
    line-height: 100%
    letter-spacing: 0.02em

  .project-detail-about__subtitle
    display: block
    margin-bottom: 40px
    font-size: 24px
    line-height: 30px
    font-weight: 500
    letter-spacing: 0.03em

  .project-detail-about__characteristics
    display: none

  .swiper-pagination-container
    padding: 0
    margin: 0
    max-width: none

    .swiper-pagination
      margin: 0

  .project-detail__about-section
    .index-tour-form
      margin: 0 -#{$container-offset-tablet}

+mq(desktop, max)
  .project-detail-about-side
    display: none

  .project-detail-about__main-container
    max-width: none
    padding: 0
    margin: 0

+mq(desktop)
  .index-tour-form
    display: none

  .project-detail-about__main-container
    display: flex

  .project-detail-about__characteristics
    display: none

  .project-detail-about__mobile-container
    max-width: none
    padding: 0
    margin: 0

  .project-detail-about__main
    width: 500px
    flex: 1

    .project-detail-slider-container
      .swiper-pagination-container
        display: none

  .project-detail-about-side
    display: flex
    flex-direction: column
    position: relative
    width: 250px
    flex-shrink: 0
    margin-top: 192px
    margin-left: 50px

    .project-detail-prices
      display: block
      font-size: 14px
    .project-detail-prices-item
      margin-right: 0
      margin-bottom: 20px
      padding: 23px 21px
      width: 100%
      &:last-child
        margin-bottom: 0

    .project-detail-prices-item__label
      font-size: 16px
      line-height: 18px

    .project-detail-prices-item-value
      flex-direction: row
      align-items: flex-end

    .project-detail-prices-item-value__price
      margin-right: 33px

    .project-detail-prices-item-value__units
      font-weight: 500

    .project-detail-about__tour-btn
      margin-top: 40px

  .project-detail-about__subtitle
    margin-bottom: 30px

  .project-detail-about__tour-btn
    font-size: 15px
    line-height: 16px
    letter-spacing: 0.02em
    padding: 19px 28px

  .project-detail-characteristics
    table
      tbody
        display: block
        tr
          display: flex
          width: 100%
          margin-bottom: 25px
          &:nth-child(odd)
            margin-right: 0

        td
          width: 184px
          margin-bottom: 0
          &:nth-child(odd)
            width: 220px
            margin-right: 92px

    .characteristics-table__header
      font-weight: 500
      font-size: 24px
      line-height: 36px
      letter-spacing: 0.03em
      margin-bottom: 46px

    .collapsed-block-container
      max-height: 380px

  .project-detail-about-container
    display: flex

  .project-detail-about-side__sticky-container
    position: relative
    flex: 1

  .project-detail-about-side__sticky-content
    position: sticky
    top: 170px

  .project-detail-about-slide__link
    position: relative

  .project-detail-about-slide__link:after
    content: ""
    background: linear-gradient(0deg,rgba(52,39,51,.2),rgba(52,39,51,.2))
    transition: opacity .3s
    opacity: 0
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%

  .project-detail-about-slide__link:hover:after
    opacity: 1