@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'

.swiper-container
  .swiper-pagination
    position: static
    line-height: 0
    z-index: 0
    display: flex
    justify-content: center

    &.swiper-pagination-fraction
      justify-content: flex-end

    .swiper-pagination-bullet
      border-radius: 1px
      margin: 0 10px !important
      width: 30px
      height: 4px
      flex-shrink: 0
      transform-origin: center center
      transition: $default-transition
      background: $main-color
      opacity: 0.3

      &:focus
        outline: none

      &-active
        opacity: 1
        background: $yellow8

        .swiper-pagination-dot
          background: $yellow8
        .swiper-pagination-dot-value
          font-size: 20px
          color: $yellow8

    .swiper-pagination-dot
      width: 10px
      height: 10px
      flex-shrink: 0
      background: $gray20
      border-radius: 50%
      display: inline-block
      margin-right: 20px
      justify-content: flex-start
      transition: $default-transition

    .swiper-pagination-dot-value
      font-size: 18px
      line-height: 16px
      color: $gray20
      transition: $default-transition

    &_circle
      align-items: center
      justify-content: center
      .swiper-pagination-bullet
        width: 10px
        height: 10px
        border-radius: 50%
        margin: 0 10px

        &-active
          transform: scale(1.29, 1.29)

  .swiper-pagination-fraction
    font-weight: 600
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.05em

    .swiper-pagination-current
      margin-right: 4px
    .swiper-pagination-total
      margin-left: 4px
      opacity: 0.5

  .swiper-button-prev,
  .swiper-button-next
    transition: $default-transition

    &:hover
      opacity: 0.8

.swiper-navigation
  .swiper-button-prev,
  .swiper-button-next
    z-index: 4
  &_white
    .swiper-button-next,
    .swiper-button-prev
      width: 60px
      height: 60px
      border-radius: 50%
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
      background: $white
      display: flex
      justify-content: center
      align-items: center

      &::after
        content: none

.swiper-pagination-container
  position: relative
  z-index: 10
  height: 0
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.swiper-pagination-arrow
  line-height: 0

+mq(tablet)
  .swiper-container
    .swiper-pagination
      margin: 0px 19px

      .swiper-pagination-bullet
        width: 50px
        height: 2px
        line-height: 2px
        margin: auto 11px

        &-active
          background: $main-color

+mq(desktop)
  .swiper-navigation
    .swiper-arrow
      transition: $default-transition