<svg width="39" height="22" viewBox="0 0 39 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M38.2366 10.5367L28.4151 0.715278C28.1593 0.459491 27.745 0.459491 27.4893 0.715278C27.2335 0.971064 27.2335 1.38541 27.4893 1.64113L36.193 10.3449H1.10693C0.745011 10.3449 0.452148 10.6377 0.452148 10.9997C0.452148 11.3616 0.745011 11.6544 1.10693 11.6544H36.193L27.4893 20.3581C27.2335 20.6139 27.2335 21.0283 27.4893 21.284C27.6171 21.4118 27.7847 21.4758 27.9522 21.4758C28.1198 21.4758 28.2873 21.4118 28.4152 21.284L38.2366 11.4626C38.4923 11.2068 38.4923 10.7925 38.2366 10.5367Z" fill="#342733"/>
</svg>