+mq(desktop)
  .position-aware-button
    position: relative
    overflow: hidden
    transition: $default-transition

    svg
      path
        transition: $default-transition

  .position-aware-button-span
    position: absolute
    display: block
    width: 0
    height: 0
    border-radius: 50%
    background-color: white
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out
    transform-origin: center center
    transform: translate(-50%, -50%)
    z-index: -1

  .position-aware-button:hover
    color: #4359E2

    svg
      path
        fill: #4359E2
        stroke: #4359E2

    .position-aware-button-span
      height: 300%
      width: 300%





