@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import '../archive/archive'
@import "../consultation-form/consultation-form"
@import "../article-form/article-form"
@import "../projects-list/projects-list"
@import "../dropdown/dropdown"
@import "../hot-deals/hot-deals"
@import "../infinite/infinite"
@import '../index-text/index-text'

.projects__list
  margin-top: 20px
  margin-bottom: 60px

.projects__svg-pattern
  display: none

.page-section
  padding-bottom: 60px

+mq(tablet)

  .projects__list
    margin-top: 33px

  .page-section
    padding-bottom: 0

+mq(desktop)

  .projects__list
    margin-top: 40px
    margin-bottom: 80px

  .page-section
    padding-bottom: 20px

+mq(wide-screen)
  .page-content
    position: relative

  .projects__svg-pattern
    display: block
    position: absolute
    top: 1131px
    right: 70px
    width: 228px
    height: 72px

  .projects-pattern-circle-top
    top: 299px
    right: auto
    left: 55px
    width: 175px
    height: 175px

  .index-text-section
    .background-pattern
      top: 0
      right: 0
      width: 220px
      height: 220px

      svg
        right: -33px