@import "../product-card/product-card"

.hot-deals
  margin-top: 60px
  margin-bottom: 60px

.hot-deals__title
  color: $main-color
  font-weight: 800
  font-size: 24px
  line-height: 120%

.hot-deals__top
  margin-top: 30px

.hot-deals__content
  margin-top: 30px

.hot-deals__slider
  margin: 0 -5px
  padding: 0 5px 5px
  opacity: 1
  transition: opacity .3s linear

  &_disabled
    .hot-deals__slider-wrapper
      display: block
    .hot-deals__slide
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0

    ~ .hot-deals__button-prev,
    ~ .hot-deals__button-next
        display: none

.hot-deals__slider_hidden
  opacity: 0

.hot-deals__slide

  .product-card
    margin-bottom: 0

.hot-deals__slide.non-swiper-slide
  display: none!important

.hot-deals__pagination
  display: flex
  justify-content: flex-end
  margin-top: 20px
  font-weight: 600
  font-size: 16px
  letter-spacing: 0.05em
  position: static

  .swiper-pagination-current
    display: block
    opacity: 1
    margin-right: 2px
    width: 22px

  .swiper-pagination-total
    display: block
    opacity: 0.5
    margin-left: 2px
    width: 22px

.hot-deals__button-prev, .hot-deals__button-next
  display: none

+mq(tablet)

  .hot-deals
    margin-top: 70px
    margin-bottom: 70px

  .hot-deals__title
    font-size: 36px

  .hot-deals__top
    margin-top: 40px

    .projects-list__rubric-item-link
      padding: 22px 30px

  .hot-deals__content
    margin-top: 40px

  .hot-deals__slider
    margin: 0 -32px 0 0
    padding: 0 5px 5px

    &_disabled
      .hot-deals__slider-wrapper
        display: flex
        flex-wrap: wrap

  .hot-deals__slide
    width: 288px

    .product-card
      min-height: 336px

    .product-card-name-group
      font-size: 15px
      margin-bottom: 33px

    .product-card-price-group
      margin-bottom: 32px

  .hot-deals .hot-deals__pagination
    display: flex
    justify-content: center
    margin: 29px auto 0

    .swiper-pagination-bullet
      background: $gray20
      border-radius: 50%
      height: 10px
      margin: 0 15px!important
      opacity: 1
      width: 10px
      outline: none

    .swiper-pagination-bullet-active
      background: $yellow8

+mq(desktop)

  .hot-deals
    margin-top: 80px
    margin-bottom: 80px

  .hot-deals__content
    margin-top: 60px
    position: relative

  .hot-deals__slider
    margin: 0 -5px

  .hot-deals .hot-deals__pagination
    display: none

  .hot-deals__button-prev, .hot-deals__button-next
    border: 1px solid #EFEFEF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
    border-radius: 100px
    display: flex
    width: 46px
    height: 46px
    top: 50%
    z-index: 4
    outline: none

    &:after
      display: none

  .hot-deals__button-prev
    left: -60px

  .hot-deals__button-next
    right: -60px

  .hot-deals .swiper-button-disabled
    cursor: default
