.search-results
  margin-top: 60px

.search-results-section
  margin-top: 70px

  &:nth-of-type(1)
    margin-top: 0

.search-results-title__value
  font-weight: 600
  font-size: 22px
  line-height: 100%
  text-transform: uppercase
  color: $main-color

.search-results-card
  margin-top: 40px
  position: relative

  svg
    height: 136px
    width: 166px

.search-results-card__img
  border-radius: 6px
  width: 100%

.search-results-card__rubric
  font-weight: 500
  font-size: 14px
  line-height: 100%
  text-transform: uppercase
  color: rgba(52, 39, 51, 0.8)

.search-results-card__content
  margin-top: 26px

.search-results-card__name
  font-weight: 500
  font-size: 16px
  line-height: 100%
  color: $main-color
  opacity: 0.9
  margin-top: 15px

.search-results-card__info
  font-weight: 500
  font-size: 14px
  line-height: 120%
  color: rgba(52, 39, 51, 0.8)
  opacity: 0.9
  margin-top: 15px

.search-results-card_file

  svg
    fill: #BAD1D8

.search-results-button-wrapper
  margin-top: 40px

.search-results-button
  font-size: 16px
  font-weight: 500

+mq(tablet)

  .search-results
    margin-top: 80px

  .search-results-section
    margin-top: 60px

  .search-results-title__value
    font-size: 20px

  .search-results-list
    margin-top: 28px

  .search-results-card
    border-top: 1px solid #F1F1F1
    margin: 0
    padding: 30px 0 37px

    &:nth-last-of-type(1)
      border-bottom: 1px solid #F1F1F1

    svg
      height: 96px
      width: 104px

  .search-results-card__wrapper
    display: flex

  .search-results-card__img
    height: 96px
    width: 104px

  .search-results-card__content
    margin: 0
    padding: 10px 0 0 41px

  .search-results-card__rubric
    font-size: 12px

  .search-results-card__name
    font-size: 18px
    margin-top: 20px

  .search-results-card__info
    font-size: 16px
    margin-top: 10px

  .search-results-button-wrapper
    margin-top: 20px

  .search-results-button
    border: none
    border-bottom: 1px solid #342733
    border-radius: 0
    font-size: 14px
    padding: 0
    transition: $default-transition

+mq(desktop)

  .search-results-card
    padding: 20px 0 20px

    &:hover

      .search-results-card__wrapper
        background: rgba(186, 209, 216, 0.2)

  .search-results-card__wrapper
    transition: $default-transition
    margin-left: -12px
    padding: 10px 0 17px 12px

  .search-results-button:hover
    background: none
    border-bottom: 1px solid transparent
    color: #636F75