{{#isNotEmpty}}
    <div class="search-results">
        {{#values}}
            {{#items.isNotEmpty}}
                <section class="search-results-section screen">
                    <div class="search-results-title">
                        <h3 class="search-results-title__value"><!-- Имя категории-->{{{name}}} ({{items.count}})</h3>
                    </div>
                    <div class="search-results-list">
                        {{#items.values}}
                            <div class="search-results-card{{#isFile}} search-results-card_file{{/isFile}}">
                                <div class="search-results-card__wrapper">
                                    <!-- inline это svg-->
                                    {{#image.inline}}
                                        {{{image.inline}}}
                                    {{/image.inline}}
                                    {{^image.inline}}
                                        <!-- а это просто картинка-->
                                        {{#image.src}}
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                 width="{{image.width}}"
                                                 height="{{image.height}}"
                                                 data-src="{{image.src}}"
                                                 title="{{image.title}}"
                                                 alt="{{image.alt}}"
                                                 class="search-results-card__img b-lazy animate">
                                        {{/image.src}}
                                    {{/image.inline}}
                                    <!-- Рубрика(Верхняя надпись)-->
                                    <div class="search-results-card__content">
                                        <div class="search-results-card__rubric">
                                            {{{topInfo}}}
                                        </div>
                                        <!-- нАзвание-->
                                        <div class="search-results-card__name">
                                            {{{name}}}
                                        </div>
                                        <!-- Адрес(Нижняя надпись)-->
                                        <div class="search-results-card__info">
                                            {{{botInfo}}}
                                        </div>
                                        <!-- ссылка на детальную-->
                                    </div>
                                    <a class="link-as-card"
                                       title="{{link.title}}"
                                        {{#isFile}} download{{/isFile}}
                                       href="{{link.href}}"></a>
                                </div>
                            </div>
                        {{/items.values}}
                    </div>
                    <!--<div class="search-results-button-wrapper">
                        <a class="search-results-button button button_linear-gray"
                           href="#">
                            Показать все результаты
                        </a>
                    </div>-->
                </section>
            {{/items.isNotEmpty}}
        {{/values}}
    </div>
{{/isNotEmpty}}