<div class="announcements-lists-wrapper">
    {{#values}}
    <div class="announcements-lists-item sections-list {{#isFirst}}sections-list_show{{/isFirst}}" id="{{id}}">
        {{>announcements-list}}
    </div>
    {{/values}}
</div>