@import '../project-layout-rooms-tabs/project-layout-rooms-tabs'
@import '../project-layout-rooms/project-layout-rooms'

.project-layout-floor-content
  margin-top: 27px

.project-layout-floor-container
  margin-top: 30px
  margin-bottom: 80px

+mq(tablet)
  .project-layout-floor-content
    margin-top: 30px

+mq(desktop)
  .project-layout-floor-content
    margin-top: 78px

+mq(wide-screen)
  .project-layout-floor-content
    margin-top: 60px