{{#items.isNotEmpty}}
    <div class="project-layout-floor-content">
        {{>project-layout-floor-tabs}}
        <div class="project-layout-floor-container">
            {{#items.values}}
                <div id="floor-{{id}}"
                     class="project-layout-floor__item sections-list{{#active}} sections-list_show{{/active}}">
                    {{>project-layout-floor}}
                </div>
            {{/items.values}}
        </div>
    </div>
{{/items.isNotEmpty}}
