<div class="project-layout-content">
    {{>project-layout-floor-tabs}}
    <div class="project-layout-floor-container">
        <div id="floor-1" class="project-layout-floor__item sections-list sections-list_show">
            {{>project-layout-floor}}
        </div>
        <div id="floor-2-5" class="project-layout-floor__item sections-list">
            {{>project-layout-floor-2}}
        </div>
    </div>
</div>