<div class="blog-item {{^image.src}}blog-item_only-text{{/image.src}}" {{#strMainId}} id="{{ . }}" {{/strMainId}}>
    {{#isSale}}
        <svg class="blog-item__svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
                <path d="M4 0H50C53.3137 0 56 2.68629 56 6V52H34C17.4315 52 4 38.5685 4 22V0Z" fill="#FF6A6A"/>
            </g>
            <path d="M39.5654 28.9532C38.5069 28.1255 37.9 26.9157 37.9 25.6341V23.8286C37.9 21.5496 36.0702 19.6631 33.7 19.3471V18.6476C33.7 18.2895 33.3864 18 33.0001 18C32.6136 18 32.3 18.2895 32.3 18.6476V19.3471C29.9292 19.6631 28.1 21.5496 28.1 23.8286V25.6341C28.1 26.9157 27.4931 28.1255 26.4285 28.9583C26.1561 29.174 26 29.4874 26 29.819C26 30.444 26.5495 30.9524 27.2251 30.9524H38.775C39.4505 30.9524 40 30.444 40 29.819C40 29.4874 39.8439 29.174 39.5654 28.9532Z"
                  fill="white"/>
            <path opacity="0.9"
                  d="M33 34C34.0148 34 34.8638 33.0163 35.0588 31.7142H30.9412C31.1361 33.0163 31.9851 34 33 34Z"
                  fill="white"/>
            <defs>
                <filter id="filter0_d" x="0" y="0" width="60" height="60" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.03 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
            </defs>
        </svg>
        <div class="blog-item__action desktop-only">Акция</div>
    {{/isSale}}
    {{#image.src}}
        <div class="blog-item__photo b-lazy"
             data-src="{{image.src}}"
             data-src-md="{{image.mdSrc}}"
             data-src-lg="{{image.lgSrc}}">
        </div>
    {{/image.src}}

    {{^image.src}}
        <div class="blog-item__photo b-lazy"
             data-src="/local/assets/images/blog-item/blog-stub.jpg">
        </div>
    {{/image.src}}
    <div class="blog-item__content">
        <div class="blog-item__container">
            <div class="blog-item__top">
                <div class="blog-item__date">
                    {{date}}
                </div>
                {{#views}}
                    <div class="blog-item__views">
                        <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.2667 4.20007C8.72199 4.20007 7.46667 5.45539 7.46667 7.00007C7.46667 8.54475 8.72199 9.80006 10.2667 9.80006C11.8113 9.80006 13.0667 8.54475 13.0667 7.00007C13.0667 5.45539 11.8113 4.20007 10.2667 4.20007Z" fill="#342733" fill-opacity="0.4"/>
                            <path d="M10.2667 0C5.6 0 1.61468 2.90264 0 7C1.61468 11.0973 5.6 14 10.2667 14C14.938 14 18.9187 11.0973 20.5334 7C18.9187 2.90264 14.938 0 10.2667 0ZM10.2667 11.6666C7.69068 11.6666 5.6 9.57596 5.6 6.99996C5.6 4.42396 7.69068 2.33332 10.2667 2.33332C12.8427 2.33332 14.9334 4.424 14.9334 7C14.9334 9.576 12.8427 11.6666 10.2667 11.6666Z" fill="#342733" fill-opacity="0.4"/>
                        </svg>
                        <span>{{ . }}</span>
                    </div>
                {{/views}}
            </div>
            <div class="blog-item__title">
                {{{ title }}}
            </div>
            <div class="blog-item__text">
                <p>{{{ text }}}</p>
            </div>
        </div>
        <div class="blog-item__info">
            <div class="blog-item__tag">
                {{{category}}}
            </div>
            {{#views}}
            <div class="blog-item__views">
                <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2667 4.20007C8.72199 4.20007 7.46667 5.45539 7.46667 7.00007C7.46667 8.54475 8.72199 9.80006 10.2667 9.80006C11.8113 9.80006 13.0667 8.54475 13.0667 7.00007C13.0667 5.45539 11.8113 4.20007 10.2667 4.20007Z" fill="#342733" fill-opacity="0.4"/>
                    <path d="M10.2667 0C5.6 0 1.61468 2.90264 0 7C1.61468 11.0973 5.6 14 10.2667 14C14.938 14 18.9187 11.0973 20.5334 7C18.9187 2.90264 14.938 0 10.2667 0ZM10.2667 11.6666C7.69068 11.6666 5.6 9.57596 5.6 6.99996C5.6 4.42396 7.69068 2.33332 10.2667 2.33332C12.8427 2.33332 14.9334 4.424 14.9334 7C14.9334 9.576 12.8427 11.6666 10.2667 11.6666Z" fill="#342733" fill-opacity="0.4"/>
                </svg>
                <span>{{ . }}</span>
            </div>
            {{/views}}
        </div>
    </div>
    {{#detailPageLink}}
        <a href="{{href}}" class="link-as-card" title="{{title}}"></a>
    {{/detailPageLink}}
</div>