.blog-item
  border: 1px solid #F2F2F2
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
  border-radius: 6px
  margin-top: 30px
  position: relative
  overflow: hidden

  &:nth-of-type(1)
    margin: 0

.blog-item__svg
  position: absolute
  right: -4px
  top: 0
  z-index: 1

.blog-item__photo
  background-size: cover
  border-radius: 6px 6px 0px 0px
  height: 210px
  position: relative
  width: 100%

.blog-item__content
  padding-bottom: 56px
  position: relative

.blog-item__container
  padding: 25px 25px 0

.blog-item__top > .blog-item__views
  display: none

.blog-item__date
  font-weight: 500
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.05em
  color: $main-color
  opacity: 0.4

.blog-item__title
  color: $main-color
  font-weight: 800
  font-size: 16px
  line-height: 22px
  letter-spacing: 0.03em
  margin-top: 10px

.blog-item__text
  height: 100px
  color: $main-color
  font-size: 13px
  line-height: 20px
  overflow: hidden
  margin-top: 8px
  position: relative

  p
    margin: 20px 0

    &:nth-of-type(1)
      margin-top: 0

  &:after
    content: ''
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 395%)
    height: 38px
    position: absolute
    bottom: 0
    left: 0
    width: 100%

.blog-item__info
  align-items: center
  color: $main-color
  display: flex
  justify-content: space-between
  font-weight: 500
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.05em
  padding: 15px 25px 25px
  position: absolute
  bottom: 0
  width: 100%

.blog-item__views
  align-items: center
  display: flex

  span
    margin-left: 10px
    opacity: 0.4

.blog-item__tag
  opacity: 0.4

+mq(tablet)

  .blog-item
    width: 344px

    &:nth-of-type(2)
      margin: 0

  .blog-item.blog-item_only-text
    display: flex
    flex-direction: column
    justify-content: space-between

    .blog-item__text
      height: auto

      &:after
        bottom: -38px

  .blog-item.blog-item_all-text

    .blog-item__text:after
      display: none

+mq(desktop)

  .blog-item
    border: none
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
    display: flex
    height: 260px
    margin-top: 30px
    padding-left: 339px
    width: 100%
    transition: $default-transition

    &:nth-of-type(2)
      margin-top: 30px

    &:hover
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15)

  .blog-item__action
    color: $red
    font-weight: 600
    font-size: 13px
    line-height: 16px
    letter-spacing: 0.05em
    position: absolute
    right: 74px
    top: 24px

  .blog-item__photo
    border-radius: 6px 0px 0px 6px
    flex-shrink: 0
    height: 100%
    left: 0
    position: absolute
    width: 339px

  .blog-item__container
    flex: 1
    padding: 24px 50px 21px 40px

  .blog-item__date
    font-weight: 600
    font-size: 13px
    line-height: 16px
    opacity: 1

  .blog-item__title
    font-weight: 800
    font-size: 22px
    line-height: 25px
    margin-top: 40px

  .blog-item__text
    font-size: 14px
    height: 50px
    line-height: 25px
    margin-top: 20px

    &:after
      background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 298%)
      height: 30px

  .blog-item__info
    font-size: 13px
    padding: 15px 40px 21px
    width: calc(100% - 339px)

  .blog-item__top > .blog-item__views
    display: flex

  .blog-item__info > .blog-item__views
    display: none

  .blog-item__views
    margin-left: 13px
    font-size: 13px
    font-weight: 600
    line-height: 16px

  .blog-item__top
    align-items: center
    display: flex

  .blog-item.blog-item_only-text
    border: 1px solid #F2F2F2
    padding-left: 0

    .blog-item__content
      border: none

    .blog-item__text
      height: 50px

      &:after
        bottom: 0

  .blog-item.blog-item_all-text

    .blog-item__text

      &:after
        display: block
        background: $white
        height: 8px