<div class="company-slider-second swiper-container">
    <div class="company-slider-second__wrapper swiper-wrapper">
        {{#values}}
            <div class="company-slider-second__slide swiper-slide">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     alt="Фото о компании"
                     data-src="{{src}}"
                     data-src-md="{{mdSrc}}"
                     data-src-lg="{{lgSrc}}"
                     class="b-lazy animate">
                <div class="company-slider-second__slide-text">
                    {{{description}}}
                </div>
            </div>
        {{/values}}
    </div>
    <div class="company-slider-second__pagination"></div>
</div>