.company-slider-second
  margin: 40px 0

.company-slider-second__slide > img
  display: block
  border-radius: 4px
  margin: 0 auto
  height: 214px
  width: 311px

.company-slider-second__slide-text
  color: $main-color
  font-weight: 500
  font-size: 13px
  line-height: 20px
  text-align: center
  letter-spacing: 0.05em
  margin-top: 15px

.company-slider-second__pagination
  margin: 20px auto 0
  transform: translateX(0)!important
  text-align: center

.company-slider-second__pagination > .swiper-pagination-bullet
  background: $gray20
  border-radius: 50%
  height: 12px
  margin: 0 12px!important
  opacity: 1
  transition: $default-transition
  width: 12px

.company-slider-second__pagination > .swiper-pagination-bullet-active
  background: $yellow8

+mq(tablet)

  .company-slider-second
    margin: 60px 0

  .company-slider-second__slide
    position: relative

  .company-slider-second__slide > img
    height: 483px
    width: 702px

  .company-slider-second__slide-text
    background: $white
    bottom: 24px
    border: 1px solid #F2F2F2
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
    border-radius: 6px
    font-size: 14px
    left: 24px
    position: absolute
    padding: 13px 22px
    text-align: left
    width: 392px

  .company-slider-second__pagination
    margin: 30px auto 0

+mq(desktop)

  .company-slider-second
    margin: 60px 0 40px

  .company-slider-second__slide > img
    height: 600px
    width: 872px

  .company-slider-second__pagination
    margin: 20px auto 0

