@keyframes ripple
  0%
    transform: scale(0, 0)
    opacity: 1

  20%
    transform: scale(25, 25)
    opacity: 1

  100%
    opacity: 0
    transform: scale(60, 60)

.button
  display: inline-block
  border-radius: 6px
  transition: $default-transition
  font-weight: 600
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.05em
  padding: 16px 27px
  border: solid 1px transparent
  text-align: center

  &_filled-yellow
    background: $yellow
    color: $white
    position: relative
    overflow: hidden

    &:hover
      background: #FFC90F

    &::after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 5px
      height: 5px
      background: rgba(255, 255, 255, .5)
      opacity: 0
      border-radius: 100%
      transform: scale(1, 1) translate(-50%)
      transform-origin: 50% 50%

    &.click-animation::after
      animation: ripple 1s ease-out
      animation-iteration-count: 1

  &_filled-yellow-gradient
    position: relative
    overflow: hidden
    background: linear-gradient(166.4deg, #FFB800 50%, #FFCD12 100%)
    color: $white
    z-index: 0

    &::before,
    &::after
      z-index: -1
      content: ''
      opacity: 0
      transition: $default-transition
      +absoluteFluid

    &::before
      background: linear-gradient(166.4deg, #FFC80E 50%, #FFCD12 100%)

    &::after
      background: $yellow

    &:hover
      background: linear-gradient(166.4deg, #FFB800 50%, #FFCD12 100%)
      &::before
        opacity: 1

    &:active
      &::after
        opacity: 1

  &_filled-gray
    background: $gray20
    color: $white

  &_linear-white
    border-color: $white
    color: $white

    path
      stroke: $white

  &_linear-gray
    border-color: $gray20
    color: #636F75

    path
      transition: $default-transition
      stroke: $gray40

    &:hover
      color: $white
      background: #7D8C93

      path
        &[stroke]
          stroke: $white
        &[fill]
          fill: $white

  &_linear-yellow
    border-color: $gray5
    color: rgba(52, 39, 51, 0.4)

    &:hover
      color: $white
      border-color: transparent
      background: #FFB800

  &_linear-yellow-gradient
    border-color: $gray5
    color: #FFBA02
    position: relative
    overflow: hidden
    z-index: 0

    &::after
      content: ''
      display: block
      +absoluteFluid
      background: linear-gradient(169.66deg, #FFBF06 0%, #FFB800 100%)
      opacity: 0
      transition: $default-transition
      z-index: -1

    &:hover
      color: $white
      border-color: transparent

      &::after
        opacity: 1

  &_filled-white
    background: $white
    color: rgba(22, 22, 22, 0.4)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)

    &:hover
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)

.button__icon
  margin-right: 15px

+mq(tablet)
  .button
    font-size: 16px