{{# items.isNotEmpty }}
    <section class="building page-screen" id="project-building">
        <div class="container">
            <div class="building__top">
                {{# title }}
                    <h2 class="building__title">{{{ . }}}</h2>
                {{/ title }}
                {{#needShowQuartersAsDropdown}}
                <div class="dropdown building__dropdown">
                    {{#quarters}}
                        {{#isActive}}
                            <button type="button" class="dropdown-current building__dropdown-current">
                                <span class="dropdown-current__text">{{{ name }}}</span>
                                <svg width="16" height="11" viewBox="0 0 16 11" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.02334 7.66146L1.9607 1.59882C1.58432 1.22244 0.975255 1.22244 0.598878 1.59882C0.222501 1.97519 0.222501 2.58426 0.598878 2.96064L7.34244 9.7042C7.5301 9.89186 7.77714 9.98635 8.02337 9.98635C8.2696 9.98635 8.51664 9.89186 8.70429 9.7042L15.4479 2.96064L15.4479 2.96062C15.8242 2.58424 15.8242 1.97519 15.4478 1.59882C15.0715 1.22244 14.4624 1.22244 14.086 1.59882L8.02334 7.66146Z"
                                          fill="#342733" stroke="#342733" stroke-width="0.7"/>
                                </svg>
                            </button>
                        {{/isActive}}
                    {{/quarters}}
                    <div class="dropdown-list building__dropdown-list">
                        <ul class="dropdown-scroll building__dropdown-scroll">
                            {{#quarters}}
                                <li class="dropdown-list-item building__dropdown-list-item dropdown-item{{#isActive}} dropdown-item_selected{{/isActive}}"
                                    data-value="{{ name }}">
                                    <a class="dropdown-item__content building__dropdown-list-item-link"
                                       title="{{ name }}"
                                       href="#">{{{ name }}}</a>
                                </li>
                            {{/quarters}}
                        </ul>
                    </div>
                </div>
                {{/needShowQuartersAsDropdown}}
                {{^needShowQuartersAsDropdown}}
                    {{#quarters}}
                        {{#isActive}}
                            <div class="building__quarter" data-value="{{ name }}">{{{ name }}}</div>
                        {{/isActive}}
                    {{/quarters}}
                {{/needShowQuartersAsDropdown}}
            </div>
            <div class="building__content">
                <div class="swiper-container building__slider">
                    <div class="swiper-wrapper building__slider-wrapper">
                        {{# items.values }}
                            <div class="swiper-slide building__slide{{#videos.isNotEmpty}} building__slide_video{{/videos.isNotEmpty}}{{#images.isNotEmpty}} building__slide_photo{{/images.isNotEmpty}}"
                                 data-value="{{ quarter }}">
                                {{#videos.isNotEmpty}}
                                    <div class="building__slide-bg b-lazy animate"
                                         data-src="{{videos.first.preview.src}}"></div>
                                {{/videos.isNotEmpty}}
                                {{^videos.isNotEmpty}}
                                    <div class="building__slide-bg b-lazy animate"
                                         data-src="{{images.first.src}}"></div>
                                {{/videos.isNotEmpty}}
                                <div class="building__slide-text">
                                    {{#videos.isNotEmpty}}
                                        <div class="building__slide-text-item building__slide-text-item_video">
                                            <svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <ellipse cx="16.2307" cy="16.1375" rx="16.0821" ry="16.0535"
                                                         fill="white"/>
                                                <path d="M22.4474 13.8118L15.526 8.76321C14.842 8.2652 13.9647 8.06892 13.2808 8.4689C12.5968 8.76321 12.2102 9.55564 12.2102 10.446V21.1317C12.2102 22.0221 12.5968 22.7164 13.2808 23.1088C13.5707 23.2069 13.8681 23.305 14.158 23.305C14.6487 23.305 15.1319 23.1088 15.5259 22.7088L22.4473 17.6602C23.1313 17.1622 23.5179 16.4754 23.5179 15.6831C23.5179 14.9966 23.1314 14.3023 22.4474 13.8118ZM21.2802 16.1813L14.3587 21.2299C14.2621 21.2299 14.1654 21.328 14.1654 21.328C14.1654 21.328 14.1654 21.2299 14.1654 21.1317V10.4462C14.1654 10.3481 14.1654 10.2499 14.1654 10.2499C14.2621 10.2499 14.2621 10.348 14.4554 10.4462L21.3767 15.4947C21.4734 15.4947 21.57 15.6909 21.57 15.789C21.57 15.8871 21.4735 16.0831 21.2802 16.1813Z"
                                                      fill="#342733" stroke="white" stroke-width="0.4"/>
                                            </svg>
                                            <span>видео</span>
                                            <span>{{videos.first.time}}</span>
                                        </div>
                                    {{/videos.isNotEmpty}}
                                    {{#images.isNotEmpty}}
                                        <div class="building__slide-text-item">
                                            <svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <ellipse cx="16.2932" cy="16.1375" rx="16.0821" ry="16.0535"
                                                         fill="white"/>
                                                <g>
                                                    <path d="M16.2931 12.751C13.9313 12.751 12.0099 14.669 12.0099 17.0266C12.0099 19.3842 13.9313 21.3022 16.2931 21.3022C18.6549 21.3022 20.5763 19.3842 20.5763 17.0266C20.5763 14.669 18.6549 12.751 16.2931 12.751ZM16.2931 19.934C14.6871 19.934 13.3805 18.6297 13.3805 17.0266C13.3805 15.4234 14.6871 14.1192 16.2931 14.1192C17.8991 14.1192 19.2057 15.4234 19.2057 17.0266C19.2057 18.6297 17.8991 19.934 16.2931 19.934Z"
                                                          fill="#342733"/>
                                                    <path d="M23.0091 10.6986H20.488C20.4082 10.6986 20.3363 10.6551 20.2993 10.5848L19.6018 9.12175C19.5999 9.11774 19.598 9.11378 19.5959 9.10981C19.326 8.57074 18.7831 8.23584 18.1793 8.23584H14.4556C13.8518 8.23584 13.3089 8.57074 13.0389 9.10984C13.0369 9.11381 13.035 9.11778 13.0331 9.12178L12.3356 10.5849C12.2986 10.6551 12.2267 10.6986 12.1469 10.6986H9.57694C8.44329 10.6986 7.521 11.6193 7.521 12.7509V21.9862C7.521 23.1178 8.44329 24.0385 9.57694 24.0385H23.0091C24.1428 24.0385 25.0651 23.1178 25.0651 21.9862V12.7509C25.0651 11.6193 24.1428 10.6986 23.0091 10.6986ZM23.6944 21.9862C23.6944 22.3634 23.387 22.6703 23.0091 22.6703H9.57694C9.19906 22.6703 8.89163 22.3634 8.89163 21.9862V12.7509C8.89163 12.3737 9.19906 12.0668 9.57694 12.0668H12.1469C12.7506 12.0668 13.2935 11.7319 13.5635 11.1929C13.5655 11.1889 13.5674 11.1849 13.5694 11.1809L14.2669 9.71777C14.3039 9.64751 14.3758 9.60404 14.4556 9.60404H18.1793C18.2591 9.60404 18.331 9.64751 18.368 9.71773L19.0655 11.1808C19.0675 11.1848 19.0694 11.1889 19.0714 11.1928C19.3414 11.7319 19.8842 12.0668 20.488 12.0668H23.0091C23.387 12.0668 23.6944 12.3736 23.6944 12.7509V21.9862Z"
                                                          fill="#342733"/>
                                                    <path d="M22.3238 13.4351H20.9531V14.8033H22.3238V13.4351Z"
                                                          fill="#342733"/>
                                                </g>
                                            </svg>
                                            <span>{{images.count}} фото</span>
                                        </div>
                                    {{/images.isNotEmpty}}
                                </div>
                                <span class="building__slide-date">{{{ date }}}</span>
                                {{#firstLink}}
                                    <a class="link-as-card"
                                        {{# strMainId }} id="{{ . }}"{{/ strMainId }}
                                       href="{{ . }}"
                                       data-fancybox="gallery{{id}}"></a>
                                {{/firstLink}}
                                {{#linksWithoutFirst}}
                                    <a class="building__slide-link"
                                       href="{{ . }}"
                                       data-fancybox="gallery{{id}}"></a>
                                {{/linksWithoutFirst}}
                            </div>
                        {{/items.values}}
                    </div>
                    <div class="swiper-pagination building__slider-pagination"></div>
                </div>
                <div class="swiper-button-prev building__slider-button-prev">
                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.149816 4.99997C0.149816 4.82075 0.218246 4.64155 0.354819 4.50492L4.65464 0.205141C4.92816 -0.0683806 5.37163 -0.0683805 5.64504 0.205141C5.91845 0.478553 5.91845 0.921933 5.64504 1.19548L1.84032 4.99997L5.64491 8.80449C5.91832 9.07801 5.91832 9.52135 5.64491 9.79474C5.37149 10.0684 4.92803 10.0684 4.6545 9.79474L0.354686 5.49503C0.218091 5.35832 0.149816 5.17913 0.149816 4.99997Z"
                              fill="#342733"/>
                    </svg>
                </div>
                <div class="swiper-button-next building__slider-button-next">
                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.85018 5.00003C5.85018 5.17925 5.78175 5.35845 5.64518 5.49508L1.34536 9.79486C1.07184 10.0684 0.628372 10.0684 0.354961 9.79486C0.0815497 9.52145 0.0815498 9.07807 0.354961 8.80452L4.15968 5.00003L0.355095 1.19551C0.0816842 0.921987 0.0816842 0.478651 0.355095 0.205261C0.628506 -0.0683927 1.07197 -0.0683926 1.3455 0.205261L5.64531 4.50497C5.78191 4.64168 5.85018 4.82087 5.85018 5.00003Z"
                              fill="#342733"/>
                    </svg>
                </div>
            </div>
        </div>
    </section>
{{/ items.isNotEmpty }}
