@import "../dropdown/dropdown"

.building
  margin-top: 50px
  margin-bottom: 50px

.building__title
  color: $main-color
  font-weight: 800
  font-size: 24px
  line-height: 120%

.building__dropdown
  margin-top: 30px

.building__slider
  opacity: 1
  margin-top: 30px
  transition: opacity .3s linear

.building__slider_hidden
  opacity: 0

.building__slide
  color: #FFFFFF
  font-weight: 600
  font-size: 16px
  line-height: 16px
  height: 240px
  position: relative
  border-radius: 6px

.building__slide_video

  .building__slide-text

    .building__slide-text-item_video

      span:nth-of-type(1)
        padding-right: 5px
        position: relative

      span:nth-of-type(1):after
        background: #FFFFFF
        content: ''
        position: absolute
        height: 100%
        width: 2px
        right: 0

    span:nth-of-type(2)
      padding-left: 5px

.building__slide_photo.building__slide_video

  .building__slide-text
    display: flex
    flex-direction: column


.building__slide.non-swiper-slide
  display: none!important

.building__slide-bg
  +absoluteFluid
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  border-radius: 6px
  z-index: 0
  overflow: hidden

  &::before,
  &::after
    content: ''
    display: block

  &::before
    position: absolute
    width: 100%
    height: 58px
    bottom: 0
    left: 0
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%)
    z-index: 1

  &::after
    +absoluteFluid
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
    z-index: 2

.building__slide-text
  align-items: flex-start
  position: absolute
  left: 30px
  top: 34px

.building__slide-text-item
  align-items: center
  display: flex
  margin-top: 8px

  svg
    height: 46px
    margin-right: 18px
    width: 46px

.building__slide-text-item:nth-of-type(1)
  margin-top: 0

.building__slide-date
  position: absolute
  left: 30px
  bottom: 24px

.building__slider-pagination
  align-items: center
  display: flex
  justify-content: center
  height: 16px
  margin: 24px auto 0
  position: static
  left: 0!important
  transform: translateX(0)!important

.building

  .building__slider-pagination > .swiper-pagination-bullet
    background: $gray20
    border-radius: 50%
    height: 13px
    outline: none
    margin: 0 10px
    transition: $default-transition!important
    width: 13px
    opacity: 1

  .swiper-pagination-bullet.swiper-pagination-bullet-active
    background: $yellow8
    height: 16px
    width: 16px

.building__slider-button-prev, .building__slider-button-next
  display: none

+mq(tablet)

  .building
    margin-top: 60px
    margin-bottom: 60px

  .building__quarter
    margin-top: -20px

  .building__top
    align-items: center
    display: flex
    justify-content: space-between

  .building__title
    font-size: 36px
    line-height: 140%

  .building__dropdown
    margin-top: 0
    width: 208px

  .building__dropdown-current
    padding: 22px 20px
    font-weight: 600
    font-size: 16px
    line-height: 16px

  .building__slide
    height: 173px

  .building__slide-text
    top: 25px

    svg
      height: 32px
      margin-right: 12px
      width: 32px

  .building__slide-date
    bottom: 18px

  .building

    .building__slider-pagination
      margin: 30px auto 0

    .building__slider-pagination > .swiper-pagination-bullet
      height: 10px
      margin: 0 15px!important
      width: 10px
      outline: none

    .swiper-pagination-bullet.swiper-pagination-bullet-active
      height: 10px
      width: 10px

+mq(desktop)

  .building__content
    position: relative

  .building__slide
    height: 300px
    transition: $default-transition

    &:hover
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2)

  .building__slide-text
    left: 21px

  .building__slide-date
    left: 28px
    bottom: 27px

  .building__slide_photo.building__slide_video

    .building__slide-text
      display: flex
      flex-direction: row

    .building__slide-text-item
      margin-top: 0
      margin-right: 22px

  .building__slider-button-prev, .building__slider-button-next
    display: flex
    background: #FFFFFF
    border-radius: 100px
    border: 1px solid #FFFFFF
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0)
    width: 46px
    height: 46px
    outline: none
    transition: 0.3s
    top: 45%

    svg
      height: 18px
      width: 11px

    &:hover
      border: 1px solid #EFEFEF
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)

    &:after
      display: none

  .building__slider-button-prev
    left: -55px

  .building__slider-button-next
    right: -55px

  .building

    .swiper-button-disabled
      cursor: default

      svg
        opacity: 0.5

