@import '../collapsed-block/collapsed-block'

.index-text-section
  padding: 60px 0

.index-text
  .collapsed-block-container
    max-height: 224px

  h2
    font-weight: 800
    font-size: 18px
    line-height: 25px
    margin: 30px 0 18px

    &:first-child
      margin-top: 0

  p
    margin: 15px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

+mq(tablet)
  .index-text-section
    padding-bottom: 0
    position: relative

  .index-text
    letter-spacing: 0.03em

    .collapsed-block-container
      max-height: 164px

    h2
      font-size: 22px
      line-height: 25px
      margin: 30px 0 14px

    p
      margin: 12px 0

+mq(desktop)
  .index-text
    .collapsed-block-container
      max-height: 214px