<div class="project-detail-article">
    <h3>Описание</h3>
    <p>
        9-этажный кирпичный моноговквартирный жилой дом с встроеными помещениями.
        Внешнаяя отделка дома из силикатногго и керамического кирпича с расшивкой швов.
        Внутренние перегородки из силикатного кирпича. На первом этаже предусмотрены коммерческие помощения. В доме 4 подъезда, 210 квартир с черновой отделкой.
    </p>
    <blockquote>Проектная декларация размещена в единой информационной системе жилищного строительства
        <a href="#" title="Перейти на сайт" target="_blank">наш.дом.рф</a>
    </blockquote>
</div>