@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import '../section-title/section-title'
@import '../project-detail-slider/project-detail-slider'
@import '../article-main/article-main'
@import './project-detail-article'
@import '../project-detail-first-screen/project-detail-first-screen'
@import '../page-menu-navigation/page-menu-navigation'
@import '../project-detail-prices/project-detail-prices'
@import '../project-detail-about/project-detail-about'
@import '../collapsed-block/collapsed-block'
@import '../project-detail-futures/project-detail-futures'
@import '../project-layout/project-layout'
@import '../building/building'
@import '../documents/documents'
@import '../buy-ways/buy-ways'
@import '../consultation-form/consultation-form'
@import "../article-form/article-form"
@import '../other-projects/other-projects'
@import '../infrastructure-map/infrastructure-map'

.header
  box-shadow: none

.project-detail
  .breadcrumbs
    padding: 40px 0
  .breadcrumbs-item
    color: rgba(255, 255, 255, 0.5)
    transition: $default-transition

    &::after
      content: url('/local/assets/images/arrow-light.svg')

    .breadcrumbs-item__link
      &:hover
        color: rgba(255, 255, 255, 1)

.project-detail__about-section-pattern
  display: none

.page-menu-navigation-body
  width: 100%
  background: #EAEFF0

  &_sticky
    .page-menu-navigation-item__link
      padding-top: 23px
      padding-bottom: 23px

.project-detail-article
  letter-spacing: 0.03em
  font-size: 14px
  line-height: 22px

  h3
    font-size: 18px
    line-height: 30px
    margin-bottom: 14px
    font-weight: 500
  p
    margin: 16px 0 0
    font-size: 14px
    line-height: 22px

.project-detail__layout
  margin-top: 50px

+mq(tablet, max)
  .page-content
    margin-top: 0

  .project-detail
    .breadcrumbs
      display: none

  .page
    .header-menu-button
      padding: 20px 16px 20px 20px
      background: $yellow8
      border-bottom-left-radius: 6px

      svg
        path
          fill: $white

    .header-container
      max-width: none

    .header_show-fullscreen-menu
      .header-menu-button
        background: none
        svg
          path
            fill: $main-color
    .header
      background: none
    .header-section
      padding: 0
    .header-logo
      transition: $default-transition
      opacity: 0
      pointer-events: none
    .header-container-wrapper
      margin-right: -24px
    .header_show-fullscreen-menu
      .header-logo
        opacity: 1
        pointer-events: auto

+mq(tablet)
  .project-detail
    .breadcrumbs
      display: block

  .project-detail__layout
    margin-top: 60px

  .project-detail-article
    font-size: 16px
    line-height: 30px

    h3
      font-size: 24px
      margin-bottom: 25px
    p
      font-size: 16px
      line-height: 30px
    blockquote
      padding: 18px 12px

  .project-detail__buy-ways
    .buy-ways-list
      width: 100%

+mq(desktop, max)
  .project-detail__navigation
    display: none

+mq(desktop)
  .project-detail
    margin-bottom: 20px
    .building,
    .other-projects
      margin-top: 80px

    .breadcrumbs
      padding: 35px 0 30px

    h2
      margin-bottom: 4px

    .other-projects
      margin-bottom: 80px

  .project-detail__layout
    margin-top: 80px

  .project-detail__prices
    display: none

  .project-detail-article
    margin-top: 60px

    h3
      margin-bottom: 23px

    blockquote
      font-size: 15px
      letter-spacing: 0.03em
      font-weight: 500
      padding: 14px 16px 14px 59px
      background-image: url('/local/assets/images/info-icon.svg')
      background-repeat: no-repeat
      background-size: 27px 24px
      background-position: 21px center

  .project-detail__buy-ways
    margin-top: 80px

+mq(wide-screen)
  .project-detail__about-section
    position: relative

  .project-detail__about-section-pattern
    display: block
    position: absolute
    right: 0
    top: 517px
    width: 283px
    height: 283px
    svg
      position: absolute
      right: -87px
