.project-detail
  .article-main
    margin-top: 50px
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.03em

    .article-main-slider
      & + h3,
      & + h2,
      & + p,
      & + blockquote
        margin-top: 0

    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child,
    p:first-child,
    blockquote:first-child
      margin-top: 0

    a
      border: none
      color: $main-color
      text-decoration: underline

    blockquote
      a
        text-decoration: none
        border-bottom: 1px solid $main-color
        &:hover
          border-bottom: 1px solid $main-color

  h2
    margin: 50px 0 30px
    font-weight: 800
    font-size: 24px
    line-height: 29px
    letter-spacing: normal

    &:first-child
      margin-top: 0

  h3
    font-weight: 500
    font-size: 18px
    line-height: 30px
    margin: 40px 0 25px

  p
    margin-top: 14px
    font-size: 14px
    line-height: 22px
    letter-spacing: 0.03em

  blockquote
    margin: 25px 0 30px
    padding: 18px
    border-radius: 6px
    background: #C3D2DE
    font-size: 13px
    line-height: 16px
    font-weight: bold
    letter-spacing: -0.03em
    color: $main-color
    opacity: 0.8
    border: none

    .accent-text
      font-size: 18px

    .swiper-pagination-container
      bottom: -13px

    .swiper-container
      margin: 30px -#{$container-offset-mobile}

+mq(tablet, max)
  .project-detail-slider
    .project-detail-slider-slide__img
      padding-top: 77%

      .swiper-pagination
        padding-right: 0

+mq(tablet)
  .project-detail
    .article-main
      margin-top: 33px
      font-size: 16px
      line-height: 30px

      .accent-text
        font-size: 24px
        line-height: 30px
        letter-spacing: 0.03em

      .article-main-slider
        margin-top: 40px
        margin-bottom: 30px

      .swiper-container
        margin: 0 -#{$container-offset-tablet}

      .swiper-slide
        padding-left: $container-offset-tablet
        padding-right: $container-offset-tablet

      .swiper-pagination-container
        padding-left: $container-offset-tablet
        padding-right: $container-offset-tablet

      .swiper-navigation
        display: block

      .characteristics-table__header
        font-size: 18px

    p
      margin: 14px 0
      font-size: 16px
      line-height: 30px

    h2
      font-size: 36px
      line-height: 36px
      letter-spacing: 0.02em
      margin: 60px 0 30px

    h3
      font-size: 24px
      margin: 60px 0 25px

@media only screen and (min-width: $wp2) and (max-width: $wp3 - 1px)
  .swiper-navigation
    .swiper-button-prev,
    .swiper-button-next
      width: 46px
      height: 46px
      top: calc(50% - 23px)

    .swiper-button-prev
      left: -23px

    .swiper-button-next
      right: -23px

+mq(desktop)
  .project-detail
    .article-main
      margin-top: 80px

      .characteristics-table
        margin-top: 60px

        .collapsed-block-container
          max-height: 380px

      .characteristics-table__header
        font-size: 24px
        line-height: 30px
        margin-bottom: 46px

      .project-detail-futures
        margin-bottom: -38px

      .article-main-slider
        margin-bottom: 50px

      .swiper-container
        margin: 0 auto

      .project-detail-slider-wrapper
        margin-bottom: 0

      .swiper-slide
        padding-left: 0
        padding-right: 0

      .swiper-navigation
        &_white
          .swiper-button-prev,
          .swiper-button-next
            top: calc(50% - 30px)

          .swiper-button-prev
            left: 25px
          .swiper-button-next
            right: 25px

    h2
      margin-bottom: 37px

    h3
      margin-bottom: 23px

    blockquote
      font-size: 15px
      letter-spacing: 0.03em
      font-weight: 500
      padding: 14px 16px 14px 59px
      background-image: url('/local/assets/images/info-icon.svg')
      background-repeat: no-repeat
      background-size: 27px 24px
      background-position: 21px center